Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

Apply suggestion to docs/docs/04-typescript-api/02-computer-vision/SemanticSegmentationModule.md
  docs/docs/04-typescript-api/02-computer-vision/SemanticSegmentationModule.md
Due: format-other, spell-check-other

docs: apply suggestion to docs/docs/03-hooks/02-computer-vision/useSemanticSegmentation.md
  docs/docs/03-hooks/02-computer-vision/useSemanticSegmentation.md
Due: format-other, spell-check-other

chore: add support for semantic segmentation models DeeplabV3, LRASPP, FCN (#881)
  .cspell-wordlist.txt
  docs/docs/03-hooks/02-computer-vision/useSemanticSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/SemanticSegmentationModule.md
  docs/docs/06-api-reference/classes/SemanticSegmentationModule.md
  docs/docs/06-api-reference/enumerations/DeeplabLabel.md
  docs/docs/06-api-reference/enumerations/SelfieSegmentationLabel.md
  docs/docs/06-api-reference/index.md
  docs/docs/06-api-reference/interfaces/SemanticSegmentationProps.md
  docs/docs/06-api-reference/interfaces/SemanticSegmentationType.md
  docs/docs/06-api-reference/type-aliases/ModelNameOf.md
  docs/docs/06-api-reference/type-aliases/SegmentationLabels.md
  docs/docs/06-api-reference/type-aliases/SemanticSegmentationModelName.md
  docs/docs/06-api-reference/type-aliases/SemanticSegmentationModelSources.md
  docs/docs/06-api-reference/typedoc-sidebar.cjs
  docs/docs/06-api-reference/variables/ALL_MINILM_L6_V2.md
  docs/docs/06-api-reference/variables/ALL_MPNET_BASE_V2.md
  docs/docs/06-api-reference/variables/BK_SDM_TINY_VPRED_256.md
  docs/docs/06-api-reference/variables/BK_SDM_TINY_VPRED_512.md
  docs/docs/06-api-reference/variables/CLIP_VIT_BASE_PATCH32_IMAGE.md
  docs/docs/06-api-reference/variables/CLIP_VIT_BASE_PATCH32_TEXT.md
  docs/docs/06-api-reference/variables/DEEPLAB_V3_MOBILENET_V3_LARGE.md
  docs/docs/06-api-reference/variables/DEEPLAB_V3_MOBILENET_V3_LARGE_QUANTIZED.md
  docs/docs/06-api-reference/variables/DEEPLAB_V3_RESNET101.md
  docs/docs/06-api-reference/variables/DEEPLAB_V3_RESNET101_QUANTIZED.md
  docs/docs/06-api-reference/variables/DEEPLAB_V3_RESNET50.md
  docs/docs/06-api-reference/variables/DEEPLAB_V3_RESNET50_QUANTIZED.md
  docs/docs/06-api-reference/variables/FCN_RESNET101.md
  docs/docs/06-api-reference/variables/FCN_RESNET101_QUANTIZED.md
  docs/docs/06-api-reference/variables/FCN_RESNET50.md
  docs/docs/06-api-reference/variables/FCN_RESNET50_QUANTIZED.md
  docs/docs/06-api-reference/variables/FSMN_VAD.md
  docs/docs/06-api-reference/variables/LRASPP_MOBILENET_V3_LARGE.md
  docs/docs/06-api-reference/variables/LRASPP_MOBILENET_V3_LARGE_QUANTIZED.md
  docs/docs/06-api-reference/variables/MULTI_QA_MINILM_L6_COS_V1.md
  docs/docs/06-api-reference/variables/MULTI_QA_MPNET_BASE_DOT_V1.md
  docs/docs/06-api-reference/variables/SELFIE_SEGMENTATION.md
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/modules/computer_vision/SemanticSegmentationModule.ts
  packages/react-native-executorch/src/types/semanticSegmentation.ts
Due: lint, types, format-js, format-other, spell-check-other

fix: rotation issue
  apps/computer-vision/app/vision_camera/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
Due: lint, types, format-js, format-objc

chore: define supported categories
  .eslintrc.js
Due: lint, types, format-js

chore: remove configuration from example app
  apps/llm/app/llm/index.tsx
Due: lint, types, format-js

chore: rebuild api reference
  docs/docs/06-api-reference/classes/SemanticSegmentationModule.md
  docs/docs/06-api-reference/enumerations/DeeplabLabel.md
  docs/docs/06-api-reference/enumerations/SelfieSegmentationLabel.md
  docs/docs/06-api-reference/interfaces/SemanticSegmentationProps.md
  docs/docs/06-api-reference/interfaces/SemanticSegmentationType.md
  docs/docs/06-api-reference/type-aliases/ModelNameOf.md
  docs/docs/06-api-reference/type-aliases/SemanticSegmentationModelName.md
Due: format-other, spell-check-other

chore: define llm in config examples
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  skills/canary/react-native-executorch/references/reference-llms.md
Due: format-other, spell-check-other

fix: Make package.json accept newer versions of lib
  packages/bare-resource-fetcher/package.json
  packages/expo-resource-fetcher/package.json
Due: format-other

fix yarn lock and conflicting buffer package
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
  yarn.lock
Due: lint, types, format-js

docs: fix api reference
  docs/docs/06-api-reference/classes/TextToImageModule.md
Due: format-other, spell-check-other

feat: frame extractor for zero-copy approach
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.h
  packages/react-native-executorch/src/types/common.ts
  yarn.lock
Due: lint, types, format-js, format-objc

feat: unify frame extraction and preprocessing
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.h
  packages/react-native-executorch/src/modules/BaseModule.ts
  yarn.lock
Due: lint, types, format-js, format-objc

fix: correct frame data extraction
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
Due: format-objc

feat: remove unused bindJSIMethods
  packages/react-native-executorch/src/modules/BaseModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
Due: lint, types, format-js

chore: num minSdkVersion to 26
  packages/react-native-executorch/android/gradle.properties
Due: none

feat: initial version of vision model API
  .cspell-wordlist.txt
  apps/computer-vision/app/object_detection/index.tsx
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/TypeConcepts.h
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.h
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ObjectDetectionTest.cpp
  packages/react-native-executorch/src/hooks/computer_vision/useObjectDetection.ts
  packages/react-native-executorch/src/hooks/useModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
  packages/react-native-executorch/src/types/objectDetection.ts
Due: lint, types, format-js, format-objc

fix: remove redundant preprocessing step
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
Due: format-objc

fix: change Frame import in BaseModule
  packages/react-native-executorch/src/modules/BaseModule.ts
Due: lint, types, format-js

refactor: add or remove empty lines
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.h
Due: format-objc

refactor: errors, logs, unnecessary comments, use existing TensorPtr
  apps/computer-vision/app/object_detection/index.tsx
  apps/computer-vision/package.json
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.h
  packages/react-native-executorch/src/hooks/useModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
  packages/react-native-executorch/src/types/common.ts
  packages/react-native-executorch/src/types/objectDetection.ts
Due: lint, types, format-js, format-objc, format-other

fix: errors after rebase
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/FunctionHelpers.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/TypeConcepts.h
Due: format-objc

feat: use TensorPtrish type for Pixel data input
  apps/computer-vision/app/object_detection/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.cpp
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
  packages/react-native-executorch/src/types/common.ts
  packages/react-native-executorch/src/types/objectDetection.ts
Due: lint, types, format-js, format-objc

refactor: changes suggested in review
  .cspell-wordlist.txt
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.h
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.h
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.h
  packages/react-native-executorch/src/hooks/useModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
Due: lint, types, format-js, format-objc

fix: not existing error type, add comments to JSI code
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/FunctionHelpers.h
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.cpp
Due: format-objc

feat: add new PlatformNotSupported error
  packages/react-native-executorch/common/rnexecutorch/ErrorCodes.h
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.cpp
  packages/react-native-executorch/src/errors/ErrorCodes.ts
  scripts/errors.config.ts
Due: lint, types, format-js, format-objc

feat: add tests for generateFromPixels method
  apps/computer-vision/app/object_detection/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ObjectDetectionTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/stubs/jsi_stubs.cpp
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/types/objectDetection.ts
Due: lint, types, format-js, format-objc

feat: suggested changes / improve comments
  apps/computer-vision/app/object_detection_live/index.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/TypeConcepts.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ObjectDetectionTest.cpp
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
  packages/react-native-executorch/src/types/common.ts
  packages/react-native-executorch/src/types/objectDetection.ts
Due: lint, types, format-js, format-objc

fix: requested changes
  apps/computer-vision/app/object_detection_live/index.tsx
  docs/docs/05-utilities/04-error-handling.md
  packages/react-native-executorch/src/hooks/computer_vision/useObjectDetection.ts
  packages/react-native-executorch/src/hooks/useModule.ts
  packages/react-native-executorch/src/types/common.ts
Due: lint, types, format-js, format-other, spell-check-other

fix(android): object detection not working on android
  .yarn/patches/react-native-vision-camera@npm-5.0.0-beta.1.patch
  apps/computer-vision/app.json
  apps/computer-vision/app/object_detection_live/index.tsx
  apps/computer-vision/package.json
Due: lint, types, format-js, format-other

docs: add correct api references
  docs/docs/06-api-reference/classes/ClassificationModule.md
  docs/docs/06-api-reference/classes/ExecutorchModule.md
  docs/docs/06-api-reference/classes/ImageEmbeddingsModule.md
  docs/docs/06-api-reference/classes/ObjectDetectionModule.md
  docs/docs/06-api-reference/classes/SemanticSegmentationModule.md
  docs/docs/06-api-reference/classes/StyleTransferModule.md
  docs/docs/06-api-reference/classes/TextEmbeddingsModule.md
  docs/docs/06-api-reference/classes/TextToImageModule.md
  docs/docs/06-api-reference/classes/VADModule.md
  docs/docs/06-api-reference/enumerations/RnExecutorchErrorCode.md
  docs/docs/06-api-reference/index.md
  docs/docs/06-api-reference/interfaces/Frame.md
  docs/docs/06-api-reference/interfaces/ObjectDetectionType.md
  docs/docs/06-api-reference/interfaces/PixelData.md
Due: format-other, spell-check-other

feat: add example screen with vision camera to computer vision app
  .yarn/patches/react-native-vision-camera@npm-5.0.0-beta.1.patch
  apps/computer-vision/app.json
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/object_detection_live/index.tsx
  apps/computer-vision/package.json
  packages/react-native-executorch/src/types/objectDetection.ts
Due: lint, types, format-js, format-other

fix: compilation JSI error
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/FunctionHelpers.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.h
Due: format-objc

docs: update api reference
  .cspell-wordlist.txt
  docs/docs/06-api-reference/classes/ObjectDetectionModule.md
  docs/docs/06-api-reference/interfaces/PixelData.md
  docs/docs/06-api-reference/typedoc-sidebar.cjs
  yarn.lock
Due: format-other, spell-check-other

chore: clear apps metro configs and make them run smoothly
  apps/llm/metro.config.js
  apps/speech/metro.config.js
  apps/text-embeddings/metro.config.js
  package.json
  yarn.lock
Due: lint, types, format-js, format-other

fix: application doesn't start
  apps/computer-vision/metro.config.js
  yarn.lock
Due: lint, types, format-js

chore: revert constraint on 3rd party package
  packages/bare-resource-fetcher/package.json
  yarn.lock
Due: format-other

Update packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
Due: format-objc

chore: add llm config example to docs (#884)
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/docs/06-api-reference/interfaces/LLMConfig.md
  packages/react-native-executorch/src/types/llm.ts
  skills/canary/react-native-executorch/references/reference-llms.md
Due: lint, types, format-js, format-other, spell-check-other
