Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

chore: Bump version from 0.7.0 to 0.8.0 (#793)
  packages/react-native-executorch/package.json
Due: format-other

Draft of changes introducing timestamping
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
Due: lint, types, format-js, format-objc

Add missing headers
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
Due: format-objc

Add draft of working version for timestamps only
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/ProcessResult.h
Due: lint, types, format-js, format-objc

Working version of both timestamping and regular version
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/types/stt.ts
Due: lint, types, format-js, format-objc

Clear files
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
Due: lint, types, format-js, format-objc

Apply suggestions from code review
  apps/speech/screens/SpeechToTextScreen.tsx
Due: lint, types, format-js

Apply further clearing
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/ProcessResult.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
Due: lint, types, format-js, format-objc

Apply suggestion from @msluszniak
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
Due: lint, types, format-js

Apply autofix lint changes
  apps/speech/screens/SpeechToTextScreen.tsx
Due: lint, types, format-js

Fix linter issues
  apps/llm/app/voice_chat/index.tsx
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
Due: lint, types, format-js

Revert changing error messages
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
Due: lint, types, format-js

Revert one more message
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
Due: lint, types, format-js

Update docs
  docs/docs/03-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/04-typescript-api/01-natural-language-processing/SpeechToTextModule.md
Due: format-other, spell-check-other

Fix error in demo app
  apps/speech/screens/SpeechToTextScreen.tsx
Due: lint, types, format-js

chore: Add non-completed draft for transcription with timestamping utilizing OpenAI output format
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/DecodingOptions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/Segment.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/TranscriptionResult.h
  packages/react-native-executorch/src/types/stt.ts
Due: lint, types, format-js, format-objc

fix: Add corrections (still not working version)
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.h
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/types/stt.ts
Due: lint, types, format-js, format-objc

feat: Add working word level timestamping that mimics OpenAI API
  apps/speech/components/VerboseTranscription.tsx
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.h
  packages/react-native-executorch/src/types/stt.ts
Due: lint, types, format-js, format-objc

chore: Suppress pre-commit hook warnings
  apps/llm/app/voice_chat/index.tsx
  apps/speech/components/VerboseTranscription.tsx
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
Due: lint, types, format-js

chore: Make demo app more intuitive
  apps/speech/components/VerboseTranscription.tsx
  apps/speech/screens/SpeechToTextScreen.tsx
Due: lint, types, format-js

chore: Check if all demo apps using Speech To Text works
  apps/speech/app.json
  apps/speech/package.json
  apps/speech/screens/SpeechToTextScreen.tsx
  yarn.lock
Due: lint, types, format-js, format-other

chore: Clean files
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
Due: lint, types, format-js, format-objc

chore: Further cleaning
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
Due: format-objc

chore: Further cleaning
  apps/llm/app/voice_chat/index.tsx
  apps/speech/components/VerboseTranscription.tsx
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
Due: lint, types, format-js

chore: Cleaning once again
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/DecodingOptions.h
Due: format-objc

chore: post-rebase cleaning
  apps/speech/components/VerboseTranscription.tsx
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/Segment.h
  packages/react-native-executorch/src/types/stt.ts
Due: lint, types, format-js, format-objc

docs: Add generated documentation for changed code
  .cspell-wordlist.txt
  docs/docs/06-api-reference/classes/SpeechToTextModule.md
  docs/docs/06-api-reference/functions/useSpeechToText.md
  docs/docs/06-api-reference/interfaces/SpeechToTextModelConfig.md
  docs/docs/06-api-reference/interfaces/SpeechToTextProps.md
  docs/docs/06-api-reference/interfaces/SpeechToTextType.md
  docs/docs/06-api-reference/interfaces/TranscriptionResult.md
  docs/docs/06-api-reference/interfaces/TranscriptionSegment.md
  docs/docs/06-api-reference/interfaces/Word.md
  docs/docs/06-api-reference/type-aliases/SpeechToTextLanguage.md
Due: format-other, spell-check-other

chore: Add update types for stt
  packages/react-native-executorch/src/types/stt.ts
Due: lint, types, format-js

chore: fix small details
  apps/speech/components/VerboseTranscription.tsx
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
Due: lint, types, format-js, format-objc

Apply suggestion from @msluszniak
  apps/speech/components/VerboseTranscription.tsx
Due: lint, types, format-js

Update documentation for the current implementation
  docs/docs/03-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/04-typescript-api/01-natural-language-processing/SpeechToTextModule.md
  docs/docs/06-api-reference/classes/SpeechToTextModule.md
  docs/docs/06-api-reference/functions/useSpeechToText.md
Due: format-other, spell-check-other

Exclude tests directory from package.json files
  packages/react-native-executorch/package.json
Due: format-other

test: Adapt test to comply with the current implementation
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/TranscriptionResult.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SpeechToTextTest.cpp
Due: format-objc

Exclude tests directory from package.json files (#795)
  packages/react-native-executorch/package.json
Due: format-other

chore Fix types in LLMModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
Due: lint, types, format-js

chore: cosmetic fixes
  docs/docs/06-api-reference/classes/LLMModule.md
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
Due: lint, types, format-js, format-other, spell-check-other

chore fix example app and make sure that elements exists in c++
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
Due: lint, types, format-js, format-objc

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
