Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

refactor: dedup LFM model configs, drop deleted util export, trim comments
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.h
  packages/react-native-executorch/src/constants/modelRegistry.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextEmbeddings.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/types/textEmbeddings.ts
  packages/react-native-executorch/src/utils/textEmbeddings.ts
Due: lint, types, format-js, format-objc

docs: document text embeddings prompts, multi-vector & ColBERT MaxSim
  docs/docs/03-hooks/01-natural-language-processing/useTextEmbeddings.md
  docs/versioned_docs/version-0.9.x/03-hooks/01-natural-language-processing/useTextEmbeddings.md
  docs/versioned_docs/version-0.9.x/06-api-reference/classes/TextEmbeddingsModule.md
  docs/versioned_docs/version-0.9.x/06-api-reference/functions/useTextEmbeddings.md
  docs/versioned_docs/version-0.9.x/06-api-reference/interfaces/EmbeddingPrompts.md
  docs/versioned_docs/version-0.9.x/06-api-reference/interfaces/EmbeddingResult.md
  docs/versioned_docs/version-0.9.x/06-api-reference/interfaces/TextEmbeddingsModel.md
  docs/versioned_docs/version-0.9.x/06-api-reference/interfaces/TextEmbeddingsProps.md
  docs/versioned_docs/version-0.9.x/06-api-reference/interfaces/TextEmbeddingsType.md
  docs/versioned_docs/version-0.9.x/06-api-reference/type-aliases/EmbeddingRole.md
  docs/versioned_docs/version-0.9.x/06-api-reference/type-aliases/ForwardFn.md
  docs/versioned_docs/version-0.9.x/06-api-reference/type-aliases/ForwardReturn.md
  docs/versioned_docs/version-0.9.x/06-api-reference/type-aliases/TextEmbeddingsModelName.md
Due: format-other, spell-check-other

docs: align TextEmbeddingsModule JSDoc with LLMModule convention
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
Due: lint, types, format-js

test: assert EmbeddingResult metadata + tokenIds; clarify role JSDoc
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextEmbeddingsTest.cpp
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
Due: lint, types, format-js, format-objc

fix: remove ===
  packages/react-native-executorch/src/constants/modelRegistry.ts
Due: lint, types, format-js

docs: list new model-config fields + correct forward return type
  docs/docs/03-hooks/01-natural-language-processing/useTextEmbeddings.md
  docs/docs/04-typescript-api/01-natural-language-processing/TextEmbeddingsModule.md
  docs/versioned_docs/version-0.9.x/03-hooks/01-natural-language-processing/useTextEmbeddings.md
  docs/versioned_docs/version-0.9.x/04-typescript-api/01-natural-language-processing/TextEmbeddingsModule.md
Due: format-other, spell-check-other

docs(agents): update skills to be agent-agnostic and match monorepo structure
  .agents/skills/README.md
  .agents/skills/add-native-extension/SKILL.md
  .agents/skills/add-task-pipeline/SKILL.md
  .agents/skills/core-guidelines/SKILL.md
  .agents/skills/verify-and-build/SKILL.md
  .cspell-wordlist.txt
Due: format-other, spell-check-other

docs: update verify-and-build skill to use pushd/popd and update cspell dictionary
  .agents/skills/verify-and-build/SKILL.md
  .cspell-wordlist.txt
Due: format-other, spell-check-other

[RNE Rewrite] docs(agents): update skills to match monorepo structure (#1276)
  .agents/skills/README.md
  .agents/skills/add-native-extension/SKILL.md
  .agents/skills/add-task-pipeline/SKILL.md
  .agents/skills/core-guidelines/SKILL.md
  .agents/skills/verify-and-build/SKILL.md
  .cspell-wordlist.txt
Due: format-other, spell-check-other

refactor(nlp): address review feedback on tokenizer pipeline
  apps/nlp/app/tokenizer/index.tsx
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/cpp/extensions/nlp/install.cpp
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.cpp
  packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/src/extensions/nlp/index.ts
  packages/react-native-executorch/src/extensions/nlp/ops/tokenizer.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/tokenization.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/tokenizer.ts
  packages/react-native-executorch/src/extensions/nlp/tokenizer.ts
  packages/react-native-executorch/src/hooks/useTokenizer.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-objc

[RNE Rewrite] feat: add tokenizer pipeline (#1248) (#1274)
  apps/nlp/app.json
  apps/nlp/app/_layout.tsx
  apps/nlp/app/index.tsx
  apps/nlp/app/tokenizer/index.tsx
  apps/nlp/assets/icons/adaptive-icon.png
  apps/nlp/assets/icons/executorch.svg
  apps/nlp/assets/icons/favicon.png
  apps/nlp/assets/icons/icon.png
  apps/nlp/assets/icons/splash.png
  apps/nlp/babel.config.js
  apps/nlp/components/Button.tsx
  apps/nlp/components/ModelStatus.tsx
  apps/nlp/components/ScreenWrapper.tsx
  apps/nlp/declarations.d.ts
  apps/nlp/index.ts
  apps/nlp/metro.config.js
  apps/nlp/package.json
  apps/nlp/theme.ts
  apps/nlp/tsconfig.json
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/cpp/RnExecutorch.cpp
  packages/react-native-executorch/cpp/extensions/nlp/install.cpp
  packages/react-native-executorch/cpp/extensions/nlp/install.h
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.cpp
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.h
  packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/src/extensions/nlp/index.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/tokenization.ts
  packages/react-native-executorch/src/extensions/nlp/tokenizer.ts
  packages/react-native-executorch/src/hooks/useTokenizer.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
  packages/react-native-executorch/third-party/README.md
  yarn.lock
Due: lint, types, format-js, format-objc, format-other, spell-check-other

feat: add semantic segmentation task and native image operations
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/image_ops.h
  packages/react-native-executorch/cpp/extensions/cv/install.cpp
  packages/react-native-executorch/cpp/extensions/math/operations.cpp
  packages/react-native-executorch/src/constants.ts
  packages/react-native-executorch/src/extensions/cv/ops/image.ts
  packages/react-native-executorch/src/extensions/cv/tasks/semanticSegmentation.ts
  packages/react-native-executorch/src/hooks/useSemanticSegmenter.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-objc

feat: add semantic segmentation screen
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/segmentation/index.tsx
Due: lint, types, format-js

refactor(cv): optimize applyColormap and document layout requirements for semantic segmentation
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/src/extensions/cv/ops/image.ts
Due: lint, types, format-js, format-objc

Apply suggestion from @msluszniak
  packages/react-native-executorch/src/extensions/cv/tasks/semanticSegmentation.ts
Due: lint, types, format-js

refactor(cv): extract RGBA channel count to constant in applyColormap
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
Due: format-objc

refactor(cv): validate colormap input parameters and document layout formats
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/src/extensions/cv/ops/image.ts
Due: lint, types, format-js, format-objc

docs(math): add comment to prevent argmax loop optimization
  packages/react-native-executorch/cpp/extensions/math/operations.cpp
Due: format-objc

feat(cv): add DeepLab V3 and FCN segmentation models and configure remote URLs
  apps/computer-vision/app/segmentation/index.tsx
  packages/react-native-executorch/src/constants.ts
  packages/react-native-executorch/src/extensions/cv/ops/image.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

fix(vision): add null check for Skia.Image.MakeImage in segmentation screen
  apps/computer-vision/app/segmentation/index.tsx
Due: lint, types, format-js

docs(cv): document colormap behavior and logit modes in createSemanticSegmenter
  packages/react-native-executorch/src/extensions/cv/tasks/semanticSegmentation.ts
Due: lint, types, format-js

fix(cv): validate colormap channel range to prevent UB/wrap in applyColormap
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
Due: format-objc

docs(jsdoc): add JSDocs to classification and image preprocessing closure functions
  packages/react-native-executorch/src/extensions/cv/tasks/classification.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
Due: lint, types, format-js

address review: expose maxSim/dotProduct helpers, move colbert constants
  .cspell-wordlist.txt
  apps/text-embeddings/app/clip-embeddings/index.tsx
  apps/text-embeddings/app/text-embeddings/index.tsx
  docs/docs/03-hooks/01-natural-language-processing/useTextEmbeddings.md
  docs/versioned_docs/version-0.9.x/03-hooks/01-natural-language-processing/useTextEmbeddings.md
  packages/react-native-executorch/src/constants/modelRegistry.ts
  packages/react-native-executorch/src/constants/textEmbeddings/colbert.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils/textEmbeddings.ts
Due: lint, types, format-js, format-other, spell-check-other

[RNE Rewrite] docs(jsdoc): add JSDocs to closure functions (#1277)
  packages/react-native-executorch/src/extensions/cv/tasks/classification.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
Due: lint, types, format-js

fix(cv-apps): prevent screen jumping & overlap with android system bar
  apps/computer-vision/app/segmentation/index.tsx
Due: lint, types, format-js

[RNE Rewrite] feat: add semantic segmentation task (#1275)
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/segmentation/index.tsx
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/image_ops.h
  packages/react-native-executorch/cpp/extensions/cv/install.cpp
  packages/react-native-executorch/cpp/extensions/math/operations.cpp
  packages/react-native-executorch/src/constants.ts
  packages/react-native-executorch/src/extensions/cv/ops/image.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
  packages/react-native-executorch/src/extensions/cv/tasks/semanticSegmentation.ts
  packages/react-native-executorch/src/hooks/useSemanticSegmenter.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-objc

feat(lib): add style transfer task pipeline and hook
  packages/react-native-executorch/src/extensions/cv/tasks/styleTransfer.ts
  packages/react-native-executorch/src/hooks/useStyleTransfer.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

fix(cv-apps): prevent style transfer bottom overlap with android system bar
  apps/computer-vision/app/styleTransfer/index.tsx
Due: lint, types, format-js

feat(app): add style transfer screen to computer-vision example app
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/styleTransfer/index.tsx
Due: lint, types, format-js

fix(cv): correct normalization sequence in style transfer post-processing
  packages/react-native-executorch/src/extensions/cv/tasks/styleTransfer.ts
Due: lint, types, format-js

docs(lib): add JSDocs to returned functions of createStyleTransfer
  packages/react-native-executorch/src/extensions/cv/tasks/styleTransfer.ts
Due: lint, types, format-js

style(lib): use import type for single type import in styleTransfer
  packages/react-native-executorch/src/extensions/cv/tasks/styleTransfer.ts
Due: lint, types, format-js

[RNE Rewrite] feat: add style transfer task implementation (#1278)
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/styleTransfer/index.tsx
  packages/react-native-executorch/src/extensions/cv/tasks/styleTransfer.ts
  packages/react-native-executorch/src/hooks/useStyleTransfer.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat: add keypoint detection task pipeline and native JSI NMS support
  .cspell-wordlist.txt
  packages/react-native-executorch/cpp/extensions/cv/box_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/box_ops.h
  packages/react-native-executorch/cpp/extensions/cv/install.cpp
  packages/react-native-executorch/src/constants.ts
  packages/react-native-executorch/src/extensions/cv/ops/boxes.ts
  packages/react-native-executorch/src/extensions/cv/ops/index.ts
  packages/react-native-executorch/src/extensions/cv/ops/points.ts
  packages/react-native-executorch/src/extensions/cv/tasks/keypointDetection.ts
  packages/react-native-executorch/src/hooks/useKeypointDetector.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-objc

style: change the order of exports
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js

feat: LFM2.5 text-embedding & ColBERT (MLX/XNNPACK) with prompts and multi-vector output (#1269)
  .cspell-wordlist.txt
  apps/text-embeddings/app/clip-embeddings/index.tsx
  apps/text-embeddings/app/text-embeddings/index.tsx
  apps/text-embeddings/utils/math.ts
  docs/docs/03-hooks/01-natural-language-processing/useTextEmbeddings.md
  docs/docs/04-typescript-api/01-natural-language-processing/TextEmbeddingsModule.md
  docs/versioned_docs/version-0.9.x/03-hooks/01-natural-language-processing/useTextEmbeddings.md
  docs/versioned_docs/version-0.9.x/04-typescript-api/01-natural-language-processing/TextEmbeddingsModule.md
  docs/versioned_docs/version-0.9.x/06-api-reference/classes/TextEmbeddingsModule.md
  docs/versioned_docs/version-0.9.x/06-api-reference/functions/useTextEmbeddings.md
  docs/versioned_docs/version-0.9.x/06-api-reference/interfaces/EmbeddingPrompts.md
  docs/versioned_docs/version-0.9.x/06-api-reference/interfaces/EmbeddingResult.md
  docs/versioned_docs/version-0.9.x/06-api-reference/interfaces/TextEmbeddingsModel.md
  docs/versioned_docs/version-0.9.x/06-api-reference/interfaces/TextEmbeddingsProps.md
  docs/versioned_docs/version-0.9.x/06-api-reference/interfaces/TextEmbeddingsType.md
  docs/versioned_docs/version-0.9.x/06-api-reference/type-aliases/EmbeddingRole.md
  docs/versioned_docs/version-0.9.x/06-api-reference/type-aliases/ForwardFn.md
  docs/versioned_docs/version-0.9.x/06-api-reference/type-aliases/ForwardReturn.md
  docs/versioned_docs/version-0.9.x/06-api-reference/type-aliases/TextEmbeddingsModelName.md
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.cpp
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/BaseEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/BaseEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Encoder.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextEmbeddingsTest.cpp
  packages/react-native-executorch/src/constants/modelRegistry.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/constants/textEmbeddings/colbert.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextEmbeddings.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/types/textEmbeddings.ts
  packages/react-native-executorch/src/utils/textEmbeddings.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

fix(bare-rn): add react-native-device-info dependency
  apps/bare-rn/ios/Podfile.lock
  apps/bare-rn/package.json
  yarn.lock
Due: format-other

fix(bare-rn): add nkf gem for Ruby 3.4 pod install compatibility
  apps/bare-rn/Gemfile
  apps/bare-rn/Gemfile.lock
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
