Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

fix: off-by-one in Kokoro::synthesize voice index causes crash
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
Due: format-objc

fix: address PR review comments for VLM support
  apps/llm/app.json
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/rnexecutorch/threads/GlobalThreadPool.h
  packages/react-native-executorch/common/runner/base_llm_runner.cpp
  packages/react-native-executorch/common/runner/encoders/iencoder.h
  packages/react-native-executorch/common/runner/encoders/vision_encoder.cpp
  packages/react-native-executorch/common/runner/encoders/vision_encoder.h
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/text_runner.cpp
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js, format-objc, format-other

fix: move model construction off the JS thread
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/controllers/OCRController.ts
  packages/react-native-executorch/src/controllers/VerticalOCRController.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/SemanticSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
  packages/react-native-executorch/src/modules/general/ExecutorchModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TokenizerModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
Due: lint, types, format-js, format-objc

fix(kokoro): cap token limit to prevent speed-up, preserve phoneme order
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.cpp
Due: format-objc

fix: mark OCR loadNativeModule methods as async
  packages/react-native-executorch/src/controllers/BaseOCRController.ts
  packages/react-native-executorch/src/controllers/OCRController.ts
  packages/react-native-executorch/src/controllers/VerticalOCRController.ts
Due: lint, types, format-js

fix(kokoro): stripAudio underflow, atomic streaming flag, duration floor
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.cpp
Due: format-objc

feat: add escape hatch for custom phonemizer (BYO G2P)
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js, format-objc

refactor: simplify after review — reuse phonemis utf8_to_u32string, extract shared helpers, add input validation
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js, format-objc

fix(kokoro): remove indices/dur tensor repadding, guard scaleDurations correction loop
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Synthesizer.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.cpp
Due: format-objc

fix: expose unload() JSI binding for TextToImageModule
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
Due: format-objc

fix: expose unload() JSI binding for TextToImageModule (#947)
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
Due: format-objc

Update docs & formatting
  .cspell-wordlist.txt
  docs/docs/03-hooks/01-natural-language-processing/useTextToSpeech.md
  docs/docs/04-typescript-api/01-natural-language-processing/TextToSpeechModule.md
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js, format-other, spell-check-other

feat!: allow passing pre-computed phonemes to Kokoro TTS
  .cspell-wordlist.txt
  docs/docs/03-hooks/01-natural-language-processing/useTextToSpeech.md
  docs/docs/04-typescript-api/01-natural-language-processing/TextToSpeechModule.md
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

fix: prettier formatting for line length violations
  packages/react-native-executorch/src/controllers/OCRController.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
Due: lint, types, format-js

docs: regenerate API reference after async model loading changes
  docs/docs/06-api-reference/classes/TextEmbeddingsModule.md
  docs/docs/06-api-reference/classes/TextToSpeechModule.md
  docs/docs/06-api-reference/functions/useTextToSpeech.md
  docs/docs/06-api-reference/index.md
  docs/docs/06-api-reference/interfaces/TextToSpeechPhonemeInput.md
  docs/docs/06-api-reference/interfaces/TextToSpeechStreamingCallbacks.md
  docs/docs/06-api-reference/interfaces/TextToSpeechStreamingPhonemeInput.md
  docs/docs/06-api-reference/interfaces/TextToSpeechType.md
  docs/docs/06-api-reference/typedoc-sidebar.cjs
Due: format-other, spell-check-other

feat: add resource fetcher adapters for Expo and bare React Native
  apps/speech-to-text/App.tsx
  packages/bare-adapter/package.json
  packages/bare-adapter/src/ResourceFetcher.ts
  packages/bare-adapter/src/ResourceFetcherUtils.ts
  packages/bare-adapter/src/constants/directories.ts
  packages/bare-adapter/src/index.ts
  packages/bare-adapter/tsconfig.json
  packages/expo-adapter/package.json
  packages/expo-adapter/src/ResourceFetcher.ts
  packages/expo-adapter/src/ResourceFetcherUtils.ts
  packages/expo-adapter/src/constants/directories.ts
  packages/expo-adapter/src/index.ts
  packages/expo-adapter/tsconfig.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/smollm_tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/t2i_tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/test_image.jpg
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/whisper_tokenizer.json
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
  yarn.lock
Due: lint, types, format-js, format-other

feat: enhance resource fetcher with error handling and new methods for better control
  packages/bare-adapter/src/ResourceFetcher.ts
  packages/bare-adapter/src/constants/directories.ts
  packages/expo-adapter/src/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js

chore: exclude llm_bare app from workspace
  apps/llm_bare/.gitignore
  apps/llm_bare/App.tsx
  apps/llm_bare/ios/Podfile.lock
  apps/llm_bare/metro.config.js
  apps/llm_bare/package.json
  apps/llm_bare/yarn.lock
  apps/speech-to-text/App.tsx
  packages/bare-adapter/package.json
  packages/bare-adapter/src/ResourceFetcher.ts
  packages/bare-adapter/src/ResourceFetcherUtils.ts
  packages/bare-adapter/src/constants/directories.ts
  packages/bare-adapter/src/index.ts
  packages/bare-adapter/tsconfig.json
  packages/expo-adapter/package.json
  packages/expo-adapter/src/ResourceFetcher.ts
  packages/expo-adapter/src/ResourceFetcherUtils.ts
  packages/expo-adapter/src/constants/directories.ts
  packages/expo-adapter/src/index.ts
  packages/expo-adapter/tsconfig.json
  yarn.lock
Due: lint, types, format-js, format-other

chore: replace generic error with RnExecutorchError in ResourceFetcher for better error handling
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

feat: add bare React Native LLM chat example app
  apps/bare_rn/.eslintrc.js
  apps/bare_rn/.gitignore
  apps/bare_rn/App.tsx
  apps/bare_rn/android/app/build.gradle
  apps/bare_rn/android/gradle.properties
  apps/bare_rn/babel.config.js
  apps/bare_rn/ios/Podfile.lock
  apps/bare_rn/ios/bare_rn-Bridging-Header.h
  apps/bare_rn/ios/bare_rn.xcodeproj/project.pbxproj
  apps/bare_rn/ios/bare_rn/AppDelegate.swift
  apps/bare_rn/ios/bare_rn/PrivacyInfo.xcprivacy
  apps/bare_rn/metro.config.js
  apps/bare_rn/package.json
  apps/bare_rn/yarn.lock
Due: lint, types, format-js, format-objc, format-other

chore: add react-native-executorch as a dependency to adapters
  yarn.lock
Due: none

chore: move yarn prepare from adapter typecheck scripts to CI workflow
  .github/workflows/ci.yml
Due: format-other

chore: remove bare app directories from .gitignore
  .gitignore
Due: none

chore: update react-native-executorch dependency to allow any version
  yarn.lock
Due: none

feat: integrate MMKV for persistent state storage in background downloads
  apps/llm_bare/android/app/build.gradle
Due: none

chore: update Node version in .nvmrc and adjust typecheck scripts in package.json for bare and expo adapters
  packages/bare-resource-fetcher/package.json
Due: format-other

docs: add bare_rn app to Demo Apps section in README
  README.md
Due: format-other, spell-check-other

fix: correct corrupted jest@29.7.0 lockfile entry with wrong dependencies
  yarn.lock
Due: none

fix: regenerate lockfile entries for @react-native/metro-config@0.81.5
  yarn.lock
Due: none

fix: reset yarn.lock to main and regenerate cleanly for bare_rn workspace
  yarn.lock
Due: none

fix: revert bare-resource-fetcher typecheck script to avoid CI race condition
  packages/bare-resource-fetcher/package.json
Due: format-other
