Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

Update packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
Due: format-objc

chore: replace QLoRa model with SpinQuant one (#493)
  apps/llm/app/llm/index.tsx
Due: lint, types, format-js

docs: update docs
  docs/docs/02-hooks/03-executorch-bindings/useExecutorchModule.md
  docs/docs/03-typescript-api/03-executorch-bindings/ExecutorchModule.md
Due: format-other, spell-check-other

chore: reorder list initializer params in jstensorviewout
  packages/react-native-executorch/common/rnexecutorch/host_objects/JSTensorViewOut.h
Due: format-objc

chore: remove unused type
  packages/react-native-executorch/src/types/common.ts
Due: lint, types, format-js

chore: minor docs changes
  docs/docs/02-hooks/03-executorch-bindings/useExecutorchModule.md
  docs/docs/03-typescript-api/03-executorch-bindings/ExecutorchModule.md
Due: format-other, spell-check-other

chore: apply review changes
  docs/docs/03-typescript-api/03-executorch-bindings/ExecutorchModule.md
Due: format-other, spell-check-other

chore: align docs title with the API
  docs/docs/03-typescript-api/03-executorch-bindings/ExecutorchModule.md
Due: format-other, spell-check-other

chore: delete linking static libraries in podspec
  packages/react-native-executorch/react-native-executorch.podspec
Due: none

Add requested changes. Refactor comments / namespace for types / function names
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.h
Due: format-objc

build: add classes.jar, make gradle ignore jitpack deps
  packages/react-native-executorch/android/build.gradle
  packages/react-native-executorch/android/libs/classes.jar
Due: none

Add changes requested in a review
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.cpp
Due: format-objc

docs: align ExecutorchModule docs after the C++ port (#490)
  docs/docs/02-hooks/03-executorch-bindings/useExecutorchModule.md
  docs/docs/03-typescript-api/03-executorch-bindings/ExecutorchModule.md
  packages/react-native-executorch/common/rnexecutorch/host_objects/JSTensorViewOut.h
  packages/react-native-executorch/src/types/common.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

chore: revert a silly change
  apps/llm/ios/llm.xcodeproj/project.pbxproj
Due: none

chore: remove unused include
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
Due: format-objc

chore: fix yarn prepare & add third-party to package.json files
  packages/react-native-executorch/package.json
  packages/react-native-executorch/tsconfig.json
Due: format-other

fix: update lockfile
  yarn.lock
Due: none

Add changes requested in review
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
Due: format-objc

Fixed yarn prepare failure
  packages/react-native-executorch/package.json
  packages/react-native-executorch/tsconfig.json
  yarn.lock
Due: format-other

index.tsx -> index.ts
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js

Change node version in lib build CI
  .nvmrc
Due: none

chore: revert build.gradle changes
  packages/react-native-executorch/android/build.gradle
Due: none

fix: Fixed yarn prepare failure (#439)
  .nvmrc
  packages/react-native-executorch/android/libs/classes.jar
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/tsconfig.json
  yarn.lock
Due: lint, types, format-js, format-other

build: add classes.jar, make gradle ignore jitpack deps
  packages/react-native-executorch/android/build.gradle
Due: none
