Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

fix CPP code + add JSI bridge to TS
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useVAD.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
  packages/react-native-executorch/src/types/vad.ts
Due: lint, types, format-js, format-objc

update model url
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

chore: fixed private mind logo not displaying properly on iphones and safari (#624)
  docs/src/components/ReactNativeExecuTorchIntroduction/styles.module.css
  docs/src/components/ReactNativeExecutorchAction/index.tsx
  docs/src/components/ReactNativeExecutorchAction/styles.module.css
  docs/src/pages/styles.module.css
Due: lint, types, format-js, format-other, spell-check-other

fix: ensure compatibility with RN > 80 (#617)
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/android/build.gradle
  packages/react-native-executorch/android/src/main/cpp/CMakeLists.txt
Due: none

added token baatching to llms
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/runner/runner.cpp
  packages/react-native-executorch/common/runner/runner.h
  packages/react-native-executorch/common/runner/text_token_generator.h
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-objc

reused runner.stats for token data
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/runner/runner.h
Due: format-objc

initial draft of token batching
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/runner/text_token_generator.h
Due: format-objc

small refactor, added docs
  docs/docs/02-hooks/01-natural-language-processing/useLLM.md
  docs/docs/03-typescript-api/01-natural-language-processing/LLMModule.md
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-other, spell-check-other

fixed bug where first token was emitted before batch
  packages/react-native-executorch/common/runner/runner.cpp
  packages/react-native-executorch/common/runner/text_token_generator.h
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-objc

fix memory management bug in c++ code
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
Due: format-objc

add fsmn/FSMN to cspell
  .cspell-wordlist.txt
Due: none

docs: add VAD documentation
  docs/docs/02-hooks/01-natural-language-processing/useVAD.md
  docs/docs/03-typescript-api/01-natural-language-processing/VADModule.md
  docs/docs/04-benchmarks/inference-time.md
  docs/docs/04-benchmarks/memory-usage.md
  docs/docs/04-benchmarks/model-size.md
Due: format-other, spell-check-other

add requested changes
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
Due: lint, types, format-js, format-objc

review changes
  docs/docs/02-hooks/01-natural-language-processing/useLLM.md
  docs/docs/03-typescript-api/01-natural-language-processing/LLMModule.md
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
Due: format-objc, format-other, spell-check-other

review changes
  packages/react-native-executorch/common/runner/text_token_generator.h
Due: format-objc

feature: llm output tokens batching (#628)
  docs/docs/02-hooks/01-natural-language-processing/useLLM.md
  docs/docs/03-typescript-api/01-natural-language-processing/LLMModule.md
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/runner/runner.cpp
  packages/react-native-executorch/common/runner/runner.h
  packages/react-native-executorch/common/runner/text_token_generator.h
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

ci: test 3
  .github/workflows/build-android-llm-example.yml
  .github/workflows/build-ios-llm-example.yml
Due: format-other

ci: add optimizations
  .github/workflows/build-android-llm-example.yml
  .github/workflows/build-ios-llm-example.yml
Due: format-other

chore: add increased memory limit capability to ios llm example
  apps/llm/app.json
Due: format-other

ci: test
  .github/workflows/build-android-llm-example.yml
  .github/workflows/build-ios-llm-example.yml
Due: format-other

ci: test 2
  .github/workflows/build-android-llm-example.yml
  .github/workflows/build-ios-llm-example.yml
Due: format-other

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
