Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

fix(hooks): allow VAD streamInsert/streamStop during streaming (#1196)
  packages/react-native-executorch/src/hooks/natural_language_processing/useVAD.ts
  packages/react-native-executorch/src/hooks/useModuleFactory.ts
Due: lint, types, format-js

ci: verify generated error codes stay in sync with errors.config.ts
  .github/workflows/ci.yml
  lefthook.yml
  packages/react-native-executorch/common/rnexecutorch/ErrorCodes.h
Due: format-objc, format-other

fix(ci): gate node_modules diagnostic on existing step id
  .github/workflows/npm-publish.yml
Due: format-other

fix(docs): move banners inline with bagdes and update urls
  README.md
Due: format-other, spell-check-other

fix(docs): move banners inline with badges and update urls (#1216)
  README.md
Due: format-other, spell-check-other

Update S2S screen with blob
  apps/speech/App.tsx
  apps/speech/app.json
  apps/speech/assets/base64/noiseTexture.ts
  apps/speech/assets/constants/bubbleConstants.ts
  apps/speech/assets/data/bubblePresets.ts
  apps/speech/assets/schemas/bubbleSchema.ts
  apps/speech/assets/types/bubbleTypes.ts
  apps/speech/babel.config.js
  apps/speech/components/Equaliser.tsx
  apps/speech/package.json
  apps/speech/screens/SpeechToSpeechScreen.tsx
  yarn.lock
Due: lint, types, format-js, format-other

fix(docs): disable Algolia Ask AI side panel to stop cookie widget overlap
  docs/docusaurus.config.js
Due: lint, types, format-js

ci: verify generated error codes stay in sync with errors.config.ts (#1214)
  .github/workflows/ci.yml
  lefthook.yml
  packages/react-native-executorch/common/rnexecutorch/ErrorCodes.h
Due: format-objc, format-other

fix(docs): disable Algolia Ask AI side panel to stop cookie widget overlap (#1218)
  docs/docusaurus.config.js
Due: lint, types, format-js

gemma4 audio
  apps/llm/app/multimodal_llm/index.tsx
  apps/llm/components/llmModels.ts
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/runner/constants.h
  packages/react-native-executorch/common/runner/encoders/audio_encoder.cpp
  packages/react-native-executorch/common/runner/encoders/audio_encoder.h
  packages/react-native-executorch/common/runner/multimodal_input.h
  packages/react-native-executorch/common/runner/multimodal_prefiller.cpp
  packages/react-native-executorch/common/runner/multimodal_prefiller.h
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.h
  packages/react-native-executorch/src/constants/llmDefaults.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-objc

minor prefiller refactor
  apps/llm/app/multimodal_llm/index.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/Types.h
  packages/react-native-executorch/common/runner/encoders/audio_encoder.cpp
  packages/react-native-executorch/common/runner/multimodal_prefiller.cpp
  packages/react-native-executorch/common/runner/multimodal_prefiller.h
  packages/react-native-executorch/common/runner/sampler.h
  packages/react-native-executorch/common/runner/text_decoder_runner.cpp
  packages/react-native-executorch/common/runner/util.h
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js, format-objc

documentation update
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/docs/04-typescript-api/01-natural-language-processing/LLMModule.md
  docs/versioned_docs/version-0.9.x/03-hooks/01-natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.9.x/04-typescript-api/01-natural-language-processing/LLMModule.md
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-other, spell-check-other

Update urls
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

review
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/runner/multimodal_prefiller.cpp
  packages/react-native-executorch/common/runner/text_prefiller.cpp
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
Due: lint, types, format-js, format-objc

Setup XNNPACK whisper as default for simulators
  apps/speech/screens/SpeechToTextScreen.tsx
Due: lint, types, format-js

chore: switch to fp16 CoreML whisper models (#1224)
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

undefined member fix
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js

wip
  apps/computer-vision/.gitignore
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/video_replay/index.tsx
  apps/computer-vision/assets/video_frames/index.ts
  apps/computer-vision/scripts/extract-video-frames.mjs
Due: lint, types, format-js

fix to unresponsive code bug
  apps/llm/app/multimodal_llm/index.tsx
  apps/llm/components/AudioWaveform.tsx
  apps/llm/components/MessageItem.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js, format-objc

linter fix
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js

review fix
  apps/llm/app/multimodal_llm/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/llm/Types.h
  packages/react-native-executorch/common/runner/encoders/audio_encoder.cpp
  packages/react-native-executorch/common/runner/encoders/audio_encoder.h
  packages/react-native-executorch/common/runner/multimodal_prefiller.cpp
  packages/react-native-executorch/common/runner/multimodal_prefiller.h
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/sampler.cpp
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
Due: lint, types, format-js, format-objc

added tests
  apps/llm/app/multimodal_llm/index.tsx
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/common/rnexecutorch/tests/unit/SamplerTest.cpp
Due: lint, types, format-js, format-objc

removed `std::optional`
  apps/llm/app/multimodal_llm/index.tsx
  packages/react-native-executorch/common/runner/multimodal_prefiller.cpp
  packages/react-native-executorch/common/runner/multimodal_prefiller.h
Due: lint, types, format-js, format-objc

nits
  packages/react-native-executorch/common/runner/sampler.cpp
Due: format-objc

test fix
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/common/rnexecutorch/tests/unit/SamplerTest.cpp
Due: format-objc

version bump
  packages/bare-resource-fetcher/package.json
  packages/expo-resource-fetcher/package.json
  packages/react-native-executorch/package.json
Due: format-other

ci: fail lint when source files aren't covered by build-apps filter
  .github/workflows/build-apps.yml
  .github/workflows/ci.yml
  scripts/check-ci-filter-coverage.js
Due: lint, types, format-js, format-other

ci: skip already-passing app builds via content-hash cache marker
  .github/actions/build-android-app/action.yml
  .github/actions/build-ios-app/action.yml
  .github/workflows/build-apps.yml
  scripts/compute-app-hash.js
Due: lint, types, format-js, format-other

ci: use generic iOS Simulator destination so build doesn't need a specific device
  .github/actions/build-ios-app/action.yml
Due: format-other

ci: add Metro bundle check matrix to catch JS errors before native build
  .github/workflows/build-apps.yml
Due: format-other

ci: build workspace packages before running bare-rn jest
  .github/workflows/test-bare-rn.yml
Due: format-other

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
