Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

Update packages/react-native-executorch/common/rnexecutorch/models/EncoderDecoderBase.h
  packages/react-native-executorch/common/rnexecutorch/models/EncoderDecoderBase.h
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
Due: format-objc

Update README.md (#446)
  README.md
Due: format-other, spell-check-other

docs: update typescript api docs
  docs/docs/typescript-api/SpeechToTextModule.md
  packages/react-native-executorch/src/controllers/SpeechToTextController.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
Due: lint, types, format-js, format-other, spell-check-other

docs: update React docs
  docs/docs/natural-language-processing/useSpeechToText.md
Due: format-other, spell-check-other

docs: tidy up
  docs/docs/natural-language-processing/useSpeechToText.md
Due: format-other, spell-check-other

Update packages/react-native-executorch/common/rnexecutorch/models/EncoderDecoderBase.cpp
  packages/react-native-executorch/common/rnexecutorch/models/EncoderDecoderBase.cpp
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/data_processing/FFT.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/FFT.cpp
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/TokenizerModule.cpp
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.cpp
Due: format-objc

feat: enable 'no-console' lint rule for executorch src except Logger, add Logger.log method (#450)
  .eslintrc.js
  packages/react-native-executorch/src/common/Logger.ts
Due: lint, types, format-js

Update docs/docs/typescript-api/SpeechToTextModule.md
  docs/docs/typescript-api/SpeechToTextModule.md
Due: format-other, spell-check-other

chore: fix docs
  docs/docs/fundamentals/getting-started.md
Due: format-other, spell-check-other

another fix
  docs/docs/fundamentals/getting-started.md
Due: format-other, spell-check-other

fix pipe char in docs
  docs/docs/benchmarks/inference-time.md
  docs/versioned_docs/version-0.3.x/benchmarks/inference-time.md
  docs/versioned_docs/version-0.4.x/benchmarks/inference-time.md
Due: format-other, spell-check-other

docs: fix outdated requirements & pipe characters (#453)
  docs/docs/benchmarks/inference-time.md
  docs/docs/fundamentals/getting-started.md
  docs/versioned_docs/version-0.3.x/benchmarks/inference-time.md
  docs/versioned_docs/version-0.4.x/benchmarks/inference-time.md
Due: format-other, spell-check-other

wip
  packages/react-native-executorch/src/Error.ts
Due: lint, types, format-js

docs: update links in useTextEmbeddings and useImageEmbeddings
  docs/docs/02-hooks/01-natural-language-processing/useTextEmbeddings.md
  docs/docs/02-hooks/02-computer-vision/useImageEmbeddings.md
Due: format-other, spell-check-other

fix: Add length check for dotProduct function to ensure vectors are the same length
  apps/text-embeddings/utils/math.ts
Due: lint, types, format-js

refactor: ImageEmbedding and TextEmbedding, remove normalization, update URLs (#445)
  apps/text-embeddings/app/clip-embeddings/index.tsx
  apps/text-embeddings/app/text-embeddings/index.tsx
  apps/text-embeddings/utils/math.ts
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/BaseEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/BaseEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.h
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-objc

docs: Update image and text embeddings documentation (#449)
  docs/docs/02-hooks/01-natural-language-processing/useTextEmbeddings.md
  docs/docs/02-hooks/02-computer-vision/useImageEmbeddings.md
  docs/docs/03-typescript-api/02-computer-vision/ImageEmbeddingsModule.md
Due: format-other, spell-check-other

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
