Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

Update packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.cpp
Due: format-objc

Update FileUtils.h
  packages/react-native-executorch/common/rnexecutorch/data_processing/FileUtils.h
Due: format-objc

Update runner.cpp
  packages/react-native-executorch/common/runner/runner.cpp
Due: format-objc

Add test for file utils
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/FileUtilsTest.cpp
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/tests/FileUtilsTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/FileUtilsTest.cpp
Due: format-objc

added translations of README
  README.md
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

fixed README.md links
  README.md
Due: format-other, spell-check-other

RELEASE update
  RELEASE.md
Due: format-other, spell-check-other

added translations of README (#640)
  README.md
  RELEASE.md
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

changed links
  README.md
Due: format-other, spell-check-other

add version
  README.md
  packages/react-native-executorch/package.json
Due: format-other, spell-check-other

chore: readme update (#641)
  README.md
  RELEASE.md
  packages/react-native-executorch/package.json
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

remove redundant comments from FileUtilsTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/FileUtilsTest.cpp
Due: format-objc

feat: update ocr to use quantized detector
  packages/react-native-executorch/src/constants/ocr/models.ts
Due: lint, types, format-js

feat: update ocr to use quantized detector (#644)
  packages/react-native-executorch/src/constants/ocr/models.ts
Due: lint, types, format-js

feat: move expo from dependencies to peerDependencies and devDependencies
  packages/react-native-executorch/package.json
  yarn.lock
Due: format-other

Update README.md
  README.md
Due: format-other, spell-check-other

Move documentation below other sections
  README.md
Due: format-other, spell-check-other

Allow passing options to useSpeechToText model.stream()
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
Due: lint, types, format-js

Update model.stream() docs.
  docs/docs/02-hooks/01-natural-language-processing/useSpeechToText.md
Due: format-other, spell-check-other

Fix lint.
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
Due: lint, types, format-js

bug: Allow passing options to useSpeechToText model.stream() (#648)
  docs/docs/02-hooks/01-natural-language-processing/useSpeechToText.md
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
Due: lint, types, format-js, format-other, spell-check-other

v0.5.11
  packages/react-native-executorch/package.json
Due: format-other

chore: 0.5.11 (#649)
  docs/docs/02-hooks/01-natural-language-processing/useSpeechToText.md
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
Due: lint, types, format-js, format-other, spell-check-other

v0.4.9
  android/build.gradle
  package.json
Due: format-other

chore: v0.4.9 (#650)
  android/build.gradle
  package.json
Due: format-other

fix to corrupted utf-8 encoding for special characters in transcription
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
Due: lint, types, format-js, format-objc

review fix
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
Due: lint, types, format-js, format-objc
