Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

Text2image placeholder
  apps/text-embeddings/app/text-embeddings/index.tsx
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/models/PipelineBase.cpp
  packages/react-native-executorch/common/rnexecutorch/models/PipelineBase.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/hooks/image_generation/useTextToImage.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/image_generation/TextToImageModule.ts
Due: lint, types, format-js, format-objc

UNet working fine
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.h
  packages/react-native-executorch/src/hooks/image_generation/useTextToImage.ts
Due: lint, types, format-js, format-objc

Scheduler draft
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
Due: format-objc

Quick fix scheduler signature
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
Due: format-objc

Changes from review in TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
Due: format-objc

Address PR review comments
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.cpp
Due: format-objc

Address PR review comments
  .cspell-wordlist.txt
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.h
  packages/react-native-executorch/src/hooks/image_generation/useTextToImage.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/image_generation/TextToImageModule.ts
Due: lint, types, format-js, format-objc

Reset text embeddings app to main
  apps/text-embeddings/app/text-embeddings/index.tsx
Due: lint, types, format-js

Changes in scheduler - part 2
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
Due: format-objc

Loading scheduler params from config
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
Due: lint, types, format-js, format-objc

Update packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.cpp
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Constants.h
Due: format-objc

Addressing the review
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.cpp
Due: format-objc

Changes in scheduler - part 1
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
Due: format-objc

Update yarn.lock to include @types/pngjs
  yarn.lock
Due: none

Update packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.h
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.h
Due: format-objc

Update download callback
  .cspell-wordlist.txt
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
Due: lint, types, format-js

Changes in scheduler - part 3
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
Due: format-objc

Changes from review in text2image app
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/app/text_to_image/utils.ts
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
Due: lint, types, format-js, format-objc

Address changes from review
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.h
Due: format-objc

Moving postprocess to the model
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
Due: format-objc

Includes cleanup
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.h
Due: format-objc

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
