Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

feat: add quantized models for style transfer
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

fix: update EFFICIENTNET_V2_S_QUANTIZED_MODEL to use CoreML for iOS
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

docs: update manual docs
  docs/docs/03-hooks/02-computer-vision/useClassification.md
Due: format-other, spell-check-other

refactor: rename quantized model constants for style transfer
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

feat: add quantized model support for CLIP ViT Base Patch32 and update model paths
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

fix: default UnifiedRunner temperature to 0.8 and topp to 0.9
  packages/react-native-executorch/common/runner/unified_runner.h
Due: format-objc

feat: add NativeMessage struct and JSI conversion for message history
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
Due: format-objc

feat: implement generateMultimodal with per-turn chat template and image cache
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
Due: format-objc

feat: declare generateMultimodal on LLM and register JSI binding
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
Due: format-objc

feat: add conversational VLM demo with multimodal/text-only support and fix token generation bugs
  apps/llm/app/_layout.tsx
  apps/llm/app/index.tsx
  apps/llm/app/multimodal_llm/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/runner/unified_runner.cpp
  packages/react-native-executorch/common/runner/unified_runner.h
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js, format-objc

feat: initial implementation of multimodal runner with lfm vlm
  apps/llm/app.json
  apps/llm/app/_layout.tsx
  apps/llm/app/index.tsx
  apps/llm/app/multimodal_llm/index.tsx
  apps/llm/package.json
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/multimodal_llm/MultimodalLLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/multimodal_llm/MultimodalLLM.h
  packages/react-native-executorch/common/runner/image.h
  packages/react-native-executorch/common/runner/multimodal_decoder_runner.h
  packages/react-native-executorch/common/runner/multimodal_input.h
  packages/react-native-executorch/common/runner/multimodal_prefiller.cpp
  packages/react-native-executorch/common/runner/multimodal_prefiller.h
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useMultimodalLLM.ts
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js, format-objc, format-other

feat: unified LLM runner for text-only and multimodal PTEs
  apps/llm/app/multimodal_llm/index.tsx
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/rnexecutorch/models/multimodal_llm/MultimodalLLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/multimodal_llm/MultimodalLLM.h
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.h
  packages/react-native-executorch/common/runner/runner.cpp
  packages/react-native-executorch/common/runner/runner.h
  packages/react-native-executorch/common/runner/unified_runner.cpp
  packages/react-native-executorch/common/runner/unified_runner.h
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useMultimodalLLM.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/types/llm.ts
  yarn.lock
Due: lint, types, format-js, format-objc

fix: remove redundant unordered_map and vector includes from LLM.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
Due: format-objc

feat: show image thumbnail in user message bubble when mediaPath is set
  apps/llm/components/MessageItem.tsx
Due: lint, types, format-js

fix: use resizeMode contain so full image is always visible in message bubble
  apps/llm/components/MessageItem.tsx
Due: lint, types, format-js

feat: add mediaPath to Message, remove sendMessageWithImage from LLMType
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js

fix: use updatedHistory for multimodal routing, remove redundant reset before generateMultimodal
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js

refactor: derive isMultimodal from load param, unify load branches, remove tokenizerConfig guard
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js, format-objc

fix: skip system messages in generateMultimodal, clear imageUri after send
  apps/llm/app/multimodal_llm/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
Due: lint, types, format-js, format-objc

refactor: remove isMultimodal flag, inline generateMultimodal into sendMessage
  apps/llm/app/multimodal_llm/index.tsx
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js

feat: replace sendMessageWithImage with sendMessage(msg, mediaPath?) using generateMultimodal
  apps/llm/app/multimodal_llm/index.tsx
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js

fix: collect imagePaths from messageHistoryWithPrompt, not full history
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js

refactor: unify generate — Jinja renders prompt+<image> tokens in JS, C++ splits on placeholder
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js, format-objc

fix: fall back to max_seq_len when model doesn't export max_context_len
  packages/react-native-executorch/common/runner/unified_runner.cpp
Due: format-objc

feat: dynamic sendMessage type based on flag
  apps/llm/app/multimodal_llm/index.tsx
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js

fix: add missing import
  packages/react-native-executorch/common/runner/multimodal_prefiller.cpp
Due: format-objc

fix: prepend system prompt to multimodal history before generateMultimodal
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js

fix: make tokenizerConfigSource required throughout load pipeline
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js

fix: typing
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js

feat: correctly calculate image tokens
  packages/react-native-executorch/common/runner/multimodal_prefiller.cpp
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js, format-objc

feat: add TextRunner
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/common/runner/text_runner.cpp
  packages/react-native-executorch/common/runner/text_runner.h
Due: format-objc

feat: add BaseLLMRunner with shared state and load()
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/common/runner/base_llm_runner.cpp
  packages/react-native-executorch/common/runner/base_llm_runner.h
Due: format-objc

feat: add LFM2_VL_1_6B and LFM2_VL_1_6B_QUANTIZED model constants
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

feat: add LLMCapability type and parameterize LLMTypeMultimodal
  apps/llm/app/multimodal_llm/index.tsx
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js

feat: forward capabilities from LLMController to native
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js

feat: add MultimodalRunner with plug-in encoder map
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.h
Due: format-objc

feat: add IEncoder interface and VisionEncoder
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/common/runner/encoders/iencoder.h
  packages/react-native-executorch/common/runner/encoders/vision_encoder.cpp
  packages/react-native-executorch/common/runner/encoders/vision_encoder.h
Due: format-objc

feat: wire capabilities through LLM.cpp, delete UnifiedRunner
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/common/runner/unified_runner.cpp
  packages/react-native-executorch/common/runner/unified_runner.h
Due: format-objc

fix: address vision_encoder quality review issues
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/common/runner/encoders/vision_encoder.cpp
  packages/react-native-executorch/common/runner/encoders/vision_encoder.h
Due: format-objc

feat: update sendMessage to accept typed media object
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
Due: lint, types, format-js
