Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

Fix yarn command for installing dependencies
  docs/versioned_docs/version-0.8.x/01-fundamentals/01-getting-started.md
Due: format-other, spell-check-other

Change yarn install to yarn add for dependencies
  docs/docs/01-fundamentals/01-getting-started.md
Due: format-other, spell-check-other

Fix: yarn command for installing dependencies (#1077)
  docs/docs/01-fundamentals/01-getting-started.md
  docs/versioned_docs/version-0.8.x/01-fundamentals/01-getting-started.md
Due: format-other, spell-check-other

feat(utils): add detection helper utilities to computer_vision/Processing
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Processing.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Processing.h
Due: format-objc

feat: Deduplicate cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.h
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Processing.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Processing.h
Due: format-objc

docs(vision): document normalization usage in VisionModel
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
Due: format-objc

refactor(ocr): use BaseModel getModelInputSize helper in Detector
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
Due: format-objc

feat(models): add preprocessing helpers to VisionModel
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
Due: format-objc

refactor(models): add validateAndGetInputShape helper to BaseModel
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
Due: format-objc

feat(models): add multi-method support helpers to BaseModel
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
Due: format-objc

refactor(models): migrate 6 vision models to use VisionModel helpers
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.h
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
Due: format-objc

refactor(instance-seg): use detection and error utilities
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
Due: format-objc

feat(utils): add inverseRotateBboxes batch helper
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.h
Due: format-objc

feat(utils): add TensorHelpers for type-safe span conversions
  packages/react-native-executorch/common/rnexecutorch/utils/TensorHelpers.h
Due: format-objc

feat(models): add forwardOrThrow helpers to BaseModel
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
Due: format-objc

refactor(style-transfer): use error utilities
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
Due: format-objc

refactor(image-embeddings): use error utilities
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.cpp
Due: format-objc

feat(utils): add extractDetectionData to computer_vision
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Processing.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Processing.h
Due: format-objc

refactor(classification): use tensor and error utilities
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
Due: format-objc

refactor(semantic-seg): use tensor and error utilities
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.cpp
Due: format-objc

refactor(object-detection): use tensor, error, and rotation utilities
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
Due: format-objc

test: add unit tests for new utility functions
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/unit/ComputerVisionProcessingTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/unit/FrameTransformTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/unit/TensorHelpersTest.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.h
  packages/react-native-executorch/common/rnexecutorch/utils/TensorHelpers.h
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Processing.h
Due: format-objc

chore: exclude **/build/ from eslint ignorePatterns
  .eslintrc.js
Due: lint, types, format-js

chore: exclude **/build/ from eslint ignorePatterns (#1082)
  .eslintrc.js
Due: lint, types, format-js

Link phonemis with Android build
  .gitmodules
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/android/src/main/cpp/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/third-party/android/libs/phonemis/arm64-v8a/libphonemis.a
  packages/react-native-executorch/third-party/android/libs/phonemis/x86_64/libphonemis.a
  packages/react-native-executorch/third-party/include/phonemis/phonemizer/lexicon.h
  packages/react-native-executorch/third-party/include/phonemis/phonemizer/phonemizer.h
  packages/react-native-executorch/third-party/include/phonemis/phonemizer/types.h
  packages/react-native-executorch/third-party/include/phonemis/pipeline.h
  packages/react-native-executorch/third-party/include/phonemis/preprocessor/tools.h
  packages/react-native-executorch/third-party/include/phonemis/tagger/tag.h
  packages/react-native-executorch/third-party/include/phonemis/tagger/tagger.h
  packages/react-native-executorch/third-party/include/phonemis/tokenizer/tokenize.h
  packages/react-native-executorch/third-party/include/phonemis/tokenizer/tokens.h
  packages/react-native-executorch/third-party/include/phonemis/tokenizer/types.h
  packages/react-native-executorch/third-party/include/phonemis/utilities/string_utils.h
Due: format-objc

chore: clean up root peer deps and drop ignored resolutions
  package.json
  packages/react-native-executorch/package.json
  yarn.lock
Due: format-other

Link phonemis with iOS build
  apps/speech/app.json
  packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/third-party/ios/libs/phonemis/physical-arm64-release/libphonemis.a
  packages/react-native-executorch/third-party/ios/libs/phonemis/simulator-arm64-debug/libphonemis.a
Due: format-other

chore: silence docs yarn install warnings
  .yarnrc.yml
  docs/package.json
  docs/yarn.lock
Due: format-other

chore: clean up root peer deps and drop ignored resolutions (#1083)
  package.json
  packages/react-native-executorch/package.json
  yarn.lock
Due: format-other

chore: silence docs yarn install warnings (#1084)
  .yarnrc.yml
  docs/package.json
  docs/yarn.lock
Due: format-other

fix(ios): bump iOS deployment target to 17.0
  apps/bare-rn/ios/Podfile
  apps/bare-rn/ios/bare-rn.xcodeproj/project.pbxproj
  apps/computer-vision/app.json
  apps/llm/app.json
  apps/llm/package.json
  apps/speech/app.json
  apps/speech/package.json
  apps/text-embeddings/app.json
  apps/text-embeddings/package.json
  packages/react-native-executorch/ios/RnExecutorch.xcodeproj/project.pbxproj
  packages/react-native-executorch/react-native-executorch.podspec
  yarn.lock
Due: format-other
