Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

chore: revert a silly change
  apps/llm/ios/llm.xcodeproj/project.pbxproj
Due: none

chore: remove unused include
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
Due: format-objc

chore: fix yarn prepare & add third-party to package.json files
  packages/react-native-executorch/package.json
Due: format-other

feat: update modelUrls to match v0.5.0 version
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

docs: remove JTransforms from license
  LICENSE
Due: none

refactor: change useMemo to useState in hooks.
  packages/react-native-executorch/src/hooks/computer_vision/useOCR.ts
  packages/react-native-executorch/src/hooks/computer_vision/useVerticalOCR.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTokenizer.ts
  packages/react-native-executorch/src/hooks/useNonStaticModule.ts
Due: lint, types, format-js

bug: add NSMicrophoneUsageDescription to app.json
  apps/llm/app.json
  apps/llm/ios/llm/Info.plist
Due: format-other

docs: update ET license
  LICENSE
Due: none

Rename NonStaticBaseModule and delete BaseModule
  packages/react-native-executorch/src/hooks/computer_vision/useClassification.ts
  packages/react-native-executorch/src/hooks/computer_vision/useImageEmbeddings.ts
  packages/react-native-executorch/src/hooks/computer_vision/useImageSegmentation.ts
  packages/react-native-executorch/src/hooks/computer_vision/useObjectDetection.ts
  packages/react-native-executorch/src/hooks/computer_vision/useStyleTransfer.ts
  packages/react-native-executorch/src/hooks/general/useExecutorchModule.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextEmbeddings.ts
  packages/react-native-executorch/src/hooks/useModule.ts
  packages/react-native-executorch/src/hooks/useNonStaticModule.ts
  packages/react-native-executorch/src/modules/BaseModule.ts
  packages/react-native-executorch/src/modules/BaseNonStaticModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/general/ExecutorchModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
Due: lint, types, format-js

fix: make modules static again & revert docs
  docs/docs/03-typescript-api/01-natural-language-processing/LLMModule.md
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
Due: lint, types, format-js, format-other, spell-check-other

fix: add NSMicrophoneUsageDescription to app.json in LLM example app (#511)
  apps/llm/app.json
  apps/llm/ios/llm/Info.plist
Due: format-other

docs: fix type errors and missing import in llm docs
  docs/docs/02-hooks/01-natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.4.x/natural-language-processing/useLLM.md
Due: format-other, spell-check-other

rename c++ const to SCREAMING_SNAKE_CASE
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/classification/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/Utils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/Utils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
Due: format-objc

Update README.md
  README.md
Due: format-other, spell-check-other

move IOU_THRESHOLD to Constants.h file
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/Utils.h
Due: format-objc

docs: fix type errors and missing import in llm docs (#514)
  README.md
  docs/docs/02-hooks/01-natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.4.x/natural-language-processing/useLLM.md
Due: format-other, spell-check-other

feat: implement whisper-streaming
  .cspell-wordlist.txt
  apps/llm/app/voice_chat/index.tsx
  apps/speech-to-text/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/MoonshineStrategy.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/MoonshineStrategy.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToTextStrategy.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/WhisperStrategy.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/WhisperStrategy.h
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/constants/sttDefaults.ts
  packages/react-native-executorch/src/controllers/SpeechToTextController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/types/stt.ts
  packages/react-native-executorch/src/utils/SpeechToTextModule/ASR.ts
  packages/react-native-executorch/src/utils/SpeechToTextModule/OnlineProcessor.ts
  packages/react-native-executorch/src/utils/SpeechToTextModule/hypothesisBuffer.ts
Due: lint, types, format-js, format-objc

refactor: simplify SpeechToTextModelConfig
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/types/stt.ts
  packages/react-native-executorch/src/utils/SpeechToTextModule/ASR.ts
Due: lint, types, format-js

fix: correct spelling of 'committed'
  .cspell-wordlist.txt
  apps/llm/app/voice_chat/index.tsx
  apps/speech-to-text/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/utils/SpeechToTextModule/OnlineProcessor.ts
  packages/react-native-executorch/src/utils/SpeechToTextModule/hypothesisBuffer.ts
Due: lint, types, format-js

refactor: remove MoonshineStrategy
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/MoonshineStrategy.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/MoonshineStrategy.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
Due: format-objc

docs: fix parameter description formatting in OCR docs
  docs/docs/02-hooks/02-computer-vision/useVerticalOCR.md
Due: format-other, spell-check-other

refactor: C++ consts to SCREAMING_SNAKE_CASE. (#515)
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/classification/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/Utils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/Utils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
Due: format-objc

docs: fix parameter description formatting in OCR docs (#518)
  docs/docs/02-hooks/02-computer-vision/useVerticalOCR.md
Due: format-other, spell-check-other

Fixed docs useImageEmbeddings
  docs/docs/02-hooks/02-computer-vision/useImageEmbeddings.md
Due: format-other, spell-check-other

docs: fixed docs useImageEmbeddings (#519)
  docs/docs/02-hooks/02-computer-vision/useImageEmbeddings.md
Due: format-other, spell-check-other

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
