Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

fix: replace magic number 4 with channels field in PixelDataResult
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/Types.h
Due: format-objc

chore: make adapters unscoped packages
  .github/workflows/npm-publish-bare-resource-fetcher.yml
  .github/workflows/npm-publish-expo-resource-fetcher.yml
  README.md
  apps/bare_rn/App.tsx
  apps/bare_rn/package.json
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/package.json
  apps/computer-vision/tsconfig.json
  apps/llm/app/_layout.tsx
  apps/llm/package.json
  apps/llm/tsconfig.json
  apps/speech/App.tsx
  apps/speech/package.json
  apps/speech/tsconfig.json
  apps/text-embeddings/app/_layout.tsx
  apps/text-embeddings/package.json
  apps/text-embeddings/tsconfig.json
  docs/docs/01-fundamentals/02-loading-models.md
  packages/bare-resource-fetcher/README.md
  packages/bare-resource-fetcher/package.json
  packages/expo-resource-fetcher/README.md
  packages/expo-resource-fetcher/package.json
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

chore: make adapters unscoped packages (#970)
  .github/workflows/npm-publish-bare-resource-fetcher.yml
  .github/workflows/npm-publish-expo-resource-fetcher.yml
  README.md
  apps/bare_rn/App.tsx
  apps/bare_rn/package.json
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/package.json
  apps/computer-vision/tsconfig.json
  apps/llm/app/_layout.tsx
  apps/llm/package.json
  apps/llm/tsconfig.json
  apps/speech/App.tsx
  apps/speech/package.json
  apps/speech/tsconfig.json
  apps/text-embeddings/app/_layout.tsx
  apps/text-embeddings/package.json
  apps/text-embeddings/tsconfig.json
  docs/docs/01-fundamentals/02-loading-models.md
  packages/bare-resource-fetcher/README.md
  packages/bare-resource-fetcher/package.json
  packages/expo-resource-fetcher/README.md
  packages/expo-resource-fetcher/package.json
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

chore: add public access qualifier
  .github/workflows/npm-publish-bare-resource-fetcher.yml
  .github/workflows/npm-publish-expo-resource-fetcher.yml
Due: format-other

chore: add public access qualifier (#971)
  .github/workflows/npm-publish-bare-resource-fetcher.yml
  .github/workflows/npm-publish-expo-resource-fetcher.yml
Due: format-other

Bump version from 0.8.0-rc1 to 0.8.0-rc2
  packages/expo-resource-fetcher/package.json
Due: format-other

Update package.json
  packages/bare-resource-fetcher/package.json
Due: format-other

chore: Bump version from 0.8.0-rc1 to 0.8.0-rc2 in adapters (#972)
  packages/bare-resource-fetcher/package.json
  packages/expo-resource-fetcher/package.json
Due: format-other

chore: Fix naming of packages via workflow
  .github/workflows/npm-publish-bare-resource-fetcher.yml
  .github/workflows/npm-publish-expo-resource-fetcher.yml
Due: format-other

Bump version to 0.8.0-rc3 in package.json
  packages/bare-resource-fetcher/package.json
Due: format-other

Bump version to 0.8.0-rc3
  packages/expo-resource-fetcher/package.json
Due: format-other

chore: Fix naming of packages via workflow (#973)
  .github/workflows/npm-publish-bare-resource-fetcher.yml
  .github/workflows/npm-publish-expo-resource-fetcher.yml
  packages/bare-resource-fetcher/package.json
  packages/expo-resource-fetcher/package.json
Due: format-other

chore: add missing dep to package.json
  packages/react-native-executorch/package.json
  yarn.lock
Due: format-other

fix: add missing dep to package.json (#974)
  packages/react-native-executorch/package.json
  yarn.lock
Due: format-other

docs: add table for rn compatibility
  docs/docs/06-other/01-compatibility.mdx
  docs/docs/06-other/_category_.json
  docs/src/components/CompatibilityTable/styles.module.css
Due: format-other, spell-check-other

chore: add compatibility table to docs and link in readmes
  README.md
  docs/docs/06-other/01-compatibility.mdx
  docs/docs/07-other/01-compatibility.mdx
  docs/docs/07-other/_category_.json
  docs/sidebars.js
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: lint, types, format-js, format-other, spell-check-other

chore: fix versions of adapters in table
  docs/docs/07-other/01-compatibility.mdx
Due: none

chore: Add model selections and small fixes
  apps/computer-vision/app/object_detection/index.tsx
  apps/computer-vision/app/ocr/index.tsx
  apps/computer-vision/app/semantic_segmentation/index.tsx
  apps/computer-vision/app/style_transfer/index.tsx
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/components/ModelPicker.tsx
  apps/llm/app/llm/index.tsx
  apps/llm/app/llm_structured_output/index.tsx
  apps/llm/app/llm_tool_calling/index.tsx
  apps/llm/app/voice_chat/index.tsx
  apps/llm/components/ModelPicker.tsx
  apps/speech/components/ModelPicker.tsx
  apps/speech/screens/SpeechToTextScreen.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/src/hooks/computer_vision/useOCR.ts
  packages/react-native-executorch/src/hooks/computer_vision/useVerticalOCR.ts
Due: lint, types, format-js, format-objc

chore: update lfm vlm urls to point to tag
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

chore: update lfm vlm urls to point to tag (#978)
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

docs: add information about deps and complete getting-started/compatibility section
  docs/docs/01-fundamentals/01-getting-started.md
  docs/docs/07-other/01-compatibility.mdx
Due: format-other, spell-check-other

chore: Add marketing banners
  README.md
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

chore: Add marketing banners (#983)
  README.md
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

chore: Rename ImageSegmentation to SemanticSegmentation
  packages/react-native-executorch/src/modules/computer_vision/SemanticSegmentationModule.ts
Due: lint, types, format-js

Update docs
  docs/docs/03-hooks/02-computer-vision/useSemanticSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/SemanticSegmentationModule.md
Due: format-other, spell-check-other

Upadte claude skills
  skills/canary/react-native-executorch/references/reference-cv.md
  skills/react-native-executorch/references/reference-cv.md
Due: format-other, spell-check-other

Initial instance segmetntation
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/instance_segmentation/index.tsx
  apps/computer-vision/package.json
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/InstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/InstanceSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/Types.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/smollm_tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/t2i_tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/test_image.jpg
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/whisper_tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/log.txt
  packages/react-native-executorch/src/hooks/computer_vision/useInstanceSegmentation.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/SemanticSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js, format-objc, format-other

Add ImageWithMasks component
  apps/computer-vision/app/instance_segmentation/index.tsx
  apps/computer-vision/components/ImageWithMasks.tsx
Due: lint, types, format-js

Update gitignore
  .gitignore
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/smollm_tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/t2i_tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/test_image.jpg
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/whisper_tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/log.txt
Due: format-other

Change BaseInstanceSegmentation to accept and return string labels
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/Types.h
Due: format-objc

Remove redundant postprocessor config type
  packages/react-native-executorch/src/hooks/computer_vision/useInstanceSegmentation.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js

Rename to BaseInstanceSegmentation
  apps/computer-vision/app/instance_segmentation/index.tsx
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
Due: lint, types, format-js, format-objc

Add method unloading
  apps/computer-vision/app/instance_segmentation/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
Due: lint, types, format-js, format-objc

Add docs and fix some typechecks
  apps/computer-vision/app/instance_segmentation/index.tsx
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/memory-usage.md
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/hooks/computer_vision/useInstanceSegmentation.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/SemanticSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js, format-other, spell-check-other

Update instance segmentaiton demo app
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/instance_segmentation/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js, format-objc

Update api reference docs
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/Types.h
  packages/react-native-executorch/src/hooks/computer_vision/useInstanceSegmentation.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js, format-objc

Remove type field from postprocessor config
  apps/computer-vision/app/instance_segmentation/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js, format-objc

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
