Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

fix(stt): use ?? for vadDetectionMargin default
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
Due: lint, types, format-js

docs(stt): document kVadGapFactor
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
Due: format-objc

style(vad): add trailing newline to Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Constants.h
Due: format-objc

style(vad): add trailing newline to Utils.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.h
Due: format-objc

fix(stt): static_assert kVadDeadSamplesRemovalSamples > safety margin
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
Due: format-objc

test(stt): update SpeechToTextTests for the new 5-arg constructor
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SpeechToTextTest.cpp
Due: format-objc

test(vad): add mergeSegments unit tests and stream lifecycle tests
  packages/react-native-executorch/common/rnexecutorch/tests/integration/VoiceActivityDetectionTest.cpp
Due: format-objc

test(stt): add VAD integration coverage
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SpeechToTextTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
Due: format-objc

fix(jsi): add std::span<const float> conversion specialization
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
Due: format-objc

feat: voice-activity streaming mode & inner-vad for speech-to-text module (#1160)
  apps/llm/package.json
  apps/speech/App.tsx
  apps/speech/screens/SpeechToTextScreen.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
  apps/speech/screens/VoiceActivityDetectionScreen.tsx
  docs/docs/03-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/03-hooks/01-natural-language-processing/useVAD.md
  docs/docs/04-typescript-api/01-natural-language-processing/SpeechToTextModule.md
  docs/docs/04-typescript-api/01-natural-language-processing/VADModule.md
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/schema/ASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/schema/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/DecodingOptions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/Options.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SpeechToTextTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/VoiceActivityDetectionTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useVAD.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
  packages/react-native-executorch/src/types/stt.ts
  packages/react-native-executorch/src/types/vad.ts
  yarn.lock
Due: lint, types, format-js, format-objc, format-other, spell-check-other

docs: add 0.9.x to compatibility table (#1174)
  docs/docs/07-other/01-compatibility.mdx
Due: none

fix(docs): update useSpeechToText and useVAD documentation
  docs/docs/03-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/03-hooks/01-natural-language-processing/useVAD.md
  docs/docs/04-typescript-api/01-natural-language-processing/SpeechToTextModule.md
Due: format-other, spell-check-other

fix(docs): fix useSpeechToText and useVAD return types in docs
  docs/docs/03-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/03-hooks/01-natural-language-processing/useVAD.md
Due: format-other, spell-check-other

fix(docs): update TextToSpeechModule examples to include streamInsert usage
  docs/docs/04-typescript-api/01-natural-language-processing/TextToSpeechModule.md
Due: format-other, spell-check-other

fix: adjust MarkdownComponent alignment and wrap in a container for MessageItem
  apps/llm/components/MarkdownComponent.tsx
  apps/llm/components/MessageItem.tsx
Due: lint, types, format-js

fix(docs): update TextToSpeechModule examples to use stream method with text parameter
  docs/docs/04-typescript-api/01-natural-language-processing/TextToSpeechModule.md
Due: format-other, spell-check-other

fix: fix markdown list rendering collapse in LLM example app (#1179)
  apps/llm/components/MarkdownComponent.tsx
  apps/llm/components/MessageItem.tsx
Due: lint, types, format-js

docs: fix docs related to speech models (#1177)
  docs/docs/03-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/03-hooks/01-natural-language-processing/useVAD.md
  docs/docs/04-typescript-api/01-natural-language-processing/SpeechToTextModule.md
Due: format-other, spell-check-other

feat(computer-vision)!: return file URI from TextToImage instead of base64
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/package.json
  docs/docs/03-hooks/02-computer-vision/useTextToImage.md
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextToImageTest.cpp
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
  packages/react-native-executorch/src/types/tti.ts
  yarn.lock
Due: lint, types, format-js, format-objc, format-other, spell-check-other

gemma4 audio
  apps/llm/app/multimodal_llm/index.tsx
  apps/llm/components/llmModels.ts
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/runner/constants.h
  packages/react-native-executorch/common/runner/encoders/audio_encoder.cpp
  packages/react-native-executorch/common/runner/encoders/audio_encoder.h
  packages/react-native-executorch/common/runner/multimodal_input.h
  packages/react-native-executorch/common/runner/multimodal_prefiller.cpp
  packages/react-native-executorch/common/runner/multimodal_prefiller.h
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.h
  packages/react-native-executorch/src/constants/llmDefaults.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-objc

feat(computer-vision)!: TextToImage returns file URI instead of base64 (#1180)
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/package.json
  docs/docs/03-hooks/02-computer-vision/useTextToImage.md
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextToImageTest.cpp
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
  packages/react-native-executorch/src/types/tti.ts
  yarn.lock
Due: lint, types, format-js, format-objc, format-other, spell-check-other

Add building from source entry in docs
  docs/docs/01-fundamentals/01-getting-started.md
Due: format-other, spell-check-other

fix(build): pack phonemis submodule sources in npm tarball
  packages/react-native-executorch/scripts/create-package.sh
Due: none

Add building from source entry in docs (#1181)
  docs/docs/01-fundamentals/01-getting-started.md
Due: format-other, spell-check-other

fix(build): pack phonemis submodule sources in npm tarball (#1182)
  packages/react-native-executorch/scripts/create-package.sh
Due: none

code cleanup
  packages/react-native-executorch/common/runner/multimodal_decoder_runner.h
  packages/react-native-executorch/common/runner/multimodal_prefiller.cpp
  packages/react-native-executorch/common/runner/text_decoder_runner.cpp
  packages/react-native-executorch/common/runner/text_decoder_runner.h
  packages/react-native-executorch/common/runner/text_prefiller.cpp
  packages/react-native-executorch/common/runner/text_prefiller.h
  packages/react-native-executorch/common/runner/text_runner.cpp
Due: format-objc

Bump version to v0.10.0
  RELEASE.md
  packages/bare-resource-fetcher/package.json
  packages/expo-resource-fetcher/package.json
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/constants/versions.ts
Due: lint, types, format-js, format-other, spell-check-other

chore: Bump version to v0.10.0 (#1183)
  RELEASE.md
  packages/bare-resource-fetcher/package.json
  packages/expo-resource-fetcher/package.json
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/constants/versions.ts
Due: lint, types, format-js, format-other, spell-check-other

test(native): unify model URLs on v0.9.0 + fix ssdlite shape assertion
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ObjectDetectionTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
Due: format-objc

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
