Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

feat: remove unused bindJSIMethods
  packages/react-native-executorch/src/modules/BaseModule.ts
Due: lint, types, format-js

feat: initial version of vision model API
  apps/computer-vision/app/object_detection/index.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/TypeConcepts.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/ImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.h
  packages/react-native-executorch/src/hooks/useModule.ts
  packages/react-native-executorch/src/types/objectDetection.ts
Due: lint, types, format-js, format-objc

refactor: add or remove empty lines
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/ImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.h
Due: format-objc

feat: use TensorPtrish type for Pixel data input
  apps/computer-vision/app/object_detection/index.tsx
  packages/react-native-executorch/src/types/objectDetection.ts
Due: lint, types, format-js

refactor: changes suggested in review
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
Due: format-objc

fix: not existing error type, add comments to JSI code
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/FunctionHelpers.h
Due: format-objc

fix: errors after rebase
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/FunctionHelpers.h
  yarn.lock
Due: format-objc

chore: remove unused ImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/ImageSegmentation.cpp
Due: format-objc

feat: add example screen with vision camera to computer vision app
  .yarn/patches/react-native-vision-camera@npm-5.0.0-beta.1.patch
  yarn.lock
Due: none

feat: frame extractor for zero-copy approach
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.h
Due: format-objc

fix(android): object detection not working on android
  .yarn/patches/react-native-vision-camera@npm-5.0.0-beta.1.patch
Due: none

feat: add tests for generateFromPixels method
  apps/computer-vision/app/object_detection/index.tsx
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
Due: lint, types, format-js

docs: add correct api references
  docs/docs/06-api-reference/classes/ImageSegmentationModule.md
Due: format-other, spell-check-other

feat: unify frame extraction and preprocessing
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.h
Due: format-objc

feat: suggested changes / improve comments
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/TypeConcepts.h
Due: format-objc

feat: initial version of vision model API
  apps/computer-vision/app/object_detection/index.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/TypeConcepts.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.h
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
Due: lint, types, format-js, format-objc

refactor: errors, logs, unnecessary comments, use existing TensorPtr
  apps/computer-vision/app/object_detection/index.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
Due: lint, types, format-js, format-objc

refactor: add or remove empty lines
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.h
Due: format-objc

fix: errors after rebase
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
Due: format-objc

chore: add suggestions from code review
  apps/bare_rn/tsconfig.json
  packages/bare-resource-fetcher/src/ResourceFetcher.ts
Due: lint, types, format-js, format-other

fix: rebase things
  apps/computer-vision/app/object_detection/index.tsx
  packages/react-native-executorch/src/hooks/computer_vision/useImageSegmentation.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
Due: lint, types, format-js

chore: remove comment
  apps/computer-vision/app/vision_camera_live/index.tsx
Due: lint, types, format-js

feat: add dedicated vision camera screen showcasing classification/segmentation/object detection
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/classification_live/index.tsx
  apps/computer-vision/app/image_segmentation_live/index.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/object_detection_live/index.tsx
  apps/computer-vision/app/ocr_live/index.tsx
  apps/computer-vision/app/style_transfer_live/index.tsx
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/app/vision_camera_live/index.tsx
Due: lint, types, format-js

fix: drawing style transfer image
  apps/computer-vision/app/style_transfer/index.tsx
Due: lint, types, format-js

fix: tests
  apps/computer-vision/app/style_transfer/index.tsx
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/StyleTransferTest.cpp
Due: lint, types, format-js, format-objc

feat: add possibility to switch between front/back camera
  apps/computer-vision/app/vision_camera/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
Due: lint, types, format-js, format-objc

fix: rotation issue
  apps/computer-vision/app/vision_camera/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
Due: lint, types, format-js, format-objc

fix: issues after rebase
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/package.json
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/TypeConcepts.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.h
  packages/react-native-executorch/src/hooks/computer_vision/useSemanticSegmentation.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/SemanticSegmentationModule.ts
  yarn.lock
Due: lint, types, format-js, format-objc, format-other

refactor: apply code review fixes for vision camera integration
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
Due: format-objc

feat: cache getInputShape result across inferences
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
Due: format-objc

fix: rebase conflict
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
Due: format-objc

feat: some improvements
  apps/computer-vision/app/object_detection/index.tsx
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.h
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.h
  packages/react-native-executorch/src/controllers/BaseOCRController.ts
  packages/react-native-executorch/src/hooks/computer_vision/useImageSegmentation.ts
  packages/react-native-executorch/src/hooks/computer_vision/useSemanticSegmentation.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/SemanticSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
Due: lint, types, format-js, format-objc

chore: completely remove api reference
  docs/docs/06-api-reference/classes/ImageSegmentationModule.md
Due: format-other, spell-check-other

reafactor: small fixes
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.cpp
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js, format-objc

chore: image_segmentation -> semantic_segmentation - namespace
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/Types.h
Due: format-objc

refactor: unify the contract the visionModels follow
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/TypeConcepts.h
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
Due: format-objc

feat: seperate functions for pixelData/Frame -> Mat conversion
  packages/react-native-executorch/common/rnexecutorch/host_objects/JSTensorViewIn.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/TypeConcepts.h
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.h
  packages/react-native-executorch/src/modules/computer_vision/SemanticSegmentationModule.ts
Due: lint, types, format-js, format-objc

feat: remove BaseLabeldModule and use VisionLabeledModule
  packages/react-native-executorch/src/modules/BaseLabeledModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/SemanticSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionLabeledModule.ts
Due: lint, types, format-js

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
