Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

fix: check api reference before building full docs
  .github/workflows/docs-build-check.yml
Due: format-other

fix: update typedoc config to force docs generation
  docs/typedoc.json
Due: format-other

fix: revert ts api testing change
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
Due: lint, types, format-js

fix: path pattern
  .github/workflows/docs-build-check.yml
Due: format-other

debug: show diff
  .github/workflows/docs-build-check.yml
Due: format-other

feat!: make image segmentation generic, general refactor (#814)
  .cspell-wordlist.txt
  apps/computer-vision/app/image_segmentation/index.tsx
  docs/docs/03-hooks/02-computer-vision/useImageSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/ImageSegmentationModule.md
  docs/docs/06-api-reference/enumerations/SelfieSegmentationLabel.md
  docs/docs/06-api-reference/type-aliases/LabelEnum.md
  docs/docs/06-api-reference/type-aliases/ModelNameOf.md
  docs/docs/06-api-reference/type-aliases/ModelSources.md
  docs/docs/06-api-reference/type-aliases/SegmentationConfig.md
  docs/docs/06-api-reference/type-aliases/SegmentationLabels.md
  docs/docs/06-api-reference/type-aliases/SegmentationModelName.md
  docs/docs/06-api-reference/type-aliases/Triple.md
  docs/docs/06-api-reference/variables/SELFIE_SEGMENTATION.md
  packages/react-native-executorch/common/rnexecutorch/Log.h
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.h
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/BaseImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/BaseImageSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.cpp
  packages/react-native-executorch/src/constants/commonVision.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/hooks/computer_vision/useImageSegmentation.ts
  packages/react-native-executorch/src/hooks/useModule.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
  packages/react-native-executorch/src/types/common.ts
  packages/react-native-executorch/src/types/genericImageSegmentation.ts
  packages/react-native-executorch/src/types/imageSegmentation.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

fix: typedoc config
  docs/typedoc.json
Due: format-other

chore: update reset() method error message
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
Due: format-objc

fix: bump default context buffer tokens
  packages/react-native-executorch/src/constants/llmDefaults.ts
Due: lint, types, format-js

chore: add prettier step to build scripts
  docs/docusaurus.config.js
  docs/package.json
  docs/scripts/build-version-docs.sh
Due: lint, types, format-js, format-other

chore: add prettier to yarn scripts
  .github/workflows/docs-build-check.yml
  docs/package.json
Due: format-other

chore: normalize line endings
  .gitattributes
Due: none

debug
  .github/workflows/docs-build-check.yml
Due: format-other

debug: try ci workflow on macos
  .github/workflows/docs-build-check.yml
Due: format-other

fix/chore: extract to separate workflow & add ref
  .gitattributes
  .github/workflows/api-reference-up-to-date-check.yml
Due: format-other

fix: install dependencies in the root
  .github/workflows/api-reference-up-to-date-check.yml
Due: format-other

test: ci should fail
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
Due: lint, types, format-js

chore: revert testing api-reference change
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
Due: lint, types, format-js

fix: make build-version-docs.sh executable
  docs/scripts/build-version-docs.sh
Due: none

move prettier to script to fix docs version building
  docs/package.json
  docs/scripts/build-version-docs.sh
Due: format-other

fix: revert device for docs-build-check workflow
  .github/workflows/docs-build-check.yml
Due: format-other

chore: rename prettier script
  docs/package.json
  docs/scripts/build-version-docs.sh
Due: format-other

fix: use corrected script name
  .github/workflows/api-reference-up-to-date-check.yml
Due: format-other

fix: image segmentation category case mismatch
  docs/docs/06-api-reference/index.md
  docs/docs/06-api-reference/typedoc-sidebar.cjs
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-other, spell-check-other

fix: ask for permissions even if denied at some point
  apps/llm/app.json
  apps/llm/app/llm_tool_calling/index.tsx
  apps/llm/utils/tools.ts
Due: lint, types, format-js, format-other

chore: update command in RELEASE.md
  RELEASE.md
Due: format-other, spell-check-other

chore: revert model
  apps/llm/app/llm_tool_calling/index.tsx
Due: lint, types, format-js

fix: trigger workflow on any change to TS api
  .github/workflows/api-reference-up-to-date-check.yml
Due: format-other

fix: paths
  .github/workflows/api-reference-up-to-date-check.yml
Due: format-other

fix: trigger workflow on any change to TS api (#835)
  .github/workflows/api-reference-up-to-date-check.yml
Due: format-other

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
