Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

Add RNRepo to ci builds
  .github/workflows/build-android-llm-example.yml
  apps/llm/app.json
  apps/llm/package.json
  yarn.lock
Due: format-other

Build release llm example app
  .github/workflows/build-android-llm-example.yml
Due: format-other

add denyList
  rnrepo.config.json
Due: format-other

feat: add text prompts and modify the example app
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/fast_sam/index.tsx
  apps/computer-vision/app/index.tsx
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils/segmentAnythingPrompts.ts
Due: lint, types, format-js

docs: add initial docs generated
  .cspell-wordlist.txt
  docs/docs/03-hooks/02-computer-vision/segment-anything.md
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
Due: format-other, spell-check-other

feat: rename FastSAM screen and update documentation links to Segment Anything
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/segment_anything/index.tsx
  docs/docs/03-hooks/02-computer-vision/segment-anything.md
Due: lint, types, format-js, format-other, spell-check-other

fix(podspec): exclude entire tests/ tree from pod sources
  packages/react-native-executorch/react-native-executorch.podspec
Due: none

fix(podspec): exclude entire tests/ tree from pod sources (#1123)
  packages/react-native-executorch/react-native-executorch.podspec
Due: none

Optimal streaming algorithm
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/schema/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/Word.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Utils.h
Due: format-objc

Update packages/react-native-executorch/src/utils/segmentAnythingPrompts.ts
  packages/react-native-executorch/src/utils/segmentAnythingPrompts.ts
Due: lint, types, format-js

Revert back to 100ms refresh rate
  apps/speech/screens/SpeechToTextScreen.tsx
Due: lint, types, format-js

refactor: rename paraphrase-multilingual export to _QUANTIZED suffix
  apps/text-embeddings/app/text-embeddings/index.tsx
  docs/docs/02-benchmarks/model-size.md
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/types/textEmbeddings.ts
Due: lint, types, format-js, format-other, spell-check-other

mvp
  apps/computer-vision/app.json
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/webrtc_test/index.tsx
  packages/react-native-executorch-webrtc/README.md
  packages/react-native-executorch-webrtc/android/CMakeLists.txt
  packages/react-native-executorch-webrtc/android/build.gradle
  packages/react-native-executorch-webrtc/android/src/main/AndroidManifest.xml
  packages/react-native-executorch-webrtc/android/src/main/cpp/FrameProcessorBridge.cpp
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchFrameProcessor.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchFrameProcessorFactory.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchWebRTC.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchWebRTCModule.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchWebRTCPackage.kt
  packages/react-native-executorch-webrtc/package.json
  packages/react-native-executorch-webrtc/react-native.config.js
  packages/react-native-executorch-webrtc/src/index.ts
  packages/react-native-executorch-webrtc/src/useWebRTCFrameProcessor.ts
  packages/react-native-executorch-webrtc/tsconfig.json
  yarn.lock
Due: lint, types, format-js, format-objc, format-other, spell-check-other

refactor
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchFrameProcessor.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchWebRTC.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchWebRTCModule.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/MaskPostProcessor.java
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/NewExecutorchFrameProcessor.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/NewExecutorchFrameProcessorFactory.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/gl/GlBlurRenderer.java
Due: none

feat: android gpu acceleration
  packages/react-native-executorch-webrtc/android/src/main/cpp/FrameProcessorBridge.cpp
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchFrameProcessor.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchWebRTC.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchWebRTCModule.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/NewExecutorchFrameProcessor.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/NewExecutorchFrameProcessorFactory.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/gl/FullscreenQuad.java
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/gl/GlBlurRenderer.java
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/gl/GlFramebuffer.java
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/gl/GlProgram.java
  packages/react-native-executorch-webrtc/src/index.ts
  packages/react-native-executorch-webrtc/src/useWebRTCFrameProcessor.ts
Due: lint, types, format-js, format-objc

fix: build issues
  packages/react-native-executorch-webrtc/android/CMakeLists.txt
  packages/react-native-executorch-webrtc/android/build.gradle
  packages/react-native-executorch-webrtc/android/src/main/AndroidManifest.xml
  packages/react-native-executorch-webrtc/react-native-executorch-webrtc.podspec
Due: none

(mvp)ios works
  packages/react-native-executorch-webrtc/android/CMakeLists.txt
  packages/react-native-executorch-webrtc/android/build.gradle
  packages/react-native-executorch-webrtc/android/gradle/wrapper/gradle-wrapper.jar
  packages/react-native-executorch-webrtc/android/gradle/wrapper/gradle-wrapper.properties
  packages/react-native-executorch-webrtc/android/gradlew
  packages/react-native-executorch-webrtc/android/gradlew.bat
  packages/react-native-executorch-webrtc/android/src/main/cpp/FrameProcessorBridge.cpp
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchFrameProcessor.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchWebRTC.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchWebRTCModule.kt
  packages/react-native-executorch-webrtc/ios/ExecutorchFrameProcessor.h
  packages/react-native-executorch-webrtc/ios/ExecutorchFrameProcessor.mm
  packages/react-native-executorch-webrtc/ios/ExecutorchWebRTC.h
  packages/react-native-executorch-webrtc/ios/ExecutorchWebRTC.mm
  packages/react-native-executorch-webrtc/package.json
  packages/react-native-executorch-webrtc/react-native-executorch-webrtc.podspec
  packages/react-native-executorch-webrtc/react-native.config.js
  packages/react-native-executorch-webrtc/src/index.ts
  packages/react-native-executorch-webrtc/src/useWebRTCFrameProcessor.ts
Due: lint, types, format-js, format-objc, format-other

some changes
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchFrameProcessor.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchWebRTCModule.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/MaskPostProcessor.java
  packages/react-native-executorch-webrtc/ios/ExecutorchFrameProcessor.h
  packages/react-native-executorch-webrtc/ios/ExecutorchFrameProcessor.mm
  packages/react-native-executorch-webrtc/ios/ExecutorchWebRTC.mm
  packages/react-native-executorch-webrtc/package.json
  packages/react-native-executorch-webrtc/src/BackgroundBlur.ts
  packages/react-native-executorch-webrtc/src/NativeBackgroundBlur.ts
  packages/react-native-executorch-webrtc/src/index.ts
  packages/react-native-executorch-webrtc/src/useBackgroundBlur.ts
  packages/react-native-executorch-webrtc/src/useWebRTCFrameProcessor.ts
Due: lint, types, format-js, format-objc, format-other

works a bit better tho
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchFrameProcessor.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/MaskPostProcessor.java
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/gl/GlBlurRenderer.java
Due: none

blur improvements
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchFrameProcessor.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/MaskPostProcessor.java
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/gl/GlBlurRenderer.java
Due: none

(wip)i think the blur sort of works
  apps/computer-vision/app/webrtc_test/index.tsx
  packages/react-native-executorch-webrtc/android/src/main/cpp/FrameProcessorBridge.cpp
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchFrameProcessor.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchFrameProcessorFactory.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchWebRTC.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchWebRTCModule.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchWebRTCPackage.kt
  packages/react-native-executorch-webrtc/src/index.ts
Due: lint, types, format-js, format-objc

deps: update lockfile
  yarn.lock
Due: none

chore: remove webrtc from example app
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/webrtc_test/index.tsx
Due: lint, types, format-js

chore: lint
  .cspell-wordlist.txt
  packages/react-native-executorch-webrtc/src/BackgroundBlur.ts
  packages/react-native-executorch-webrtc/src/index.ts
  packages/react-native-executorch-webrtc/src/useBackgroundBlur.ts
Due: lint, types, format-js

chore: move rotation to a separate function
  packages/react-native-executorch-webrtc/android/src/main/cpp/FrameProcessorBridge.cpp
Due: format-objc

chore: update app.json in example app
  apps/computer-vision/app.json
Due: format-other

chore: delete emojis from logs
  packages/react-native-executorch-webrtc/android/src/main/cpp/FrameProcessorBridge.cpp
Due: format-objc

chore: remove mask postprocessing from java coe
  packages/react-native-executorch-webrtc/android/build.gradle
  packages/react-native-executorch-webrtc/android/src/main/cpp/FrameProcessorBridge.cpp
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchFrameProcessor.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/MaskPostProcessor.java
  packages/react-native-executorch-webrtc/src/BackgroundBlur.ts
  packages/react-native-executorch-webrtc/src/index.ts
Due: lint, types, format-js, format-objc

chore: demo app leftovers
  apps/computer-vision/app/_layout.tsx
Due: lint, types, format-js

chore: use int32_t instead of plain int
  packages/react-native-executorch-webrtc/android/src/main/cpp/FrameProcessorBridge.cpp
Due: format-objc

fix: streamlide threading model, ensure podspec is correct for monorepos
  packages/react-native-executorch-webrtc/android/src/main/cpp/FrameProcessorBridge.cpp
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchFrameProcessor.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchFrameProcessorFactory.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchWebRTC.kt
  packages/react-native-executorch-webrtc/ios/ExecutorchFrameProcessor.h
  packages/react-native-executorch-webrtc/ios/ExecutorchFrameProcessor.mm
  packages/react-native-executorch-webrtc/ios/ExecutorchWebRTC.mm
  packages/react-native-executorch-webrtc/package.json
  packages/react-native-executorch-webrtc/react-native-executorch-webrtc.podspec
Due: format-objc, format-other

chore: review changes
  packages/react-native-executorch-webrtc/android/build.gradle
  packages/react-native-executorch-webrtc/android/src/main/cpp/FrameProcessorBridge.cpp
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/gl/GlBlurRenderer.java
  packages/react-native-executorch-webrtc/ios/ExecutorchFrameProcessor.mm
Due: format-objc

chore: cleanup jni
  packages/react-native-executorch-webrtc/android/src/main/cpp/FrameProcessorBridge.cpp
Due: format-objc

chore: ensure proper cleanup
  packages/react-native-executorch-webrtc/android/src/main/cpp/FrameProcessorBridge.cpp
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchFrameProcessor.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchFrameProcessorFactory.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchWebRTC.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchWebRTCModule.kt
  packages/react-native-executorch-webrtc/ios/ExecutorchFrameProcessor.mm
  packages/react-native-executorch-webrtc/src/useBackgroundBlur.ts
Due: lint, types, format-js, format-objc

docs: readme tweaks
  packages/react-native-executorch-webrtc/README.md
Due: format-other, spell-check-other

docs: add docs
  docs/docs/05-utilities/01-webrtc-integration.md
Due: format-other, spell-check-other

chore: update lockfile
  yarn.lock
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
