Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, format-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx tsc --noEmit
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}

docs: update docs
  docs/docs/computer-vision/useObjectDetection.md
  docs/docs/typescript-api/ClassificationModule.md
  docs/docs/typescript-api/ImageSegmentationModule.md
  docs/docs/typescript-api/ObjectDetectionModule.md
  docs/docs/typescript-api/StyleTransferModule.md
Due: format-other

docs: update C++ changes (#365)
  docs/docs/computer-vision/useObjectDetection.md
  docs/docs/typescript-api/ClassificationModule.md
  docs/docs/typescript-api/ImageSegmentationModule.md
  docs/docs/typescript-api/ObjectDetectionModule.md
  docs/docs/typescript-api/StyleTransferModule.md
Due: format-other

feat: add OCR scaffolding
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
Due: format-objc

Enable passing extra args to load function in classes dervied from BaseModule
  packages/react-native-executorch/src/modules/BaseModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TokenizerModule.ts
Due: lint, types, format-js

chore: add a subset of ScalarTypes to cspell-wordlist
  .cspell-wordlist.txt
Due: none

Enable passing extra args to load function in classes derived from BaseModule (#381)
  packages/react-native-executorch/src/modules/BaseModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TokenizerModule.ts
Due: lint, types, format-js

Add docs for meanPooliong
  docs/docs/natural-language-processing/useTextEmbeddings.md
  docs/docs/typescript-api/TextEmbeddingsModule.md
Due: format-other

Typos
  docs/docs/natural-language-processing/useTextEmbeddings.md
  packages/react-native-executorch/ios/RnExecutorch/models/text_embeddings/TextEmbeddingsModel.mm
Due: format-objc, format-other

Fix on ios
  packages/react-native-executorch/ios/RnExecutorch/models/text_embeddings/TextEmbeddingsModel.mm
Due: format-objc

Adde meanPooling flag for embedding models
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/TextEmbeddings.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/models/TextEmbeddings/TextEmbeddingsModel.kt
  packages/react-native-executorch/ios/RnExecutorch/TextEmbeddings.mm
  packages/react-native-executorch/ios/RnExecutorch/models/text_embeddings/TextEmbeddingsModel.h
  packages/react-native-executorch/ios/RnExecutorch/models/text_embeddings/TextEmbeddingsModel.mm
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextEmbeddings.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/native/NativeTextEmbeddings.ts
Due: lint, types, format-js, format-objc

feat: Flag for mean pooling text embeddings (#384)
  docs/docs/natural-language-processing/useTextEmbeddings.md
  docs/docs/typescript-api/TextEmbeddingsModule.md
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/TextEmbeddings.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/models/TextEmbeddings/TextEmbeddingsModel.kt
  packages/react-native-executorch/ios/RnExecutorch/TextEmbeddings.mm
  packages/react-native-executorch/ios/RnExecutorch/models/text_embeddings/TextEmbeddingsModel.h
  packages/react-native-executorch/ios/RnExecutorch/models/text_embeddings/TextEmbeddingsModel.mm
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextEmbeddings.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/native/NativeTextEmbeddings.ts
Due: lint, types, format-js, format-objc, format-other

chore: add a subset of ScalarTypes to cspell-wordlist (#390)
  .cspell-wordlist.txt
Due: none

work in progress - fix:switching between screens while model is generating
  apps/llm/app/_layout.tsx
  apps/llm/app/llm/index.tsx
  apps/llm/app/llm_tool_calling/index.tsx
  apps/llm/app/voice_chat/index.tsx
  apps/llm/contexts/LlmContext.tsx
  yarn.lock
Due: lint, types, format-js

feat: clear list button and disabled buttons logic for apps/text-embeddings
  apps/text-embeddings/App.tsx
  apps/text-embeddings/ios/Podfile.lock
Due: lint, types, format-js

Update jitpack.yml
  jitpack.yml
Due: format-other

Update jitpack.yml (#392)
  jitpack.yml
Due: format-other

Fixed function in resource fetcher that produced the same name for different requires in development mode
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

fixed missing coma in docs
  docs/docs/natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.4.x/natural-language-processing/useLLM.md
Due: format-other

feat: add generic model loading
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/ConstructorHelpers.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/FunctionHelpers.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/TypeConcepts.h
Due: format-objc

fix: add comments
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/ConstructorHelpers.h
Due: format-objc

feat: add generic model loading (#395)
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/ConstructorHelpers.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/FunctionHelpers.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/TypeConcepts.h
Due: format-objc

fix: add object detection to installer check
  packages/react-native-executorch/src/index.tsx
Due: lint, types, format-js

chore: add TokenizerModule to RnExecutorchInstaller
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
Due: format-objc

wip
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.h
  packages/react-native-executorch/src/modules/natural_language_processing/NewTokenizerModule.ts
Due: lint, types, format-js, format-objc

wip
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/FileUtils.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/TypeConcepts.h
  packages/react-native-executorch/src/index.tsx
Due: lint, types, format-js, format-objc

missing comas
  README.md
  docs/docs/natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.4.x/natural-language-processing/useLLM.md
Due: format-other

fix: register TokenizerModule constructor & fix concept usages
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
Due: format-objc

fix: Fix function in resource fetcher that produced the same name for different requires in development mode (#396)
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js
