Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

Update packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.h
Due: format-objc

Adding interrupt
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/app/text_to_image/utils.ts
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/src/hooks/computer_vision/useTextToImage.ts
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
Due: lint, types, format-js, format-objc

Cleanup includes
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.h
Due: format-objc

Extract encoder class
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Encoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Encoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
Due: format-objc

Adding callback on inference step
  apps/computer-vision/app/text_to_image/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/src/hooks/computer_vision/useTextToImage.ts
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
Due: lint, types, format-js, format-objc

Includes cleanup
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.h
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.cpp
Due: format-objc

Update app layout
  apps/computer-vision/app/text_to_image/index.tsx
Due: lint, types, format-js

Displaying progress in app
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/components/ProgressBar.tsx
Due: lint, types, format-js

Update packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
Due: format-objc

Moving postprocess to the model
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.h
Due: format-objc

Manage input inside UNet
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.h
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
Due: format-objc

Return base 64 from TextToImageModule
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/app/text_to_image/utils.ts
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/src/hooks/computer_vision/useTextToImage.ts
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
Due: lint, types, format-js, format-objc

Docs and model urls
  docs/docs/02-hooks/02-computer-vision/useImageEmbeddings.md
  docs/docs/02-hooks/02-computer-vision/useTextToImage.md
  docs/docs/03-typescript-api/02-computer-vision/TextToImageModule.md
  docs/static/img/castle.png
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-other, spell-check-other

Update docs and model urls
  apps/computer-vision/app/text_to_image/index.tsx
  docs/docs/02-hooks/02-computer-vision/useTextToImage.md
  docs/docs/03-typescript-api/02-computer-vision/TextToImageModule.md
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-other, spell-check-other

Address changes from review
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Encoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Encoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.h
Due: format-objc

Update docs
  .cspell-wordlist.txt
  docs/docs/02-hooks/02-computer-vision/useTextToImage.md
  docs/docs/03-typescript-api/02-computer-vision/TextToImageModule.md
  docs/docs/04-benchmarks/inference-time.md
  docs/docs/04-benchmarks/memory-usage.md
  docs/docs/04-benchmarks/model-size.md
  docs/static/img/castle.png
  docs/static/img/castle256.png
  docs/static/img/castle512.png
Due: format-other, spell-check-other

One model for different image sizes
  apps/computer-vision/app/text_to_image/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.h
  packages/react-native-executorch/src/hooks/computer_vision/useTextToImage.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
Due: lint, types, format-js, format-objc

More changes
  .cspell-wordlist.txt
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.cpp
Due: format-objc

Address changes from review
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
Due: lint, types, format-js, format-objc

Use dynamic shaped model, add numSteps button
  apps/computer-vision/app/text_to_image/index.tsx
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/hooks/computer_vision/useTextToImage.ts
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
Due: lint, types, format-js

Minor changes
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
Due: format-objc

Bulk fetch in t2i module
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.h
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
Due: lint, types, format-js, format-objc

Redesign demo app
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/components/BottomBarWithTextInput.tsx
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
Due: lint, types, format-js

Address changes from review
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Encoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-objc

Update docs - seed value
  docs/docs/02-hooks/02-computer-vision/useTextToImage.md
  docs/docs/03-typescript-api/02-computer-vision/TextToImageModule.md
Due: format-other, spell-check-other

Adding seed value
  docs/docs/02-hooks/02-computer-vision/useTextToImage.md
  docs/docs/03-typescript-api/02-computer-vision/TextToImageModule.md
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.h
  packages/react-native-executorch/src/hooks/computer_vision/useTextToImage.ts
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

Minor fix in app
  apps/computer-vision/app/text_to_image/index.tsx
Due: lint, types, format-js

Update model urls
  apps/computer-vision/app/text_to_image/index.tsx
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

sort of works
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/android/src/main/cpp/CMakeLists.txt
Due: none

move the rn-specific setup to top-level cmake
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/android/src/main/cpp/CMakeLists.txt
Due: none

update build.gradle
  packages/react-native-executorch/android/build.gradle
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
