Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, format-other

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

chore: use .asNumber() instead of getValue<int>
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
Due: format-objc

chore: 🧹✨
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/bindings/ExecutorchModule.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/utils/TypeConstraints.h
Due: format-objc

chore: 🧹✨
  packages/react-native-executorch/common/rnexecutorch/TypeConcepts.h
  packages/react-native-executorch/common/rnexecutorch/bindings/ExecutorchModule.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
Due: format-objc

chore: 🧹✨
  packages/react-native-executorch/common/rnexecutorch/bindings/ExecutorchModule.cpp
  packages/react-native-executorch/common/rnexecutorch/bindings/ExecutorchModule.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiTensorView.h
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
Due: format-objc

fix: pass proper ScalarType
  packages/react-native-executorch/common/rnexecutorch/bindings/ExecutorchModule.cpp
Due: format-objc

refactor: make BaseModel an ExecutorchModule
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/TypeConcepts.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.h
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
Due: lint, types, format-js, format-objc

chore: get rid of ExecutorchModule, cleanup TypeConcepts
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/TypeConcepts.h
  packages/react-native-executorch/common/rnexecutorch/bindings/ExecutorchModule.cpp
  packages/react-native-executorch/common/rnexecutorch/bindings/ExecutorchModule.h
Due: format-objc

chore: improve error messages
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
Due: format-objc

chore: remove redundant log include
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
Due: format-objc

doesn't work :(
  packages/react-native-executorch/common/rnexecutorch/host_objects/JSTensorView.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JSTensorViewOut.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
  packages/react-native-executorch/src/modules/general/NewExecutorchModule.ts
Due: lint, types, format-js, format-objc

friendship with forward ended, now forwardjs is my best friend
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
Due: format-objc

feat: make basenonstaticmodule able to call all the functions from BaseModel.cpp
  packages/react-native-executorch/src/modules/BaseNonStaticModule.ts
Due: lint, types, format-js

chore: update return type of TS module
  packages/react-native-executorch/src/modules/BaseNonStaticModule.ts
  packages/react-native-executorch/src/modules/general/NewExecutorchModule.ts
Due: lint, types, format-js

chore: remove redundant comments
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
Due: format-objc

refactor: unify members of in/out tensors, adjust conversions & usage
  packages/react-native-executorch/common/rnexecutorch/host_objects/JSTensorViewIn.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JSTensorViewOut.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
Due: format-objc

chore: remove log include
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
Due: format-objc

chore: update TS types, refactor getTensorShape
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/src/types/common.ts
Due: lint, types, format-js, format-objc

chore: make memorySizeLowerBound a private member
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
Due: format-objc

chore: use .reserve() for input shapes
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
Due: format-objc

refactor: add a generic getValue for numeric types
  packages/react-native-executorch/common/rnexecutorch/TypeConcepts.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
Due: format-objc

chore: make creating input shapes prettier
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
Due: format-objc

fix: post rebase fixes
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
Due: format-objc

fix: disable voice chat on emulator and change to moonshine apps/llm/voice_chat
  apps/llm/app/voice_chat/index.tsx
  apps/llm/ios/Podfile.lock
  apps/llm/package.json
Due: lint, types, format-js, format-other

fix: remove redundant llm tool calling information
  apps/llm/app/llm_tool_calling/index.tsx
Due: lint, types, format-js

chore: Publish docs on push to main (#385)
  .github/workflows/publish_docs.yml
Due: format-other

fix: forward->generate
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.h
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
Due: lint, types, format-js, format-objc

chore: make load within basenonstaticmodule abstract
  packages/react-native-executorch/src/hooks/general/useExecutorchModule.ts
  packages/react-native-executorch/src/modules/BaseNonStaticModule.ts
  packages/react-native-executorch/src/modules/general/ExecutorchModule.ts
  packages/react-native-executorch/src/modules/general/NewExecutorchModule.ts
Due: lint, types, format-js

fix: update index.tsx
  packages/react-native-executorch/src/index.tsx
Due: lint, types, format-js

chore: change the usage of is_arithmetic<T>::value to is_arithmetic_v<T>
  packages/react-native-executorch/common/rnexecutorch/TypeConcepts.h
Due: format-objc

feat: port + refactor ExecutorchModule to C++ (#345)
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/TypeConcepts.h
  packages/react-native-executorch/common/rnexecutorch/TypeConstraints.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JSTensorViewIn.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JSTensorViewOut.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.h
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.h
  packages/react-native-executorch/src/hooks/general/useExecutorchModule.ts
  packages/react-native-executorch/src/index.tsx
  packages/react-native-executorch/src/modules/BaseNonStaticModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/general/ExecutorchModule.ts
  packages/react-native-executorch/src/types/common.ts
Due: lint, types, format-js, format-objc

docs: fix errors in docs in spoeech to text examples
  docs/docs/natural-language-processing/useSpeechToText.md
  docs/docs/typescript-api/SpeechToTextModule.md
Due: format-other

added to versioned docs
  docs/versioned_docs/version-0.3.x/hookless-api/SpeechToTextModule.md
  docs/versioned_docs/version-0.3.x/speech-to-text/useSpeechToText.md
  docs/versioned_docs/version-0.4.x/natural-language-processing/useSpeechToText.md
  docs/versioned_docs/version-0.4.x/typescript-api/SpeechToTextModule.md
Due: format-other

docs: fix errors in docs in spoech to text examples (#388)
  docs/docs/natural-language-processing/useSpeechToText.md
  docs/docs/typescript-api/SpeechToTextModule.md
  docs/versioned_docs/version-0.3.x/hookless-api/SpeechToTextModule.md
  docs/versioned_docs/version-0.3.x/speech-to-text/useSpeechToText.md
  docs/versioned_docs/version-0.4.x/natural-language-processing/useSpeechToText.md
  docs/versioned_docs/version-0.4.x/typescript-api/SpeechToTextModule.md
Due: format-other

feat: port ocr detector
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Types.h
Due: format-objc

docs: update classification, segmentation and style transfer
  docs/docs/computer-vision/useObjectDetection.md
  docs/docs/typescript-api/ClassificationModule.md
  docs/docs/typescript-api/ImageSegmentationModule.md
  docs/docs/typescript-api/StyleTransferModule.md
Due: format-other

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
