Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

chore: remove log includesw
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
Due: format-objc

chore: make functions noexcept & const
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
Due: format-objc

logging: improve error messages
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
Due: format-objc

fix: small changes requested by @NK
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

feat: add getFilesTotalSize functionality to ResourceFetcher
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

docs: add getFilesTotalSize to docs
  docs/docs/utilities/resource-fetcher.md
Due: format-other, spell-check-other

REALESE.md changes
  RELEASE.md
Due: format-other, spell-check-other

review changes
  CONTRIBUTING.md
  RELEASE.md
Due: format-other, spell-check-other

refactor: create ResourceFetcherUtils namespace
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js

review fixes
  CONTRIBUTING.md
  RELEASE.md
Due: format-other, spell-check-other

added step 13
  RELEASE.md
Due: format-other, spell-check-other

chore: remove unused include
  packages/react-native-executorch/common/runner/sampler.cpp
Due: format-objc

feat: add pffft code
  packages/react-native-executorch/common/pfft/pfft.c
  packages/react-native-executorch/common/pfft/pfft.h
Due: format-objc

feat: add hann window func
  packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.h
Due: format-objc

feat: add pffft wrappers
  packages/react-native-executorch/common/rnexecutorch/data_processing/FFT.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/FFT.h
Due: format-objc

chore: remove redundant comment
  packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.cpp
Due: format-objc

wip: whisper preprocessing
  packages/react-native-executorch/common/rnexecutorch/preprocessors/WhisperPreprocessor.cpp
  packages/react-native-executorch/common/rnexecutorch/preprocessors/WhisperPreprocessor.h
Due: format-objc

wip
  packages/react-native-executorch/common/rnexecutorch/models/EncoderDecoderBase.cpp
  packages/react-native-executorch/common/rnexecutorch/models/EncoderDecoderBase.h
  packages/react-native-executorch/common/rnexecutorch/models/stt/Whisper.h
Due: format-objc

chore: add clarifying comment to base model
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
Due: format-objc

Improve code and tests
  packages/react-native-executorch/common/rnexecutorch/Log.h
  packages/react-native-executorch/common/rnexecutorch/LogTest.cpp
Due: format-objc

Add one additional test for char*
  packages/react-native-executorch/common/rnexecutorch/LogTest.cpp
Due: format-objc

Simplify template for static arrays
  packages/react-native-executorch/common/rnexecutorch/Log.h
Due: format-objc

Add test for std::complex
  packages/react-native-executorch/common/rnexecutorch/LogTest.cpp
Due: format-objc

Add small improvements in tests
  packages/react-native-executorch/common/rnexecutorch/LogTest.cpp
Due: format-objc

Add test and description about template argument with size
  packages/react-native-executorch/common/rnexecutorch/Log.h
  packages/react-native-executorch/common/rnexecutorch/LogTest.cpp
Due: format-objc

Improve doxygen
  packages/react-native-executorch/common/rnexecutorch/Log.h
Due: format-objc

Refactor util classes in testing file
  packages/react-native-executorch/common/rnexecutorch/LogTest.cpp
Due: format-objc

Refactor tests in LogTest.cpp
  packages/react-native-executorch/common/rnexecutorch/LogTest.cpp
Due: format-objc

Add consts in test file
  packages/react-native-executorch/common/rnexecutorch/LogTest.cpp
Due: format-objc

One additional const
  packages/react-native-executorch/common/rnexecutorch/LogTest.cpp
Due: format-objc

Add one const and one obvious auto
  packages/react-native-executorch/common/rnexecutorch/LogTest.cpp
Due: format-objc

Add dectorations
  packages/react-native-executorch/common/rnexecutorch/LogTest.cpp
Due: format-objc

fix: change no null assertion to if statement
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/controllers/OCRController.ts
  packages/react-native-executorch/src/controllers/SpeechToTextController.ts
  packages/react-native-executorch/src/controllers/VerticalOCRController.ts
  packages/react-native-executorch/src/modules/BaseModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/general/ExecutorchModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TokenizerModule.ts
Due: lint, types, format-js

feat: treat fetch as resume if download is paused
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

Remove const qualifier that prevents moving
  packages/react-native-executorch/common/rnexecutorch/LogTest.cpp
Due: format-objc

feat: BREAKING CHANGE - delete fetchMultipleResources utilize only fetch
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/controllers/OCRController.ts
  packages/react-native-executorch/src/controllers/SpeechToTextController.ts
  packages/react-native-executorch/src/controllers/VerticalOCRController.ts
  packages/react-native-executorch/src/modules/BaseModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/general/ExecutorchModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TokenizerModule.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

Scope enum size and unify size_t usage
  packages/react-native-executorch/common/rnexecutorch/Log.h
  packages/react-native-executorch/common/rnexecutorch/LogTest.cpp
Due: format-objc

docs: update docs for resource fetcher
  docs/docs/utilities/resource-fetcher.md
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js, format-other, spell-check-other
