Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

docs(bench): state that runs must be release builds
  apps/benchmarks/BENCHMARK_SPEC.md
  apps/benchmarks/README.md
Due: format-other, spell-check-other

test(bench): gate at 37C, and never write a measurement twice
  apps/benchmarks/BENCHMARK_SPEC.md
  apps/benchmarks/README.md
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/config.ts
Due: lint, types, format-js, format-other, spell-check-other

feat(bench): measure ExecuTorch in-band, and build release
  apps/benchmarks/README.md
  apps/benchmarks/baselines/README.md
  apps/benchmarks/baselines/et-1.3.1-full-android-SM-S948B.json
  apps/benchmarks/scripts/compare.mjs
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/scripts/summarize.mjs
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
  packages/react-native-executorch/cpp/core/install.cpp
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/profiler.cpp
  packages/react-native-executorch/cpp/core/profiler.h
  packages/react-native-executorch/src/core/profiler.ts
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

test(bench): cover every published variant, 3 gated repeats each
  .cspell-wordlist.txt
  apps/benchmarks/App.tsx
  apps/benchmarks/BENCHMARK_SPEC.md
  apps/benchmarks/README.md
  apps/benchmarks/package.json
  apps/benchmarks/scripts/compare.mjs
  apps/benchmarks/scripts/generate-variants.mjs
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/scripts/summarize.mjs
  apps/benchmarks/scripts/variant-sizes.json
  apps/benchmarks/src/config.ts
  apps/benchmarks/src/drivers.ts
  apps/benchmarks/src/gate.ts
  apps/benchmarks/src/inputs.ts
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
  apps/benchmarks/src/storage.ts
  apps/benchmarks/src/suite.ts
  apps/benchmarks/src/variants.generated.ts
Due: lint, types, format-js, format-other, spell-check-other

feat(bench): measure a locally built .pte, and fail loudly on a dead collector
  apps/benchmarks/src/config.ts
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
Due: lint, types, format-js

refactor(bench): derive the variant list at runtime, drop the replay pass
  apps/benchmarks/App.tsx
  apps/benchmarks/BENCHMARK_SPEC.md
  apps/benchmarks/README.md
  apps/benchmarks/package.json
  apps/benchmarks/scripts/compare.mjs
  apps/benchmarks/scripts/fetch-variant-sizes.mjs
  apps/benchmarks/scripts/generate-variants.mjs
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/scripts/run-probe.mjs
  apps/benchmarks/scripts/summarize.mjs
  apps/benchmarks/src/config.ts
  apps/benchmarks/src/drivers.ts
  apps/benchmarks/src/nativeForward.ts
  apps/benchmarks/src/probe.ts
  apps/benchmarks/src/registry.ts
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
  apps/benchmarks/src/suite.ts
  apps/benchmarks/src/variants.generated.ts
Due: lint, types, format-js, format-other, spell-check-other

fix(bench): judge a measurement on where its iterations started
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
  apps/benchmarks/src/thermalWatch.ts
Due: lint, types, format-js

test(bench): stay plugged in, and refuse to measure in Battery Saver
  apps/benchmarks/scripts/run-benchmarks.mjs
Due: none

test(bench): hold the ceiling when the host cannot be reached
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/gate.ts
Due: lint, types, format-js

test(bench): take one measurement per variant, not three
  apps/benchmarks/BENCHMARK_SPEC.md
  apps/benchmarks/README.md
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/scripts/summarize.mjs
  apps/benchmarks/src/config.ts
Due: lint, types, format-js, format-other, spell-check-other

test(bench): stop pinning clocks by default
  apps/benchmarks/BENCHMARK_SPEC.md
  apps/benchmarks/README.md
  apps/benchmarks/scripts/run-benchmarks.mjs
Due: format-other, spell-check-other

feat(bench): let two devices be measured at the same time
  apps/benchmarks/README.md
  apps/benchmarks/scripts/run-benchmarks.mjs
Due: format-other, spell-check-other

fix(bench): hold every iteration at the gate temperature, not just the case
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/config.ts
  apps/benchmarks/src/registry.ts
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
  apps/benchmarks/src/suite.ts
  apps/benchmarks/src/thermalWatch.ts
  apps/benchmarks/src/time.ts
Due: lint, types, format-js

fix(bench): stop counting warmups in the ExecuTorch tally
  apps/benchmarks/scripts/summarize.mjs
  apps/benchmarks/src/runner.ts
  apps/benchmarks/src/time.ts
Due: lint, types, format-js

test(bench): add a raw-output probe for device-only defects
  apps/benchmarks/App.tsx
  apps/benchmarks/app.json
  apps/benchmarks/package.json
  apps/benchmarks/scripts/run-probe.mjs
  apps/benchmarks/src/config.ts
  apps/benchmarks/src/probe.ts
Due: lint, types, format-js, format-other

feat(models): wire the published Vulkan exports and bump nativeLibsVersion
  docs/docs/03-core-and-advanced/08-native-libraries.md
  packages/react-native-executorch/package.json
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-other, spell-check-other

Update packages/react-native-executorch/src/models.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

refactor(segmentation): rename indexMap to returnsIndex, use the single dim accessor
  packages/react-native-executorch/src/extensions/cv/tasks/semanticSegmentation.ts
Due: lint, types, format-js

feat(segmentation): accept an index-map output from Core ML models (#1463)
  packages/react-native-executorch/src/extensions/cv/tasks/semanticSegmentation.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(models): serve the Core ML text embedders as int8
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

style(models): fix indentation of the distiluse COREML_FP16 entry
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(models): serve the Core ML text embedders as int8 (#1465)
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

fix(libs): build the ExecuTorch Android libraries against c++_shared (#1468)
  docs/docs/03-core-and-advanced/08-native-libraries.md
  packages/react-native-executorch/package.json
Due: format-other, spell-check-other

docs: simplify binary size table, drop legacy troubleshooting entry
  docs/docs/03-core-and-advanced/08-native-libraries.md
  docs/docs/05-other/02-troubleshooting.md
Due: format-other, spell-check-other

fix(speech-example): stop TTS playback reliably at end of speech
  apps/speech/app/kokoro-text-to-speech/index.tsx
  apps/speech/app/text-to-speech/index.tsx
  apps/speech/hooks/useAudioPlayer.ts
Due: lint, types, format-js

refactor(cv): drop ternaries on keypoint channel count
  packages/react-native-executorch/src/extensions/cv/tasks/keypointDetection.ts
Due: lint, types, format-js

fix(libs): stop shipping backends the app opted out of (#1466)
  docs/docs/03-core-and-advanced/08-native-libraries.md
  packages/react-native-executorch/__tests__/api/modelVariants.test.ts
  packages/react-native-executorch/__tests__/legacy/installGuard.test.ts
  packages/react-native-executorch/android/build.gradle.kts
  packages/react-native-executorch/package.json
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/scripts/package-release-artifacts.sh
Due: lint, types, format-js, format-other, spell-check-other

fix(speech-example): fix audio playback not stopping at end of speech (#1460)
  apps/speech/app/kokoro-text-to-speech/index.tsx
  apps/speech/app/text-to-speech/index.tsx
  apps/speech/hooks/useAudioPlayer.ts
Due: lint, types, format-js

feat(android): add the Qualcomm QNN backend
  .cspell-wordlist.txt
  apps/computer-vision/app/classification/index.tsx
  docs/docs/03-core-and-advanced/08-native-libraries.md
  packages/react-native-executorch/__tests__/api/modelRegistry.test.ts
  packages/react-native-executorch/__tests__/api/modelVariants.test.ts
  packages/react-native-executorch/__tests__/support/fakeJsi.ts
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/android/build.gradle.kts
  packages/react-native-executorch/android/src/main/AndroidManifest.xml
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/RnExecutorchModule.kt
  packages/react-native-executorch/cpp/core/install.cpp
  packages/react-native-executorch/cpp/core/utils.cpp
  packages/react-native-executorch/cpp/core/utils.h
  packages/react-native-executorch/package.json
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/scripts/package-release-artifacts.sh
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

Update docs/docs/02-extensions/computer-vision/11-camera-integration.md
  docs/docs/02-extensions/computer-vision/11-camera-integration.md
Due: format-other, spell-check-other

refactor(cv): rename landmark z to depth and keypoint variants to 2d/3d
  docs/docs/02-extensions/computer-vision/04-pose-and-keypoints.md
  packages/react-native-executorch/__tests__/tasks/remainingTasks.test.ts
  packages/react-native-executorch/src/extensions/cv/tasks/keypointDetection.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-other, spell-check-other

fix(cv): level the face crop before meshing it
  apps/computer-vision/app/keypoint/index.tsx
  docs/docs/02-extensions/computer-vision/04-pose-and-keypoints.md
Due: lint, types, format-js, format-other, spell-check-other

docs(cv): spelling
  docs/docs/02-extensions/computer-vision/04-pose-and-keypoints.md
Due: format-other, spell-check-other

Update docs/docs/02-extensions/computer-vision/04-pose-and-keypoints.md
  docs/docs/02-extensions/computer-vision/04-pose-and-keypoints.md
Due: format-other, spell-check-other

build(libs): bump nativeLibsVersion to 0.10.4 for the PReLU fix
  packages/react-native-executorch/package.json
Due: format-other
