Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

chore: pin expo-router at workspace root to stabilize Babel hoisting
  .yarnrc.yml
  package.json
  yarn.lock
Due: format-other

fix(apps/llm): patch react-native-audio-api for Xcode 26.4 build
  .yarn/patches/react-native-audio-api-npm-0.8.4-d126439e20.patch
  apps/llm/package.json
  yarn.lock
Due: format-other

chore(apps/llm): bump react-native-audio-api to 0.12.0
  .yarn/patches/react-native-audio-api-npm-0.8.4-d126439e20.patch
  apps/llm/app/voice_chat/index.tsx
  apps/llm/metro.config.js
  apps/llm/package.json
  yarn.lock
Due: lint, types, format-js, format-other

fix: trigger counter increment only on pte files
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

chore: cleanup handleRemote
  packages/bare-resource-fetcher/src/handlers.ts
Due: lint, types, format-js

fix(ios): raise deployment target to 17.0 and stabilize Babel hoisting (#1085)
  .yarnrc.yml
  apps/bare-rn/ios/Podfile
  apps/bare-rn/ios/bare-rn.xcodeproj/project.pbxproj
  apps/computer-vision/app.json
  apps/llm/app.json
  apps/llm/app/voice_chat/index.tsx
  apps/llm/metro.config.js
  apps/llm/package.json
  apps/speech/app.json
  apps/speech/package.json
  apps/text-embeddings/app.json
  apps/text-embeddings/package.json
  package.json
  packages/react-native-executorch/ios/RnExecutorch.xcodeproj/project.pbxproj
  packages/react-native-executorch/react-native-executorch.podspec
  yarn.lock
Due: lint, types, format-js, format-other

docs: update model size and inference time tables for LLMs
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/model-size.md
Due: format-other, spell-check-other

Adjust typescript API to new tts structure
  apps/speech/app.json
  apps/speech/screens/Quiz.tsx
  apps/speech/screens/TextToSpeechLLMScreen.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/src/constants/tts/models.ts
  packages/react-native-executorch/src/constants/tts/voices.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js, format-objc, format-other

fix: prevent from triggering stats for the same models
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js

chore: add jsdoc @returns
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js

refactor: resource fetcher (#1023)
  packages/bare-resource-fetcher/src/ResourceFetcher.ts
  packages/bare-resource-fetcher/src/ResourceFetcherUtils.ts
  packages/bare-resource-fetcher/src/handlers.ts
  packages/expo-resource-fetcher/src/ResourceFetcher.ts
  packages/expo-resource-fetcher/src/ResourceFetcherUtils.ts
  packages/expo-resource-fetcher/src/handlers.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils/BaseResourceFetcherClass.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js

docs: clarify ResourceFetcher class docstring
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

chore(computer-vision): upgrade vision-camera to 5.0.4 and refresh doc links
  apps/computer-vision/package.json
  docs/docs/03-hooks/02-computer-vision/visioncamera-integration.md
  docs/versioned_docs/version-0.8.x/03-hooks/02-computer-vision/visioncamera-integration.md
  yarn.lock
Due: format-other, spell-check-other

chore(deps): disable react-native-vision-camera install scripts
  package.json
  yarn.lock
Due: format-other

chore(computer-vision): shim removed vision-camera 5.0.4 type exports
  apps/computer-vision/vision-camera-shims.d.ts
Due: lint, types, format-js

chore(computer-vision): migrate vision_camera screen to 5.x API
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/vision-camera-shims.d.ts
Due: lint, types, format-js

fix(llm): normalize multimodal image paths to file:// URIs
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js

fix(llm): normalize multimodal image paths to file:// URIs (#1090)
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js

fix(llm): auto-shape multimodal mediaPath messages in chat template
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js

fix(llm): auto-shape multimodal mediaPath messages in chat template (#1089)
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js

feat(resource-fetcher): add /auto side-effect entry points
  packages/bare-resource-fetcher/package.json
  packages/bare-resource-fetcher/src/auto.ts
  packages/expo-resource-fetcher/package.json
  packages/expo-resource-fetcher/src/auto.ts
Due: lint, types, format-js, format-other

docs(resource-fetcher): adopt /auto entry in apps and docs
  apps/bare-rn/App.tsx
  apps/computer-vision/app/_layout.tsx
  apps/llm/app/_layout.tsx
  apps/speech/App.tsx
  apps/text-embeddings/app/_layout.tsx
  docs/docs/01-fundamentals/01-getting-started.md
  docs/docs/01-fundamentals/02-loading-models.md
Due: lint, types, format-js, format-other, spell-check-other

fix(resource-fetcher): suggest /auto import in not-initialized error
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

Fix model picker & adjust to new Phonemis API
  apps/speech/components/ModelPicker.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
Due: lint, types, format-js, format-objc

gemma4 support
  packages/react-native-executorch/common/runner/base_llm_runner.cpp
  packages/react-native-executorch/common/runner/constants.h
  packages/react-native-executorch/common/runner/encoders/vision_encoder.cpp
  packages/react-native-executorch/common/runner/multimodal_decoder_runner.h
  packages/react-native-executorch/common/runner/multimodal_prefiller.cpp
  packages/react-native-executorch/common/runner/multimodal_prefiller.h
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/text_runner.cpp
  packages/react-native-executorch/common/runner/text_token_generator.h
  packages/react-native-executorch/common/runner/util.h
  packages/react-native-executorch/src/constants/llmDefaults.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-objc

Add Contributor Covenant Code of Conduct
  CODE_OF_CONDUCT.md
Due: format-other, spell-check-other

Add Contributor Covenant Code of Conduct (#1095)
  CODE_OF_CONDUCT.md
Due: format-other, spell-check-other

Add spanish
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/src/constants/tts/voices.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js

Add italian
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/src/constants/tts/voices.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js

Add basic polish, portugese and hindi
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/src/constants/tts/voices.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js

feat: add Qwen3.5 and Bielik v3.0 models
  .cspell-wordlist.txt
  apps/llm/components/llmModels.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js

fix: update Bielik model reference to non-quantized version
  apps/llm/components/llmModels.ts
Due: lint, types, format-js

chore(computer-vision): bump nitro-modules to 0.35.4 and nitro-image to 0.13.1
  apps/computer-vision/package.json
  yarn.lock
Due: format-other

feat: add DISTILUSE_BASE_MULTILINGUAL_CASED_V2 text embeddings model
  .cspell-wordlist.txt
  apps/text-embeddings/app/text-embeddings/index.tsx
  docs/docs/03-hooks/01-natural-language-processing/useTextEmbeddings.md
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/types/textEmbeddings.ts
Due: lint, types, format-js, format-other, spell-check-other

docs: update model size and inference time tables in docs for LLMs (#1074)
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/model-size.md
Due: format-other, spell-check-other

Revert "chore(computer-vision): migrate vision_camera screen to 5.x API"
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/vision-camera-shims.d.ts
Due: lint, types, format-js

chore(computer-vision): drop vision-camera-shims.d.ts
  apps/computer-vision/vision-camera-shims.d.ts
Due: lint, types, format-js

chore: remove stale dependenciesMeta for react-native-vision-camera
  package.json
Due: format-other
