Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

fix Detector implementation
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Types.h
Due: format-objc

feat: add OCR scaffolding
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
Due: format-objc

port OCR module to cpp (unclean)
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.h
Due: format-objc

feat: port ocr detector
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Types.h
Due: format-objc

Recognition Handler port to cpp (unclean version)
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.h
Due: format-objc

remove potentially dangerous files
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/ios/RnExecutorch/OCR.h
  packages/react-native-executorch/ios/RnExecutorch/OCR.mm
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/utils/RecognizerUtils.h
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/utils/RecognizerUtils.mm
Due: format-objc

remove whole ios ocr directory
  packages/react-native-executorch/ios/RnExecutorch/VerticalOCR.h
  packages/react-native-executorch/ios/RnExecutorch/VerticalOCR.mm
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/Detector.h
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/Detector.mm
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/RecognitionHandler.h
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/RecognitionHandler.mm
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/Recognizer.h
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/Recognizer.mm
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/VerticalDetector.h
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/VerticalDetector.mm
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/utils/CTCLabelConverter.h
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/utils/CTCLabelConverter.mm
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/utils/Constants.h
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/utils/DetectorUtils.h
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/utils/DetectorUtils.mm
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/utils/OCRUtils.h
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/utils/OCRUtils.mm
Due: format-objc

chore: remove redundant include
  packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.cpp
Due: format-objc

a few review suggestions
  packages/react-native-executorch/common/rnexecutorch/data_processing/FFT.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/EncoderDecoderBase.cpp
  packages/react-native-executorch/common/rnexecutorch/models/EncoderDecoderBase.h
Due: format-objc

add not working jsi bindings
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/src/controllers/OCRController.ts
  packages/react-native-executorch/src/hooks/computer_vision/useOCR.ts
  packages/react-native-executorch/src/hooks/useNonStaticModule.ts
  packages/react-native-executorch/src/index.tsx
  packages/react-native-executorch/src/modules/computer_vision/OCRModule.ts
Due: lint, types, format-js, format-objc

Update packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
Due: format-objc

Update README.md
  README.md
Due: format-other, spell-check-other

cosmetics
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/MoonshineStrategy.cpp
Due: format-objc

refactor: Remove code duplication
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/BaseEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/BaseEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.h
Due: format-objc

feat: implement centralized logging with Logger class
  packages/react-native-executorch/src/common/Logger.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/controllers/SpeechToTextController.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
  packages/react-native-executorch/src/utils/llm.ts
Due: lint, types, format-js

refactor: requested changes
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.h
Due: format-objc

Utilize perfect forwarding in log
  packages/react-native-executorch/common/rnexecutorch/Log.h
Due: format-objc

update strategies, apply review suggestions
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/MoonshineStrategy.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/MoonshineStrategy.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToTextStrategy.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/WhisperStrategy.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/WhisperStrategy.h
Due: format-objc

Make things const, use auto instead of specific types
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/MoonshineStrategy.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/MoonshineStrategy.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToTextStrategy.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/WhisperStrategy.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/WhisperStrategy.h
Due: format-objc

Update packages/react-native-executorch/common/pfft/pfft.h
  packages/react-native-executorch/common/pfft/pfft.h
Due: format-objc

small fixes
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/WhisperStrategy.h
Due: format-objc

chores
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/MoonshineStrategy.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/MoonshineStrategy.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToTextStrategy.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/WhisperStrategy.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/WhisperStrategy.h
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/tests/README.md
  packages/react-native-executorch/common/rnexecutorch/tests/README.md
Due: format-other, spell-check-other

cosmetics
  packages/react-native-executorch/common/rnexecutorch/data_processing/FFT.h
  packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/MoonshineStrategy.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/WhisperStrategy.h
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.cpp
Due: format-objc

feat: implement centralized logging with Logger class (#447)
  packages/react-native-executorch/src/common/Logger.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/controllers/SpeechToTextController.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
  packages/react-native-executorch/src/utils/llm.ts
Due: lint, types, format-js

cosmetics
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/WhisperStrategy.h
Due: format-objc

remove unused headers
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
Due: format-objc

add headers
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/MoonshineStrategy.h
Due: format-objc

chore: make hannwindow accept size_t
  packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.h
Due: format-objc

chore: remove redundant static cast
  packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.cpp
Due: format-objc

docs: Update image and text embeddings documentation to clarify cosine similarity usage
  docs/docs/computer-vision/useImageEmbeddings.md
  docs/docs/natural-language-processing/useTextEmbeddings.md
  docs/docs/typescript-api/ImageEmbeddingsModule.md
Due: format-other, spell-check-other

fix jsi-binding
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
Due: format-objc

feat: enable 'no-console' lint rule for executorch src except Logger, add Logger.log method
  .eslintrc.js
  packages/react-native-executorch/src/common/Logger.ts
Due: lint, types, format-js

Add corrections in ImageProcessing module
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.h
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/image_embeddings/ImageEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.h
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.h
Due: format-objc

chore: disable inside logger.ts
  .eslintrc.js
  packages/react-native-executorch/src/common/Logger.ts
Due: lint, types, format-js

Update packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
Due: format-objc
