Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

test(bench): add an on-device performance regression harness
  .cspell-wordlist.txt
  apps/benchmarks/.gitignore
  apps/benchmarks/App.tsx
  apps/benchmarks/README.md
  apps/benchmarks/app.json
  apps/benchmarks/assets/icons/adaptive-icon.png
  apps/benchmarks/assets/icons/favicon.png
  apps/benchmarks/assets/icons/icon.png
  apps/benchmarks/assets/icons/splash.png
  apps/benchmarks/babel.config.js
  apps/benchmarks/index.ts
  apps/benchmarks/metro.config.js
  apps/benchmarks/modules/bench-probe/android/build.gradle
  apps/benchmarks/modules/bench-probe/android/src/main/java/expo/modules/benchprobe/BenchProbeModule.kt
  apps/benchmarks/modules/bench-probe/expo-module.config.json
  apps/benchmarks/modules/bench-probe/index.ts
  apps/benchmarks/modules/bench-probe/ios/BenchProbe.podspec
  apps/benchmarks/modules/bench-probe/ios/BenchProbeModule.swift
  apps/benchmarks/package.json
  apps/benchmarks/scripts/compare.mjs
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/config.ts
  apps/benchmarks/src/inputs.ts
  apps/benchmarks/src/memory.ts
  apps/benchmarks/src/nativeForward.ts
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
  apps/benchmarks/src/stats.ts
  apps/benchmarks/src/suite.ts
  apps/benchmarks/src/time.ts
  apps/benchmarks/tsconfig.json
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

test(bench): make the synthetic waveform actually trigger the VAD
  apps/benchmarks/README.md
  apps/benchmarks/src/inputs.ts
  apps/benchmarks/src/runner.ts
Due: lint, types, format-js, format-other, spell-check-other

test(bench): type case definitions against the pipelines they drive
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/suite.ts
Due: lint, types, format-js

test(bench): cover every published variant, 3 gated repeats each
  .cspell-wordlist.txt
  apps/benchmarks/App.tsx
  apps/benchmarks/BENCHMARK_SPEC.md
  apps/benchmarks/README.md
  apps/benchmarks/package.json
  apps/benchmarks/scripts/compare.mjs
  apps/benchmarks/scripts/generate-variants.mjs
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/scripts/summarize.mjs
  apps/benchmarks/scripts/variant-sizes.json
  apps/benchmarks/src/config.ts
  apps/benchmarks/src/drivers.ts
  apps/benchmarks/src/gate.ts
  apps/benchmarks/src/inputs.ts
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
  apps/benchmarks/src/storage.ts
  apps/benchmarks/src/suite.ts
  apps/benchmarks/src/variants.generated.ts
Due: lint, types, format-js, format-other, spell-check-other

test(bench): add a raw-output probe for device-only defects
  apps/benchmarks/App.tsx
  apps/benchmarks/app.json
  apps/benchmarks/package.json
  apps/benchmarks/scripts/run-probe.mjs
  apps/benchmarks/src/config.ts
  apps/benchmarks/src/probe.ts
Due: lint, types, format-js, format-other

feat(bench): measure a locally built .pte, and fail loudly on a dead collector
  apps/benchmarks/src/config.ts
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
Due: lint, types, format-js

fix(bench): judge a measurement on where its iterations started
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
  apps/benchmarks/src/thermalWatch.ts
Due: lint, types, format-js

feat(bench): let two devices be measured at the same time
  apps/benchmarks/README.md
  apps/benchmarks/scripts/run-benchmarks.mjs
Due: format-other, spell-check-other

test(bench): segment with RF-DETR, not FastSAM
  apps/benchmarks/src/suite.ts
Due: lint, types, format-js

test(bench): stop long runs from losing their results
  apps/benchmarks/App.tsx
  apps/benchmarks/baselines/README.md
  apps/benchmarks/package.json
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/report.ts
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

test(bench): stop pinning clocks by default
  apps/benchmarks/BENCHMARK_SPEC.md
  apps/benchmarks/README.md
  apps/benchmarks/scripts/run-benchmarks.mjs
Due: format-other, spell-check-other

test(bench): cover instance segmentation, OCR and Kokoro TTS
  apps/benchmarks/src/suite.ts
Due: lint, types, format-js

test(bench): wait for the device to be cool instead of sleeping a guess
  apps/benchmarks/README.md
  apps/benchmarks/scripts/run-benchmarks.mjs
Due: format-other, spell-check-other

fix(bench): hold every iteration at the gate temperature, not just the case
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/config.ts
  apps/benchmarks/src/registry.ts
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
  apps/benchmarks/src/suite.ts
  apps/benchmarks/src/thermalWatch.ts
  apps/benchmarks/src/time.ts
Due: lint, types, format-js

test(bench): hold the ceiling when the host cannot be reached
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/gate.ts
Due: lint, types, format-js

docs(bench): state that runs must be release builds
  apps/benchmarks/BENCHMARK_SPEC.md
  apps/benchmarks/README.md
Due: format-other, spell-check-other

feat(bench): measure ExecuTorch in-band, and build release
  apps/benchmarks/README.md
  apps/benchmarks/baselines/README.md
  apps/benchmarks/baselines/et-1.3.1-full-android-SM-S948B.json
  apps/benchmarks/scripts/compare.mjs
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/scripts/summarize.mjs
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
  packages/react-native-executorch/cpp/core/install.cpp
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/profiler.cpp
  packages/react-native-executorch/cpp/core/profiler.h
  packages/react-native-executorch/src/core/profiler.ts
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

test(bench): gate at 37C, and never write a measurement twice
  apps/benchmarks/BENCHMARK_SPEC.md
  apps/benchmarks/README.md
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/config.ts
Due: lint, types, format-js, format-other, spell-check-other

test(bench): pin the CPU clock for the duration of a run
  apps/benchmarks/README.md
  apps/benchmarks/scripts/compare.mjs
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/report.ts
Due: lint, types, format-js, format-other, spell-check-other

fix(bench): stop counting warmups in the ExecuTorch tally
  apps/benchmarks/scripts/summarize.mjs
  apps/benchmarks/src/runner.ts
  apps/benchmarks/src/time.ts
Due: lint, types, format-js

test(bench): stay plugged in, and refuse to measure in Battery Saver
  apps/benchmarks/scripts/run-benchmarks.mjs
Due: none

fix(profiler): mark the JSI wrappers as worklets
  packages/react-native-executorch/__tests__/api/__snapshots__/apiSurface.test.ts.snap
  packages/react-native-executorch/src/core/profiler.ts
Due: lint, types, format-js

refactor(bench): derive the variant list at runtime, drop the replay pass
  apps/benchmarks/App.tsx
  apps/benchmarks/BENCHMARK_SPEC.md
  apps/benchmarks/README.md
  apps/benchmarks/package.json
  apps/benchmarks/scripts/compare.mjs
  apps/benchmarks/scripts/fetch-variant-sizes.mjs
  apps/benchmarks/scripts/generate-variants.mjs
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/scripts/run-probe.mjs
  apps/benchmarks/scripts/summarize.mjs
  apps/benchmarks/src/config.ts
  apps/benchmarks/src/drivers.ts
  apps/benchmarks/src/nativeForward.ts
  apps/benchmarks/src/probe.ts
  apps/benchmarks/src/registry.ts
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
  apps/benchmarks/src/suite.ts
  apps/benchmarks/src/variants.generated.ts
Due: lint, types, format-js, format-other, spell-check-other

test(bench): detect thermal throttling, which invalidates a comparison
  apps/benchmarks/modules/bench-probe/android/src/main/java/expo/modules/benchprobe/BenchProbeModule.kt
  apps/benchmarks/modules/bench-probe/index.ts
  apps/benchmarks/modules/bench-probe/ios/BenchProbeModule.swift
  apps/benchmarks/scripts/compare.mjs
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
Due: lint, types, format-js

test(bench): calibrate the comparator against two runs of identical code
  apps/benchmarks/README.md
  apps/benchmarks/scripts/compare.mjs
  apps/benchmarks/src/config.ts
  apps/benchmarks/src/nativeForward.ts
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
Due: lint, types, format-js, format-other, spell-check-other

test(bench): follow the library's schema and constants exports
  apps/benchmarks/src/nativeForward.ts
  apps/benchmarks/src/suite.ts
Due: lint, types, format-js

test(bench): record the ExecuTorch 1.3.1 baseline
  apps/benchmarks/baselines/et-1.3.1-full-android-SM-S948B.json
  apps/benchmarks/scripts/compare.mjs
Due: format-other

test(bench): take one measurement per variant, not three
  apps/benchmarks/BENCHMARK_SPEC.md
  apps/benchmarks/README.md
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/scripts/summarize.mjs
  apps/benchmarks/src/config.ts
Due: lint, types, format-js, format-other, spell-check-other

chore(bench): drop code nothing reads
  apps/benchmarks/.gitignore
  apps/benchmarks/modules/bench-probe/android/src/main/java/expo/modules/benchprobe/BenchProbeModule.kt
  apps/benchmarks/modules/bench-probe/index.ts
  apps/benchmarks/modules/bench-probe/ios/BenchProbeModule.swift
  apps/benchmarks/src/drivers.ts
  apps/benchmarks/src/memory.ts
  apps/benchmarks/src/storage.ts
  apps/benchmarks/src/thermalWatch.ts
  packages/react-native-executorch/__tests__/api/__snapshots__/apiSurface.test.ts.snap
  packages/react-native-executorch/src/core/profiler.ts
Due: lint, types, format-js

chore(bench): refresh variant sizes for the current registry
  .cspell-wordlist.txt
  apps/benchmarks/package.json
  apps/benchmarks/scripts/fetch-variant-sizes.mjs
  apps/benchmarks/scripts/variant-sizes.json
  yarn.lock
Due: format-other

feat(bench): make the JSONL self-describing and survive app crashes
  apps/benchmarks/BENCHMARK_SPEC.md
  apps/benchmarks/README.md
  apps/benchmarks/scripts/compare.mjs
  apps/benchmarks/scripts/results.mjs
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/scripts/summarize.mjs
  apps/benchmarks/src/gate.ts
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
Due: lint, types, format-js, format-other, spell-check-other

docs(benchmarks): keep the data beside the page so version cuts archive it
  docs/docs/04-benchmarks/01-benchmarks.mdx
  docs/docs/04-benchmarks/benchmarks.json
  docs/src/components/Benchmarks/BenchmarkChart.tsx
  docs/src/data/benchmarks.ts
Due: lint, types, format-js, format-other

docs(benchmarks): say which build the numbers came from
  docs/docs/04-benchmarks/01-benchmarks.mdx
Due: none

docs(benchmarks): build the page from raw runs where they exist
  docs/docs/04-benchmarks/01-benchmarks.mdx
  docs/docs/04-benchmarks/imported.json
  docs/docs/04-benchmarks/measured.json
  docs/src/data/benchmarks.ts
Due: lint, types, format-js, format-other

feat(bench): generate the docs benchmark data from raw runs
  apps/benchmarks/README.md
  apps/benchmarks/package.json
  apps/benchmarks/scripts/docs-data.mjs
Due: format-other, spell-check-other

feat: deprecate unquantized XNNPACK variants with a faster quantized twin
  apps/speech/app/audio-file-transcription/index.tsx
  apps/speech/app/microphone-transcription/index.tsx
  packages/react-native-executorch/__tests__/api/modelVariants.test.ts
  packages/react-native-executorch/__tests__/fetcher/download.test.ts
  packages/react-native-executorch/src/deprecation.ts
  packages/react-native-executorch/src/fetcher/fetcher.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat: add a standalone in-memory vector store
  apps/nlp/app/text-embeddings/index.tsx
  docs/docs/02-extensions/natural-language/03-text-embeddings.md
  docs/typedoc.json
  packages/react-native-executorch/__tests__/api/__snapshots__/apiSurface.test.ts.snap
  packages/react-native-executorch/__tests__/extensions/vectorStore.test.ts
  packages/react-native-executorch/src/extensions/vectorStore.ts
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js, format-other, spell-check-other

feat: add LFM2.5 ColBERT late-interaction embedding pipeline
  .cspell-wordlist.txt
  apps/nlp/app/_layout.tsx
  apps/nlp/app/colbert/index.tsx
  apps/nlp/app/index.tsx
  docs/docs/02-extensions/natural-language/06-colbert-retrieval.md
  packages/react-native-executorch/__tests__/api/__snapshots__/apiSurface.test.ts.snap
  packages/react-native-executorch/__tests__/api/modelVariants.test.ts
  packages/react-native-executorch/__tests__/hooks/taskHooks.test.ts
  packages/react-native-executorch/__tests__/tasks/colbertEmbedding.test.ts
  packages/react-native-executorch/__tests__/tasks/constructionFailure.test.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/colbertEmbedding.ts
  packages/react-native-executorch/src/hooks/useColbertEmbedder.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-other, spell-check-other

feat: deprecate efficientnet-v2-s and deeplab mbv3 fp32 now int8 holds
  apps/computer-vision/app/classification/index.tsx
  docs/docs/01-fundamentals/02-downloading-models.md
  packages/react-native-executorch/src/fetcher/fetcher.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-other, spell-check-other

docs(benchmarks): version the benchmark data with the docs (#1518)
  docs/docs/04-benchmarks/01-benchmarks.mdx
  docs/docs/04-benchmarks/imported.json
  docs/docs/04-benchmarks/measured.json
  docs/src/components/Benchmarks/BenchmarkChart.tsx
  docs/src/data/benchmarks.ts
Due: lint, types, format-js, format-other

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
