Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

Change typedoc links
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js

Add yolo specific coco labels
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
Due: lint, types, format-js

Add docs
  apps/computer-vision/components/ImageWithMasks.tsx
  docs/docs/02-benchmarks/memory-usage.md
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/InstanceSegmentationModule.md
Due: lint, types, format-js, format-other, spell-check-other

Speed up mask processing
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
Due: lint, types, format-js, format-objc

Return class index, tweak mask drawing performance
  apps/computer-vision/app/instance_segmentation/index.tsx
  apps/computer-vision/components/ImageWithMasks.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/Types.h
  packages/react-native-executorch/src/constants/commonVision.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js, format-objc

Fix yarn stuff
  package.json
Due: format-other

Migrate ObjectDetection to common CV utils
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/Utils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/Utils.h
Due: format-objc

Update docs/docs/02-benchmarks/memory-usage.md
  docs/docs/02-benchmarks/memory-usage.md
Due: format-other, spell-check-other

Break up postprocessing helpers in Instance Segmentation
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Types.h
Due: format-objc

Change typing in useInstanceSegmentation
  packages/react-native-executorch/src/hooks/computer_vision/useInstanceSegmentation.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
Due: lint, types, format-js

Add RFDetr-segmentation model, change preprocessorConfig types
  apps/computer-vision/app/instance_segmentation/index.tsx
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/hooks/computer_vision/useInstanceSegmentation.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js

Update docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/inference-time.md
Due: format-other, spell-check-other

Streamline postprocessing
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
Due: format-objc

Fix links
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/InstanceSegmentationModule.md
Due: format-other, spell-check-other

Review fixes for InstanceSegmentationModule
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
Due: lint, types, format-js

Restore docs
  docs/docs/03-hooks/02-computer-vision/useSemanticSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/SemanticSegmentationModule.md
Due: format-other, spell-check-other

Split instance segmentation postprocessing, introduce CV utils
  apps/computer-vision/app/instance_segmentation/index.tsx
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/Types.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/InstanceSegmentationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Processing.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Processing.h
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Types.h
Due: lint, types, format-js, format-objc

Add tests
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/InstanceSegmentationModule.md
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/InstanceSegmentationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/src/constants/commonVision.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

Remove instanceId field
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/Types.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/InstanceSegmentationTest.cpp
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

Checkout upstream app
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/vision_camera/tasks/InstanceSegmentationTask.tsx
  packages/react-native-executorch/src/hooks/computer_vision/useInstanceSegmentation.ts
Due: lint, types, format-js

Change inheritance to VisionModel
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/ImageWithMasks.tsx
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
Due: lint, types, format-js, format-objc

Migrate vector<uint8> to OwningArrayBuffer
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/Types.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/InstanceSegmentationTest.cpp
Due: format-objc

Strengthen typing
  apps/computer-vision/components/vision_camera/tasks/InstanceSegmentationTask.tsx
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
Due: lint, types, format-js

Fix normalizing in InstanceSegmentation
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
Due: format-objc

Apply review suggestions
  docs/docs/04-typescript-api/02-computer-vision/InstanceSegmentationModule.md
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
Due: format-objc, format-other, spell-check-other

Change inheritance to VisionModel
  packages/react-native-executorch/src/hooks/computer_vision/useInstanceSegmentation.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js

Update docs
  apps/computer-vision/package.json
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/InstanceSegmentationModule.md
Due: format-other, spell-check-other

Add live instance segmentation
  apps/computer-vision/app/vision_camera/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
Due: lint, types, format-js, format-objc

Add missing brackets
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
Due: format-objc

Apply revies suggestions
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js, format-objc

Change rfdetr naming, apply suggestions
  .gitignore
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/vision_camera/tasks/InstanceSegmentationTask.tsx
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Processing.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Processing.h
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/hooks/computer_vision/useSemanticSegmentation.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js, format-objc

Improve tests
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/InstanceSegmentationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SemanticSegmentationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
Due: format-objc

Apply suggestions
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
Due: format-objc

Readd accidentaly removed dep
  package.json
Due: format-other

Apply suggestions
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Processing.h
Due: format-objc

Fix docs and class filter
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
  docs/docs/03-hooks/02-computer-vision/visioncamera-integration.md
  docs/docs/04-typescript-api/02-computer-vision/InstanceSegmentationModule.md
  packages/react-native-executorch/common/rnexecutorch/tests/integration/BaseModelTest.cpp
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

Update docs
  apps/computer-vision/app/index.tsx
  docs/docs/02-benchmarks/memory-usage.md
  docs/docs/02-benchmarks/model-size.md
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
Due: lint, types, format-js, format-objc, format-other, spell-check-other

Add Mateusz's patch
  apps/computer-vision/app/vision_camera/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
Due: lint, types, format-js, format-objc

Remove console.logs, change error type
  apps/computer-vision/components/vision_camera/tasks/InstanceSegmentationTask.tsx
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js, format-objc
