Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

[RNE Rewrite] feat(fetcher): keep iOS downloads running while the app is backgrounded (#1369)
  .cspell-wordlist.txt
  packages/react-native-executorch/__tests__/README.md
  packages/react-native-executorch/__tests__/fetcher/backgroundDownloader.test.ts
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/fetcher/backgroundDownloader.ts
  packages/react-native-executorch/src/fetcher/fetcher.ts
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

fix(fetcher): bound the length lookup so a hung HEAD can't stall a download
  packages/react-native-executorch/src/fetcher/fetcher.ts
Due: lint, types, format-js

perf(fetcher): stop making every download wait on a HEAD first
  packages/react-native-executorch/src/fetcher/fetcher.ts
Due: lint, types, format-js

[RNE Rewrite] perf(fetcher): stop making every download wait on a HEAD first (#1370)
  packages/react-native-executorch/src/fetcher/fetcher.ts
Due: lint, types, format-js

feat(core): add eagerLoadMethods option to loadModel to preload and compile backend methods
  .agents/skills/verify-and-build/SKILL.md
  packages/react-native-executorch/__tests__/core/model.test.ts
  packages/react-native-executorch/__tests__/support/fakeJsi.ts
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/model.h
  packages/react-native-executorch/src/core/model.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

test(cpp): pass eagerLoadMethods: false in ModelTest fixture loader and update usage assertion
  packages/react-native-executorch/cpp/tests/core/ModelTest.cpp
Due: format-objc

fix(package): make packaging standalone-install-safe and leaner
  packages/react-native-executorch/package.json
Due: format-other

docs: refine TypeDoc cross-links and JSDoc annotations in src
  packages/react-native-executorch/src/core/lifetime.ts
  packages/react-native-executorch/src/extensions/cv/tasks/instanceSegmentation.ts
  packages/react-native-executorch/src/extensions/cv/tasks/keypointDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/objectDetection.ts
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/privacyFilter.ts
  packages/react-native-executorch/src/extensions/speech/tasks/supertonicTextToSpeech.ts
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
  packages/react-native-executorch/src/hooks/useClassifier.ts
  packages/react-native-executorch/src/hooks/useImageEmbedder.ts
  packages/react-native-executorch/src/hooks/useInstanceSegmenter.ts
  packages/react-native-executorch/src/hooks/useKeypointDetector.ts
  packages/react-native-executorch/src/hooks/useLLMChatSession.ts
  packages/react-native-executorch/src/hooks/useObjectDetector.ts
  packages/react-native-executorch/src/hooks/useOpticalCharacterRecognizer.ts
  packages/react-native-executorch/src/hooks/usePrivacyFilter.ts
  packages/react-native-executorch/src/hooks/useSemanticSegmenter.ts
  packages/react-native-executorch/src/hooks/useSpeechToText.ts
  packages/react-native-executorch/src/hooks/useStyleTransfer.ts
  packages/react-native-executorch/src/hooks/useTextEmbedder.ts
  packages/react-native-executorch/src/hooks/useTextToImage.ts
  packages/react-native-executorch/src/hooks/useTextToSpeech.ts
  packages/react-native-executorch/src/hooks/useTokenizer.ts
  packages/react-native-executorch/src/hooks/useVoiceActivityDetector.ts
  packages/react-native-executorch/src/models.ts
  packages/react-native-executorch/src/utils.ts
Due: lint, types, format-js

[RNE Rewrite] chore(package): make packaging standalone-install-safe and leaner (#1403)
  packages/react-native-executorch/package.json
Due: format-other

chore(package): ship only download-libs.js from scripts/
  packages/react-native-executorch/package.json
Due: format-other

chore: drop dead patch-package plumbing
  apps/computer-vision/package.json
  apps/nlp/package.json
  apps/speech/package.json
  package.json
  yarn.lock
Due: format-other

[RNE Rewrite] chore(package): trim dev scripts from the tarball and drop dead patch-package hooks (#1405)
  apps/computer-vision/package.json
  apps/nlp/package.json
  apps/speech/package.json
  package.json
  packages/react-native-executorch/package.json
  yarn.lock
Due: format-other

docs(src): use {@link nlp.Tokenizer} in useTokenizer hook docs
  packages/react-native-executorch/src/hooks/useTokenizer.ts
Due: lint, types, format-js

[RNE Rewrite] docs(src): refine TypeDoc cross-links and JSDoc annotations across hooks and tasks (#1404)
  packages/react-native-executorch/src/core/lifetime.ts
  packages/react-native-executorch/src/extensions/cv/tasks/instanceSegmentation.ts
  packages/react-native-executorch/src/extensions/cv/tasks/keypointDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/objectDetection.ts
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/privacyFilter.ts
  packages/react-native-executorch/src/extensions/speech/tasks/supertonicTextToSpeech.ts
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
  packages/react-native-executorch/src/hooks/useClassifier.ts
  packages/react-native-executorch/src/hooks/useImageEmbedder.ts
  packages/react-native-executorch/src/hooks/useInstanceSegmenter.ts
  packages/react-native-executorch/src/hooks/useKeypointDetector.ts
  packages/react-native-executorch/src/hooks/useLLMChatSession.ts
  packages/react-native-executorch/src/hooks/useObjectDetector.ts
  packages/react-native-executorch/src/hooks/useOpticalCharacterRecognizer.ts
  packages/react-native-executorch/src/hooks/usePrivacyFilter.ts
  packages/react-native-executorch/src/hooks/useSemanticSegmenter.ts
  packages/react-native-executorch/src/hooks/useSpeechToText.ts
  packages/react-native-executorch/src/hooks/useStyleTransfer.ts
  packages/react-native-executorch/src/hooks/useTextEmbedder.ts
  packages/react-native-executorch/src/hooks/useTextToImage.ts
  packages/react-native-executorch/src/hooks/useTextToSpeech.ts
  packages/react-native-executorch/src/hooks/useTokenizer.ts
  packages/react-native-executorch/src/hooks/useVoiceActivityDetector.ts
  packages/react-native-executorch/src/models.ts
  packages/react-native-executorch/src/utils.ts
Due: lint, types, format-js

[RNE Rewrite] feat(core): eagerly load and compile model methods during loadModel (#1402)
  .agents/skills/verify-and-build/SKILL.md
  packages/react-native-executorch/__tests__/core/model.test.ts
  packages/react-native-executorch/__tests__/support/fakeJsi.ts
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/model.h
  packages/react-native-executorch/cpp/tests/core/ModelTest.cpp
  packages/react-native-executorch/src/core/model.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

Address review: inline the variant helpers, restore the kokoro paths shape, default whisper base.en/small.en to int8
  .cspell-wordlist.txt
  packages/react-native-executorch/__tests__/api/modelVariants.test.ts
  packages/react-native-executorch/src/modelVariants.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(models): add Vulkan int8 for the mpnet embedders
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

fix(models): keep fp16 the Android default for both mpnet embedders
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

fix(download-libs): stamp extracted artifacts with the extraction time
  packages/react-native-executorch/scripts/download-libs.js
Due: lint, types, format-js

fix(download-libs): validate the cache against the remote checksum
  packages/react-native-executorch/scripts/download-libs.js
Due: lint, types, format-js

test(native): build the host test deps against ExecuTorch 1.4.1
  packages/react-native-executorch/scripts/build-native-test-deps.sh
Due: none

ci: fail fast when the headers and test-dependency ExecuTorch disagree
  .github/workflows/ci.yml
Due: format-other

fix(download-libs): rebuild against refreshed artifacts instead of reusing stale objects (#1407)
  .github/workflows/ci.yml
  packages/react-native-executorch/scripts/build-native-test-deps.sh
  packages/react-native-executorch/scripts/download-libs.js
Due: lint, types, format-js, format-other

docs: sync media assets and clean up sidebar config
  docs/sidebars.js
  docs/static/img/logo-horizontal-dark.svg
  docs/static/img/logo-horizontal.svg
  docs/static/img/logo-vertical-dark.svg
  docs/static/img/logo-vertical.svg
  docs/static/img/og-image.png
  docs/static/img/private-mind-promo.png
  docs/static/img/title-dark.svg
  docs/static/img/title.svg
  docs/typedoc.json
Due: lint, types, format-js, format-other

docs: write Core & Advanced guides (models/tensors, schema, operations, errors, worklets)
  .cspell-wordlist.txt
  docs/docs/01-fundamentals/01-getting-started.md
  docs/docs/03-core-and-advanced/02-models-and-tensors.md
  docs/docs/03-core-and-advanced/03-schema-validation.md
  docs/docs/03-core-and-advanced/04-operations-and-utilities.md
  docs/docs/03-core-and-advanced/04-tensor-math-ops.md
  docs/docs/03-core-and-advanced/05-error-handling.md
  docs/docs/03-core-and-advanced/05-worklets-and-threading.md
  docs/docs/03-core-and-advanced/06-error-handling.md
  docs/docs/03-core-and-advanced/06-worklets-and-threading.md
Due: format-other, spell-check-other

docs: rewrite getting-started, restructure fundamentals, add extensions & core overview
  docs/docs/01-fundamentals/01-getting-started.md
  docs/docs/01-fundamentals/02-migrating-from-v0-9.md
  docs/docs/01-fundamentals/02-native-libraries.md
  docs/docs/01-fundamentals/_category_.json
  docs/docs/02-extensions/_category_.json
  docs/docs/02-extensions/computer-vision/01-overview.md
  docs/docs/02-extensions/computer-vision/02-image-classification.md
  docs/docs/02-extensions/computer-vision/03-object-detection.md
  docs/docs/02-extensions/computer-vision/04-pose-and-keypoints.md
  docs/docs/02-extensions/computer-vision/05-optical-character-recognition.md
  docs/docs/02-extensions/computer-vision/06-semantic-segmentation.md
  docs/docs/02-extensions/computer-vision/07-instance-segmentation.md
  docs/docs/02-extensions/computer-vision/08-style-transfer.md
  docs/docs/02-extensions/computer-vision/09-image-embeddings.md
  docs/docs/02-extensions/computer-vision/10-text-to-image.md
  docs/docs/02-extensions/computer-vision/11-camera-integration.md
  docs/docs/02-extensions/computer-vision/_category_.json
  docs/docs/02-extensions/natural-language/01-overview.md
  docs/docs/02-extensions/natural-language/02-llm-chat-and-generation.md
  docs/docs/02-extensions/natural-language/03-text-embeddings.md
  docs/docs/02-extensions/natural-language/04-tokenizers.md
  docs/docs/02-extensions/natural-language/05-privacy-filter.md
  docs/docs/02-extensions/natural-language/_category_.json
  docs/docs/02-extensions/speech/01-overview.md
  docs/docs/02-extensions/speech/02-text-to-speech.md
  docs/docs/02-extensions/speech/03-speech-to-text.md
  docs/docs/02-extensions/speech/04-voice-activity-detection.md
  docs/docs/02-extensions/speech/_category_.json
  docs/docs/03-core-and-advanced/01-models-and-tensors.md
  docs/docs/03-core-and-advanced/02-schema-validation.md
  docs/docs/03-core-and-advanced/03-tensor-math-ops.md
  docs/docs/03-core-and-advanced/04-worklets-and-threading.md
  docs/docs/03-core-and-advanced/05-error-handling.md
  docs/docs/03-core-and-advanced/06-exporting-custom-models.md
  docs/docs/03-core-and-advanced/07-native-libraries.md
  docs/docs/03-core-and-advanced/_category_.json
  docs/sidebars.js
Due: lint, types, format-js, format-other, spell-check-other

docs: add Exporting Custom Models guide
  docs/docs/03-core-and-advanced/07-exporting-custom-models.md
Due: format-other, spell-check-other

docs: add generated index cards for extensions and core & advanced categories
  docs/docs/01-fundamentals/01-getting-started.md
  docs/docs/02-extensions/_category_.json
  docs/docs/02-extensions/computer-vision/01-overview.md
  docs/docs/02-extensions/natural-language/01-overview.md
  docs/docs/02-extensions/speech/01-overview.md
  docs/docs/03-core-and-advanced/02-models-and-tensors.md
  docs/docs/03-core-and-advanced/03-schema-validation.md
  docs/docs/03-core-and-advanced/04-tensor-math-ops.md
  docs/docs/03-core-and-advanced/05-worklets-and-threading.md
  docs/docs/03-core-and-advanced/06-error-handling.md
  docs/docs/03-core-and-advanced/07-exporting-custom-models.md
  docs/docs/03-core-and-advanced/08-native-libraries.md
  docs/docs/03-core-and-advanced/_category_.json
  docs/sidebars.js
Due: lint, types, format-js, format-other, spell-check-other

docs: fix PiiEntity and LLMGenerationConfig doc links
  docs/docs/02-extensions/natural-language/02-llm-chat-and-generation.md
  docs/docs/02-extensions/natural-language/04-privacy-filter.md
Due: format-other, spell-check-other

docs: rewrite neural style transfer extension documentation
  docs/docs/02-extensions/computer-vision/08-style-transfer.md
Due: format-other, spell-check-other

docs: add color mapping details and HF collection link to semantic segmentation
  docs/docs/02-extensions/computer-vision/06-semantic-segmentation.md
Due: format-other, spell-check-other

docs: link createResourceScope reference; document its track type param
  docs/docs/03-core-and-advanced/02-models-and-tensors.md
Due: format-other, spell-check-other

docs: rewrite text to image extension documentation
  docs/docs/02-extensions/computer-vision/10-text-to-image.md
Due: format-other, spell-check-other

docs: clarify custom pipelines are 100% typescript with no C++ needed
  docs/docs/01-fundamentals/01-getting-started.md
Due: format-other, spell-check-other

docs: refine wording in error handling and worklets documentation
  docs/docs/03-core-and-advanced/05-error-handling.md
  docs/docs/03-core-and-advanced/06-worklets-and-threading.md
Due: format-other, spell-check-other

docs: update requirements with RN 0.81+, iOS 17+, and Android 13+
  docs/docs/01-fundamentals/01-getting-started.md
Due: format-other, spell-check-other

docs: rewrite LLM chat & text generation guide
  docs/docs/02-extensions/natural-language/02-llm-chat-and-generation.md
Due: format-other, spell-check-other

docs: rewrite semantic segmentation extension documentation
  docs/docs/02-extensions/computer-vision/06-semantic-segmentation.md
Due: format-other, spell-check-other

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
