Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

feat: Implemented GlobalThreadPool for async functions (#603)
  .cspell-wordlist.txt
  apps/llm/app.json
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/threads/GlobalThreadPool.h
  packages/react-native-executorch/common/rnexecutorch/threads/HighPerformanceThreadPool.h
  packages/react-native-executorch/common/rnexecutorch/threads/utils/ThreadUtils.h
  packages/react-native-executorch/ios/libs/cpuinfo/libcpuinfo.a
  packages/react-native-executorch/ios/libs/pthreadpool/physical-arm64-release/libpthreadpool.a
  packages/react-native-executorch/ios/libs/pthreadpool/simulator-arm64-debug/libpthreadpool.a
  packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/third-party/include/executorch/extension/threadpool/cpuinfo_utils.h
  packages/react-native-executorch/third-party/include/executorch/extension/threadpool/threadpool.h
Due: format-objc, format-other

chore: small refactor of CMakeLists.txt (#620)
  packages/react-native-executorch/android/src/main/cpp/CMakeLists.txt
Due: none

feature: llm output tokens batching (#628)
  docs/docs/02-hooks/01-natural-language-processing/useLLM.md
  docs/docs/03-typescript-api/01-natural-language-processing/LLMModule.md
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/runner/runner.cpp
  packages/react-native-executorch/common/runner/runner.h
  packages/react-native-executorch/common/runner/text_token_generator.h
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

chore: bump rne version in package.json
  packages/react-native-executorch/package.json
Due: format-other

Delete packages/react-native-executorch/ios/RnExecutorch/utils directory
  packages/react-native-executorch/ios/RnExecutorch/utils/Conversions.h
  packages/react-native-executorch/ios/RnExecutorch/utils/ETError.h
  packages/react-native-executorch/ios/RnExecutorch/utils/ImageProcessor.h
  packages/react-native-executorch/ios/RnExecutorch/utils/ImageProcessor.mm
  packages/react-native-executorch/ios/RnExecutorch/utils/Numerical.h
  packages/react-native-executorch/ios/RnExecutorch/utils/Numerical.mm
  packages/react-native-executorch/ios/RnExecutorch/utils/ScalarType.h
  packages/react-native-executorch/ios/RnExecutorch/utils/ScalarType.mm
Due: format-objc

updated 0.5 docs, added missing getGeneratedTokenCount to LLMModule
  docs/docs/02-hooks/01-natural-language-processing/useLLM.md
  docs/docs/03-typescript-api/01-natural-language-processing/LLMModule.md
  docs/versioned_docs/version-0.5.x/02-hooks/01-natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.5.x/03-typescript-api/01-natural-language-processing/LLMModule.md
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-other, spell-check-other

chore: updated 0.5 docs, added missing getGeneratedTokenCount to LLMModule (#632)
  docs/docs/02-hooks/01-natural-language-processing/useLLM.md
  docs/docs/03-typescript-api/01-natural-language-processing/LLMModule.md
  docs/versioned_docs/version-0.5.x/02-hooks/01-natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.5.x/03-typescript-api/01-natural-language-processing/LLMModule.md
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-other, spell-check-other

0.5.8
  packages/react-native-executorch/package.json
Due: format-other

chore: 0.5.8 (#633)
  docs/docs/02-hooks/01-natural-language-processing/useLLM.md
  docs/docs/03-typescript-api/01-natural-language-processing/LLMModule.md
  docs/versioned_docs/version-0.5.x/02-hooks/01-natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.5.x/03-typescript-api/01-natural-language-processing/LLMModule.md
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-other, spell-check-other

Update build-ios-llm-example.yml
  .github/workflows/build-ios-llm-example.yml
Due: format-other

Delete unused objective-c++ files (#631)
  .github/workflows/build-ios-llm-example.yml
  packages/react-native-executorch/ios/RnExecutorch/utils/Conversions.h
  packages/react-native-executorch/ios/RnExecutorch/utils/ETError.h
  packages/react-native-executorch/ios/RnExecutorch/utils/ImageProcessor.h
  packages/react-native-executorch/ios/RnExecutorch/utils/ImageProcessor.mm
  packages/react-native-executorch/ios/RnExecutorch/utils/Numerical.h
  packages/react-native-executorch/ios/RnExecutorch/utils/Numerical.mm
  packages/react-native-executorch/ios/RnExecutorch/utils/ScalarType.h
  packages/react-native-executorch/ios/RnExecutorch/utils/ScalarType.mm
Due: format-objc, format-other

feat: remove stft calculation within the encoder
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.h
Due: format-objc

chore: remove logs
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
Due: format-objc

fix: mark some methods const in the BaseModel
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
Due: format-objc

fix: useExecutorchModule not working
  packages/react-native-executorch/src/hooks/general/useExecutorchModule.ts
Due: lint, types, format-js

fix: useExecutorchModule not working (#636)
  packages/react-native-executorch/src/hooks/general/useExecutorchModule.ts
Due: lint, types, format-js

chore: bump version
  packages/react-native-executorch/package.json
Due: format-other

fix: useExecutorchModule not working (#637)
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/hooks/general/useExecutorchModule.ts
Due: lint, types, format-js, format-other

Update dsp.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.cpp
Due: format-objc
