Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

docs: Update auto-generated documentation
  docs/docs/06-api-reference/typedoc-sidebar.cjs
  docs/docs/06-api-reference/variables/ALL_MINILM_L6_V2.md
  docs/docs/06-api-reference/variables/ALL_MPNET_BASE_V2.md
  docs/docs/06-api-reference/variables/BK_SDM_TINY_VPRED_256.md
  docs/docs/06-api-reference/variables/BK_SDM_TINY_VPRED_512.md
  docs/docs/06-api-reference/variables/CLIP_VIT_BASE_PATCH32_IMAGE.md
  docs/docs/06-api-reference/variables/CLIP_VIT_BASE_PATCH32_TEXT.md
  docs/docs/06-api-reference/variables/DEEPLAB_V3_RESNET50.md
  docs/docs/06-api-reference/variables/EFFICIENTNET_V2_S.md
  docs/docs/06-api-reference/variables/FSMN_VAD.md
  docs/docs/06-api-reference/variables/LFM2_5_1_2B_INSTRUCT.md
  docs/docs/06-api-reference/variables/MULTI_QA_MINILM_L6_COS_V1.md
  docs/docs/06-api-reference/variables/MULTI_QA_MPNET_BASE_DOT_V1.md
  docs/docs/06-api-reference/variables/SELFIE_SEGMENTATION.md
  docs/docs/06-api-reference/variables/SSDLITE_320_MOBILENET_V3_LARGE.md
  docs/docs/06-api-reference/variables/STYLE_TRANSFER_CANDY.md
  docs/docs/06-api-reference/variables/STYLE_TRANSFER_MOSAIC.md
  docs/docs/06-api-reference/variables/STYLE_TRANSFER_RAIN_PRINCESS.md
  docs/docs/06-api-reference/variables/STYLE_TRANSFER_UDNIE.md
  docs/docs/06-api-reference/variables/WHISPER_BASE.md
  docs/docs/06-api-reference/variables/WHISPER_BASE_EN.md
  docs/docs/06-api-reference/variables/WHISPER_SMALL.md
  docs/docs/06-api-reference/variables/WHISPER_SMALL_EN.md
  docs/docs/06-api-reference/variables/WHISPER_TINY.md
  docs/docs/06-api-reference/variables/WHISPER_TINY_EN.md
  docs/docs/06-api-reference/variables/WHISPER_TINY_EN_QUANTIZED.md
Due: format-other, spell-check-other

chore: add full configuration example to the docs & skill
  apps/llm/app/llm/index.tsx
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  packages/react-native-executorch/src/types/llm.ts
  skills/canary/react-native-executorch/references/reference-llms.md
Due: lint, types, format-js, format-other, spell-check-other

chore: rebuild api reference
  docs/docs/06-api-reference/interfaces/LLMConfig.md
Due: format-other, spell-check-other

configure jsdoc eslint plugin
  .eslintrc.js
  package.json
  yarn.lock
Due: lint, types, format-js, format-other

chore: add original model
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/docs/06-api-reference/index.md
  docs/docs/06-api-reference/typedoc-sidebar.cjs
  docs/docs/06-api-reference/variables/ALL_MINILM_L6_V2.md
  docs/docs/06-api-reference/variables/ALL_MPNET_BASE_V2.md
  docs/docs/06-api-reference/variables/BK_SDM_TINY_VPRED_256.md
  docs/docs/06-api-reference/variables/BK_SDM_TINY_VPRED_512.md
  docs/docs/06-api-reference/variables/CLIP_VIT_BASE_PATCH32_IMAGE.md
  docs/docs/06-api-reference/variables/CLIP_VIT_BASE_PATCH32_TEXT.md
  docs/docs/06-api-reference/variables/DEEPLAB_V3_RESNET50.md
  docs/docs/06-api-reference/variables/EFFICIENTNET_V2_S.md
  docs/docs/06-api-reference/variables/FSMN_VAD.md
  docs/docs/06-api-reference/variables/LFM2_5_1_2B_INSTRUCT_QUANTIZED.md
  docs/docs/06-api-reference/variables/MULTI_QA_MINILM_L6_COS_V1.md
  docs/docs/06-api-reference/variables/MULTI_QA_MPNET_BASE_DOT_V1.md
  docs/docs/06-api-reference/variables/SELFIE_SEGMENTATION.md
  docs/docs/06-api-reference/variables/SSDLITE_320_MOBILENET_V3_LARGE.md
  docs/docs/06-api-reference/variables/STYLE_TRANSFER_CANDY.md
  docs/docs/06-api-reference/variables/STYLE_TRANSFER_MOSAIC.md
  docs/docs/06-api-reference/variables/STYLE_TRANSFER_RAIN_PRINCESS.md
  docs/docs/06-api-reference/variables/STYLE_TRANSFER_UDNIE.md
  docs/docs/06-api-reference/variables/WHISPER_BASE.md
  docs/docs/06-api-reference/variables/WHISPER_BASE_EN.md
  docs/docs/06-api-reference/variables/WHISPER_SMALL.md
  docs/docs/06-api-reference/variables/WHISPER_SMALL_EN.md
  docs/docs/06-api-reference/variables/WHISPER_TINY.md
  docs/docs/06-api-reference/variables/WHISPER_TINY_EN.md
  docs/docs/06-api-reference/variables/WHISPER_TINY_EN_QUANTIZED.md
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-other, spell-check-other

chore: Add weekly Dependabot updates for all packages
  .github/dependabot.yml
Due: format-other

chore: Add weekly Dependabot updates for all packages (#836)
  .github/dependabot.yml
Due: format-other

fix: ask for permissions even if denied at some point (tool calling example app) (#834)
  apps/llm/app.json
  apps/llm/app/llm_tool_calling/index.tsx
  apps/llm/utils/tools.ts
Due: lint, types, format-js, format-other

chore: aggregate all Dependabot security/dependency bumps (#838-#877)
  apps/computer-vision/package.json
  apps/llm/package.json
  apps/speech/package.json
  apps/text-embeddings/package.json
  docs/package.json
  package.json
  packages/bare-resource-fetcher/package.json
  packages/expo-resource-fetcher/package.json
  packages/react-native-executorch/package.json
  yarn.lock
Due: format-other

fix: resolve TS errors and lockfile issues from dependency bumps
  apps/text-embeddings/app/_layout.tsx
  apps/text-embeddings/package.json
  docs/yarn.lock
  yarn.lock
Due: lint, types, format-js, format-other

fix: commit @react-navigation/native version alignment for lockfile consistency
  apps/computer-vision/package.json
  apps/llm/package.json
  yarn.lock
Due: format-other

docs: rebuild docs with newer package
  docs/docs/06-api-reference/classes/ClassificationModule.md
  docs/docs/06-api-reference/classes/ExecutorchModule.md
  docs/docs/06-api-reference/classes/ImageEmbeddingsModule.md
  docs/docs/06-api-reference/classes/ImageSegmentationModule.md
  docs/docs/06-api-reference/classes/LLMModule.md
  docs/docs/06-api-reference/classes/MessageCountContextStrategy.md
  docs/docs/06-api-reference/classes/OCRModule.md
  docs/docs/06-api-reference/classes/ObjectDetectionModule.md
  docs/docs/06-api-reference/classes/ResourceFetcher.md
  docs/docs/06-api-reference/classes/SlidingWindowContextStrategy.md
  docs/docs/06-api-reference/classes/SpeechToTextModule.md
  docs/docs/06-api-reference/classes/StyleTransferModule.md
  docs/docs/06-api-reference/classes/TextEmbeddingsModule.md
  docs/docs/06-api-reference/classes/TextToImageModule.md
  docs/docs/06-api-reference/classes/TextToSpeechModule.md
  docs/docs/06-api-reference/classes/TokenizerModule.md
  docs/docs/06-api-reference/classes/VADModule.md
  docs/docs/06-api-reference/classes/VerticalOCRModule.md
Due: format-other, spell-check-other

fix: revert react-native and metro-config in llm app to 0.81.5/^0.81.6
  apps/llm/package.json
  yarn.lock
Due: format-other

fix: revert react-native-screens to ~4.16.0 in llm and text-embeddings
  apps/llm/package.json
  apps/text-embeddings/package.json
  yarn.lock
Due: format-other

fix: bump react to 19.2.4 in llm app to match executorch peer dep
  apps/llm/app.json
  apps/llm/package.json
  yarn.lock
Due: format-other

chore: add support for lfm-2.5 instruct model (#822)
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/docs/06-api-reference/index.md
  docs/docs/06-api-reference/typedoc-sidebar.cjs
  docs/docs/06-api-reference/variables/ALL_MINILM_L6_V2.md
  docs/docs/06-api-reference/variables/ALL_MPNET_BASE_V2.md
  docs/docs/06-api-reference/variables/BK_SDM_TINY_VPRED_256.md
  docs/docs/06-api-reference/variables/BK_SDM_TINY_VPRED_512.md
  docs/docs/06-api-reference/variables/CLIP_VIT_BASE_PATCH32_IMAGE.md
  docs/docs/06-api-reference/variables/CLIP_VIT_BASE_PATCH32_TEXT.md
  docs/docs/06-api-reference/variables/DEEPLAB_V3_RESNET50.md
  docs/docs/06-api-reference/variables/EFFICIENTNET_V2_S.md
  docs/docs/06-api-reference/variables/FSMN_VAD.md
  docs/docs/06-api-reference/variables/LFM2_5_1_2B_INSTRUCT.md
  docs/docs/06-api-reference/variables/LFM2_5_1_2B_INSTRUCT_QUANTIZED.md
  docs/docs/06-api-reference/variables/MULTI_QA_MINILM_L6_COS_V1.md
  docs/docs/06-api-reference/variables/MULTI_QA_MPNET_BASE_DOT_V1.md
  docs/docs/06-api-reference/variables/SELFIE_SEGMENTATION.md
  docs/docs/06-api-reference/variables/SSDLITE_320_MOBILENET_V3_LARGE.md
  docs/docs/06-api-reference/variables/STYLE_TRANSFER_CANDY.md
  docs/docs/06-api-reference/variables/STYLE_TRANSFER_MOSAIC.md
  docs/docs/06-api-reference/variables/STYLE_TRANSFER_RAIN_PRINCESS.md
  docs/docs/06-api-reference/variables/STYLE_TRANSFER_UDNIE.md
  docs/docs/06-api-reference/variables/WHISPER_BASE.md
  docs/docs/06-api-reference/variables/WHISPER_BASE_EN.md
  docs/docs/06-api-reference/variables/WHISPER_SMALL.md
  docs/docs/06-api-reference/variables/WHISPER_SMALL_EN.md
  docs/docs/06-api-reference/variables/WHISPER_TINY.md
  docs/docs/06-api-reference/variables/WHISPER_TINY_EN.md
  docs/docs/06-api-reference/variables/WHISPER_TINY_EN_QUANTIZED.md
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-other, spell-check-other

fix: align deps and fix metro configs across all example apps
  apps/computer-vision/metro.config.js
  apps/computer-vision/package.json
  apps/llm/metro.config.js
  apps/llm/package.json
  apps/speech/metro.config.js
  apps/speech/package.json
  apps/text-embeddings/metro.config.js
  apps/text-embeddings/package.json
  package.json
  packages/bare-resource-fetcher/package.json
  packages/expo-resource-fetcher/package.json
  packages/react-native-executorch/package.json
  yarn.lock
Due: lint, types, format-js, format-other

fix: correct frame data extraction
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
Due: format-objc

feat: frame extractor for zero-copy approach
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.h
  packages/react-native-executorch/src/types/common.ts
  yarn.lock
Due: lint, types, format-js, format-objc

chore: num minSdkVersion to 26
  packages/react-native-executorch/android/gradle.properties
Due: none

chore: Rename ImageSegmentation to SemanticSegmentation
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/semantic_segmentation/index.tsx
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SemanticSegmentationTest.cpp
  packages/react-native-executorch/src/hooks/computer_vision/useSemanticSegmentation.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/SemanticSegmentationModule.ts
  packages/react-native-executorch/src/types/computerVision.ts
  packages/react-native-executorch/src/types/semanticSegmentation.ts
Due: lint, types, format-js, format-objc

chore: Update docs
  docs/docs/06-api-reference/classes/SemanticSegmentationModule.md
  docs/docs/06-api-reference/enumerations/DeeplabLabel.md
  docs/docs/06-api-reference/enumerations/SelfieSegmentationLabel.md
  docs/docs/06-api-reference/functions/useImageSegmentation.md
  docs/docs/06-api-reference/functions/useSemanticSegmentation.md
  docs/docs/06-api-reference/index.md
  docs/docs/06-api-reference/interfaces/ImageSegmentationProps.md
  docs/docs/06-api-reference/interfaces/SemanticSegmentationProps.md
  docs/docs/06-api-reference/interfaces/SemanticSegmentationType.md
  docs/docs/06-api-reference/type-aliases/ModelNameOf.md
  docs/docs/06-api-reference/type-aliases/ModelSources.md
  docs/docs/06-api-reference/type-aliases/SegmentationConfig.md
  docs/docs/06-api-reference/type-aliases/SegmentationLabels.md
  docs/docs/06-api-reference/type-aliases/SegmentationModelName.md
  docs/docs/06-api-reference/type-aliases/SemanticSegmentationConfig.md
  docs/docs/06-api-reference/type-aliases/SemanticSegmentationModelName.md
  docs/docs/06-api-reference/type-aliases/SemanticSegmentationModelSources.md
  docs/docs/06-api-reference/typedoc-sidebar.cjs
Due: format-other, spell-check-other

Upadte claude skills
  skills/canary/react-native-executorch/references/reference-cv.md
  skills/react-native-executorch/SKILL.md
  skills/react-native-executorch/references/reference-cv.md
Due: format-other, spell-check-other

Update docs
  docs/docs/03-hooks/02-computer-vision/useSemanticSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/ImageSegmentationModule.md
  docs/docs/04-typescript-api/02-computer-vision/SemanticSegmentationModule.md
Due: format-other, spell-check-other

fix: Update example app paths
  apps/computer-vision/app/index.tsx
Due: lint, types, format-js

feat: unify frame extraction and preprocessing
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.h
  packages/react-native-executorch/src/modules/BaseModule.ts
  yarn.lock
Due: lint, types, format-js, format-objc

feat: remove unused bindJSIMethods
  packages/react-native-executorch/src/modules/BaseModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
Due: lint, types, format-js

feat: initial version of vision model API
  .cspell-wordlist.txt
  apps/computer-vision/app/object_detection/index.tsx
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/TypeConcepts.h
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/BaseImageSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.h
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ObjectDetectionTest.cpp
  packages/react-native-executorch/src/hooks/computer_vision/useObjectDetection.ts
  packages/react-native-executorch/src/hooks/useModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
  packages/react-native-executorch/src/types/objectDetection.ts
Due: lint, types, format-js, format-objc

refactor: errors, logs, unnecessary comments, use existing TensorPtr
  apps/computer-vision/app/object_detection/index.tsx
  apps/computer-vision/package.json
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.h
  packages/react-native-executorch/src/hooks/useModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
  packages/react-native-executorch/src/types/common.ts
  packages/react-native-executorch/src/types/objectDetection.ts
Due: lint, types, format-js, format-objc, format-other

fix: change Frame import in BaseModule
  packages/react-native-executorch/src/modules/BaseModule.ts
Due: lint, types, format-js

feat: use TensorPtrish type for Pixel data input
  apps/computer-vision/app/object_detection/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.cpp
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
  packages/react-native-executorch/src/types/common.ts
  packages/react-native-executorch/src/types/objectDetection.ts
Due: lint, types, format-js, format-objc

refactor: add or remove empty lines
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/BaseImageSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.h
Due: format-objc

fix: errors after rebase
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/FunctionHelpers.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/TypeConcepts.h
  yarn.lock
Due: format-objc

fix: remove redundant preprocessing step
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
Due: format-objc

refactor: changes suggested in review
  .cspell-wordlist.txt
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.h
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.h
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.h
  packages/react-native-executorch/src/hooks/useModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
Due: lint, types, format-js, format-objc

feat: add example screen with vision camera to computer vision app
  .yarn/patches/react-native-vision-camera@npm-5.0.0-beta.1.patch
  apps/computer-vision/app.json
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/object_detection_live/index.tsx
  apps/computer-vision/package.json
  packages/react-native-executorch/src/types/objectDetection.ts
  yarn.lock
Due: lint, types, format-js, format-other

fix: not existing error type, add comments to JSI code
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/FunctionHelpers.h
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.cpp
Due: format-objc

fix: compilation JSI error
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/FunctionHelpers.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.h
Due: format-objc

feat: add new PlatformNotSupported error
  packages/react-native-executorch/common/rnexecutorch/ErrorCodes.h
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.cpp
  packages/react-native-executorch/src/errors/ErrorCodes.ts
  scripts/errors.config.ts
Due: lint, types, format-js, format-objc

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
