Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

chore: refactor jsi conversion
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
Due: format-objc

chore: Make implementation more robust & clearing
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
Due: format-objc

chore: make sure that tests are passing with new implementation of jsi conversion
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
Due: format-objc

fix: update demo app to align with newer version of react-native-audio-api
  apps/speech/package.json
  apps/speech/screens/SpeechToTextScreen.tsx
  yarn.lock
Due: lint, types, format-js, format-other

chore: resize the image segmentation output by default
  docs/docs/03-hooks/02-computer-vision/useImageSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/ImageSegmentationModule.md
  docs/docs/06-api-reference/classes/ImageSegmentationModule.md
  docs/docs/06-api-reference/functions/useImageSegmentation.md
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
Due: lint, types, format-js, format-other, spell-check-other

Update packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
Due: lint, types, format-js

chore: fix CI
  yarn.lock
Due: none

chore: bring back settings
  apps/speech/screens/SpeechToTextScreen.tsx
Due: lint, types, format-js

chore: name tasks in transcription the same as in OpenAI API
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
Due: format-objc

chore: pass resize false in demo app
  apps/computer-vision/app/image_segmentation/index.tsx
Due: lint, types, format-js

chore: add suggestions from code review
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/TranscriptionResult.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
Due: lint, types, format-js, format-objc

Apply suggestions from code review
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
Due: lint, types, format-js

docs: update types in transcription results to make them more explicit
  docs/docs/06-api-reference/interfaces/TranscriptionResult.md
  packages/react-native-executorch/src/types/stt.ts
Due: lint, types, format-js, format-other, spell-check-other

chore: update naming convention
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
Due: format-objc

fix: pass proper value to native generate, fix types
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
  packages/react-native-executorch/src/types/imageSegmentation.ts
Due: lint, types, format-js

Apply suggestions from code review
  apps/speech/components/VerboseTranscription.tsx
  docs/docs/03-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/04-typescript-api/01-natural-language-processing/SpeechToTextModule.md
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/src/types/stt.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

fix: match the skia image dimensions with the input image dimensions, fix docs
  apps/computer-vision/app/image_segmentation/index.tsx
  docs/docs/06-api-reference/classes/ImageSegmentationModule.md
Due: lint, types, format-js, format-other, spell-check-other

docs: Update api reference after naming changes
  docs/docs/06-api-reference/interfaces/TranscriptionSegment.md
Due: format-other, spell-check-other

Change configuration in LLMModule so it can be set before loading model (#734)
  docs/docs/06-api-reference/classes/LLMModule.md
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
Due: lint, types, format-js, format-other, spell-check-other

Add noSpeechProb
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/GenerationResult.h
Due: format-objc

Revert "Add noSpeechProb"
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/GenerationResult.h
Due: format-objc

chore: Remove noSpeechProb as it is no supported
  apps/speech/components/VerboseTranscription.tsx
  docs/docs/03-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/04-typescript-api/01-natural-language-processing/SpeechToTextModule.md
  docs/docs/06-api-reference/interfaces/TranscriptionSegment.md
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/Segment.h
  packages/react-native-executorch/src/types/stt.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

chore: Apply suggestions from code review
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
Due: lint, types, format-js

fix tests
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ImageEmbeddingsTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextToImageTest.cpp
Due: format-objc

chore!: don't resize the image segmentation output by default, change param name (#801)
  apps/computer-vision/app/image_segmentation/index.tsx
  docs/docs/03-hooks/02-computer-vision/useImageSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/ImageSegmentationModule.md
  docs/docs/06-api-reference/classes/ImageSegmentationModule.md
  docs/docs/06-api-reference/functions/useImageSegmentation.md
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
  packages/react-native-executorch/src/types/imageSegmentation.ts
Due: lint, types, format-js, format-other, spell-check-other

chore: add todo's to tests
  packages/react-native-executorch/common/rnexecutorch/tests/integration/BaseModelTests.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextToImageTest.cpp
Due: format-objc

feat!: Add time stamping to speech to text (#742)
  .cspell-wordlist.txt
  apps/llm/app/voice_chat/index.tsx
  apps/speech/app.json
  apps/speech/components/VerboseTranscription.tsx
  apps/speech/package.json
  apps/speech/screens/SpeechToTextScreen.tsx
  docs/docs/03-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/04-typescript-api/01-natural-language-processing/SpeechToTextModule.md
  docs/docs/06-api-reference/classes/SpeechToTextModule.md
  docs/docs/06-api-reference/functions/useSpeechToText.md
  docs/docs/06-api-reference/interfaces/SpeechToTextModelConfig.md
  docs/docs/06-api-reference/interfaces/SpeechToTextProps.md
  docs/docs/06-api-reference/interfaces/SpeechToTextType.md
  docs/docs/06-api-reference/interfaces/TranscriptionResult.md
  docs/docs/06-api-reference/interfaces/TranscriptionSegment.md
  docs/docs/06-api-reference/interfaces/Word.md
  docs/docs/06-api-reference/type-aliases/SpeechToTextLanguage.md
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/DecodingOptions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/ProcessResult.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/Segment.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/TranscriptionResult.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SpeechToTextTest.cpp
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/types/stt.ts
  yarn.lock
Due: lint, types, format-js, format-objc, format-other, spell-check-other

Exclude tests directory from package.json files (#795)
  packages/react-native-executorch/package.json
Due: format-other

bump version
  packages/react-native-executorch/package.json
Due: format-other

bug-fix: protect acquiring buffer by different workers
  apps/speech/package.json
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.h
  yarn.lock
Due: format-objc, format-other

chore: revert changing rnaa version
  apps/speech/package.json
  yarn.lock
Due: format-other

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
