Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

Apply suggestion from @msluszniak
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
Due: lint, types, format-js

Apply autofix lint changes
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
Due: lint, types, format-js

Fix linter issues
  apps/llm/app/voice_chat/index.tsx
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
Due: lint, types, format-js

Revert changing error messages
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
Due: lint, types, format-js

Revert one more message
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
Due: lint, types, format-js

Update docs
  docs/docs/02-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/03-typescript-api/01-natural-language-processing/SpeechToTextModule.md
Due: format-other, spell-check-other

Fix error in demo app
  apps/speech/screens/SpeechToTextScreen.tsx
Due: lint, types, format-js

wip
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
Due: none

feat: basic on-device gtest run
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
Due: format-objc

feat: extend cmake to use 3rd party android libs
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
Due: none

feat(wip): add a run_tests script to run tests on emulator
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
Due: none

feat: add some tests along with 3p stubs
  packages/react-native-executorch/common/rnexecutorch/tests/BaseModelTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/ClassificationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/ObjectDetectionTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/stubs/jsi_stubs.cpp
Due: format-objc

feat: add more tests
  packages/react-native-executorch/common/rnexecutorch/tests/BaseModelTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/ImageEmbeddingsTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/SpeechToTextTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/StyleTransferTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/TestUtils.h
  packages/react-native-executorch/common/rnexecutorch/tests/TextEmbeddingsTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/TokenizerModuleTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/VoiceActivityDetectionTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/common/rnexecutorch/tests/stubs/jsi_stubs.cpp
Due: format-objc

feat: add llm tests
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/LLMTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
Due: format-objc

chore: remove logs, add jsi stubs
  packages/react-native-executorch/common/rnexecutorch/tests/LLMTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/stubs/jsi_stubs.cpp
Due: format-objc

chore: void cast to avoid [[nodiscard]] warnings
  packages/react-native-executorch/common/rnexecutorch/tests/BaseModelTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/ClassificationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/ImageEmbeddingsTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/LLMTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/LogTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/ObjectDetectionTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/SpeechToTextTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/StyleTransferTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/TextEmbeddingsTest.cpp
Due: format-objc

chore: bump docusaurus, t-rex-ui & react
  docs/package.json
Due: format-other

chore: update config to enable ask ai
  docs/docusaurus.config.js
Due: lint, types, format-js

feat: add tti tests
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/TextToImageTest.cpp
Due: format-objc

chore: avoid redownloading when model file exists
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
Due: none

chore: add yarn.lock
  docs/yarn.lock
Due: none

chore: update docs-build-check workflow to use required node version
  .github/workflows/docs-build-check.yml
Due: format-other

docs: add Ask AI feature (#744)
  .github/workflows/docs-build-check.yml
  docs/docusaurus.config.js
  docs/package.json
  docs/yarn.lock
Due: lint, types, format-js, format-other

add TextToSpeechModule & useTextToSpeech docs without benchmarks
  docs/docs/03-hooks/01-natural-language-processing/useTextToSpeech.md
  docs/docs/04-typescript-api/01-natural-language-processing/TextToSpeechModule.md
Due: format-other, spell-check-other

enable stopping streaming mode
  docs/docs/03-hooks/01-natural-language-processing/useTextToSpeech.md
  docs/docs/04-typescript-api/01-natural-language-processing/TextToSpeechModule.md
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

apply review suggestions
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/ContainerHelpers.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Synthesizer.cpp
Due: format-objc

restructurize t2s for dynamic Kokoro
  apps/speech/screens/Quiz.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/F0NPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/F0NPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Synthesizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Synthesizer.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.cpp
  packages/react-native-executorch/src/constants/tts/models.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js, format-objc

apply review suggestions: JC
  docs/docs/03-hooks/01-natural-language-processing/useTextToSpeech.md
Due: format-other, spell-check-other

update text to speech docs
  .cspell-wordlist.txt
  docs/docs/03-hooks/01-natural-language-processing/useTextToSpeech.md
  docs/docs/04-typescript-api/01-natural-language-processing/TextToSpeechModule.md
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Types.h
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

replace find_if with ranges version
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
Due: format-objc

chore: add .pte files to gitignore
  .gitignore
Due: none

chore: add docusaurus-plugin-llms-txt package
  docs/package.json
  docs/yarn.lock
Due: format-other

feat: configure llms-txt plugin
  docs/docusaurus.config.js
Due: lint, types, format-js

chore/fix: add scripts for fixing urls in llms.txt
  docs/package.json
  docs/scripts/postbuild.mjs
  docs/scripts/tasks/fix-llms-txt.mjs
Due: format-other

add text-to-speech benchmarks
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/memory-usage.md
  docs/docs/02-benchmarks/model-size.md
Due: format-other, spell-check-other

fix broken link & remove benchmarks from hook docs
  docs/docs/02-benchmarks/memory-usage.md
  docs/docs/03-hooks/01-natural-language-processing/useTextToSpeech.md
  docs/docs/04-typescript-api/01-natural-language-processing/TextToSpeechModule.md
Due: format-other, spell-check-other
