Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

Rebase with main
  packages/react-native-executorch/src/constants/modelUrls.ts
  skills/canary/react-native-executorch/references/reference-models.md
  skills/react-native-executorch/references/reference-models.md
Due: lint, types, format-js, format-other, spell-check-other

Fix broken test build
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
Due: none

chore(stt): drop unused transcribeStringOnly declaration
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
Due: format-objc

fix(stt): preserve pending committed words in OnlineASR
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
Due: format-objc

fix(stt): use scores.size() as avgLogProb denominator
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.cpp
Due: format-objc

perf(stt): hoist mt19937 out of the sampling loop
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.cpp
Due: format-objc

fix(stt)!: drop quantized variants from SpeechToTextModelName
  packages/react-native-executorch/src/types/stt.ts
Due: lint, types, format-js

chore(stt): align stream() declaration with definition
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
Due: format-objc

fix(stt): break streamStop() out of the timeout pause immediately
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
Due: format-objc

fix: flip the condition for isDevice
  apps/computer-vision/components/BottomBar.tsx
Due: lint, types, format-js

fix: flip the condition for isDevice in computer vision demo app (#1161)
  apps/computer-vision/components/BottomBar.tsx
Due: lint, types, format-js

gemma4 support
  packages/react-native-executorch/common/runner/base_llm_runner.cpp
  packages/react-native-executorch/common/runner/constants.h
  packages/react-native-executorch/common/runner/encoders/vision_encoder.cpp
  packages/react-native-executorch/common/runner/multimodal_decoder_runner.h
  packages/react-native-executorch/common/runner/multimodal_prefiller.cpp
  packages/react-native-executorch/common/runner/multimodal_prefiller.h
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/text_runner.cpp
  packages/react-native-executorch/common/runner/text_token_generator.h
  packages/react-native-executorch/common/runner/util.h
  packages/react-native-executorch/src/constants/llmDefaults.ts
Due: lint, types, format-js, format-objc

gemma4 audio
  apps/llm/app/llm/index.tsx
  apps/llm/app/multimodal_llm/index.tsx
  apps/llm/components/llmModels.ts
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/runner/constants.h
  packages/react-native-executorch/common/runner/encoders/audio_encoder.cpp
  packages/react-native-executorch/common/runner/encoders/audio_encoder.h
  packages/react-native-executorch/common/runner/multimodal_input.h
  packages/react-native-executorch/common/runner/multimodal_prefiller.cpp
  packages/react-native-executorch/common/runner/multimodal_prefiller.h
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.h
  packages/react-native-executorch/src/constants/llmDefaults.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-objc

docs: simplify & update STT docs
  docs/docs/03-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/04-typescript-api/01-natural-language-processing/SpeechToTextModule.md
Due: format-other, spell-check-other

feat!: major performance & accuracy improvements in speech-to-text module (#1132)
  apps/llm/app/index.tsx
  apps/llm/app/voice_chat/index.tsx
  apps/speech/screens/SpeechToTextScreen.tsx
  docs/docs/03-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/04-typescript-api/01-natural-language-processing/SpeechToTextModule.md
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/schema/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/Word.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Utils.h
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/types/stt.ts
  skills/canary/react-native-executorch/references/reference-models.md
  skills/react-native-executorch/references/reference-models.md
Due: lint, types, format-js, format-objc, format-other, spell-check-other

Add CoreML whisper models
  yarn.lock
Due: none

Update urls & audio-api
  yarn.lock
Due: none

Implement VAD streaming
  apps/speech/App.tsx
  apps/speech/screens/VoiceActivityDetectionScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useVAD.ts
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
  packages/react-native-executorch/src/types/vad.ts
Due: lint, types, format-js, format-objc

Integrate VAD with STT
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/schema/ASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/schema/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/DecodingOptions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/Options.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/types/stt.ts
  packages/react-native-executorch/src/types/vad.ts
Due: lint, types, format-js, format-objc

Bump audio-api version
  apps/llm/package.json
  yarn.lock
Due: format-other

Rebase with other PR changes
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
Due: format-objc

Fix wrong include issue
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.h
Due: format-objc

fix: make native error of type Error instead of Object
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
Due: format-objc

Apply review suggestions
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
Due: lint, types, format-js, format-objc

Fix demo app keyboard behavior
  apps/speech/screens/SpeechToTextScreen.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
  apps/speech/screens/VoiceActivityDetectionScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
Due: lint, types, format-js, format-objc

fix: make native error of type Error instead of Object (#1165)
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
Due: format-objc

gemma_vulkan
  apps/llm/app/llm/index.tsx
  apps/llm/app/multimodal_llm/index.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/runner/base_llm_runner.cpp
  packages/react-native-executorch/common/runner/base_llm_runner.h
  packages/react-native-executorch/common/runner/constants.h
  packages/react-native-executorch/common/runner/encoders/audio_encoder.cpp
  packages/react-native-executorch/common/runner/encoders/audio_encoder.h
  packages/react-native-executorch/common/runner/encoders/vision_encoder.cpp
  packages/react-native-executorch/common/runner/irunner.h
  packages/react-native-executorch/common/runner/multimodal_decoder_runner.h
  packages/react-native-executorch/common/runner/multimodal_prefiller.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.h
  packages/react-native-executorch/common/runner/sampler.cpp
  packages/react-native-executorch/common/runner/sampler.h
  packages/react-native-executorch/common/runner/text_decoder_runner.cpp
  packages/react-native-executorch/common/runner/text_decoder_runner.h
  packages/react-native-executorch/common/runner/text_prefiller.cpp
  packages/react-native-executorch/common/runner/text_prefiller.h
  packages/react-native-executorch/common/runner/text_runner.cpp
  packages/react-native-executorch/common/runner/text_token_generator.h
  packages/react-native-executorch/src/constants/llmDefaults.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-objc

post rebase fix
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/runner/base_llm_runner.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.h
  packages/react-native-executorch/common/runner/sampler.cpp
  packages/react-native-executorch/common/runner/sampler.h
  packages/react-native-executorch/common/runner/text_prefiller.cpp
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js, format-objc

fix(urls): make legacy whisper exports prefer coreml on iOS
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

docs(model-registry): fix migration section to reflect actual prior API
  docs/docs/05-utilities/model-registry.md
Due: format-other, spell-check-other

Update demos & change default STT model for iOS simulator
  apps/speech/screens/SpeechToTextScreen.tsx
  docs/docs/03-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/03-hooks/01-natural-language-processing/useVAD.md
  docs/docs/04-typescript-api/01-natural-language-processing/SpeechToTextModule.md
  docs/docs/04-typescript-api/01-natural-language-processing/VADModule.md
Due: lint, types, format-js, format-other, spell-check-other

fix: restore typo and drop stale voice_chat drawer entry
  apps/llm/app/_layout.tsx
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js

docs: restore getting-started install section from main
  docs/docs/01-fundamentals/01-getting-started.md
Due: format-other, spell-check-other

docs: restore loading-models package-manager tabs from main
  docs/docs/01-fundamentals/02-loading-models.md
Due: format-other, spell-check-other

docs: restore selectBy* API reference links in useInstanceSegmentation
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
Due: format-other, spell-check-other

docs: restore error-handling reference paragraph and table wording
  docs/docs/05-utilities/04-error-handling.md
Due: format-other, spell-check-other

docs: restore stray blank line in custom-adapter
  docs/docs/08-resource-fetcher/02-custom-adapter.md
Due: format-other, spell-check-other

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
