Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

Cleanup includes
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.h
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
Due: format-objc

Moving postprocess to the model
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.h
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
Due: format-objc

Includes cleanup
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.h
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
Due: format-objc

Update app layout
  apps/computer-vision/app/text_to_image/index.tsx
Due: lint, types, format-js

Adding callback on inference step
  apps/computer-vision/app/text_to_image/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/src/hooks/computer_vision/useTextToImage.ts
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
Due: lint, types, format-js, format-objc

Displaying progress in app
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/components/ProgressBar.tsx
Due: lint, types, format-js

Adding interrupt
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/app/text_to_image/utils.ts
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/src/hooks/computer_vision/useTextToImage.ts
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
Due: lint, types, format-js, format-objc

remove delete from hooks
  docs/docs/02-hooks/01-natural-language-processing/useSpeechToText.md
  docs/versioned_docs/version-0.5.x/02-hooks/01-natural-language-processing/useSpeechToText.md
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
Due: lint, types, format-js, format-other, spell-check-other

Remove jitpack from RELEASE.md (#575)
  RELEASE.md
Due: format-other, spell-check-other

feat: use react-native-audio-api in llm voice chat (#592)
  apps/llm/android/app/src/main/AndroidManifest.xml
  apps/llm/app.json
  apps/llm/app/voice_chat/index.tsx
  apps/llm/ios/Podfile.lock
  apps/llm/ios/llm.xcodeproj/project.pbxproj
  apps/llm/metro.config.js
  apps/llm/package.json
  apps/speech-to-text/ios/Podfile.lock
  apps/speech-to-text/ios/speechtotext.xcodeproj/project.pbxproj
  apps/speech-to-text/metro.config.js
  yarn.lock
Due: lint, types, format-js, format-other

Add link to optimum-executorch and add better link to executorch export in readme
  README.md
Due: format-other, spell-check-other

Return base 64 from TextToImageModule
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/app/text_to_image/utils.ts
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/src/hooks/computer_vision/useTextToImage.ts
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
Due: lint, types, format-js, format-objc

Manage input inside UNet
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.h
Due: format-objc

Extract encoder class
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Encoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Encoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
Due: format-objc

Address changes from review
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Encoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-objc

Update README.md
  README.md
Due: format-other, spell-check-other

feat: add s2t unload and make streamInsert and streamStop sync (#594)
  apps/llm/app/voice_chat/index.tsx
  apps/speech-to-text/screens/SpeechToTextScreen.tsx
  docs/docs/02-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/03-typescript-api/01-natural-language-processing/SpeechToTextModule.md
  docs/versioned_docs/version-0.5.x/02-hooks/01-natural-language-processing/useSpeechToText.md
  docs/versioned_docs/version-0.5.x/03-typescript-api/01-natural-language-processing/SpeechToTextModule.md
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/TypeConcepts.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

Scheduler update step method
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
Due: format-objc

Encoder working
  packages/react-native-executorch/common/rnexecutorch/models/PipelineBase.cpp
  packages/react-native-executorch/common/rnexecutorch/models/PipelineBase.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
Due: format-objc

Update app
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/package.json
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/modules/image_generation/TextToImageModule.ts
Due: lint, types, format-js, format-objc, format-other

VAE decoder working fine
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.cpp
Due: format-objc

UNet draft
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.h
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/image_generation/TextToImageModule.ts
Due: lint, types, format-js, format-objc

Cleaning
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/text_to_image/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.cpp
  packages/react-native-executorch/src/hooks/computer_vision/useTextToImage.ts
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
Due: lint, types, format-js, format-objc
