Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

refactor: remove BaseModule.ts and rename NonStaticBaseModule.ts to replace it. (#512)
  packages/react-native-executorch/src/hooks/computer_vision/useClassification.ts
  packages/react-native-executorch/src/hooks/computer_vision/useImageEmbeddings.ts
  packages/react-native-executorch/src/hooks/computer_vision/useImageSegmentation.ts
  packages/react-native-executorch/src/hooks/computer_vision/useObjectDetection.ts
  packages/react-native-executorch/src/hooks/computer_vision/useStyleTransfer.ts
  packages/react-native-executorch/src/hooks/general/useExecutorchModule.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextEmbeddings.ts
  packages/react-native-executorch/src/hooks/useModule.ts
  packages/react-native-executorch/src/modules/BaseModule.ts
  packages/react-native-executorch/src/modules/BaseNonStaticModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/general/ExecutorchModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
Due: lint, types, format-js

Add word to cspell and fix naming clash (#538)
  .cspell-wordlist.txt
  packages/react-native-executorch/src/utils/SpeechToTextModule/ASR.ts
Due: lint, types, format-js

Refactor jsi conversion & NITs (#562)
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
Due: format-objc

Remove `std::format` from c++ code to support _LIBCPP_STD_VER < 20 (#571)
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
Due: format-objc

remove unneeded comma (#578)
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
Due: format-objc

Post conflicts clean up.
  apps/llm/ios/Podfile.lock
  apps/llm/ios/llm.xcodeproj/project.pbxproj
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
Due: format-objc

add gzip compression check
  packages/react-native-executorch/android/src/main/cpp/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/data_processing/gzip.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/gzip.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/ASR.h
  packages/react-native-executorch/react-native-executorch.podspec
Due: format-objc

make streamInsert and streamStop awaitable
  apps/speech-to-text/screens/SpeechToTextScreen.tsx
  docs/docs/02-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/03-typescript-api/01-natural-language-processing/SpeechToTextModule.md
Due: lint, types, format-js, format-other, spell-check-other

fix(iOS): link libthreadpool in podspec
  packages/react-native-executorch/react-native-executorch.podspec
Due: none

v0.5.3
  packages/react-native-executorch/package.json
Due: format-other

refactor
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
  packages/react-native-executorch/common/rnexecutorch/models/EncoderDecoderBase.cpp
  packages/react-native-executorch/common/rnexecutorch/models/EncoderDecoderBase.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/DecodingOptions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/Segment.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/Word.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/HypothesisBuffer.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/DecodingOptions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/GenerationResult.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/Segment.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/Word.h
Due: format-objc

add namespaces
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/HypothesisBuffer.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/DecodingOptions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/GenerationResult.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/ProcessResult.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/Word.h
Due: format-objc

Remove Moonshine from docs etc. (#574)
  README.md
  apps/llm/app/voice_chat/index.tsx
  docs/docs/04-benchmarks/inference-time.md
  docs/src/pages/index.tsx
  docs/versioned_docs/version-0.5.x/04-benchmarks/inference-time.md
Due: lint, types, format-js, format-other, spell-check-other

refactor: replace std::vector with std::span
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
Due: format-objc

refactor: update waveform and tokens handling to use typed arrays with deprecation warnings
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
Due: lint, types, format-js

refactor: use k prefix for constants and remove magic numbers
  packages/react-native-executorch/common/rnexecutorch/data_processing/gzip.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.h
Due: format-objc

Encoder working
  packages/react-native-executorch/common/rnexecutorch/models/PipelineBase.cpp
  packages/react-native-executorch/common/rnexecutorch/models/PipelineBase.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
Due: format-objc

Scheduler draft
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
Due: format-objc

Scheduler update step method
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
Due: format-objc

Text2image placeholder
  apps/text-embeddings/app/text-embeddings/index.tsx
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/models/PipelineBase.cpp
  packages/react-native-executorch/common/rnexecutorch/models/PipelineBase.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/hooks/image_generation/useTextToImage.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/image_generation/TextToImageModule.ts
Due: lint, types, format-js, format-objc

UNet working fine
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.h
  packages/react-native-executorch/src/hooks/image_generation/useTextToImage.ts
Due: lint, types, format-js, format-objc

UNet draft
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.h
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/image_generation/TextToImageModule.ts
Due: lint, types, format-js, format-objc

VAE decoder working fine
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.cpp
Due: format-objc

add suggested changes
  packages/react-native-executorch/android/src/main/cpp/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/data_processing/gzip.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/gzip.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/HypothesisBuffer.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.h
Due: format-objc

docs: add deprecation notice
  apps/llm/app/voice_chat/index.tsx
  apps/speech-to-text/screens/SpeechToTextScreen.tsx
  docs/docs/02-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/03-typescript-api/01-natural-language-processing/SpeechToTextModule.md
  docs/versioned_docs/version-0.5.x/02-hooks/01-natural-language-processing/useSpeechToText.md
  docs/versioned_docs/version-0.5.x/03-typescript-api/01-natural-language-processing/SpeechToTextModule.md
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/HypothesisBuffer.cpp
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

refactor: simplify optional initialization in DecodingOptions constructor
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/DecodingOptions.h
Due: format-objc

nits
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
Due: format-objc

remove const from std::vector
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
Due: format-objc

Update app
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/package.json
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/modules/image_generation/TextToImageModule.ts
Due: lint, types, format-js, format-objc, format-other

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
