Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

fix: model stopping generation in the middle of its answer
  packages/react-native-executorch/common/runner/unified_runner.cpp
Due: format-objc

refactor: unify multimodal/text paths in sendMessage, add getVisualTokenCount JSI
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/runner/base_llm_runner.h
  packages/react-native-executorch/common/runner/encoders/iencoder.h
  packages/react-native-executorch/common/runner/encoders/vision_encoder.cpp
  packages/react-native-executorch/common/runner/encoders/vision_encoder.h
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.h
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-objc

test: add TextRunnerTests and VLMTests suites, register in CMake and run_tests.sh
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/MultimodalRunnerTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextRunnerTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
Due: format-objc

feat: add logging, fix metadata application, fix module ownership and EOS IDs
  apps/llm/app/multimodal_llm/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/runner/base_llm_runner.cpp
  packages/react-native-executorch/common/runner/constants.h
  packages/react-native-executorch/common/runner/encoders/vision_encoder.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/text_runner.cpp
  packages/react-native-executorch/common/runner/text_runner.h
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
Due: lint, types, format-js, format-objc

refactor: replace example namespace with rnexecutorch::llm::runner in runner classes
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/MultimodalRunnerTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextRunnerTest.cpp
  packages/react-native-executorch/common/runner/base_llm_runner.cpp
  packages/react-native-executorch/common/runner/base_llm_runner.h
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.h
  packages/react-native-executorch/common/runner/text_runner.cpp
  packages/react-native-executorch/common/runner/text_runner.h
Due: format-objc

refactor: replace Image class with ImagePath + VisionEncoder embedding cache
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/runner/encoders/vision_encoder.cpp
  packages/react-native-executorch/common/runner/encoders/vision_encoder.h
  packages/react-native-executorch/common/runner/image.h
  packages/react-native-executorch/common/runner/multimodal_input.h
  packages/react-native-executorch/common/runner/multimodal_prefiller.cpp
  packages/react-native-executorch/common/runner/multimodal_prefiller.h
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
Due: format-objc

refactor: collapse BaseLLMRunner constructor, deduplicate eos_ids, read image shape from model metadata
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/common/runner/base_llm_runner.cpp
  packages/react-native-executorch/common/runner/base_llm_runner.h
  packages/react-native-executorch/common/runner/encoders/vision_encoder.cpp
  packages/react-native-executorch/common/runner/encoders/vision_encoder.h
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.h
  packages/react-native-executorch/common/runner/text_runner.cpp
  packages/react-native-executorch/common/runner/text_runner.h
Due: format-objc

refactor: comments etc.
  packages/react-native-executorch/common/runner/encoders/iencoder.h
  packages/react-native-executorch/common/runner/multimodal_decoder_runner.h
  packages/react-native-executorch/common/runner/multimodal_input.h
  packages/react-native-executorch/common/runner/multimodal_prefiller.cpp
  packages/react-native-executorch/common/runner/multimodal_prefiller.h
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-objc

revert: remove TextRunnerTests and VLMTests suites
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/MultimodalRunnerTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextRunnerTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
Due: format-objc

docs: write an instruction for using llm with vision capabilities
  .cspell-wordlist.txt
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/docs/04-typescript-api/01-natural-language-processing/LLMModule.md
Due: format-other, spell-check-other

fix: cap VLM generation tokens, propagate encoder load errors, pass image_token from config
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/common/runner/base_llm_runner.h
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/text_runner.cpp
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-objc

fix: requested changes
  packages/react-native-executorch/common/runner/base_llm_runner.cpp
  packages/react-native-executorch/common/runner/encoders/vision_encoder.cpp
  packages/react-native-executorch/common/runner/encoders/vision_encoder.h
  packages/react-native-executorch/common/runner/multimodal_input.h
  packages/react-native-executorch/common/runner/multimodal_prefiller.cpp
  packages/react-native-executorch/common/runner/multimodal_prefiller.h
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/text_runner.cpp
Due: format-objc

fix: use & instead of *
  packages/react-native-executorch/common/runner/multimodal_decoder_runner.h
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/text_decoder_runner.cpp
  packages/react-native-executorch/common/runner/text_decoder_runner.h
  packages/react-native-executorch/common/runner/text_runner.cpp
Due: format-objc

fix: address PR review comments for VLM support
  apps/llm/app.json
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/rnexecutorch/threads/GlobalThreadPool.h
  packages/react-native-executorch/common/runner/base_llm_runner.cpp
  packages/react-native-executorch/common/runner/encoders/iencoder.h
  packages/react-native-executorch/common/runner/encoders/vision_encoder.cpp
  packages/react-native-executorch/common/runner/encoders/vision_encoder.h
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/text_runner.cpp
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js, format-objc, format-other

refactor: unify namespaces
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/runner/base_llm_runner.cpp
  packages/react-native-executorch/common/runner/base_llm_runner.h
  packages/react-native-executorch/common/runner/multimodal_input.h
  packages/react-native-executorch/common/runner/multimodal_prefiller.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.h
  packages/react-native-executorch/common/runner/text_runner.cpp
  packages/react-native-executorch/common/runner/text_runner.h
Due: format-objc

feat: requested changes
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/docs/04-typescript-api/01-natural-language-processing/LLMModule.md
  packages/react-native-executorch/common/rnexecutorch/threads/GlobalThreadPool.h
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

feat: add missing changes to LLMModule
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
Due: lint, types, format-js

fix: comment, throw when no image tag
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js

tests: add tests for new runner
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/stubs/StubRunner.h
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/common/rnexecutorch/tests/unit/RunnerTest.cpp
  packages/react-native-executorch/common/runner/base_llm_runner.cpp
Due: format-objc, format-other, spell-check-other

fix: remove audioPath left after rebase
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
Due: lint, types, format-js

chore: point to swmansion org on huggingface
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

Update packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

chore: Rename ImageSegmentation to SemanticSegmentation
  packages/react-native-executorch/src/modules/computer_vision/SemanticSegmentationModule.ts
Due: lint, types, format-js

Upadte claude skills
  skills/canary/react-native-executorch/references/reference-cv.md
  skills/react-native-executorch/references/reference-cv.md
Due: format-other, spell-check-other

Update docs
  docs/docs/03-hooks/02-computer-vision/useSemanticSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/SemanticSegmentationModule.md
Due: format-other, spell-check-other

Initial instance segmetntation
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/instance_segmentation/index.tsx
  apps/computer-vision/package.json
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/InstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/InstanceSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/Types.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/smollm_tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/t2i_tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/test_image.jpg
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/whisper_tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/log.txt
  packages/react-native-executorch/src/hooks/computer_vision/useInstanceSegmentation.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/SemanticSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js, format-objc, format-other

Rename to BaseInstanceSegmentation
  apps/computer-vision/app/instance_segmentation/index.tsx
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
Due: lint, types, format-js, format-objc

Update api reference docs
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/Types.h
  packages/react-native-executorch/src/hooks/computer_vision/useInstanceSegmentation.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js, format-objc

Add ImageWithMasks component
  apps/computer-vision/app/instance_segmentation/index.tsx
  apps/computer-vision/components/ImageWithMasks.tsx
Due: lint, types, format-js

Update gitignore
  .gitignore
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/smollm_tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/t2i_tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/test_image.jpg
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/whisper_tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/log.txt
Due: format-other

Update instance segmentaiton demo app
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/instance_segmentation/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js, format-objc

Add docs and fix some typechecks
  apps/computer-vision/app/instance_segmentation/index.tsx
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/memory-usage.md
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/hooks/computer_vision/useInstanceSegmentation.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/SemanticSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js, format-other, spell-check-other

Remove type field from postprocessor config
  apps/computer-vision/app/instance_segmentation/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js, format-objc

Change BaseInstanceSegmentation to accept and return string labels
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/Types.h
Due: format-objc

Add method unloading
  apps/computer-vision/app/instance_segmentation/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
Due: lint, types, format-js, format-objc

Speed up mask processing
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
Due: lint, types, format-js, format-objc

Change typedoc links
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js

Add docs
  apps/computer-vision/components/ImageWithMasks.tsx
  docs/docs/02-benchmarks/memory-usage.md
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/InstanceSegmentationModule.md
Due: lint, types, format-js, format-other, spell-check-other

Remove redundant postprocessor config type
  packages/react-native-executorch/src/hooks/computer_vision/useInstanceSegmentation.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js

Add tests
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/InstanceSegmentationModule.md
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/InstanceSegmentationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/src/constants/commonVision.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other
