Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

chore: Release v0.10.3 (#1498)
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/fetcher/telemetry.ts
Due: lint, types, format-js, format-other

feat(models): add the DeepLabV3-ResNet101 and FCN QNN a16w8 variants
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(apps): offer the DeepLabV3-ResNet101 and FCN QNN exports in the CV demo
  apps/computer-vision/app/segmentation/index.tsx
Due: lint, types, format-js

feat(models): add the LR-ASPP MobileNetV3 QNN a16w8 variant
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(apps): offer the LR-ASPP QNN export in the CV demo
  apps/computer-vision/app/segmentation/index.tsx
Due: lint, types, format-js

fix(tts): sync Supertonic languages with upstream, drop Chinese claim
  docs/docs/02-extensions/speech/02-text-to-speech.md
  docs/versioned_docs/version-0.10.0/02-extensions/speech/02-text-to-speech.md
  packages/react-native-executorch/src/extensions/speech/utils/supertonicUtils.ts
Due: lint, types, format-js, format-other, spell-check-other

test(tts): pin Supertonic languages to upstream
  packages/react-native-executorch/__tests__/api/constants.test.ts
Due: lint, types, format-js

fix(tts): sync Supertonic languages with upstream (#1500)
  docs/docs/02-extensions/speech/02-text-to-speech.md
  docs/versioned_docs/version-0.10.0/02-extensions/speech/02-text-to-speech.md
  packages/react-native-executorch/__tests__/api/constants.test.ts
  packages/react-native-executorch/src/extensions/speech/utils/supertonicUtils.ts
Due: lint, types, format-js, format-other, spell-check-other

fix(tts): sync Supertonic languages with upstream (#1500)
  packages/react-native-executorch/__tests__/api/constants.test.ts
  packages/react-native-executorch/src/extensions/speech/utils/supertonicUtils.ts
Due: lint, types, format-js

chore: Release v0.10.4
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/fetcher/telemetry.ts
Due: lint, types, format-js, format-other

fix(tts)!: sync Supertonic languages with upstream (#1500) (#1501)
  packages/react-native-executorch/__tests__/api/constants.test.ts
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/extensions/speech/utils/supertonicUtils.ts
  packages/react-native-executorch/src/fetcher/telemetry.ts
Due: lint, types, format-js, format-other

docs: refresh iPhone SE benchmarks from the full run
  docs/docs/04-benchmarks/01-overview.md
  docs/docs/04-benchmarks/03-ios.md
Due: format-other, spell-check-other

fix(ios): prevent CocoaPods OTHER_LDFLAGS merge collision (#1503)
  .cspell-wordlist.txt
  packages/react-native-executorch/__tests__/api/podspecAttributes.test.ts
  packages/react-native-executorch/react-native-executorch.podspec
Due: lint, types, format-js

fix(speech): add CJK punctuation marks to text partitioner (#1505)
  packages/react-native-executorch/__tests__/extensions/textPartitioner.test.ts
  packages/react-native-executorch/src/extensions/speech/utils/textPartitioner.ts
Due: lint, types, format-js

docs: add interactive benchmark charts and consolidate benchmarks page
  .cspell-wordlist.txt
  docs/docs/04-benchmarks/01-benchmarks.mdx
  docs/docs/04-benchmarks/01-overview.md
  docs/docs/04-benchmarks/02-android.md
  docs/docs/04-benchmarks/03-ios.md
  docs/docs/04-benchmarks/04-llms.md
  docs/docs/04-benchmarks/_category_.json
  docs/sidebars.js
  docs/src/components/Benchmarks/BenchmarkChart.tsx
  docs/src/components/Benchmarks/index.ts
  docs/src/components/Benchmarks/styles.module.css
  docs/src/data/benchmarks.json
  docs/src/data/benchmarks.ts
Due: lint, types, format-js, format-other, spell-check-other

docs: correct benchmark task details and fix mdx parsing
  docs/docs/04-benchmarks/01-benchmarks.mdx
Due: none

docs: group benchmark chart by backend for model size and fix animations
  docs/src/components/Benchmarks/BenchmarkChart.tsx
  docs/src/data/benchmarks.ts
Due: lint, types, format-js

docs: fix benchmark chart tooltip formatting and unit wrapping
  docs/src/components/Benchmarks/BenchmarkChart.tsx
  docs/src/components/Benchmarks/styles.module.css
Due: lint, types, format-js, format-other, spell-check-other

docs: streamline benchmarks intro and explain backends and precision
  docs/docs/04-benchmarks/01-benchmarks.mdx
Due: none

docs: simplify model size metric description
  docs/src/data/benchmarks.ts
Due: lint, types, format-js

refactor(llm): remove native C++ LLM runner and tests
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/cpp/RnExecutorch.cpp
  packages/react-native-executorch/cpp/extensions/llm/install.cpp
  packages/react-native-executorch/cpp/extensions/llm/install.h
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.cpp
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.h
  packages/react-native-executorch/cpp/tests/CMakeLists.txt
  packages/react-native-executorch/cpp/tests/core/UtilsTest.cpp
  packages/react-native-executorch/cpp/tests/extensions/LlmRunnerTest.cpp
Due: format-objc

refactor(bridge): remove llm namespace from rnexecutorchJsi docstring
  packages/react-native-executorch/src/native/bridge.ts
Due: lint, types, format-js

style
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
Due: lint, types, format-js

feat(model): support returning primitive lists from execute
  packages/react-native-executorch/cpp/core/conversions.h
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/src/core/model.ts
Due: lint, types, format-js, format-objc

refactor(llm): split runner into runners/ directory and update stats types
  packages/react-native-executorch/src/extensions/llm/llmRunner.ts
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
Due: lint, types, format-js

feat(llm): add runners/ directory with textRunner, multimodalRunner, gemmaRunner
  packages/react-native-executorch/src/extensions/llm/runners/gemmaRunner.ts
  packages/react-native-executorch/src/extensions/llm/runners/index.ts
  packages/react-native-executorch/src/extensions/llm/runners/multimodalRunner.ts
  packages/react-native-executorch/src/extensions/llm/runners/textRunner.ts
Due: lint, types, format-js

style
  packages/react-native-executorch/src/extensions/llm/llmRunner.ts
  packages/react-native-executorch/src/extensions/llm/runners/textRunner.ts
Due: lint, types, format-js

style
  packages/react-native-executorch/src/extensions/llm/runners/textRunner.ts
Due: lint, types, format-js

feat(llm): add sampling pipeline (wip)
  .cspell-wordlist.txt
  packages/react-native-executorch/src/extensions/llm/sampler.ts
Due: lint, types, format-js

feat(llm): add token sampling pipeline and wire into textRunner
  packages/react-native-executorch/src/extensions/llm/index.ts
  packages/react-native-executorch/src/extensions/llm/llmRunner.ts
  packages/react-native-executorch/src/extensions/llm/runners/textRunner.ts
  packages/react-native-executorch/src/extensions/llm/sampler.ts
  packages/react-native-executorch/src/extensions/math.ts
Due: lint, types, format-js

wip
  apps/nlp/app/llm/index.tsx
  packages/react-native-executorch/__tests__/api/__snapshots__/apiSurface.test.ts.snap
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/src/extensions/llm/llmRunner.ts
  packages/react-native-executorch/src/extensions/llm/runners/textRunner.ts
  packages/react-native-executorch/src/extensions/llm/sampler.ts
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
Due: lint, types, format-js, format-objc

revert(model): revert primitive list support from execute and bridge docstring
  packages/react-native-executorch/cpp/core/conversions.h
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/src/core/model.ts
  packages/react-native-executorch/src/native/bridge.ts
Due: lint, types, format-js, format-objc

fix(postinstall): write native lib downloads atomically
  packages/react-native-executorch/__tests__/api/downloadLibs.test.ts
  packages/react-native-executorch/scripts/download-libs.js
Due: lint, types, format-js

fix(postinstall): download iOS artifacts on every host
  packages/react-native-executorch/__tests__/api/nativeLibsTargets.test.ts
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/third-party/README.md
Due: lint, types, format-js, format-other, spell-check-other

fix(ios): prevent CocoaPods OTHER_LDFLAGS merge collision (#1504)
  .cspell-wordlist.txt
  packages/react-native-executorch/__tests__/api/podspecAttributes.test.ts
  packages/react-native-executorch/react-native-executorch.podspec
Due: lint, types, format-js

fix(postinstall): download iOS artifacts on every host (#1512)
  packages/react-native-executorch/__tests__/api/nativeLibsTargets.test.ts
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/third-party/README.md
Due: lint, types, format-js, format-other, spell-check-other

Update packages/react-native-executorch/src/extensions/speech/utils/textPartitioner.ts
  packages/react-native-executorch/src/extensions/speech/utils/textPartitioner.ts
Due: lint, types, format-js

docs: address benchmark review: S26 sizes in MiB, device counts, provenance
  docs/docs/04-benchmarks/01-benchmarks.mdx
  docs/src/components/Benchmarks/BenchmarkChart.tsx
  docs/src/data/benchmarks.json
  docs/src/data/benchmarks.ts
Due: lint, types, format-js, format-other

docs: add a benchmarks section (#1457)
  .cspell-wordlist.txt
  docs/docs/04-benchmarks/01-benchmarks.mdx
  docs/sidebars.js
  docs/src/components/Benchmarks/BenchmarkChart.tsx
  docs/src/components/Benchmarks/index.ts
  docs/src/components/Benchmarks/styles.module.css
  docs/src/data/benchmarks.json
  docs/src/data/benchmarks.ts
Due: lint, types, format-js, format-other, spell-check-other

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
