Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

feat(cv): add MediaPipe Face Mesh (#1469)
  .cspell-wordlist.txt
  apps/computer-vision/app/keypoint/index.tsx
  docs/docs/02-extensions/computer-vision/04-pose-and-keypoints.md
  packages/react-native-executorch/__tests__/api/__snapshots__/apiSurface.test.ts.snap
  packages/react-native-executorch/__tests__/tasks/remainingTasks.test.ts
  packages/react-native-executorch/package.json
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/src/constants.ts
  packages/react-native-executorch/src/extensions/cv/tasks/keypointDetection.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-other, spell-check-other

fix(llm): keep every terminal token out of the chat response
  packages/react-native-executorch/__tests__/tasks/llmChatSession.test.ts
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
  packages/react-native-executorch/src/extensions/llm/utils/tokenizerConfig.ts
Due: lint, types, format-js

feat(models): wire the published Vulkan exports and bump nativeLibsVersion
  docs/docs/03-core-and-advanced/08-native-libraries.md
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-other, spell-check-other

docs: add Galaxy S20+ and refresh the iPhone 17 benchmark data
  .cspell-wordlist.txt
  docs/docs/04-benchmarks/01-overview.md
  docs/docs/04-benchmarks/02-android.md
  docs/docs/04-benchmarks/03-ios.md
Due: format-other, spell-check-other

Apply batched suggestions from code review
  packages/react-native-executorch/src/extensions/llm/utils/tokenizerConfig.ts
Due: lint, types, format-js

Compare the whole token against the stop list
  packages/react-native-executorch/__tests__/tasks/llmChatSession.test.ts
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
Due: lint, types, format-js

fix(llm): keep every terminal token out of the chat response (#1486)
  packages/react-native-executorch/__tests__/tasks/llmChatSession.test.ts
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
  packages/react-native-executorch/src/extensions/llm/utils/tokenizerConfig.ts
Due: lint, types, format-js

feat(models): wire the published Vulkan exports and bump nativeLibsVersion (#1479)
  docs/docs/03-core-and-advanced/08-native-libraries.md
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-other, spell-check-other

refactor(fetcher): drop the Android DownloadManager backend
  apps/computer-vision/package.json
  apps/nlp/package.json
  apps/speech/package.json
  docs/docs/01-fundamentals/02-downloading-models.md
  packages/react-native-executorch/__tests__/fetcher/androidBackend.test.ts
  packages/react-native-executorch/__tests__/fetcher/download.test.ts
  packages/react-native-executorch/__tests__/support/blobUtilMock.ts
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/fetcher/fetcher.ts
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

refactor(fetcher): drop the Android DownloadManager fallback (#1487)
  apps/computer-vision/package.json
  apps/nlp/package.json
  apps/speech/package.json
  docs/docs/01-fundamentals/02-downloading-models.md
  packages/react-native-executorch/__tests__/fetcher/androidBackend.test.ts
  packages/react-native-executorch/__tests__/fetcher/download.test.ts
  packages/react-native-executorch/__tests__/support/blobUtilMock.ts
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/fetcher/fetcher.ts
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

fix(llm): chunk prefill at the bound the graph declares, not get_max_seq_len
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.cpp
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.h
Due: format-objc

feat(models): add the DeepLabV3-MobileNetV3 QNN export
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

fix(llm): pin the model load mode instead of inheriting upstream defaults
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.cpp
Due: format-objc

fix(install): make the native lib download work on Windows
  docs/docs/01-fundamentals/01-getting-started.md
  packages/react-native-executorch/__tests__/api/downloadLibs.test.ts
  packages/react-native-executorch/scripts/download-libs.js
Due: lint, types, format-js, format-other, spell-check-other

fix(llm): pin the model load mode instead of inheriting upstream defaults (#1492)
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.cpp
Due: format-objc

feat(apps): offer the DeepLabV3-MobileNetV3 QNN export in the CV demo
  apps/computer-vision/app/segmentation/index.tsx
Due: lint, types, format-js

docs: fill Pixel 10 gaps from the second benchmark run
  docs/docs/04-benchmarks/01-overview.md
  docs/docs/04-benchmarks/02-android.md
Due: format-other, spell-check-other

refactor(llm): drop echo from LLMRunner and trim comments
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.cpp
  packages/react-native-executorch/src/extensions/llm/llmRunner.ts
Due: lint, types, format-js, format-objc

fix(nlp): drop removed echo option from app config
  apps/nlp/constants/llm.ts
Due: lint, types, format-js

fix(llm): chunk prefill at the bound the graph declares (#1491)
  apps/nlp/constants/llm.ts
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.cpp
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.h
  packages/react-native-executorch/src/extensions/llm/llmRunner.ts
Due: lint, types, format-js, format-objc

feat(apps): offer the DeepLabV3-ResNet50 QNN export in the CV demo
  apps/computer-vision/app/segmentation/index.tsx
Due: lint, types, format-js

feat(models): add the DeepLabV3-ResNet50 QNN a16w8 variant
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(tts): word timestamps for Kokoro
  docs/docs/02-extensions/speech/02-text-to-speech.md
  packages/react-native-executorch/__tests__/api/__snapshots__/apiSurface.test.ts.snap
  packages/react-native-executorch/__tests__/extensions/phonemizer.test.ts
  packages/react-native-executorch/__tests__/support/fakeOps.ts
  packages/react-native-executorch/__tests__/tasks/kokoroTextToSpeech.test.ts
  packages/react-native-executorch/cpp/extensions/speech/phonemizer.cpp
  packages/react-native-executorch/cpp/tests/extensions/PhonemizerTest.cpp
  packages/react-native-executorch/src/extensions/speech/tasks/kokoroTextToSpeech.ts
  packages/react-native-executorch/src/extensions/speech/utils/kokoroUtils.ts
  packages/react-native-executorch/src/extensions/speech/utils/phonemizer.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

fix(core): load models with mmap instead of the File default
  packages/react-native-executorch/cpp/core/model.cpp
Due: format-objc

fix(install): keep paths out of tar's argv
  packages/react-native-executorch/__tests__/api/downloadLibs.test.ts
  packages/react-native-executorch/scripts/download-libs.js
Due: lint, types, format-js

fix(install): make the native lib download work on Windows (#1494)
  docs/docs/01-fundamentals/01-getting-started.md
  packages/react-native-executorch/__tests__/api/downloadLibs.test.ts
  packages/react-native-executorch/scripts/download-libs.js
Due: lint, types, format-js, format-other, spell-check-other

fix(libs): stop shipping backends the app opted out of (#1466)
  packages/react-native-executorch/__tests__/api/modelVariants.test.ts
  packages/react-native-executorch/__tests__/legacy/installGuard.test.ts
  packages/react-native-executorch/android/build.gradle.kts
  packages/react-native-executorch/package.json
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/scripts/package-release-artifacts.sh
Due: lint, types, format-js, format-other

fix(install): make the native lib download work on Windows (#1494)
  packages/react-native-executorch/__tests__/api/downloadLibs.test.ts
  packages/react-native-executorch/scripts/download-libs.js
Due: lint, types, format-js

fix(libs): resolve the v0.10.4 native artifacts
  packages/react-native-executorch/package.json
Due: format-other

fix: backport the 0.10.3 library fixes (#1466, #1486, #1491, #1492, #1494) (#1497)
  apps/nlp/constants/llm.ts
  packages/react-native-executorch/__tests__/api/downloadLibs.test.ts
  packages/react-native-executorch/__tests__/api/modelVariants.test.ts
  packages/react-native-executorch/__tests__/legacy/installGuard.test.ts
  packages/react-native-executorch/__tests__/tasks/llmChatSession.test.ts
  packages/react-native-executorch/android/build.gradle.kts
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.cpp
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.h
  packages/react-native-executorch/package.json
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/scripts/package-release-artifacts.sh
  packages/react-native-executorch/src/extensions/llm/llmRunner.ts
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
  packages/react-native-executorch/src/extensions/llm/utils/tokenizerConfig.ts
Due: lint, types, format-js, format-objc, format-other

chore: Release v0.10.3
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/fetcher/telemetry.ts
Due: lint, types, format-js, format-other
