Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

refactor: rename generate_mutex_ to inference_mutex_
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
Due: format-objc

refactor: remove duplicate unload() declaration in VoiceActivityDetection
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
Due: format-objc

refactor: add newline
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
Due: format-objc

fix: update memoryLowerBound for llm
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
Due: format-objc

chore: remove unused header
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
Due: format-objc

fix: prevent apps from crashing when LLMs are loaded (#1063)
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
Due: format-objc

feat: add LFM2.5-VL-450M quantized model
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

fix: use dedicated LFM2.5-VL-450M tokenizer urls
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

fix: graceful degradation when native libraries are unavailable (Android)
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/ETInstallerUnavailable.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/RnExecutorchPackage.kt
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js

docs: add LFM2.5-VL-450M to useLLM available models table
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.8.x/03-hooks/01-natural-language-processing/useLLM.md
Due: format-other, spell-check-other

feat: add LFM2.5-VL-450M quantized model (#1066)
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.8.x/03-hooks/01-natural-language-processing/useLLM.md
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-other, spell-check-other

fix: add missing lfm type to LLMModelName
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js

fix: add missing lfm type to LLMModelName (#1069)
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js

Release v0.8.2
  packages/react-native-executorch/package.json
Due: format-other

chore: release 0.8.2 (#1068)
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.8.x/03-hooks/01-natural-language-processing/useLLM.md
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-other, spell-check-other

fix gh actions
  .github/workflows/npm-publish.yml
Due: format-other

chore: fix gh actions (#1070)
  .github/workflows/npm-publish.yml
Due: format-other

chore: Update GitHub Actions and bump Node to 24 across all workflows (#1059)
  .github/actions/setup/action.yml
  .github/workflows/build-android-llm-example.yml
  .github/workflows/build-ios-llm-example.yml
  .github/workflows/ci.yml
  .github/workflows/docs-build-check.yml
  .github/workflows/npm-publish-bare-resource-fetcher.yml
  .github/workflows/npm-publish-expo-resource-fetcher.yml
  .github/workflows/npm-publish.yml
  .github/workflows/publish_docs.yml
  .nvmrc
Due: format-other

chore: Update GitHub Actions and bump Node to 24 across all workflows… (#1071)
  .github/actions/setup/action.yml
  .github/workflows/build-android-llm-example.yml
  .github/workflows/build-ios-llm-example.yml
  .github/workflows/ci.yml
  .github/workflows/docs-build-check.yml
  .github/workflows/npm-publish-bare-resource-fetcher.yml
  .github/workflows/npm-publish-expo-resource-fetcher.yml
  .github/workflows/npm-publish.yml
  .github/workflows/publish_docs.yml
  .nvmrc
Due: format-other

fix: add inference mutex to Text Embedding and Text-to-Image (#1060)
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
Due: format-objc

fix: complete bare_rn → bare-rn iOS rename and fix component registration
  apps/bare-rn/android/app/src/main/java/com/barern/MainActivity.kt
  apps/bare-rn/ios/Podfile
  apps/bare-rn/ios/Podfile.lock
  apps/bare-rn/ios/bare-rn.xcodeproj/project.pbxproj
  apps/bare-rn/ios/bare-rn.xcodeproj/xcshareddata/xcschemes/bare-rn.xcscheme
  apps/bare-rn/ios/bare-rn.xcworkspace/contents.xcworkspacedata
  apps/bare-rn/ios/bare-rn/AppDelegate.swift
  apps/bare-rn/ios/bare-rn/Images.xcassets/AppIcon.appiconset/Contents.json
  apps/bare-rn/ios/bare-rn/Images.xcassets/Contents.json
  apps/bare-rn/ios/bare-rn/Info.plist
  apps/bare-rn/ios/bare-rn/LaunchScreen.storyboard
  apps/bare-rn/ios/bare-rn/PrivacyInfo.xcprivacy
Due: format-other

fix: add mutex to VoiceActivityDetection to prevent race between generate() and unload() (#1056)
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
Due: format-objc

Release v0.8.3
  packages/react-native-executorch/package.json
Due: format-other

chore: Release v0.8.3 (#1072)
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
  packages/react-native-executorch/package.json
Due: format-objc, format-other

fix: resolve dependency conflicts in dependabot all-updates PR
  apps/bare-rn/package.json
  apps/computer-vision/package.json
  apps/llm/package.json
  apps/text-embeddings/package.json
  package.json
  packages/bare-resource-fetcher/tsconfig.json
  packages/expo-resource-fetcher/tsconfig.json
  packages/react-native-executorch/tsconfig.json
  yarn.lock
Due: format-other

build: update header files
  packages/react-native-executorch/third-party/include/executorch/extension/data_loader/buffer_data_loader.h
  packages/react-native-executorch/third-party/include/executorch/extension/llm/tokenizers/include/pytorch/tokenizers/hf_tokenizer.h
  packages/react-native-executorch/third-party/include/executorch/extension/llm/tokenizers/include/pytorch/tokenizers/model.h
  packages/react-native-executorch/third-party/include/executorch/extension/llm/tokenizers/include/pytorch/tokenizers/truncation.h
  packages/react-native-executorch/third-party/include/executorch/extension/module/module.h
  packages/react-native-executorch/third-party/include/executorch/extension/threadpool/cpuinfo_utils.h
  packages/react-native-executorch/third-party/include/executorch/extension/threadpool/threadpool.h
  packages/react-native-executorch/third-party/include/executorch/runtime/backend/backend_init_context.h
  packages/react-native-executorch/third-party/include/executorch/runtime/backend/backend_options_map.h
  packages/react-native-executorch/third-party/include/executorch/runtime/core/error.h
  packages/react-native-executorch/third-party/include/executorch/runtime/core/exec_aten/util/dim_order_util.h
  packages/react-native-executorch/third-party/include/executorch/runtime/core/portable_type/device.h
  packages/react-native-executorch/third-party/include/executorch/runtime/executor/method.h
  packages/react-native-executorch/third-party/include/executorch/runtime/executor/program.h
  packages/react-native-executorch/third-party/include/executorch/runtime/kernel/operator_registry.h
Due: format-objc

build: add cpuinfo and pthreadpool include directories to CMake and podspec
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/react-native-executorch.podspec
Due: none

fix: graceful degradation when native libraries are unavailable (Android) (#1067)
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/ETInstallerUnavailable.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/RnExecutorchPackage.kt
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js

test: add cpuinfo and pthreadpool include directories to test CMake
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
