Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

feat: add LiveTextOverlay with tappable text boxes
  apps/computer-vision/components/live_text/LiveTextOverlay.tsx
Due: lint, types, format-js

fix: stable keys and imageSize guard in LiveTextOverlay
  apps/computer-vision/components/live_text/LiveTextOverlay.tsx
Due: lint, types, format-js

feat: add Live Text realtime OCR screen
  apps/computer-vision/app/live_text/index.tsx
Due: lint, types, format-js

feat: register Live Text screen in drawer and home menu
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
Due: lint, types, format-js

chore: add expo-linear-gradient to computer-vision app
  apps/computer-vision/package.json
  yarn.lock
Due: format-other

feat: add ShutterButton for live text scan reveal
  apps/computer-vision/components/live_text/ShutterButton.tsx
Due: lint, types, format-js

fix: use View for shutter inner circle and add a11y labels
  apps/computer-vision/components/live_text/ShutterButton.tsx
Due: lint, types, format-js

feat: add ScanLine sweep for live text scan reveal
  apps/computer-vision/components/live_text/ScanLine.tsx
Due: lint, types, format-js

Fix audio index out of bounds bug
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
Due: format-objc

test: TTS edge-case preset chips and streaming-bug repros in speech app
  apps/speech/screens/TextToSpeechScreen.tsx
Due: lint, types, format-js

fix: stabilize ScanLine sweep against callback identity changes
  apps/computer-vision/components/live_text/ScanLine.tsx
Due: lint, types, format-js

feat: add ResultBadge for live text scan reveal
  apps/computer-vision/components/live_text/ResultBadge.tsx
Due: lint, types, format-js

feat: rework Live Text screen into scan-reveal state machine
  apps/computer-vision/app/live_text/index.tsx
  apps/computer-vision/components/live_text/CopyToast.tsx
  apps/computer-vision/components/live_text/LiveTextOverlay.tsx
Due: lint, types, format-js

fix: keep camera active during scanning and avoid setState side-effects
  apps/computer-vision/app/live_text/index.tsx
Due: lint, types, format-js

fix: recover from OCR worklet errors instead of stuck scanning
  apps/computer-vision/app/live_text/index.tsx
Due: lint, types, format-js

Add clamping speed parameter
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
Due: lint, types, format-js, format-objc

feat: remove result badge and overlay recognized text in-place
  apps/computer-vision/app/live_text/index.tsx
  apps/computer-vision/components/live_text/LiveTextOverlay.tsx
Due: lint, types, format-js

feat: center box text, hold-to-highlight, remove header
  apps/computer-vision/app/live_text/index.tsx
  apps/computer-vision/components/live_text/LiveTextOverlay.tsx
Due: lint, types, format-js

chore: revert docs
  docs/docs/05-utilities/01-webrtc-integration.md
Due: format-other, spell-check-other

feat: remove camera flip button
  apps/computer-vision/app/live_text/index.tsx
Due: lint, types, format-js

feat: use native selectable text for OCR boxes
  apps/computer-vision/components/live_text/LiveTextOverlay.tsx
Due: lint, types, format-js

feat: use TextInput for OCR boxes so iOS draws selection highlight
  apps/computer-vision/components/live_text/LiveTextOverlay.tsx
Due: lint, types, format-js

fix: make OCR box TextInput editable so iOS shows selection UI
  apps/computer-vision/components/live_text/LiveTextOverlay.tsx
Due: lint, types, format-js

fix: select OCR box text on focus instead of just placing caret
  apps/computer-vision/components/live_text/LiveTextOverlay.tsx
Due: lint, types, format-js

feat: render 'Appjs' OCR result as 'App.js'
  apps/computer-vision/components/live_text/LiveTextOverlay.tsx
Due: lint, types, format-js

chore: revert webrtc integration docs (#1152)
  docs/docs/05-utilities/01-webrtc-integration.md
Due: format-other, spell-check-other

feat: run vision_camera preview at 60 fps
  apps/computer-vision/app/vision_camera/index.tsx
Due: lint, types, format-js

Revert back to 100ms refresh rate
  apps/speech/screens/SpeechToTextScreen.tsx
Due: lint, types, format-js

Optimal streaming algorithm
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/schema/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/Word.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Utils.h
Due: format-objc

Add CoreML whisper models
  apps/llm/app/index.tsx
  apps/llm/app/voice_chat/index.tsx
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.cpp
  packages/react-native-executorch/src/constants/modelUrls.ts
  yarn.lock
Due: lint, types, format-js, format-objc

Apply review suggestions
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/Word.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Utils.h
Due: lint, types, format-js, format-objc

Update urls & audio-api
  packages/react-native-executorch/src/constants/modelUrls.ts
  yarn.lock
Due: lint, types, format-js

Update model urls
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

Add explicit timeout parameter
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/types/stt.ts
Due: lint, types, format-js, format-objc

Change default model for iOS devices
  apps/speech/screens/SpeechToTextScreen.tsx
Due: lint, types, format-js

Concurrency fixes & automatic cleaunp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
Due: format-objc

Minor fixes
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
Due: format-objc

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
