Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

docs(versioned): fix 0.8.x model-registry api-reference link
  docs/versioned_docs/version-0.8.x/05-utilities/model-registry.md
Due: format-other, spell-check-other

fix(llm-controller): drop redundant message args on throws
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js

refactor(models): drop redundant _seg suffix from instance_segmentation accessors
  apps/computer-vision/app/instance_segmentation/index.tsx
  apps/computer-vision/components/vision_camera/tasks/InstanceSegmentationTask.tsx
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/InstanceSegmentationModule.md
  docs/docs/05-utilities/model-registry.md
  packages/react-native-executorch/src/constants/modelRegistry.ts
Due: lint, types, format-js, format-other, spell-check-other

refactor(models): move FastSAM from object_detection to instance_segmentation
  apps/computer-vision/app/instance_segmentation/index.tsx
  apps/computer-vision/app/segment_anything/index.tsx
  apps/computer-vision/components/vision_camera/tasks/InstanceSegmentationTask.tsx
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
  docs/docs/05-utilities/model-registry.md
  packages/react-native-executorch/src/constants/modelRegistry.ts
Due: lint, types, format-js, format-other, spell-check-other

fix(models): throw RnExecutorchError on unsupported OCR language
  packages/react-native-executorch/src/constants/modelRegistry.ts
Due: lint, types, format-js

fix(models): replace remaining plain Error throws with RnExecutorchError
  packages/react-native-executorch/src/constants/modelRegistry.ts
Due: lint, types, format-js

fix(llm): surface tool-call errors via sendMessage
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/utils/llm.ts
Due: lint, types, format-js

fix(computer-vision): align vision_camera segmentation overlay with preview
  apps/computer-vision/components/vision_camera/tasks/SegmentationTask.tsx
Due: lint, types, format-js

fix(computer-vision): keep segmentation overlay aligned in landscape
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/vision_camera/tasks/SegmentationTask.tsx
Due: lint, types, format-js

fix(llm): treat empty-string tool response as a valid response
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js

fix(llm): surface tool-call errors via sendMessage (#1169)
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/utils/llm.ts
Due: lint, types, format-js

docs(readme): streamline LFM2.5 quickstart for Expo
  README.md
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

docs: normalize yarn <ios|android> placeholders in getting-started
  docs/docs/01-fundamentals/01-getting-started.md
  docs/versioned_docs/version-0.8.x/01-fundamentals/01-getting-started.md
Due: format-other, spell-check-other

Update urls & audio-api
  yarn.lock
Due: none

Rebase with other PR changes
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
Due: format-objc

Implement VAD streaming
  apps/speech/App.tsx
  apps/speech/screens/VoiceActivityDetectionScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useVAD.ts
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
  packages/react-native-executorch/src/types/vad.ts
Due: lint, types, format-js, format-objc

Apply review suggestions
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
Due: lint, types, format-js, format-objc

Integrate VAD with STT
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/schema/ASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/schema/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/DecodingOptions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/Options.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/types/stt.ts
  packages/react-native-executorch/src/types/vad.ts
Due: lint, types, format-js, format-objc

Fix wrong include issue
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.h
Due: format-objc

Add CoreML whisper models
  yarn.lock
Due: none

Bump audio-api version
  apps/llm/package.json
  yarn.lock
Due: format-other

Fix demo app keyboard behavior
  apps/speech/screens/SpeechToTextScreen.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
  apps/speech/screens/VoiceActivityDetectionScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
Due: lint, types, format-js, format-objc

Update demos & change default STT model for iOS simulator
  apps/speech/screens/SpeechToTextScreen.tsx
  docs/docs/03-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/03-hooks/01-natural-language-processing/useVAD.md
  docs/docs/04-typescript-api/01-natural-language-processing/SpeechToTextModule.md
  docs/docs/04-typescript-api/01-natural-language-processing/VADModule.md
Due: lint, types, format-js, format-other, spell-check-other

Apply review suggestions
  apps/speech/screens/SpeechToTextScreen.tsx
  apps/speech/screens/VoiceActivityDetectionScreen.tsx
  docs/docs/03-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/03-hooks/01-natural-language-processing/useVAD.md
  docs/docs/04-typescript-api/01-natural-language-processing/VADModule.md
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
Due: lint, types, format-js, format-objc, format-other, spell-check-other

docs: add 0.9.x to compatibility table
  docs/docs/07-other/01-compatibility.mdx
Due: none

docs: extend compat to RN 0.85 (verified 0.8.4 and 0.9 on device)
  docs/docs/07-other/01-compatibility.mdx
Due: none

fetch latest phonemis version
  apps/speech/screens/SpeechToTextScreen.tsx
  docs/docs/04-typescript-api/01-natural-language-processing/SpeechToTextModule.md
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
Due: lint, types, format-js, format-objc, format-other, spell-check-other

docs(readme): streamline LFM2.5 quickstart for Expo (#1171)
  README.md
  docs/docs/01-fundamentals/01-getting-started.md
  docs/versioned_docs/version-0.8.x/01-fundamentals/01-getting-started.md
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

fix(computer-vision): align vision_camera segmentation overlay with preview (#1170)
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/vision_camera/tasks/SegmentationTask.tsx
Due: lint, types, format-js

fix(vad): guard audioBuffer_.size() with mutex in stream loop
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
Due: format-objc

fix(vad): copy stream snapshot under lock to avoid dangling span
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
Due: format-objc

fix(vad): use std::max when extending merged segment end
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.cpp
Due: format-objc

fix(vad): reset isStreaming in finally on natural stream() finish
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
Due: lint, types, format-js

refactor(stt): copy options before disabling VAD for finish()
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
Due: format-objc

refactor(vad): make streamInsert take std::span<const float>
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
Due: format-objc

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
