Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

docs: link implementation source files in task docs and target rne-rewrite in typedoc
  docs/docs/02-extensions/computer-vision/02-image-classification.md
  docs/docs/02-extensions/computer-vision/03-object-detection.md
  docs/docs/02-extensions/computer-vision/04-pose-and-keypoints.md
  docs/docs/02-extensions/computer-vision/05-optical-character-recognition.md
  docs/docs/02-extensions/computer-vision/06-semantic-segmentation.md
  docs/docs/02-extensions/computer-vision/07-instance-segmentation.md
  docs/docs/02-extensions/computer-vision/08-style-transfer.md
  docs/docs/02-extensions/computer-vision/09-image-embeddings.md
  docs/docs/02-extensions/computer-vision/10-text-to-image.md
  docs/docs/02-extensions/natural-language/02-llm-chat-and-generation.md
  docs/docs/02-extensions/natural-language/03-text-embeddings.md
  docs/docs/02-extensions/natural-language/04-privacy-filter.md
  docs/docs/02-extensions/natural-language/05-tokenizers.md
  docs/docs/02-extensions/speech/02-text-to-speech.md
  docs/docs/02-extensions/speech/03-speech-to-text.md
  docs/docs/02-extensions/speech/04-voice-activity-detection.md
  docs/typedoc.json
Due: format-other, spell-check-other

docs: remove tokenizer gif placeholder comment
  docs/docs/02-extensions/natural-language/05-tokenizers.md
Due: format-other, spell-check-other

docs: add .resource to Hook state comments in all task docs
  docs/docs/02-extensions/computer-vision/02-image-classification.md
  docs/docs/02-extensions/computer-vision/03-object-detection.md
  docs/docs/02-extensions/computer-vision/04-pose-and-keypoints.md
  docs/docs/02-extensions/computer-vision/05-optical-character-recognition.md
  docs/docs/02-extensions/computer-vision/06-semantic-segmentation.md
  docs/docs/02-extensions/computer-vision/07-instance-segmentation.md
  docs/docs/02-extensions/computer-vision/08-style-transfer.md
  docs/docs/02-extensions/computer-vision/09-image-embeddings.md
  docs/docs/02-extensions/computer-vision/10-text-to-image.md
  docs/docs/02-extensions/natural-language/02-llm-chat-and-generation.md
  docs/docs/02-extensions/natural-language/03-text-embeddings.md
  docs/docs/02-extensions/natural-language/04-privacy-filter.md
  docs/docs/02-extensions/speech/02-text-to-speech.md
  docs/docs/02-extensions/speech/03-speech-to-text.md
  docs/docs/02-extensions/speech/04-voice-activity-detection.md
Due: format-other, spell-check-other

docs: convert output examples from json to typescript across task docs
  docs/docs/02-extensions/computer-vision/02-image-classification.md
  docs/docs/02-extensions/computer-vision/03-object-detection.md
  docs/docs/02-extensions/computer-vision/04-pose-and-keypoints.md
  docs/docs/02-extensions/computer-vision/05-optical-character-recognition.md
  docs/docs/02-extensions/computer-vision/07-instance-segmentation.md
Due: format-other, spell-check-other

docs: use styler as variable name in style transfer code snippets
  docs/docs/02-extensions/computer-vision/08-style-transfer.md
Due: format-other, spell-check-other

fix: expand load_method() error message with common failure causes
  packages/react-native-executorch/cpp/core/model.cpp
Due: format-objc

[RNE Rewrite] style: improve load_method() error message with actionable failure cause (#1410)
  packages/react-native-executorch/cpp/core/model.cpp
Due: format-objc

docs: add real-time camera processing guide with VisionCamera
  .cspell-wordlist.txt
  docs/docs/02-extensions/computer-vision/11-camera-integration.md
Due: format-other, spell-check-other

test(bench): wait for the device to be cool instead of sleeping a guess
  apps/benchmarks/README.md
  apps/benchmarks/scripts/run-benchmarks.mjs
Due: format-other, spell-check-other

test(bench): follow the library's schema and constants exports
  apps/benchmarks/src/nativeForward.ts
  apps/benchmarks/src/suite.ts
Due: lint, types, format-js

test(bench): make the synthetic waveform actually trigger the VAD
  apps/benchmarks/README.md
  apps/benchmarks/src/inputs.ts
  apps/benchmarks/src/runner.ts
Due: lint, types, format-js, format-other, spell-check-other

test(bench): calibrate the comparator against two runs of identical code
  apps/benchmarks/README.md
  apps/benchmarks/scripts/compare.mjs
  apps/benchmarks/src/config.ts
  apps/benchmarks/src/nativeForward.ts
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
Due: lint, types, format-js, format-other, spell-check-other

test(bench): add an on-device performance regression harness
  .cspell-wordlist.txt
  apps/benchmarks/.gitignore
  apps/benchmarks/App.tsx
  apps/benchmarks/README.md
  apps/benchmarks/app.json
  apps/benchmarks/assets/icons/adaptive-icon.png
  apps/benchmarks/assets/icons/favicon.png
  apps/benchmarks/assets/icons/icon.png
  apps/benchmarks/assets/icons/splash.png
  apps/benchmarks/babel.config.js
  apps/benchmarks/index.ts
  apps/benchmarks/metro.config.js
  apps/benchmarks/modules/bench-probe/android/build.gradle
  apps/benchmarks/modules/bench-probe/android/src/main/java/expo/modules/benchprobe/BenchProbeModule.kt
  apps/benchmarks/modules/bench-probe/expo-module.config.json
  apps/benchmarks/modules/bench-probe/index.ts
  apps/benchmarks/modules/bench-probe/ios/BenchProbe.podspec
  apps/benchmarks/modules/bench-probe/ios/BenchProbeModule.swift
  apps/benchmarks/package.json
  apps/benchmarks/scripts/compare.mjs
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/config.ts
  apps/benchmarks/src/inputs.ts
  apps/benchmarks/src/memory.ts
  apps/benchmarks/src/nativeForward.ts
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
  apps/benchmarks/src/stats.ts
  apps/benchmarks/src/suite.ts
  apps/benchmarks/src/time.ts
  apps/benchmarks/tsconfig.json
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

test(bench): type case definitions against the pipelines they drive
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/suite.ts
Due: lint, types, format-js

test(bench): stop long runs from losing their results
  apps/benchmarks/App.tsx
  apps/benchmarks/baselines/README.md
  apps/benchmarks/package.json
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/report.ts
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

test(bench): record the ExecuTorch 1.3.1 baseline
  apps/benchmarks/baselines/et-1.3.1-full-android-SM-S948B.json
  apps/benchmarks/scripts/compare.mjs
Due: format-other

test(bench): pin the CPU clock for the duration of a run
  apps/benchmarks/README.md
  apps/benchmarks/scripts/compare.mjs
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/report.ts
Due: lint, types, format-js, format-other, spell-check-other

test(bench): cover instance segmentation, OCR and Kokoro TTS
  apps/benchmarks/src/suite.ts
Due: lint, types, format-js

test(bench): detect thermal throttling, which invalidates a comparison
  apps/benchmarks/modules/bench-probe/android/src/main/java/expo/modules/benchprobe/BenchProbeModule.kt
  apps/benchmarks/modules/bench-probe/index.ts
  apps/benchmarks/modules/bench-probe/ios/BenchProbeModule.swift
  apps/benchmarks/scripts/compare.mjs
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
Due: lint, types, format-js

test(bench): segment with RF-DETR, not FastSAM
  apps/benchmarks/src/suite.ts
Due: lint, types, format-js

test(bench): cover every published variant, 3 gated repeats each
  .cspell-wordlist.txt
  apps/benchmarks/App.tsx
  apps/benchmarks/BENCHMARK_SPEC.md
  apps/benchmarks/README.md
  apps/benchmarks/package.json
  apps/benchmarks/scripts/compare.mjs
  apps/benchmarks/scripts/generate-variants.mjs
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/scripts/summarize.mjs
  apps/benchmarks/scripts/variant-sizes.json
  apps/benchmarks/src/config.ts
  apps/benchmarks/src/drivers.ts
  apps/benchmarks/src/gate.ts
  apps/benchmarks/src/inputs.ts
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
  apps/benchmarks/src/storage.ts
  apps/benchmarks/src/suite.ts
  apps/benchmarks/src/variants.generated.ts
Due: lint, types, format-js, format-other, spell-check-other

test(bench): stop pinning clocks by default
  apps/benchmarks/BENCHMARK_SPEC.md
  apps/benchmarks/README.md
  apps/benchmarks/scripts/run-benchmarks.mjs
Due: format-other, spell-check-other

fix(fetcher): stop rejecting a download longer than the server advertised
  packages/react-native-executorch/__tests__/fetcher/download.test.ts
  packages/react-native-executorch/__tests__/support/blobUtilMock.ts
  packages/react-native-executorch/src/fetcher/fetcher.ts
Due: lint, types, format-js

test(bench): take one measurement per variant, not three
  apps/benchmarks/BENCHMARK_SPEC.md
  apps/benchmarks/README.md
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/scripts/summarize.mjs
  apps/benchmarks/src/config.ts
Due: lint, types, format-js, format-other, spell-check-other

test(bench): hold the ceiling when the host cannot be reached
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/gate.ts
Due: lint, types, format-js

test(bench): gate at 37C, and never write a measurement twice
  apps/benchmarks/BENCHMARK_SPEC.md
  apps/benchmarks/README.md
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/config.ts
Due: lint, types, format-js, format-other, spell-check-other

test(bench): stay plugged in, and refuse to measure in Battery Saver
  apps/benchmarks/scripts/run-benchmarks.mjs
Due: none

test(bench): add a raw-output probe for device-only defects
  apps/benchmarks/App.tsx
  apps/benchmarks/app.json
  apps/benchmarks/package.json
  apps/benchmarks/scripts/run-probe.mjs
  apps/benchmarks/src/config.ts
  apps/benchmarks/src/probe.ts
Due: lint, types, format-js, format-other

feat(bench): measure ExecuTorch in-band, and build release
  apps/benchmarks/README.md
  apps/benchmarks/baselines/README.md
  apps/benchmarks/baselines/et-1.3.1-full-android-SM-S948B.json
  apps/benchmarks/scripts/compare.mjs
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/scripts/summarize.mjs
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
  packages/react-native-executorch/cpp/core/install.cpp
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/profiler.cpp
  packages/react-native-executorch/cpp/core/profiler.h
  packages/react-native-executorch/src/core/profiler.ts
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

docs(bench): state that runs must be release builds
  apps/benchmarks/BENCHMARK_SPEC.md
  apps/benchmarks/README.md
Due: format-other, spell-check-other

refactor(bench): derive the variant list at runtime, drop the replay pass
  apps/benchmarks/App.tsx
  apps/benchmarks/BENCHMARK_SPEC.md
  apps/benchmarks/README.md
  apps/benchmarks/package.json
  apps/benchmarks/scripts/compare.mjs
  apps/benchmarks/scripts/fetch-variant-sizes.mjs
  apps/benchmarks/scripts/generate-variants.mjs
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/scripts/run-probe.mjs
  apps/benchmarks/scripts/summarize.mjs
  apps/benchmarks/src/config.ts
  apps/benchmarks/src/drivers.ts
  apps/benchmarks/src/nativeForward.ts
  apps/benchmarks/src/probe.ts
  apps/benchmarks/src/registry.ts
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
  apps/benchmarks/src/suite.ts
  apps/benchmarks/src/variants.generated.ts
Due: lint, types, format-js, format-other, spell-check-other

fix(profiler): mark the JSI wrappers as worklets
  packages/react-native-executorch/__tests__/api/__snapshots__/apiSurface.test.ts.snap
  packages/react-native-executorch/src/core/profiler.ts
Due: lint, types, format-js

[RNE Rewrite] fix(fetcher): stop rejecting a download longer than the server advertised (#1411)
  packages/react-native-executorch/__tests__/fetcher/download.test.ts
  packages/react-native-executorch/__tests__/support/blobUtilMock.ts
  packages/react-native-executorch/src/fetcher/fetcher.ts
Due: lint, types, format-js

fix(bench): stop counting warmups in the ExecuTorch tally
  apps/benchmarks/scripts/summarize.mjs
  apps/benchmarks/src/runner.ts
  apps/benchmarks/src/time.ts
Due: lint, types, format-js

docs: clarify real-time camera orientation, viewport transforms, and best practices
  docs/docs/02-extensions/computer-vision/11-camera-integration.md
Due: format-other, spell-check-other

docs: update image and text embeddings showcase recordings
  docs/static/media/image-embeddings-android.mp4
  docs/static/media/image-embeddings-ios.mp4
Due: none

docs: add real-time camera processing showcase recordings
  docs/docs/02-extensions/computer-vision/11-camera-integration.md
  docs/static/media/camera-integration-android.mp4
  docs/static/media/camera-integration-ios.mp4
Due: format-other, spell-check-other

docs: update real-time camera guide to YOLO26 model
  docs/docs/02-extensions/computer-vision/11-camera-integration.md
Due: format-other, spell-check-other

fix(android): skip explicit Kotlin plugin when AGP registers the kotlin extension
  packages/react-native-executorch-webrtc/android/build.gradle
  packages/react-native-executorch/android/build.gradle
Due: none

docs: generalize camera coordinate transforms to all visual model outputs
  docs/docs/02-extensions/computer-vision/11-camera-integration.md
Due: format-other, spell-check-other
