Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

Update README.md
  README.md
Due: format-other, spell-check-other

refactor: add requested changes
  packages/react-native-executorch/src/constants/ocr/models.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
Due: lint, types, format-js

refactor: rename model instances
  packages/react-native-executorch/src/hooks/computer_vision/useOCR.ts
  packages/react-native-executorch/src/hooks/computer_vision/useVerticalOCR.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/hooks/useNonStaticModule.ts
Due: lint, types, format-js

style: format code
  packages/react-native-executorch/src/constants/ocr/models.ts
Due: lint, types, format-js

docs: revert ExecutorchModule
  docs/docs/03-typescript-api/03-executorch-bindings/ExecutorchModule.md
Due: format-other, spell-check-other

Update example in readme with new syntax
  README.md
Due: format-other, spell-check-other

Remove old await
  README.md
Due: format-other, spell-check-other

Bring back await to the example
  README.md
Due: format-other, spell-check-other

Improve phrasing and styling in some sections of README.md (#469)
  README.md
Due: format-other, spell-check-other

feat: port ocr detector
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Types.h
Due: format-objc

feat: add OCR scaffolding
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
Due: format-objc

Recognition Handler port to cpp (unclean version)
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.h
Due: format-objc

port Recognizer to cpp (unclean version)
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.h
Due: format-objc

fix Detector implementation
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Types.h
Due: format-objc

remove potentially dangerous files
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/ios/RnExecutorch/OCR.h
  packages/react-native-executorch/ios/RnExecutorch/OCR.mm
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/utils/RecognizerUtils.h
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/utils/RecognizerUtils.mm
Due: format-objc

remove whole ios ocr directory
  packages/react-native-executorch/ios/RnExecutorch/VerticalOCR.h
  packages/react-native-executorch/ios/RnExecutorch/VerticalOCR.mm
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/Detector.h
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/Detector.mm
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/RecognitionHandler.h
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/RecognitionHandler.mm
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/Recognizer.h
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/Recognizer.mm
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/VerticalDetector.h
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/VerticalDetector.mm
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/utils/CTCLabelConverter.h
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/utils/CTCLabelConverter.mm
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/utils/Constants.h
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/utils/DetectorUtils.h
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/utils/DetectorUtils.mm
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/utils/OCRUtils.h
  packages/react-native-executorch/ios/RnExecutorch/models/ocr/utils/OCRUtils.mm
Due: format-objc

port OCR module to cpp (unclean)
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.h
Due: format-objc

feat: port ocr detector
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Types.h
Due: format-objc

fix jsi-binding
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
Due: format-objc

feat: ported ocr
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.h
  packages/react-native-executorch/src/controllers/OCRController.ts
Due: lint, types, format-js, format-objc

add not working jsi bindings
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/src/controllers/OCRController.ts
  packages/react-native-executorch/src/index.tsx
  packages/react-native-executorch/src/modules/computer_vision/OCRModule.ts
Due: lint, types, format-js, format-objc

refactor: fix errors after rebase, remove unnecessary files
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/OCR.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/RnExecutorchPackage.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/VerticalOCR.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/models/BaseModel.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/models/ocr/Detector.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/models/ocr/RecognitionHandler.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/models/ocr/Recognizer.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/models/ocr/VerticalDetector.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/models/ocr/utils/CTCLabelConverter.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/models/ocr/utils/Constants.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/models/ocr/utils/DetectorUtils.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/models/ocr/utils/RecognizerUtils.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/utils/ArrayUtils.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/utils/ETError.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/utils/ImageProcessor.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/utils/Numerical.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/utils/TensorUtils.kt
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/ios/RnExecutorch/models/BaseModel.h
  packages/react-native-executorch/ios/RnExecutorch/models/BaseModel.mm
  packages/react-native-executorch/src/native/NativeOCR.ts
  packages/react-native-executorch/src/native/RnExecutorchModules.ts
Due: lint, types, format-js, format-objc

feat: ported verticalOCR (#458)
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.h
  packages/react-native-executorch/src/controllers/VerticalOCRController.ts
  packages/react-native-executorch/src/index.tsx
  packages/react-native-executorch/src/native/NativeVerticalOCR.ts
  packages/react-native-executorch/src/native/RnExecutorchModules.ts
Due: lint, types, format-js, format-objc

Apply suggestions from code review
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.h
Due: format-objc

refactor: improve readability and performance
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.h
Due: format-objc

fix: fix issues created by last commit :)
  apps/computer-vision/ios/Podfile.lock
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.cpp
Due: format-objc

formatting: format files with clang
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
Due: format-objc

remove include Log.h file
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
Due: format-objc

refactor: requested changes in cpp code refactored
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.h
Due: format-objc

add final specifier to class definitions
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.h
Due: format-objc

remove include Log.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
Due: format-objc

requested changes added
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.h
Due: format-objc

bug: fix issue where VERTICAL OCR crashed on some photos with text near boundary
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
Due: format-objc

requested changes added
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.h
Due: format-objc
