Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

feat: release react-native-executorch-webrtc (#1258)
  .github/workflows/npm-publish-react-native-executorch-webrtc.yml
  docs/docs/05-utilities/01-webrtc-integration.md
  packages/react-native-executorch-webrtc/package.json
Due: format-other, spell-check-other

ci: unify satellite package publish workflows (#1261)
  .github/workflows/npm-publish-react-native-executorch-webrtc.yml
  .github/workflows/npm-publish-satellites.yml
  RELEASE.md
Due: format-other, spell-check-other

chore: add explicit LEGACY SUPPORT markers to all configuration files
  .eslintrc.js
  docs/docusaurus.config.js
  package.json
  packages/react-native-executorch/package.json
  packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/tsconfig.build.json
  packages/react-native-executorch/tsconfig.json
Due: lint, types, format-js, format-other

feat: integrate legacy API support with annotated build configurations
  .gitignore
  apps/legacy/computer-vision/package.json
  apps/legacy/llm/package.json
  apps/legacy/speech/package.json
  apps/legacy/text-embeddings/package.json
  packages/expo-resource-fetcher/package.json
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/ETInstaller.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/ETInstallerUnavailable.kt
  packages/react-native-executorch/legacy/ios/ETInstaller.mm
  packages/react-native-executorch/legacy/package.json
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/native/NativeETInstaller.ts
  yarn.lock
Due: lint, types, format-js, format-objc, format-other

[RNE Rewrite] feat: add instance segmentation pipeline (#1289)
  .cspell-wordlist.txt
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/instanceSegmentation/index.tsx
  apps/computer-vision/components/ImageViewport.tsx
  packages/react-native-executorch/cpp/extensions/cv/box_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/box_ops.h
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/install.cpp
  packages/react-native-executorch/cpp/extensions/cv/utils.h
  packages/react-native-executorch/cpp/extensions/math/install.cpp
  packages/react-native-executorch/cpp/extensions/math/operations.cpp
  packages/react-native-executorch/cpp/extensions/math/operations.h
  packages/react-native-executorch/src/extensions/cv/image.ts
  packages/react-native-executorch/src/extensions/cv/ops/boxes.ts
  packages/react-native-executorch/src/extensions/cv/ops/image.ts
  packages/react-native-executorch/src/extensions/cv/tasks/instanceSegmentation.ts
  packages/react-native-executorch/src/extensions/math.ts
  packages/react-native-executorch/src/hooks/useInstanceSegmenter.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-objc

[RNE Rewrite] chore: set up clangd for C++ sources (#1285)
  .gitignore
  CONTRIBUTING.md
  lefthook.yml
  packages/react-native-executorch/.clangd
  packages/react-native-executorch/compile_flags.txt
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/tensor.cpp
  packages/react-native-executorch/cpp/core/utils.cpp
  packages/react-native-executorch/cpp/extensions/cv/box_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/cpp/extensions/math/operations.cpp
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.cpp
  packages/react-native-executorch/scripts/check-cpp-warnings.sh
Due: format-objc, format-other, spell-check-other

[RNE Rewrite] docs(skills): add clang-tidy and check-cpp-warnings to verify-and-build skill (#1297)
  .agents/skills/verify-and-build/SKILL.md
  .cspell-wordlist.txt
Due: format-other, spell-check-other

[RNE Rewrite] docs(skills): Update native extension guide and add skills maintenance guide (#1301)
  .agents/skills/README.md
  .agents/skills/add-native-extension/SKILL.md
  .agents/skills/core-guidelines/SKILL.md
  .agents/skills/skills-maintenance/SKILL.md
  .agents/skills/verify-and-build/SKILL.md
  .cspell-wordlist.txt
Due: format-other, spell-check-other

[RNE Rewrite] fix(example): add bottom safe area inset to classification screen (#1299)
  apps/computer-vision/app/classification/index.tsx
Due: lint, types, format-js

[RNE Rewrite] docs(agents): update skills to match monorepo structure (#1276)
  .agents/skills/README.md
  .agents/skills/add-native-extension/SKILL.md
  .agents/skills/add-task-pipeline/SKILL.md
  .agents/skills/core-guidelines/SKILL.md
  .agents/skills/verify-and-build/SKILL.md
  .cspell-wordlist.txt
Due: format-other, spell-check-other

[RNE Rewrite] docs(jsdoc): add JSDocs to closure functions (#1277)
  packages/react-native-executorch/src/extensions/cv/tasks/classification.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
Due: lint, types, format-js

[RNE Rewrite] feat: add tokenizer pipeline (#1248) (#1274)
  apps/nlp/app.json
  apps/nlp/app/_layout.tsx
  apps/nlp/app/index.tsx
  apps/nlp/app/tokenizer/index.tsx
  apps/nlp/assets/icons/adaptive-icon.png
  apps/nlp/assets/icons/executorch.svg
  apps/nlp/assets/icons/favicon.png
  apps/nlp/assets/icons/icon.png
  apps/nlp/assets/icons/splash.png
  apps/nlp/babel.config.js
  apps/nlp/components/Button.tsx
  apps/nlp/components/ModelStatus.tsx
  apps/nlp/components/ScreenWrapper.tsx
  apps/nlp/declarations.d.ts
  apps/nlp/index.ts
  apps/nlp/metro.config.js
  apps/nlp/package.json
  apps/nlp/theme.ts
  apps/nlp/tsconfig.json
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/cpp/RnExecutorch.cpp
  packages/react-native-executorch/cpp/extensions/nlp/install.cpp
  packages/react-native-executorch/cpp/extensions/nlp/install.h
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.cpp
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.h
  packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/src/extensions/nlp/index.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/tokenization.ts
  packages/react-native-executorch/src/extensions/nlp/tokenizer.ts
  packages/react-native-executorch/src/hooks/useTokenizer.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
  packages/react-native-executorch/third-party/README.md
  yarn.lock
Due: lint, types, format-js, format-objc, format-other, spell-check-other

[RNE Rewrite] chore: add clang-tidy static checks (#1286)
  .github/workflows/clang-tidy.yml
  CONTRIBUTING.md
  packages/react-native-executorch/.clang-tidy
  packages/react-native-executorch/.clangd
  packages/react-native-executorch/cpp/RnExecutorch.cpp
  packages/react-native-executorch/cpp/core/dtype.cpp
  packages/react-native-executorch/cpp/core/dtype.h
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/model.h
  packages/react-native-executorch/cpp/core/tensor.cpp
  packages/react-native-executorch/cpp/core/tensor.h
  packages/react-native-executorch/cpp/core/utils.cpp
  packages/react-native-executorch/cpp/extensions/cv/box_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/cpp/extensions/math/operations.cpp
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.cpp
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.h
  packages/react-native-executorch/package.json
  packages/react-native-executorch/scripts/clang-tidy.sh
Due: format-objc, format-other, spell-check-other

[RNE Rewrite] feat: add style transfer task implementation (#1278)
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/styleTransfer/index.tsx
  packages/react-native-executorch/src/extensions/cv/tasks/styleTransfer.ts
  packages/react-native-executorch/src/hooks/useStyleTransfer.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

[RNE Rewrite] feat: add keypoint detection task pipeline (#1280)
  .cspell-wordlist.txt
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/keypoint/index.tsx
  apps/computer-vision/components/BoundingBox.tsx
  apps/computer-vision/components/ImageViewport.tsx
  packages/react-native-executorch/cpp/extensions/cv/box_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/box_ops.h
  packages/react-native-executorch/cpp/extensions/cv/install.cpp
  packages/react-native-executorch/src/constants.ts
  packages/react-native-executorch/src/extensions/cv/ops/boxes.ts
  packages/react-native-executorch/src/extensions/cv/ops/index.ts
  packages/react-native-executorch/src/extensions/cv/ops/points.ts
  packages/react-native-executorch/src/extensions/cv/tasks/keypointDetection.ts
  packages/react-native-executorch/src/hooks/useKeypointDetector.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-objc

[RNE Rewrite] feat: add voice activity detection pipeline (#1298)
  .agents/skills/add-native-extension/SKILL.md
  .cspell-wordlist.txt
  apps/speech/app.json
  apps/speech/app/_layout.tsx
  apps/speech/app/index.tsx
  apps/speech/app/vad/index.tsx
  apps/speech/assets/icons/adaptive-icon.png
  apps/speech/assets/icons/executorch.svg
  apps/speech/assets/icons/favicon.png
  apps/speech/assets/icons/icon.png
  apps/speech/assets/icons/splash.png
  apps/speech/babel.config.js
  apps/speech/components/Button.tsx
  apps/speech/components/ModelStatus.tsx
  apps/speech/components/ScreenWrapper.tsx
  apps/speech/declarations.d.ts
  apps/speech/index.ts
  apps/speech/metro.config.js
  apps/speech/package.json
  apps/speech/theme.ts
  apps/speech/tsconfig.json
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/cpp/RnExecutorch.cpp
  packages/react-native-executorch/cpp/extensions/speech/install.cpp
  packages/react-native-executorch/cpp/extensions/speech/install.h
  packages/react-native-executorch/cpp/extensions/speech/operations.cpp
  packages/react-native-executorch/cpp/extensions/speech/operations.h
  packages/react-native-executorch/src/extensions/speech/index.ts
  packages/react-native-executorch/src/extensions/speech/tasks/fsmnVoiceActivityDetection.ts
  packages/react-native-executorch/src/extensions/speech/utils/vadUtils.ts
  packages/react-native-executorch/src/hooks/useVoiceActivityDetector.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
  yarn.lock
Due: lint, types, format-js, format-objc, format-other, spell-check-other

[RNE Rewrite] feat: support offset and length options in Tensor.copyTo (#1287)
  packages/react-native-executorch/cpp/core/tensor.cpp
  packages/react-native-executorch/src/core/tensor.ts
Due: lint, types, format-js, format-objc

[RNE Rewrite] feat: add input validation and JSI conversion utilities (#1296)
  packages/react-native-executorch/cpp/core/conversions.cpp
  packages/react-native-executorch/cpp/core/conversions.h
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/model.h
  packages/react-native-executorch/cpp/core/tensor.cpp
  packages/react-native-executorch/cpp/core/tensor.h
  packages/react-native-executorch/cpp/core/tensor_helpers.cpp
  packages/react-native-executorch/cpp/core/tensor_helpers.h
  packages/react-native-executorch/cpp/extensions/cv/box_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/cpp/extensions/math/operations.cpp
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.cpp
Due: format-objc

[RNE Rewrite] feat: add semantic segmentation task (#1275)
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/segmentation/index.tsx
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/image_ops.h
  packages/react-native-executorch/cpp/extensions/cv/install.cpp
  packages/react-native-executorch/cpp/extensions/math/operations.cpp
  packages/react-native-executorch/src/constants.ts
  packages/react-native-executorch/src/extensions/cv/ops/image.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
  packages/react-native-executorch/src/extensions/cv/tasks/semanticSegmentation.ts
  packages/react-native-executorch/src/hooks/useSemanticSegmenter.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-objc

[RNE Rewrite] feat: on-demand native lib download and backend splitting (#1283)
  .cspell-wordlist.txt
  .github/actions/setup/action.yml
  apps/computer-vision/package.json
  apps/nlp/package.json
  docs/docs/01-fundamentals/01-getting-started.md
  docs/docs/01-fundamentals/02-native-libraries.md
  docs/docs/01-fundamentals/_category_.json
  docs/sidebars.js
  packages/react-native-executorch/.gitignore
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/android/build.gradle.kts
  packages/react-native-executorch/cpp/RnExecutorch.cpp
  packages/react-native-executorch/package.json
  packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/scripts/package-release-artifacts.sh
  packages/react-native-executorch/scripts/vendor-headers.sh
  packages/react-native-executorch/src/hooks/useResourceDownload.ts
  packages/react-native-executorch/src/utils.ts
  packages/react-native-executorch/third-party/.gitignore
  packages/react-native-executorch/third-party/README.md
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib.xcodeproj/project.pbxproj
  packages/react-native-executorch/third-party/ios/ExecutorchLib/build.sh
  packages/react-native-executorch/tsconfig.doc.json
Due: lint, types, format-js, format-objc, format-other, spell-check-other

[RNE Rewrite] feat: add SDXS text-to-image pipeline (#1307)
  .agents/skills/add-task-pipeline/SKILL.md
  .agents/skills/model-schema-validation/SKILL.md
  .cspell-wordlist.txt
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/textToImage/index.tsx
  apps/computer-vision/package.json
  packages/react-native-executorch/src/extensions/cv/tasks/sdxsTextToImage.ts
  packages/react-native-executorch/src/extensions/math.ts
  packages/react-native-executorch/src/hooks/useTextToImage.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

[RNE Rewrite] feat: add object detection task pipeline (#1284)
  .cspell-wordlist.txt
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/detection/index.tsx
  apps/computer-vision/app/index.tsx
  packages/react-native-executorch/src/constants.ts
  packages/react-native-executorch/src/extensions/cv/tasks/objectDetection.ts
  packages/react-native-executorch/src/hooks/useObjectDetector.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

[RNE Rewrite] Add text and image embeddings pipelines (#1292)
  .agents/skills/model-schema-validation/SKILL.md
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/imageEmbeddings/index.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/package.json
  apps/computer-vision/utils.ts
  apps/nlp/app/_layout.tsx
  apps/nlp/app/index.tsx
  apps/nlp/app/text-embeddings/index.tsx
  apps/nlp/package.json
  packages/react-native-executorch/cpp/core/dtype.cpp
  packages/react-native-executorch/cpp/core/dtype.h
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/model.h
  packages/react-native-executorch/cpp/extensions/cv/utils.h
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/src/core/modelSchema.ts
  packages/react-native-executorch/src/core/tensor.ts
  packages/react-native-executorch/src/extensions/cv/tasks/imageEmbedding.ts
  packages/react-native-executorch/src/extensions/nlp/index.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/textEmbedding.ts
  packages/react-native-executorch/src/hooks/useImageEmbedder.ts
  packages/react-native-executorch/src/hooks/useTextEmbedder.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

[RNE Rewrite] Deduplicate tokenizer result-unwrapping with a local `unwrap` helper (#1320)
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.cpp
Due: format-objc

[RNE Rewrite] docs(jsdoc): streamline and align typescript API comments with native code (#1272)
  packages/react-native-executorch/src/core/tensor.ts
  packages/react-native-executorch/src/extensions/cv/ops/image.ts
  packages/react-native-executorch/src/extensions/cv/tasks/classification.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
  packages/react-native-executorch/src/extensions/math.ts
  packages/react-native-executorch/src/hooks/useClassifier.ts
  packages/react-native-executorch/src/hooks/useModel.ts
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js

[RNE Rewrite] chore: clean up and unify example app layout, styling, and fix dependencies (#1273)
  .cspell-wordlist.txt
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/inspect/index.tsx
  apps/computer-vision/colors.ts
  apps/computer-vision/components/Button.tsx
  apps/computer-vision/components/ImageViewport.tsx
  apps/computer-vision/components/LatencyIndicator.tsx
  apps/computer-vision/components/ModelStatus.tsx
  apps/computer-vision/components/ScreenWrapper.tsx
  apps/computer-vision/package.json
  apps/computer-vision/theme.ts
  apps/computer-vision/utils.ts
  package.json
  packages/react-native-executorch/package.json
  patches/react-native-worklets+0.9.1.patch
  yarn.lock
Due: lint, types, format-js, format-other

[RNE Rewrite] build(rewrite): decouple native lib artifacts from core versioning (#1336)
  .github/workflows/clang-tidy.yml
  packages/react-native-executorch/package.json
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/scripts/package-release-artifacts.sh
Due: lint, types, format-js, format-other

[RNE Rewrite] fix(fetcher): make iOS resume actually append, and never cache a short file (#1365)
  packages/react-native-executorch/src/fetcher/fetcher.ts
Due: lint, types, format-js

[RNE Rewrite] fix(fetcher): make download progress track the bytes on the wire (#1368)
  packages/react-native-executorch/src/fetcher/fetcher.ts
Due: lint, types, format-js

[RNE Rewrite] docs(cpp): add missing C++ documentation in header files (#1337)
  packages/react-native-executorch/cpp/core/conversions.h
  packages/react-native-executorch/cpp/core/dtype.cpp
  packages/react-native-executorch/cpp/core/dtype.h
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/schema.cpp
  packages/react-native-executorch/cpp/core/tensor.cpp
  packages/react-native-executorch/cpp/core/tensor.h
  packages/react-native-executorch/cpp/core/tensor_helpers.cpp
  packages/react-native-executorch/cpp/extensions/cv/utils.h
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.h
Due: format-objc

[RNE Rewrite] revert(ocr): undo the preprocessor worklet change (#1381)
  packages/react-native-executorch/src/extensions/cv/tasks/paddleOcr.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
Due: lint, types, format-js

[RNE Rewrite] feat: add Whisper STT pipeline (#1302)
  apps/speech/app/_layout.tsx
  apps/speech/app/audio-file-transcription/index.tsx
  apps/speech/app/index.tsx
  apps/speech/app/microphone-transcription/index.tsx
  apps/speech/components/ModelPicker.tsx
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
  packages/react-native-executorch/src/hooks/useSpeechToText.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

[RNE Rewrite] feat: Add OCR implementation (#1322)
  .cspell-wordlist.txt
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/inspect/index.tsx
  apps/computer-vision/app/ocr/index.tsx
  apps/computer-vision/components/ImageViewport.tsx
  apps/computer-vision/theme.ts
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/image_ops.h
  packages/react-native-executorch/cpp/extensions/cv/install.cpp
  packages/react-native-executorch/cpp/extensions/cv/ocr_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/ocr_ops.h
  packages/react-native-executorch/cpp/extensions/math/install.cpp
  packages/react-native-executorch/cpp/extensions/math/operations.cpp
  packages/react-native-executorch/cpp/extensions/math/operations.h
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/src/extensions/cv/index.ts
  packages/react-native-executorch/src/extensions/cv/ops/index.ts
  packages/react-native-executorch/src/extensions/cv/ops/points.ts
  packages/react-native-executorch/src/extensions/cv/ops/quad.ts
  packages/react-native-executorch/src/extensions/cv/tasks/paddleOcr.ts
  packages/react-native-executorch/src/extensions/cv/utils/paddleOcrUtils.ts
  packages/react-native-executorch/src/extensions/math.ts
  packages/react-native-executorch/src/hooks/useOpticalCharacterRecognizer.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-objc
