Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

chore: restructurize T2S & add docs (#738)
  .cspell-wordlist.txt
  apps/speech/screens/Quiz.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/memory-usage.md
  docs/docs/02-benchmarks/model-size.md
  docs/docs/03-hooks/01-natural-language-processing/useTextToSpeech.md
  docs/docs/04-typescript-api/01-natural-language-processing/TextToSpeechModule.md
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/ContainerHelpers.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/F0NPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/F0NPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Synthesizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Synthesizer.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.cpp
  packages/react-native-executorch/src/constants/tts/models.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

docs: add llms.txt file (#745)
  docs/docusaurus.config.js
  docs/package.json
  docs/scripts/postbuild.mjs
  docs/scripts/tasks/fix-llms-txt.mjs
  docs/yarn.lock
Due: lint, types, format-js, format-other

feat: integration with vision camera for cv models
  apps/computer-vision/app.json
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/camera_object_detection/index.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/package.json
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/FunctionHelpers.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/TypeConcepts.h
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.h
  packages/react-native-executorch/react-native-executorch.podspec
  yarn.lock
Due: lint, types, format-js, format-objc, format-other

fix: override contact/hire us button & match styling
  docs/src/theme/TOCItems/HireUsButton.tsx
  docs/src/theme/TOCItems/index.tsx
  docs/src/theme/TOCItems/styles.module.css
Due: lint, types, format-js, format-other, spell-check-other

fix: svg styling & animation
  docs/src/theme/TOCItems/styles.module.css
Due: format-other, spell-check-other

chore: reorganize styles
  docs/src/theme/TOCItems/styles.module.css
Due: format-other, spell-check-other

chore: update urls to contact form
  README.md
  docs/src/pages/index.tsx
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: lint, types, format-js, format-other, spell-check-other

fix: update urls to contact form (#750)
  README.md
  docs/src/pages/index.tsx
  docs/src/theme/TOCItems/HireUsButton.tsx
  docs/src/theme/TOCItems/index.tsx
  docs/src/theme/TOCItems/styles.module.css
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: lint, types, format-js, format-other, spell-check-other

feat: add resource fetcher adapters for Expo and bare React Native
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/package.json
  apps/computer-vision/tsconfig.json
  apps/llm/app/_layout.tsx
  apps/llm/package.json
  apps/llm/tsconfig.json
  apps/speech-to-text/App.tsx
  apps/speech-to-text/package.json
  apps/speech-to-text/tsconfig.json
  apps/text-embeddings/app/_layout.tsx
  apps/text-embeddings/package.json
  apps/text-embeddings/tsconfig.json
  package.json
  packages/bare-adapter/package.json
  packages/bare-adapter/src/ResourceFetcher.ts
  packages/bare-adapter/src/ResourceFetcherUtils.ts
  packages/bare-adapter/src/constants/directories.ts
  packages/bare-adapter/src/index.ts
  packages/bare-adapter/tsconfig.json
  packages/expo-adapter/package.json
  packages/expo-adapter/src/ResourceFetcher.ts
  packages/expo-adapter/src/ResourceFetcherUtils.ts
  packages/expo-adapter/src/constants/directories.ts
  packages/expo-adapter/src/index.ts
  packages/expo-adapter/tsconfig.json
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
  yarn.lock
Due: lint, types, format-js, format-other

Update README with hire us and nightly version badges
  README.md
Due: format-other, spell-check-other

Bump version from 0.6.0 to 0.7.0
  packages/react-native-executorch/package.json
Due: format-other

Add 'Hire Us' badge to README_cn.md
  readmes/README_cn.md
Due: format-other, spell-check-other

Add 'Hire Us' badge to Spanish README
  readmes/README_es.md
Due: format-other, spell-check-other

Update 'Hire Us' badge text in README_cn.md
  readmes/README_cn.md
Due: format-other, spell-check-other

Add hiring contact badge to French README
  readmes/README_fr.md
Due: format-other, spell-check-other

Add nightly npm version badge to README
  readmes/README_in.md
Due: format-other, spell-check-other

Add 'Hire Us' badge to README in Portuguese
  readmes/README_pt.md
Due: format-other, spell-check-other

Add new badges to readme (#751)
  README.md
  packages/react-native-executorch/package.json
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

chore: make Hire Us banner background darkgreen
  README.md
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

chore: make Hire Us banner background darkgreen (#753)
  README.md
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

Update yarn.lock with docusaurus plugin for typedoc
  docs/yarn.lock
Due: none

Add first working autogenerated API
  docs/docusaurus.config.js
  docs/package.json
  docs/sidebars.js
Due: lint, types, format-js, format-other

Enhance VAD and part of TTS documentation
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextEmbeddings.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTokenizer.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useVAD.ts
  packages/react-native-executorch/src/hooks/useModule.ts
  packages/react-native-executorch/src/types/textEmbeddings.ts
  packages/react-native-executorch/src/types/vad.ts
Due: lint, types, format-js

chore: separate integration and unit tests, add some more tests
  packages/react-native-executorch/common/rnexecutorch/models/ocr/utils/RecognizerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/BaseModelTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/BaseModelTests.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ClassificationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ImageEmbeddingsTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ImageSegmentationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/OCRTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ObjectDetectionTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SpeechToTextTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/StyleTransferTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TestUtils.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextEmbeddingsTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextToImageTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TokenizerModuleTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/VoiceActivityDetectionTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/stubs/jsi_stubs.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/common/rnexecutorch/tests/unit/FileUtilsTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/unit/LogTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/unit/NumericalTest.cpp
Due: format-objc

chore: use typed tests for basemodel tests
  packages/react-native-executorch/common/rnexecutorch/tests/integration/BaseModelTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/BaseModelTests.h
Due: format-objc

feat: improve tests
  packages/react-native-executorch/common/rnexecutorch/tests/integration/BaseModelTests.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ClassificationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/OCRTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ObjectDetectionTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SpeechToTextTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextToImageTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TokenizerModuleTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/VoiceActivityDetectionTest.cpp
Due: format-objc

feat: add some more tests
  packages/react-native-executorch/common/rnexecutorch/tests/integration/BaseModelTests.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ClassificationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ImageEmbeddingsTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/OCRTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ObjectDetectionTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SpeechToTextTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/StyleTransferTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextToImageTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/VoiceActivityDetectionTest.cpp
Due: format-objc

chore: remove pointless tests
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SpeechToTextTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextToImageTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TokenizerModuleTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/VoiceActivityDetectionTest.cpp
Due: format-objc

feat: add vertical ocr tests
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/VerticalOCRTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
Due: format-objc

chore: rename variable
  packages/react-native-executorch/common/rnexecutorch/models/ocr/utils/RecognizerUtils.cpp
Due: format-objc

fix: expect throw rnexecutorch error instead of std
  packages/react-native-executorch/common/rnexecutorch/tests/unit/NumericalTest.cpp
Due: format-objc

fix: ensure controller is ready before calling delete
  packages/react-native-executorch/src/hooks/computer_vision/useOCR.ts
  packages/react-native-executorch/src/hooks/computer_vision/useVerticalOCR.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
Due: lint, types, format-js
