Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

feat: useModuleFactory handles runOnFrame, update stale comments
  packages/react-native-executorch/src/hooks/computer_vision/useClassification.ts
  packages/react-native-executorch/src/hooks/computer_vision/useImageEmbeddings.ts
  packages/react-native-executorch/src/hooks/computer_vision/useOCR.ts
  packages/react-native-executorch/src/hooks/computer_vision/useObjectDetection.ts
  packages/react-native-executorch/src/hooks/computer_vision/useSemanticSegmentation.ts
  packages/react-native-executorch/src/hooks/useModuleFactory.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
Due: lint, types, format-js

feat: style transfer returns raw pixels or uri
  apps/computer-vision/app/style_transfer/index.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.h
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/Types.h
  packages/react-native-executorch/src/hooks/computer_vision/useStyleTransfer.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/types/styleTransfer.ts
Due: lint, types, format-js, format-objc

refactor: things catched in review
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
  packages/react-native-executorch/src/hooks/useModuleFactory.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
Due: lint, types, format-js, format-objc

docs: update docs link
  docs/docs/03-hooks/02-computer-vision/visioncamera-integration.md
Due: format-other, spell-check-other

tests: vision models
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SemanticSegmentationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/StyleTransferTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/VisionModelTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/unit/FrameProcessorTest.cpp
Due: format-objc

fix: small adjustments to style transfer
  .eslintrc.js
  apps/computer-vision/app/vision_camera/index.tsx
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
Due: lint, types, format-js

docs: update documentation
  docs/docs/03-hooks/02-computer-vision/useClassification.md
  docs/docs/03-hooks/02-computer-vision/useImageEmbeddings.md
  docs/docs/03-hooks/02-computer-vision/useOCR.md
  docs/docs/03-hooks/02-computer-vision/useObjectDetection.md
  docs/docs/03-hooks/02-computer-vision/useSemanticSegmentation.md
  docs/docs/03-hooks/02-computer-vision/useStyleTransfer.md
  docs/docs/03-hooks/02-computer-vision/visioncamera-integration.md
  docs/docs/04-typescript-api/02-computer-vision/ClassificationModule.md
  docs/docs/04-typescript-api/02-computer-vision/ImageEmbeddingsModule.md
  docs/docs/04-typescript-api/02-computer-vision/OCRModule.md
  docs/docs/04-typescript-api/02-computer-vision/ObjectDetectionModule.md
  docs/docs/04-typescript-api/02-computer-vision/SemanticSegmentationModule.md
  docs/docs/04-typescript-api/02-computer-vision/StyleTransferModule.md
Due: format-other, spell-check-other

refactor: extract vision camera color utils
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/app/vision_camera/utils/colors.ts
Due: lint, types, format-js

docs: update vision camera docs page
  docs/docs/03-hooks/02-computer-vision/visioncamera-integration.md
Due: format-other, spell-check-other

refactor: add ObjectDetectionTask component
  apps/computer-vision/app/vision_camera/tasks/ObjectDetectionTask.tsx
Due: lint, types, format-js

chore: tests, docs, comments etc.
  docs/docs/03-hooks/02-computer-vision/useVerticalOCR.md
  docs/docs/03-hooks/02-computer-vision/visioncamera-integration.md
  docs/docs/04-typescript-api/02-computer-vision/VerticalOCRModule.md
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ClassificationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ImageEmbeddingsTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/OCRTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ObjectDetectionTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SemanticSegmentationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/StyleTransferTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/VerticalOCRTest.cpp
  packages/react-native-executorch/src/hooks/computer_vision/useClassification.ts
  packages/react-native-executorch/src/hooks/computer_vision/useImageEmbeddings.ts
  packages/react-native-executorch/src/hooks/computer_vision/useOCR.ts
  packages/react-native-executorch/src/hooks/computer_vision/useStyleTransfer.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

refactor: add ClassificationTask component
  apps/computer-vision/app/vision_camera/tasks/ClassificationTask.tsx
  apps/computer-vision/app/vision_camera/tasks/types.ts
Due: lint, types, format-js

refactor: unused include
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
Due: format-objc

refactor: add SegmentationTask component
  apps/computer-vision/app/vision_camera/tasks/SegmentationTask.tsx
Due: lint, types, format-js

refactor: remove comments
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/app/vision_camera/tasks/ClassificationTask.tsx
  apps/computer-vision/app/vision_camera/tasks/ObjectDetectionTask.tsx
  apps/computer-vision/app/vision_camera/tasks/SegmentationTask.tsx
  apps/computer-vision/app/vision_camera/tasks/types.ts
  apps/computer-vision/app/vision_camera/utils/colors.ts
Due: lint, types, format-js

refactor: simplify vision camera screen to shell + task components
  apps/computer-vision/app/vision_camera/index.tsx
Due: lint, types, format-js

docs: add table for rn compatibility
  docs/docs/06-other/01-compatibility.mdx
  docs/docs/06-other/_category_.json
  docs/src/components/CompatibilityTable/styles.module.css
Due: format-other, spell-check-other

fix: after rebase
  packages/react-native-executorch/src/hooks/computer_vision/useClassification.ts
  packages/react-native-executorch/src/hooks/computer_vision/useImageEmbeddings.ts
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
Due: lint, types, format-js

refactor: batch 1 suggestions
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/StyleTransferTest.cpp
Due: format-objc

tests: apply merging suggestsions
  packages/react-native-executorch/common/rnexecutorch/tests/integration/StyleTransferTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/unit/FrameProcessorTest.cpp
Due: format-objc

chore: fix android build
  apps/bare_rn/android/app/src/main/java/com/barern/MainApplication.kt
Due: none

Merge with main
  apps/speech/App.tsx
  apps/speech/screens/TextToSpeechLLMScreen.tsx
  docs/docs/03-hooks/01-natural-language-processing/useTextToSpeech.md
  docs/docs/04-typescript-api/01-natural-language-processing/TextToSpeechModule.md
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Params.h
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextToSpeechTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/test_speech.raw
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

Update phonemis package & improve streaming in demo app
  apps/speech/screens/TextToSpeechLLMScreen.tsx
  packages/react-native-executorch/third-party/android/libs/phonemis/arm64-v8a/libphonemis.a
  packages/react-native-executorch/third-party/android/libs/phonemis/x86_64/libphonemis.a
  packages/react-native-executorch/third-party/ios/libs/phonemis/physical-arm64-release/libphonemis.a
  packages/react-native-executorch/third-party/ios/libs/phonemis/simulator-arm64-debug/libphonemis.a
Due: lint, types, format-js

Fix Phonemis linking in T2S tests
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextToSpeechTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
Due: lint, types, format-js, format-objc

chore: fix so style transfer works on old android
  packages/react-native-executorch/android/src/main/cpp/ETInstallerModule.cpp
  packages/react-native-executorch/android/src/main/cpp/ETInstallerModule.h
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/ETInstaller.kt
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/ios/RnExecutorch/ETInstaller.mm
Due: format-objc

fix: move the vision camera components so they are not treated as part of navigation
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/vision_camera/tasks/ClassificationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/ObjectDetectionTask.tsx
  apps/computer-vision/components/vision_camera/tasks/SegmentationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/types.ts
  apps/computer-vision/components/vision_camera/utils/colors.ts
Due: lint, types, format-js

Update model property in useTextToSpeech documentation
  docs/docs/03-hooks/01-natural-language-processing/useTextToSpeech.md
Due: format-other, spell-check-other

Update parameter name from 'model' to 'props' in useLLM
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
Due: lint, types, format-js

docs: Update model property in useTextToSpeech documentation (#960)
  docs/docs/03-hooks/01-natural-language-processing/useTextToSpeech.md
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
Due: lint, types, format-js, format-other, spell-check-other

chore: make error code specifically for resource fetcher
  packages/bare-resource-fetcher/src/ResourceFetcher.ts
Due: lint, types, format-js

chore: add missing error codes
  packages/react-native-executorch/common/rnexecutorch/ErrorCodes.h
  packages/react-native-executorch/src/errors/ErrorCodes.ts
  scripts/errors.config.ts
Due: lint, types, format-js, format-objc

chore: add yarn prepare command for all packages
  package.json
Due: format-other

docs: document new error code in documentation
  docs/docs/05-utilities/04-error-handling.md
Due: format-other, spell-check-other

Fix Phonemis linking in T2S tests
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextToSpeechTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js, format-objc

chore: add workflows for publishing resource fetchers
  .github/workflows/npm-publish-bare-resource-fetcher.yml
  .github/workflows/npm-publish-expo-resource-fetcher.yml
Due: format-other

chore: update RELEASE.md and versions of resource adapters
  RELEASE.md
  packages/bare-resource-fetcher/package.json
  packages/expo-resource-fetcher/package.json
Due: format-other, spell-check-other

feat!: text-to-speech x LLM integration (#936)
  apps/speech/App.tsx
  apps/speech/screens/TextToSpeechLLMScreen.tsx
  docs/docs/03-hooks/01-natural-language-processing/useTextToSpeech.md
  docs/docs/04-typescript-api/01-natural-language-processing/TextToSpeechModule.md
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Params.h
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextToSpeechTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/test_speech.raw
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/types/tts.ts
  packages/react-native-executorch/third-party/android/libs/phonemis/arm64-v8a/libphonemis.a
  packages/react-native-executorch/third-party/android/libs/phonemis/x86_64/libphonemis.a
  packages/react-native-executorch/third-party/ios/libs/phonemis/physical-arm64-release/libphonemis.a
  packages/react-native-executorch/third-party/ios/libs/phonemis/simulator-arm64-debug/libphonemis.a
Due: lint, types, format-js, format-objc, format-other, spell-check-other
