Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

remove console logs in ts code
  apps/computer-vision/app/object_detection/index.tsx
  apps/computer-vision/app/ocr/index.tsx
  apps/computer-vision/app/ocr_vertical/index.tsx
Due: lint, types, format-js

requested changes added
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
Due: format-objc

add floating point comparison functionality
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
Due: format-objc

refactor: DetectorUtils functions
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
Due: format-objc

add requested changes that i have missed lol
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.h
Due: format-objc

small requested changes
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.h
Due: format-objc

Apply suggestions from code review
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
Due: format-objc

make use of getDesiredWidth() function
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.cpp
Due: format-objc

Add requested changes + swap int to int32_t everywhere
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.h
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
Due: format-objc

add descriptive comments, refactor VOCR, add support for all detector sizes to OCR
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.h
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.h
Due: format-objc

make non-static OCR module
  apps/computer-vision/app/ocr/index.tsx
  packages/react-native-executorch/src/controllers/OCRController.ts
  packages/react-native-executorch/src/hooks/computer_vision/useOCR.ts
  packages/react-native-executorch/src/modules/computer_vision/OCRModule.ts
Due: lint, types, format-js

make non-static Vertical OCR module
  apps/computer-vision/app/ocr_vertical/index.tsx
  packages/react-native-executorch/src/controllers/VerticalOCRController.ts
  packages/react-native-executorch/src/hooks/computer_vision/useVerticalOCR.ts
  packages/react-native-executorch/src/modules/computer_vision/VerticalOCRModule.ts
Due: lint, types, format-js

add delete method to OCRmodule and VOCRmodule
  packages/react-native-executorch/src/controllers/OCRController.ts
  packages/react-native-executorch/src/controllers/VerticalOCRController.ts
Due: lint, types, format-js

docs: update docs to match the reality
  docs/docs/03-typescript-api/02-computer-vision/OCRModule.md
  docs/docs/03-typescript-api/02-computer-vision/VerticalOCRModule.md
Due: format-other, spell-check-other

Apply suggestions from code review
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
Due: format-objc

add unload to OCR/Vertical OCR, add deletion to Modules, add on return deletion to hooks
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.h
  packages/react-native-executorch/src/hooks/computer_vision/useOCR.ts
  packages/react-native-executorch/src/hooks/computer_vision/useVerticalOCR.ts
  packages/react-native-executorch/src/modules/computer_vision/OCRModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VerticalOCRModule.ts
Due: lint, types, format-js, format-objc

feat: simplify s2t example app and use react-native-audio-api for live streaming
  apps/speech-to-text/components/TextInputModal.tsx
  apps/speech-to-text/ios/Podfile.lock
  apps/speech-to-text/package.json
  apps/speech-to-text/screens/SpeechToTextScreen.tsx
  yarn.lock
Due: lint, types, format-js, format-other

docs: update the streaming exampleclear
  .cspell-wordlist.txt
  docs/docs/02-hooks/01-natural-language-processing/useSpeechToText.md
Due: format-other, spell-check-other

feat: enhance error handling and disable recording on simulator in SpeechToTextScreen
  apps/speech-to-text/screens/SpeechToTextScreen.tsx
Due: lint, types, format-js

fix: eslint warnings
  .cspell-wordlist.txt
  apps/speech-to-text/screens/SpeechToTextScreen.tsx
Due: lint, types, format-js

fix: error messages formatting (#476)
  packages/react-native-executorch/src/Error.ts
Due: lint, types, format-js

fix: error messages formatting (#476) (#492)
  packages/react-native-executorch/src/Error.ts
Due: lint, types, format-js

chore: replace QLoRa model with SpinQuant one
  apps/llm/app/llm/index.tsx
Due: lint, types, format-js

fix: correct variable name
  .cspell-wordlist.txt
  apps/speech-to-text/screens/SpeechToTextScreen.tsx
  docs/docs/02-hooks/01-natural-language-processing/useSpeechToText.md
Due: lint, types, format-js, format-other, spell-check-other

fix: useMemo -> useRef
  apps/speech-to-text/screens/SpeechToTextScreen.tsx
  docs/docs/02-hooks/01-natural-language-processing/useSpeechToText.md
Due: lint, types, format-js, format-other, spell-check-other

feat: Simplify s2t app (#491)
  .cspell-wordlist.txt
  apps/speech-to-text/components/TextInputModal.tsx
  apps/speech-to-text/ios/Podfile.lock
  apps/speech-to-text/package.json
  apps/speech-to-text/screens/SpeechToTextScreen.tsx
  docs/docs/02-hooks/01-natural-language-processing/useSpeechToText.md
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

chore: make header functions inline
  packages/react-native-executorch/common/rnexecutorch/Log.h
Due: format-objc

fix: inline logging functions to prevent ODR violation (#494)
  packages/react-native-executorch/common/rnexecutorch/Log.h
Due: format-objc

Add requested changes on review
  packages/react-native-executorch/src/controllers/OCRController.ts
  packages/react-native-executorch/src/controllers/VerticalOCRController.ts
  packages/react-native-executorch/src/index.tsx
  packages/react-native-executorch/src/modules/computer_vision/OCRModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VerticalOCRModule.ts
Due: lint, types, format-js

docs: update OCR and VOCR benchmarks
  docs/docs/02-hooks/02-computer-vision/useOCR.md
  docs/docs/02-hooks/02-computer-vision/useVerticalOCR.md
  docs/docs/03-typescript-api/02-computer-vision/OCRModule.md
  docs/static/img/harvard-boxes.png
  docs/static/img/harvard.png
  docs/static/img/sales-vertical-boxes.png
  docs/static/img/sales-vertical.jpeg
Due: format-other, spell-check-other

chore: add clangd stuff to gitignore
  .gitignore
Due: none

chore: add clangd files to gitignore (#495)
  .gitignore
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
