Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

[RNE Rewrite] docs(vad): drop the mergeSegments/postprocess provenance line
  packages/react-native-executorch/src/extensions/speech/tasks/fsmnVoiceActivityDetection.ts
Due: lint, types, format-js

[RNE Rewrite] refactor(vad): move default detection options into the models registry
  packages/react-native-executorch/src/extensions/speech/tasks/fsmnVoiceActivityDetection.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

refactor: use std::span instead of raw pointers in native C++ ops
  packages/react-native-executorch/cpp/extensions/cv/box_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/cpp/extensions/math/operations.cpp
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.cpp
Due: format-objc

gh action fix
  .github/workflows/build-ios-llm-example.yml
Due: format-other

fix(resource-fetcher): avoid `this` in static `fs` field initializer (#1310)
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

[RNE Rewrite] feat: add voice activity detection pipeline (#1298)
  .agents/skills/add-native-extension/SKILL.md
  .cspell-wordlist.txt
  apps/speech/app.json
  apps/speech/app/_layout.tsx
  apps/speech/app/index.tsx
  apps/speech/app/vad/index.tsx
  apps/speech/assets/icons/adaptive-icon.png
  apps/speech/assets/icons/executorch.svg
  apps/speech/assets/icons/favicon.png
  apps/speech/assets/icons/icon.png
  apps/speech/assets/icons/splash.png
  apps/speech/babel.config.js
  apps/speech/components/Button.tsx
  apps/speech/components/ModelStatus.tsx
  apps/speech/components/ScreenWrapper.tsx
  apps/speech/declarations.d.ts
  apps/speech/index.ts
  apps/speech/metro.config.js
  apps/speech/package.json
  apps/speech/theme.ts
  apps/speech/tsconfig.json
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/cpp/RnExecutorch.cpp
  packages/react-native-executorch/cpp/extensions/speech/install.cpp
  packages/react-native-executorch/cpp/extensions/speech/install.h
  packages/react-native-executorch/cpp/extensions/speech/operations.cpp
  packages/react-native-executorch/cpp/extensions/speech/operations.h
  packages/react-native-executorch/src/extensions/speech/index.ts
  packages/react-native-executorch/src/extensions/speech/tasks/fsmnVoiceActivityDetection.ts
  packages/react-native-executorch/src/extensions/speech/utils/vadUtils.ts
  packages/react-native-executorch/src/hooks/useVoiceActivityDetector.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
  yarn.lock
Due: lint, types, format-js, format-objc, format-other, spell-check-other

Pin SDXS pipeline params as constants instead of per-model options
  packages/react-native-executorch/src/extensions/cv/tasks/sdxsTextToImage.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

Remove the constants-rationale comment per review
  packages/react-native-executorch/src/extensions/cv/tasks/sdxsTextToImage.ts
Due: lint, types, format-js

[RNE Rewrite] feat: add SDXS text-to-image pipeline
  .cspell-wordlist.txt
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/textToImage/index.tsx
  packages/react-native-executorch/src/extensions/cv/tasks/sdxsTextToImage.ts
  packages/react-native-executorch/src/hooks/useTextToImage.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

[RNE Rewrite] feat(tti): drop 8da4w, add SDXS CoreML fp16 + MLX int4
  apps/computer-vision/app/textToImage/index.tsx
  packages/react-native-executorch/src/extensions/cv/tasks/sdxsTextToImage.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

Address review: optional seed, trim docs/constants
  packages/react-native-executorch/src/extensions/cv/tasks/sdxsTextToImage.ts
Due: lint, types, format-js

Address review: options-object randomNormal, simplify download progress
  packages/react-native-executorch/src/extensions/cv/tasks/sdxsTextToImage.ts
  packages/react-native-executorch/src/extensions/math.ts
  packages/react-native-executorch/src/hooks/useTextToImage.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

Drop the MLX variant of SDXS
  apps/computer-vision/app/textToImage/index.tsx
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

Gate CoreML/MLX variants to physical iOS devices only
  apps/computer-vision/app/textToImage/index.tsx
  apps/computer-vision/package.json
  yarn.lock
Due: lint, types, format-js, format-other

Address Bartek's review: extract RNG to math, inline single-use helpers
  packages/react-native-executorch/src/extensions/cv/tasks/sdxsTextToImage.ts
  packages/react-native-executorch/src/extensions/math.ts
Due: lint, types, format-js

docs(skills): record the options-vs-constants convention
  .agents/skills/add-task-pipeline/SKILL.md
  .agents/skills/model-schema-validation/SKILL.md
Due: format-other, spell-check-other

[RNE Rewrite] chore(tti): point SDXS tokenizer at HF repo root
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

Address review: rename type, document noiseCoeff, trim helper comments
  packages/react-native-executorch/src/extensions/cv/tasks/sdxsTextToImage.ts
  packages/react-native-executorch/src/hooks/useTextToImage.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

Fix lint warnings: add cspell words and drop bitwise seed op
  .cspell-wordlist.txt
  apps/computer-vision/app/textToImage/index.tsx
Due: lint, types, format-js

Default missing seed to random; remove MLX comment
  .cspell-wordlist.txt
  apps/computer-vision/app/textToImage/index.tsx
  packages/react-native-executorch/src/extensions/cv/tasks/sdxsTextToImage.ts
  packages/react-native-executorch/src/extensions/math.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

[RNE Rewrite] feat: add SDXS text-to-image pipeline (#1307)
  .agents/skills/add-task-pipeline/SKILL.md
  .agents/skills/model-schema-validation/SKILL.md
  .cspell-wordlist.txt
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/textToImage/index.tsx
  apps/computer-vision/package.json
  packages/react-native-executorch/src/extensions/cv/tasks/sdxsTextToImage.ts
  packages/react-native-executorch/src/extensions/math.ts
  packages/react-native-executorch/src/hooks/useTextToImage.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

refactor: use std::span instead of raw pointers in native C++ ops
  packages/react-native-executorch/cpp/extensions/cv/box_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/cpp/extensions/math/operations.cpp
Due: format-objc

refactor: replace repeated result-ok checks in tokenizer with unwrap helper
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.cpp
Due: format-objc

fix(stt): remove unused sttProgress and sttError variables
  apps/speech/app/stt/index.tsx
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
  packages/react-native-executorch/src/hooks/useSpeechToText.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

docs(stt): replace BCP-47 references with Whisper-specific language code terminology
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
Due: lint, types, format-js

fix(whisper): validate language token against tokenizer, not declared metadata
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
Due: lint, types, format-js

fix(whisper): validate language against supportedLanguages before decoding
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
Due: lint, types, format-js

feat(speech): wire VAD to Whisper STT and rewrite example app screen
  apps/speech/app/_layout.tsx
  apps/speech/app/index.tsx
  apps/speech/app/stt/index.tsx
  apps/speech/package.json
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
  packages/react-native-executorch/src/hooks/useSpeechToText.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
  yarn.lock
Due: lint, types, format-js, format-other

fix(speech-app): render download progress status on STT screen
  apps/speech/app/stt/index.tsx
Due: lint, types, format-js

feat(speech-example): add scrollable ModelPicker to STT screen
  apps/speech/app/stt/index.tsx
  apps/speech/components/ModelPicker.tsx
Due: lint, types, format-js

docs: add JSDoc to Whisper STT task pipeline and hook
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
  packages/react-native-executorch/src/hooks/useSpeechToText.ts
Due: lint, types, format-js

fix(whisper): correct STRIDE_SIZE comment to reflect stream-only usage
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
Due: lint, types, format-js

feat(stt): add all Whisper models, disable CoreML on non-iOS platforms
  apps/speech/app/stt/index.tsx
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

fix(stt): adapt to VAD API changes from rne-rewrite rebase
  apps/speech/package.json
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
  packages/react-native-executorch/src/hooks/useSpeechToText.ts
  packages/react-native-executorch/src/models.ts
  yarn.lock
Due: lint, types, format-js, format-other

fix: add missing @category and localPath to useSpeechToText
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
  packages/react-native-executorch/src/hooks/useSpeechToText.ts
Due: lint, types, format-js

small fix
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
Due: lint, types, format-js

[RNE Rewrite] Deduplicate tokenizer result-unwrapping with a local `unwrap` helper (#1320)
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.cpp
Due: format-objc

refactor(speech): rename fsmnVadModel to generic vadModel in WhisperSttModel public API
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
  packages/react-native-executorch/src/hooks/useSpeechToText.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(example-stt): add separate Transcribe Audio File screen
  apps/speech/app/_layout.tsx
  apps/speech/app/index.tsx
  apps/speech/app/stt-audio/index.tsx
Due: lint, types, format-js

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
