Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

feat: add IEncoder interface and VisionEncoder
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/common/runner/encoders/iencoder.h
  packages/react-native-executorch/common/runner/encoders/vision_encoder.cpp
  packages/react-native-executorch/common/runner/encoders/vision_encoder.h
Due: format-objc

chore: lint
  packages/react-native-executorch/src/hooks/useModuleFactory.ts
Due: lint, types, format-js

Final fixes
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Utils.h
Due: format-objc

fix: address vision_encoder quality review issues
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/common/runner/encoders/vision_encoder.cpp
  packages/react-native-executorch/common/runner/encoders/vision_encoder.h
Due: format-objc

feat: add BaseLLMRunner with shared state and load()
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/common/runner/base_llm_runner.cpp
  packages/react-native-executorch/common/runner/base_llm_runner.h
Due: format-objc

feat: add TextRunner
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/common/runner/text_runner.cpp
  packages/react-native-executorch/common/runner/text_runner.h
Due: format-objc

feat: add resource fetcher adapters for Expo and bare React Native
  apps/speech-to-text/App.tsx
  packages/bare-adapter/package.json
  packages/bare-adapter/src/ResourceFetcher.ts
  packages/bare-adapter/src/ResourceFetcherUtils.ts
  packages/bare-adapter/src/constants/directories.ts
  packages/bare-adapter/src/index.ts
  packages/bare-adapter/tsconfig.json
  packages/expo-adapter/package.json
  packages/expo-adapter/src/ResourceFetcher.ts
  packages/expo-adapter/src/ResourceFetcherUtils.ts
  packages/expo-adapter/src/constants/directories.ts
  packages/expo-adapter/src/index.ts
  packages/expo-adapter/tsconfig.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/smollm_tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/t2i_tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/test_image.jpg
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/whisper_tokenizer.json
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
  yarn.lock
Due: lint, types, format-js, format-other

feat: add MultimodalRunner with plug-in encoder map
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.h
Due: format-objc

feat: enhance resource fetcher with error handling and new methods for better control
  packages/bare-adapter/src/ResourceFetcher.ts
  packages/bare-adapter/src/constants/directories.ts
  packages/expo-adapter/src/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js

feat: wire capabilities through LLM.cpp, delete UnifiedRunner
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/common/runner/unified_runner.cpp
  packages/react-native-executorch/common/runner/unified_runner.h
Due: format-objc

feat: forward capabilities from LLMController to native
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js

Update installation instructions for Expo
  README.md
Due: format-other, spell-check-other

tests: fix style transfer and basemodule tests
  packages/react-native-executorch/common/rnexecutorch/tests/integration/BaseModelTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/StyleTransferTest.cpp
Due: format-objc

Update installation instructions for Expo and Bare adapters
  docs/docs/01-fundamentals/02-loading-models.md
Due: format-other, spell-check-other

docs: update API reference
  docs/docs/06-api-reference/classes/ObjectDetectionModule.md
  docs/docs/06-api-reference/classes/SemanticSegmentationModule.md
  docs/docs/06-api-reference/functions/useObjectDetection.md
  docs/docs/06-api-reference/functions/useSemanticSegmentation.md
  docs/docs/06-api-reference/index.md
  docs/docs/06-api-reference/interfaces/Bbox.md
  docs/docs/06-api-reference/interfaces/Detection.md
  docs/docs/06-api-reference/interfaces/ObjectDetectionProps.md
  docs/docs/06-api-reference/interfaces/ObjectDetectionType.md
  docs/docs/06-api-reference/type-aliases/ObjectDetectionConfig.md
  docs/docs/06-api-reference/type-aliases/ObjectDetectionLabels.md
  docs/docs/06-api-reference/type-aliases/ObjectDetectionModelName.md
  docs/docs/06-api-reference/type-aliases/ObjectDetectionModelSources.md
  docs/docs/06-api-reference/type-aliases/SegmentationLabels.md
  docs/docs/06-api-reference/typedoc-sidebar.cjs
  docs/docs/06-api-reference/variables/ALL_MINILM_L6_V2.md
  docs/docs/06-api-reference/variables/ALL_MPNET_BASE_V2.md
  docs/docs/06-api-reference/variables/BK_SDM_TINY_VPRED_256.md
  docs/docs/06-api-reference/variables/BK_SDM_TINY_VPRED_512.md
  docs/docs/06-api-reference/variables/CLIP_VIT_BASE_PATCH32_IMAGE.md
  docs/docs/06-api-reference/variables/CLIP_VIT_BASE_PATCH32_TEXT.md
  docs/docs/06-api-reference/variables/DEEPLAB_V3_MOBILENET_V3_LARGE.md
  docs/docs/06-api-reference/variables/DEEPLAB_V3_MOBILENET_V3_LARGE_QUANTIZED.md
  docs/docs/06-api-reference/variables/DEEPLAB_V3_RESNET101.md
  docs/docs/06-api-reference/variables/DEEPLAB_V3_RESNET101_QUANTIZED.md
  docs/docs/06-api-reference/variables/DEEPLAB_V3_RESNET50.md
  docs/docs/06-api-reference/variables/DEEPLAB_V3_RESNET50_QUANTIZED.md
  docs/docs/06-api-reference/variables/FCN_RESNET101.md
  docs/docs/06-api-reference/variables/FCN_RESNET101_QUANTIZED.md
  docs/docs/06-api-reference/variables/FCN_RESNET50.md
  docs/docs/06-api-reference/variables/FCN_RESNET50_QUANTIZED.md
  docs/docs/06-api-reference/variables/FSMN_VAD.md
  docs/docs/06-api-reference/variables/LRASPP_MOBILENET_V3_LARGE.md
  docs/docs/06-api-reference/variables/LRASPP_MOBILENET_V3_LARGE_QUANTIZED.md
  docs/docs/06-api-reference/variables/MULTI_QA_MINILM_L6_COS_V1.md
  docs/docs/06-api-reference/variables/MULTI_QA_MPNET_BASE_DOT_V1.md
  docs/docs/06-api-reference/variables/RF_DETR_NANO.md
  docs/docs/06-api-reference/variables/SELFIE_SEGMENTATION.md
Due: format-other, spell-check-other

Update README_cn.md
  readmes/README_cn.md
Due: format-other, spell-check-other

Add missing expo-resource-fetcher and bare-resource-fetcher
  readmes/README_es.md
Due: format-other, spell-check-other

Update README_fr.md with new package instructions
  readmes/README_fr.md
Due: format-other, spell-check-other

Modify package installation instructions in README
  readmes/README_in.md
Due: format-other, spell-check-other

Update package installation instructions in README_pt.md
  readmes/README_pt.md
Due: format-other, spell-check-other

docs: fix README.md and documentation about resource fetchers (#896)
  README.md
  docs/docs/01-fundamentals/02-loading-models.md
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

chore: exclude llm_bare app from workspace
  apps/llm_bare/.gitignore
  apps/llm_bare/App.tsx
  apps/llm_bare/ios/Podfile.lock
  apps/llm_bare/metro.config.js
  apps/llm_bare/package.json
  apps/llm_bare/yarn.lock
  apps/speech-to-text/App.tsx
  packages/bare-adapter/package.json
  packages/bare-adapter/src/ResourceFetcher.ts
  packages/bare-adapter/src/ResourceFetcherUtils.ts
  packages/bare-adapter/src/constants/directories.ts
  packages/bare-adapter/src/index.ts
  packages/bare-adapter/tsconfig.json
  packages/expo-adapter/package.json
  packages/expo-adapter/src/ResourceFetcher.ts
  packages/expo-adapter/src/ResourceFetcherUtils.ts
  packages/expo-adapter/src/constants/directories.ts
  packages/expo-adapter/src/index.ts
  packages/expo-adapter/tsconfig.json
  yarn.lock
Due: lint, types, format-js, format-other

feat: integrate MMKV for persistent state storage in background downloads
  apps/llm_bare/android/app/build.gradle
Due: none

chore: remove bare app directories from .gitignore
  .gitignore
Due: none

chore: update react-native-executorch dependency to allow any version
  yarn.lock
Due: none

chore: add react-native-executorch as a dependency to adapters
  yarn.lock
Due: none

chore: update Node version in .nvmrc and adjust typecheck scripts in package.json for bare and expo adapters
  packages/bare-resource-fetcher/package.json
Due: format-other

chore: replace generic error with RnExecutorchError in ResourceFetcher for better error handling
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

chore: move yarn prepare from adapter typecheck scripts to CI workflow
  .github/workflows/ci.yml
Due: format-other

feat: add bare React Native LLM chat example app
  apps/bare_rn/.eslintrc.js
  apps/bare_rn/.gitignore
  apps/bare_rn/App.tsx
  apps/bare_rn/android/app/build.gradle
  apps/bare_rn/android/gradle.properties
  apps/bare_rn/babel.config.js
  apps/bare_rn/ios/Podfile.lock
  apps/bare_rn/ios/bare_rn-Bridging-Header.h
  apps/bare_rn/ios/bare_rn.xcodeproj/project.pbxproj
  apps/bare_rn/ios/bare_rn/AppDelegate.swift
  apps/bare_rn/ios/bare_rn/PrivacyInfo.xcprivacy
  apps/bare_rn/metro.config.js
  apps/bare_rn/package.json
  apps/bare_rn/yarn.lock
Due: lint, types, format-js, format-objc, format-other

test: fix test script
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
Due: none

Update dependabot configuration for npm packages
  .github/dependabot.yml
Due: format-other

chore: Update dependabot configuration for npm packages (#933)
  .github/dependabot.yml
Due: format-other

chore: yarn.lock after yarn install
  yarn.lock
Due: none
