Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

chore: revert changes in masks
  apps/computer-vision/components/ImageWithMasks.tsx
Due: lint, types, format-js

Apply suggestion from @mkopcins
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
Due: lint, types, format-js

chore: fix lint
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
Due: lint, types, format-js

chore: update skills pre 0.8 update (#1010)
  .cspell-wordlist.txt
  skills/canary/react-native-executorch/references/core-utilities.md
  skills/canary/react-native-executorch/references/reference-audio.md
  skills/canary/react-native-executorch/references/reference-cv-2.md
  skills/canary/react-native-executorch/references/reference-cv.md
  skills/canary/react-native-executorch/references/reference-llms.md
  skills/canary/react-native-executorch/references/reference-models.md
  skills/canary/react-native-executorch/references/reference-nlp.md
  skills/canary/react-native-executorch/references/reference-ocr.md
Due: format-other, spell-check-other

docs: fix mention in runOnFrame
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
  docs/docs/03-hooks/02-computer-vision/useObjectDetection.md
Due: format-other, spell-check-other

fix: Add fixes in Instance Segmentation (#1007)
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
  docs/docs/03-hooks/02-computer-vision/useObjectDetection.md
  packages/react-native-executorch/src/hooks/computer_vision/useInstanceSegmentation.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
  packages/react-native-executorch/src/types/objectDetection.ts
Due: lint, types, format-js, format-other, spell-check-other

Bump to 0.8
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/constants/versions.ts
Due: lint, types, format-js

update RELEASE.md
  RELEASE.md
Due: format-other, spell-check-other

chore: Bump to 0.8 (#1011)
  RELEASE.md
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/constants/versions.ts
Due: lint, types, format-js, format-other, spell-check-other

changed fromCustomConfig to fromCustomModel
  docs/docs/04-typescript-api/02-computer-vision/InstanceSegmentationModule.md
  docs/versioned_docs/version-0.8.x/04-typescript-api/02-computer-vision/InstanceSegmentationModule.md
  docs/versioned_docs/version-0.8.x/06-api-reference/classes/InstanceSegmentationModule.md
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
Due: lint, types, format-js, format-other, spell-check-other

chore: update skills to match canary
  skills/react-native-executorch/references/core-utilities.md
  skills/react-native-executorch/references/reference-audio.md
  skills/react-native-executorch/references/reference-cv-2.md
  skills/react-native-executorch/references/reference-cv.md
  skills/react-native-executorch/references/reference-llms.md
  skills/react-native-executorch/references/reference-models.md
  skills/react-native-executorch/references/reference-nlp.md
  skills/react-native-executorch/references/reference-ocr.md
Due: format-other, spell-check-other

chore: update skills to match canary (#1013)
  skills/react-native-executorch/references/core-utilities.md
  skills/react-native-executorch/references/reference-audio.md
  skills/react-native-executorch/references/reference-cv-2.md
  skills/react-native-executorch/references/reference-cv.md
  skills/react-native-executorch/references/reference-llms.md
  skills/react-native-executorch/references/reference-models.md
  skills/react-native-executorch/references/reference-nlp.md
  skills/react-native-executorch/references/reference-ocr.md
Due: format-other, spell-check-other

update s2t benchmarks
  docs/docs/02-benchmarks/inference-time.md
  docs/versioned_docs/version-0.8.x/02-benchmarks/inference-time.md
Due: format-other, spell-check-other

chore: changed fromCustomConfig to fromCustomModel (#1012)
  docs/docs/04-typescript-api/02-computer-vision/InstanceSegmentationModule.md
  docs/versioned_docs/version-0.8.x/04-typescript-api/02-computer-vision/InstanceSegmentationModule.md
  docs/versioned_docs/version-0.8.x/06-api-reference/classes/InstanceSegmentationModule.md
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
Due: lint, types, format-js, format-other, spell-check-other

docs: update speech-to-text benchmarks (#1014)
  docs/docs/02-benchmarks/inference-time.md
  docs/versioned_docs/version-0.8.x/02-benchmarks/inference-time.md
Due: format-other, spell-check-other

bump version on main branch
  packages/bare-resource-fetcher/package.json
  packages/expo-resource-fetcher/package.json
  packages/react-native-executorch/package.json
Due: format-other

chore: bump version to v0.9.0 (#1015)
  packages/bare-resource-fetcher/package.json
  packages/expo-resource-fetcher/package.json
  packages/react-native-executorch/package.json
Due: format-other

fix: update drawer navigation to correctly handle the Android system navigation back button
  apps/computer-vision/app/_layout.tsx
  apps/llm/app/_layout.tsx
  apps/text-embeddings/app/_layout.tsx
Due: lint, types, format-js

fix: fix modal dropdown for model selection in ModelPicker component
  apps/computer-vision/components/ModelPicker.tsx
  apps/llm/components/ModelPicker.tsx
  apps/text-embeddings/components/ModelPicker.tsx
Due: lint, types, format-js

fix: fix input size selection logic
  apps/computer-vision/app/instance_segmentation/index.tsx
Due: lint, types, format-js

fix: average text embedding time calculation
  apps/text-embeddings/app/clip-embeddings/index.tsx
Due: lint, types, format-js

Added tracking downloads on our infrastructure
  packages/react-native-executorch/src/constants/resourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js

chore: Make apps more intuitive in use (#1006)
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/app/instance_segmentation/index.tsx
  apps/computer-vision/app/object_detection/index.tsx
  apps/computer-vision/app/ocr/index.tsx
  apps/computer-vision/app/ocr_vertical/index.tsx
  apps/computer-vision/app/semantic_segmentation/index.tsx
  apps/computer-vision/app/style_transfer/index.tsx
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/BottomBar.tsx
  apps/llm/app/_layout.tsx
  apps/llm/app/llm/index.tsx
  apps/llm/app/multimodal_llm/index.tsx
  apps/llm/app/voice_chat/index.tsx
  apps/llm/components/ModelPicker.tsx
  apps/speech/components/ModelPicker.tsx
  apps/text-embeddings/app/_layout.tsx
  apps/text-embeddings/app/clip-embeddings/index.tsx
  apps/text-embeddings/app/text-embeddings/index.tsx
  apps/text-embeddings/components/ModelPicker.tsx
Due: lint, types, format-js

added emulator detection
  packages/react-native-executorch/android/src/main/cpp/ETInstallerModule.cpp
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/ios/RnExecutorch/ETInstaller.mm
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js, format-objc

Missing const, eslint
  packages/react-native-executorch/android/src/main/cpp/ETInstallerModule.cpp
  packages/react-native-executorch/android/src/main/cpp/EmulatorDetection.h
  packages/react-native-executorch/src/constants/resourceFetcher.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js, format-objc

Changed to be complaint with API levels below 26
  packages/react-native-executorch/android/src/main/cpp/EmulatorDetection.h
Due: format-objc

ts types fix
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js

Apply suggestion from @msluszniak
  packages/react-native-executorch/android/src/main/cpp/EmulatorDetection.h
Due: format-objc

Apply suggestions from code review
  packages/react-native-executorch/src/constants/resourceFetcher.ts
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js

feat: added emulator detection (#1021)
  packages/react-native-executorch/android/src/main/cpp/ETInstallerModule.cpp
  packages/react-native-executorch/android/src/main/cpp/EmulatorDetection.h
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/ios/RnExecutorch/ETInstaller.mm
  packages/react-native-executorch/src/constants/resourceFetcher.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js, format-objc

docs: Add resolution info for rf-detr
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
  docs/docs/03-hooks/02-computer-vision/useObjectDetection.md
  docs/versioned_docs/version-0.8.x/02-benchmarks/inference-time.md
  docs/versioned_docs/version-0.8.x/03-hooks/02-computer-vision/useInstanceSegmentation.md
  docs/versioned_docs/version-0.8.x/03-hooks/02-computer-vision/useObjectDetection.md
Due: format-other, spell-check-other

docs: add resolution info about other model
  docs/docs/03-hooks/02-computer-vision/useObjectDetection.md
  docs/versioned_docs/version-0.8.x/03-hooks/02-computer-vision/useObjectDetection.md
Due: format-other, spell-check-other

Add basic setup for testing whisper coreml export
  apps/speech/app.json
  apps/speech/screens/SpeechToTextScreen.tsx
Due: lint, types, format-js, format-other

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
