Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

feat(speech-app): wrap STT screens in ScreenWrapper and add error logging
  apps/speech/app/stt-audio/index.tsx
  apps/speech/app/stt/index.tsx
Due: lint, types, format-js

[RNE Rewrite] feat(ocr): document models — orientation, dewarp, table
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/documentModels.ts
Due: lint, types, format-js

[RNE Rewrite] feat(cv): native OCR + image ops (CRAFT/DBNet decode, CTC, rectifyQuad, warpByGrid, rotate)
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/model.h
  packages/react-native-executorch/cpp/core/tensor_helpers.cpp
  packages/react-native-executorch/cpp/core/tensor_helpers.h
  packages/react-native-executorch/cpp/extensions/cv/box_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/image_ops.h
  packages/react-native-executorch/cpp/extensions/cv/install.cpp
  packages/react-native-executorch/cpp/extensions/cv/ocr_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/ocr_ops.h
  packages/react-native-executorch/cpp/extensions/cv/utils.h
Due: format-objc

[RNE Rewrite] feat(ocr): pluggable detector extractors (CRAFT, DBNet)
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/detectors.ts
Due: lint, types, format-js

[RNE Rewrite] fix(ocr): recognize vertical glyphs per-glyph instead of composed strip
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/engine.ts
Due: lint, types, format-js

[RNE Rewrite] docs(demo): clarify dewarp hint (curved pages, not angled shots)
  apps/computer-vision/app/ocr/index.tsx
Due: lint, types, format-js

[RNE Rewrite] fix(ocr): cornerMean recognizer padding for EasyOCR (trailing | _ glyphs)
  apps/computer-vision/app/ocr/index.tsx
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/engine.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/ocr.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

[RNE Rewrite] feat(ocr): two-stage OCR pipeline + reading order + app wiring
  .cspell-wordlist.txt
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/document/index.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/ocr/index.tsx
  apps/computer-vision/components/ImageViewport.tsx
  packages/react-native-executorch/src/constants.ts
  packages/react-native-executorch/src/core/model.ts
  packages/react-native-executorch/src/extensions/cv/ops/boxes.ts
  packages/react-native-executorch/src/extensions/cv/ops/image.ts
  packages/react-native-executorch/src/extensions/cv/ops/index.ts
  packages/react-native-executorch/src/extensions/cv/ops/points.ts
  packages/react-native-executorch/src/extensions/cv/ops/quad.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/charsets.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/engine.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/geometry.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/ocr.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
  packages/react-native-executorch/src/hooks/useOcr.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

[RNE Rewrite] feat(demo): merge OCR + document screens into one progressive OCR screen
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/document/index.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/ocr/index.tsx
Due: lint, types, format-js

[RNE Rewrite] feat(ocr): default verticalMinConfidence to 0.4
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/engine.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/ocr.ts
Due: lint, types, format-js

[RNE Rewrite] feat(ocr): make table recognition per-run optional (RunOcrOptions.tables)
  apps/computer-vision/app/ocr/index.tsx
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/ocr.ts
Due: lint, types, format-js

[RNE Rewrite] feat(ocr): configurable verticalMinConfidence (default 0)
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/engine.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/ocr.ts
Due: lint, types, format-js

[RNE Rewrite] refactor(ocr): drop dead argmaxRange params, hoist snap step
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/documentModels.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/engine.ts
Due: lint, types, format-js

[RNE Rewrite] refactor(ocr): correctness, type-safety and cleanup pass
  .cspell-wordlist.txt
  apps/computer-vision/app/ocr/index.tsx
  apps/computer-vision/components/ImageViewport.tsx
  apps/computer-vision/theme.ts
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/tensor_helpers.cpp
  packages/react-native-executorch/cpp/core/tensor_helpers.h
  packages/react-native-executorch/cpp/extensions/cv/box_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/image_ops.h
  packages/react-native-executorch/cpp/extensions/cv/install.cpp
  packages/react-native-executorch/cpp/extensions/cv/ocr_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/utils.h
  packages/react-native-executorch/src/core/model.ts
  packages/react-native-executorch/src/extensions/cv/ops/boxes.ts
  packages/react-native-executorch/src/extensions/cv/ops/image.ts
  packages/react-native-executorch/src/extensions/cv/ops/points.ts
  packages/react-native-executorch/src/extensions/cv/ops/quad.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/detectors.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/documentModels.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/engine.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/geometry.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/ocr.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
  packages/react-native-executorch/src/hooks/useOcr.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-objc

feat: add Dynamic dimension validation and model companion parser
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/model.h
  packages/react-native-executorch/cpp/core/model_companion_parser.cpp
  packages/react-native-executorch/cpp/core/model_companion_parser.h
  packages/react-native-executorch/cpp/core/tensor_helpers.cpp
  packages/react-native-executorch/cpp/core/tensor_helpers.h
  packages/react-native-executorch/src/core/modelSchema.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/textEmbedding.ts
  packages/react-native-executorch/src/extensions/speech/tasks/fsmnVoiceActivityDetection.ts
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js, format-objc

small fix
  packages/react-native-executorch/src/core/modelSchema.ts
Due: lint, types, format-js

docs: consolidate companion-method convention in validateModelSchema JSDoc
  packages/react-native-executorch/src/core/modelSchema.ts
Due: lint, types, format-js

Rename STT example app directories to be more descriptive
  apps/speech/app/_layout.tsx
  apps/speech/app/audio-file-transcription/index.tsx
  apps/speech/app/index.tsx
  apps/speech/app/microphone-transcription/index.tsx
Due: lint, types, format-js

changed bundleId from react-native-device-info to native code implementation, review fix
  packages/react-native-executorch/android/src/main/cpp/ETInstallerModule.cpp
  packages/react-native-executorch/android/src/main/cpp/ETInstallerModule.h
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/ETInstaller.kt
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/ios/RnExecutorch/ETInstaller.mm
  packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js, format-objc

Point Whisper model URLs to HuggingFace repos and add MLX backend support
  apps/speech/app/audio-file-transcription/index.tsx
  apps/speech/app/microphone-transcription/index.tsx
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

fix(android): forward ExecuTorch consumer ProGuard rules
  packages/react-native-executorch/android/build.gradle
  packages/react-native-executorch/android/consumer-proguard-rules.pro
Due: none

[RNE Rewrite] Use `std::span` instead of raw pointers in native C++ ops (#1319)
  packages/react-native-executorch/cpp/extensions/cv/box_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/cpp/extensions/math/operations.cpp
Due: format-objc

fix(android): forward ExecuTorch consumer ProGuard rules (#1325)
  packages/react-native-executorch/android/build.gradle
  packages/react-native-executorch/android/consumer-proguard-rules.pro
Due: none

Add language selector to whisper example screens
  apps/speech/app/audio-file-transcription/index.tsx
  apps/speech/app/microphone-transcription/index.tsx
Due: lint, types, format-js

feat: Add MLX delegate for whisper (#1309)
  .cspell-wordlist.txt
  apps/speech/screens/SpeechToTextScreen.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/src/constants/modelRegistry.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

[RNE Rewrite] feat: add Whisper STT pipeline (#1302)
  apps/speech/app/_layout.tsx
  apps/speech/app/audio-file-transcription/index.tsx
  apps/speech/app/index.tsx
  apps/speech/app/microphone-transcription/index.tsx
  apps/speech/components/ModelPicker.tsx
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
  packages/react-native-executorch/src/hooks/useSpeechToText.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

[RNE Rewrite] refactor: use skImageToBuffer helper across CV demo screens
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/app/detection/index.tsx
  apps/computer-vision/app/instanceSegmentation/index.tsx
  apps/computer-vision/app/keypoint/index.tsx
  apps/computer-vision/app/segmentation/index.tsx
  apps/computer-vision/app/styleTransfer/index.tsx
Due: lint, types, format-js

[RNE Rewrite] refactor: use skImageToBuffer helper across CV demo screens (#1329)
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/app/detection/index.tsx
  apps/computer-vision/app/instanceSegmentation/index.tsx
  apps/computer-vision/app/keypoint/index.tsx
  apps/computer-vision/app/segmentation/index.tsx
  apps/computer-vision/app/styleTransfer/index.tsx
Due: lint, types, format-js

perf(nlp): return tokenizer ids as Int32Array instead of number[]
  apps/nlp/app/tokenizer/index.tsx
  packages/react-native-executorch/cpp/core/conversions.h
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.cpp
  packages/react-native-executorch/src/extensions/nlp/tokenizer.ts
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
Due: lint, types, format-js, format-objc

Add iOS privacy manifest for telemetry and required-reason APIs
  packages/react-native-executorch/ios/PrivacyInfo.xcprivacy
Due: none

feat: added system and bundleId to telemetry to version 0.8 (#1312)
  .github/workflows/build-ios-llm-example.yml
  apps/llm/metro.config.js
  apps/llm/package.json
  apps/speech/metro.config.js
  packages/react-native-executorch/android/src/main/cpp/ETInstallerModule.cpp
  packages/react-native-executorch/android/src/main/cpp/ETInstallerModule.h
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/ETInstaller.kt
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/ios/PrivacyInfo.xcprivacy
  packages/react-native-executorch/ios/RnExecutorch/ETInstaller.mm
  packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
  yarn.lock
Due: lint, types, format-js, format-objc, format-other

feat: added system and bundleId to telemetry to version 0.9 (#1311)
  .github/workflows/build-ios-llm-example.yml
  packages/react-native-executorch/android/src/main/cpp/ETInstallerModule.cpp
  packages/react-native-executorch/android/src/main/cpp/ETInstallerModule.h
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/ETInstaller.kt
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/ios/PrivacyInfo.xcprivacy
  packages/react-native-executorch/ios/RnExecutorch/ETInstaller.mm
  packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js, format-objc, format-other

chore: Release v0.8.5
  packages/react-native-executorch/package.json
Due: format-other

fix(resource-fetcher): avoid `this` in static `fs` field initializer (#1310)
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

chore: Release v0.9.3
  packages/react-native-executorch/package.json
Due: format-other

refactor(nlp): simplify typed-array conversions per review
  packages/react-native-executorch/cpp/core/conversions.h
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.cpp
  packages/react-native-executorch/src/extensions/nlp/tokenizer.ts
Due: lint, types, format-js, format-objc

build(rewrite): decouple native lib artifacts from core versioning (#1291)
  .github/workflows/clang-tidy.yml
  packages/react-native-executorch/package.json
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/scripts/package-release-artifacts.sh
Due: lint, types, format-js, format-other
