Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

fix(libs): stop shipping backends the app opted out of
  packages/react-native-executorch/android/build.gradle.kts
  packages/react-native-executorch/package.json
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/scripts/package-release-artifacts.sh
Due: lint, types, format-js, format-other

style(libs): wrap the prune log line to prettier's width
  packages/react-native-executorch/scripts/download-libs.js
Due: lint, types, format-js

docs(native-libraries): add a measured binary size section
  docs/docs/03-core-and-advanced/08-native-libraries.md
Due: format-other, spell-check-other

fix(libs): stop provisioning mlx for keypointDetection
  packages/react-native-executorch/__tests__/api/modelVariants.test.ts
  packages/react-native-executorch/scripts/download-libs.js
Due: lint, types, format-js

docs(native-libraries): drop mlx from the keypointDetection row
  docs/docs/03-core-and-advanced/08-native-libraries.md
  packages/react-native-executorch/__tests__/api/modelVariants.test.ts
Due: lint, types, format-js, format-other, spell-check-other

fix(libs): keep mlx for keypointDetection, the legacy API still ships it
  docs/docs/03-core-and-advanced/08-native-libraries.md
  packages/react-native-executorch/__tests__/api/modelVariants.test.ts
  packages/react-native-executorch/scripts/download-libs.js
Due: lint, types, format-js, format-other, spell-check-other

fix(tests): assert the doc table captures under noUncheckedIndexedAccess
  packages/react-native-executorch/__tests__/api/modelVariants.test.ts
Due: lint, types, format-js

fix(libs): bump native libs to v0.10.2-libs, built against c++_shared
  docs/docs/03-core-and-advanced/08-native-libraries.md
  packages/react-native-executorch/package.json
Due: format-other, spell-check-other

feat(cv): add the face mesh task and MediaPipe Face Mesh
  .cspell-wordlist.txt
  docs/docs/02-extensions/computer-vision/04-pose-and-keypoints.md
  docs/docs/02-extensions/computer-vision/05-face-mesh.md
  docs/docs/02-extensions/computer-vision/06-optical-character-recognition.md
  docs/docs/02-extensions/computer-vision/07-semantic-segmentation.md
  docs/docs/02-extensions/computer-vision/08-instance-segmentation.md
  docs/docs/02-extensions/computer-vision/09-style-transfer.md
  docs/docs/02-extensions/computer-vision/10-image-embeddings.md
  docs/docs/02-extensions/computer-vision/11-text-to-image.md
  docs/docs/02-extensions/computer-vision/12-camera-integration.md
  docs/docs/02-extensions/natural-language/03-text-embeddings.md
  docs/docs/03-core-and-advanced/08-native-libraries.md
  packages/react-native-executorch/__tests__/api/__snapshots__/apiSurface.test.ts.snap
  packages/react-native-executorch/__tests__/api/modelVariants.test.ts
  packages/react-native-executorch/__tests__/tasks/faceLandmarks.test.ts
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/src/extensions/cv/tasks/faceLandmarks.ts
  packages/react-native-executorch/src/hooks/useFaceLandmarker.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-other, spell-check-other

refactor(cv): fold the face mesh into keypoint detection
  docs/docs/02-extensions/computer-vision/04-pose-and-keypoints.md
  docs/docs/02-extensions/computer-vision/05-face-mesh.md
  docs/docs/02-extensions/computer-vision/05-optical-character-recognition.md
  docs/docs/02-extensions/computer-vision/06-semantic-segmentation.md
  docs/docs/02-extensions/computer-vision/07-instance-segmentation.md
  docs/docs/02-extensions/computer-vision/08-style-transfer.md
  docs/docs/02-extensions/computer-vision/09-image-embeddings.md
  docs/docs/02-extensions/computer-vision/10-text-to-image.md
  docs/docs/02-extensions/computer-vision/11-camera-integration.md
  docs/docs/02-extensions/natural-language/03-text-embeddings.md
  docs/docs/03-core-and-advanced/08-native-libraries.md
  packages/react-native-executorch/__tests__/api/__snapshots__/apiSurface.test.ts.snap
  packages/react-native-executorch/__tests__/api/modelVariants.test.ts
  packages/react-native-executorch/__tests__/tasks/faceLandmarks.test.ts
  packages/react-native-executorch/__tests__/tasks/remainingTasks.test.ts
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/src/constants.ts
  packages/react-native-executorch/src/extensions/cv/tasks/faceLandmarks.ts
  packages/react-native-executorch/src/extensions/cv/tasks/keypointDetection.ts
  packages/react-native-executorch/src/hooks/useFaceLandmarker.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-other, spell-check-other

feat(cv): add Face Mesh to the keypoint screen
  apps/computer-vision/app/keypoint/index.tsx
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

chore: teach cspell 'depthwise'
  .cspell-wordlist.txt
Due: none

feat(cv): run BlazeFace before the mesh in the demo
  apps/computer-vision/app/keypoint/index.tsx
Due: lint, types, format-js

fix(build): gate the legacy TTS sources on phonemis
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/legacy/cpp/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/legacy/cpp/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/react-native-executorch.podspec
Due: format-objc

fix(build): gate the legacy vision sources on opencv
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/legacy/cpp/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/legacy/cpp/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/legacy/cpp/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/legacy/cpp/rnexecutorch/threads/GlobalThreadPool.h
  packages/react-native-executorch/react-native-executorch.podspec
Due: format-objc

fix(build): keep the legacy test suite and install guard correct under opt-out
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/legacy/cpp/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/legacy/src/index.ts
Due: lint, types, format-js

docs(native-libraries): note that opting out disables the legacy hooks
  docs/docs/03-core-and-advanced/08-native-libraries.md
Due: format-other, spell-check-other

Revert "docs(native-libraries): note that opting out disables the legacy hooks"
  docs/docs/03-core-and-advanced/08-native-libraries.md
Due: format-other, spell-check-other

docs(troubleshooting): explain the missing legacy load* globals
  docs/docs/05-other/02-troubleshooting.md
Due: format-other, spell-check-other

fix(build): gate the legacy sources on phonemis and opencv (#1471)
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/legacy/cpp/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/legacy/cpp/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/legacy/cpp/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/legacy/cpp/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/legacy/cpp/rnexecutorch/threads/GlobalThreadPool.h
  packages/react-native-executorch/legacy/src/index.ts
  packages/react-native-executorch/react-native-executorch.podspec
Due: lint, types, format-js, format-objc

fix(llm): stop a failed turn's rollback from hiding its cause (#1454)
  packages/react-native-executorch/__tests__/support/fakeJsi.ts
  packages/react-native-executorch/__tests__/tasks/llmChatSession.test.ts
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
Due: lint, types, format-js

test(legacy): cover the install guard
  packages/react-native-executorch/__tests__/legacy/installGuard.test.ts
Due: lint, types, format-js

fix: backport the legacy opt-out and LLM rollback fixes (#1454, #1471) (#1472)
  packages/react-native-executorch/__tests__/support/fakeJsi.ts
  packages/react-native-executorch/__tests__/tasks/llmChatSession.test.ts
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/legacy/cpp/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/legacy/cpp/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/legacy/cpp/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/legacy/cpp/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/legacy/cpp/rnexecutorch/threads/GlobalThreadPool.h
  packages/react-native-executorch/legacy/src/index.ts
  packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
Due: lint, types, format-js, format-objc

chore: Release v0.10.2
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/fetcher/telemetry.ts
Due: lint, types, format-js, format-other

chore: Release v0.10.2 (#1473)
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/fetcher/telemetry.ts
Due: lint, types, format-js, format-other

fix(cv): say why the mesh rendered nothing instead of showing a blank image
  apps/computer-vision/app/keypoint/index.tsx
  docs/docs/02-extensions/computer-vision/04-pose-and-keypoints.md
Due: lint, types, format-js, format-other, spell-check-other

test(bench): cover instance segmentation, OCR and Kokoro TTS
  apps/benchmarks/src/suite.ts
Due: lint, types, format-js

test(bench): detect thermal throttling, which invalidates a comparison
  apps/benchmarks/modules/bench-probe/android/src/main/java/expo/modules/benchprobe/BenchProbeModule.kt
  apps/benchmarks/modules/bench-probe/index.ts
  apps/benchmarks/modules/bench-probe/ios/BenchProbeModule.swift
  apps/benchmarks/scripts/compare.mjs
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
Due: lint, types, format-js

test(bench): calibrate the comparator against two runs of identical code
  apps/benchmarks/README.md
  apps/benchmarks/scripts/compare.mjs
  apps/benchmarks/src/config.ts
  apps/benchmarks/src/nativeForward.ts
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
Due: lint, types, format-js, format-other, spell-check-other

test(bench): segment with RF-DETR, not FastSAM
  apps/benchmarks/src/suite.ts
Due: lint, types, format-js

test(bench): type case definitions against the pipelines they drive
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/suite.ts
Due: lint, types, format-js

test(bench): stop long runs from losing their results
  apps/benchmarks/App.tsx
  apps/benchmarks/baselines/README.md
  apps/benchmarks/package.json
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/report.ts
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

test(bench): record the ExecuTorch 1.3.1 baseline
  apps/benchmarks/baselines/et-1.3.1-full-android-SM-S948B.json
  apps/benchmarks/scripts/compare.mjs
Due: format-other

test(bench): make the synthetic waveform actually trigger the VAD
  apps/benchmarks/README.md
  apps/benchmarks/src/inputs.ts
  apps/benchmarks/src/runner.ts
Due: lint, types, format-js, format-other, spell-check-other

test(bench): wait for the device to be cool instead of sleeping a guess
  apps/benchmarks/README.md
  apps/benchmarks/scripts/run-benchmarks.mjs
Due: format-other, spell-check-other

test(bench): add an on-device performance regression harness
  .cspell-wordlist.txt
  apps/benchmarks/.gitignore
  apps/benchmarks/App.tsx
  apps/benchmarks/README.md
  apps/benchmarks/app.json
  apps/benchmarks/assets/icons/adaptive-icon.png
  apps/benchmarks/assets/icons/favicon.png
  apps/benchmarks/assets/icons/icon.png
  apps/benchmarks/assets/icons/splash.png
  apps/benchmarks/babel.config.js
  apps/benchmarks/index.ts
  apps/benchmarks/metro.config.js
  apps/benchmarks/modules/bench-probe/android/build.gradle
  apps/benchmarks/modules/bench-probe/android/src/main/java/expo/modules/benchprobe/BenchProbeModule.kt
  apps/benchmarks/modules/bench-probe/expo-module.config.json
  apps/benchmarks/modules/bench-probe/index.ts
  apps/benchmarks/modules/bench-probe/ios/BenchProbe.podspec
  apps/benchmarks/modules/bench-probe/ios/BenchProbeModule.swift
  apps/benchmarks/package.json
  apps/benchmarks/scripts/compare.mjs
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/config.ts
  apps/benchmarks/src/inputs.ts
  apps/benchmarks/src/memory.ts
  apps/benchmarks/src/nativeForward.ts
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
  apps/benchmarks/src/stats.ts
  apps/benchmarks/src/suite.ts
  apps/benchmarks/src/time.ts
  apps/benchmarks/tsconfig.json
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

test(bench): pin the CPU clock for the duration of a run
  apps/benchmarks/README.md
  apps/benchmarks/scripts/compare.mjs
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/report.ts
Due: lint, types, format-js, format-other, spell-check-other

test(bench): follow the library's schema and constants exports
  apps/benchmarks/src/nativeForward.ts
  apps/benchmarks/src/suite.ts
Due: lint, types, format-js

fix(profiler): mark the JSI wrappers as worklets
  packages/react-native-executorch/__tests__/api/__snapshots__/apiSurface.test.ts.snap
  packages/react-native-executorch/src/core/profiler.ts
Due: lint, types, format-js

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
