Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

[RNE Rewrite] chore(package): trim dev scripts from the tarball and drop dead patch-package hooks (#1405)
  apps/computer-vision/package.json
  apps/nlp/package.json
  apps/speech/package.json
  package.json
  packages/react-native-executorch/package.json
  yarn.lock
Due: format-other

[RNE Rewrite] perf(fetcher): stop making every download wait on a HEAD first (#1370)
  packages/react-native-executorch/src/fetcher/fetcher.ts
Due: lint, types, format-js

chore: exclude apps, third-party, legacy code, and docs from language stats in .gitattributes
  .gitattributes
Due: none

docs: add migration guide from v0.9.x to v0.10.0 and update legacy removal checklist
  .cspell-wordlist.txt
  LEGACY_REMOVAL.md
  docs/docs/01-fundamentals/03-migrating-from-v0-9.md
Due: format-other, spell-check-other

fix(fetcher): stop reporting progress before file sizes are known
  packages/react-native-executorch/src/fetcher/fetcher.ts
Due: lint, types, format-js

fix(legacy): differentiate app names, bundle identifiers, and schemes in legacy apps
  apps/legacy/computer-vision/app.json
  apps/legacy/llm/app.json
  apps/legacy/speech/app.json
  apps/legacy/text-embeddings/app.json
Due: format-other

fix(fetcher): stop reporting progress before file sizes are known (#1415)
  packages/react-native-executorch/src/fetcher/fetcher.ts
Due: lint, types, format-js

feat(models): add MLX variants for the five LLM families
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(models): add MLX variants for the five LLM families (#1417)
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(models): add Llama 3.2 MLX variants, drop the keypoint MLX one
  apps/computer-vision/app/keypoint/index.tsx
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

Apply suggestion from @msluszniak
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(models): add Llama 3.2 MLX variants, drop the keypoint MLX one (#1418)
  apps/computer-vision/app/keypoint/index.tsx
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

chore(docs): switch gitRevision to main and update source links
  docs/docs/02-extensions/computer-vision/02-image-classification.md
  docs/docs/02-extensions/computer-vision/03-object-detection.md
  docs/docs/02-extensions/computer-vision/04-pose-and-keypoints.md
  docs/docs/02-extensions/computer-vision/05-optical-character-recognition.md
  docs/docs/02-extensions/computer-vision/06-semantic-segmentation.md
  docs/docs/02-extensions/computer-vision/07-instance-segmentation.md
  docs/docs/02-extensions/computer-vision/08-style-transfer.md
  docs/docs/02-extensions/computer-vision/09-image-embeddings.md
  docs/docs/02-extensions/computer-vision/10-text-to-image.md
  docs/docs/02-extensions/natural-language/02-llm-chat-and-generation.md
  docs/docs/02-extensions/natural-language/03-text-embeddings.md
  docs/docs/02-extensions/natural-language/04-privacy-filter.md
  docs/docs/02-extensions/natural-language/05-tokenizers.md
  docs/docs/02-extensions/speech/02-text-to-speech.md
  docs/docs/02-extensions/speech/03-speech-to-text.md
  docs/docs/02-extensions/speech/04-voice-activity-detection.md
  docs/typedoc.json
Due: format-other, spell-check-other

chore(docs): switch gitRevision to main and update source links (#1425)
  docs/docs/02-extensions/computer-vision/02-image-classification.md
  docs/docs/02-extensions/computer-vision/03-object-detection.md
  docs/docs/02-extensions/computer-vision/04-pose-and-keypoints.md
  docs/docs/02-extensions/computer-vision/05-optical-character-recognition.md
  docs/docs/02-extensions/computer-vision/06-semantic-segmentation.md
  docs/docs/02-extensions/computer-vision/07-instance-segmentation.md
  docs/docs/02-extensions/computer-vision/08-style-transfer.md
  docs/docs/02-extensions/computer-vision/09-image-embeddings.md
  docs/docs/02-extensions/computer-vision/10-text-to-image.md
  docs/docs/02-extensions/natural-language/02-llm-chat-and-generation.md
  docs/docs/02-extensions/natural-language/03-text-embeddings.md
  docs/docs/02-extensions/natural-language/04-privacy-filter.md
  docs/docs/02-extensions/natural-language/05-tokenizers.md
  docs/docs/02-extensions/speech/02-text-to-speech.md
  docs/docs/02-extensions/speech/03-speech-to-text.md
  docs/docs/02-extensions/speech/04-voice-activity-detection.md
  docs/typedoc.json
Due: format-other, spell-check-other

docs: remove stale gallery app link from README table of contents
  README.md
Due: format-other, spell-check-other

docs: remove stale gallery app link from README table of contents (#1427)
  README.md
Due: format-other, spell-check-other

fix(android): skip explicit Kotlin plugin when AGP registers the kotlin extension
  packages/react-native-executorch-webrtc/android/build.gradle
  packages/react-native-executorch/android/build.gradle.kts
Due: none

fix(android): skip explicit Kotlin plugin when AGP registers the kotlin extension (#1412)
  packages/react-native-executorch-webrtc/android/build.gradle
  packages/react-native-executorch/android/build.gradle.kts
Due: none

docs(release): match the release flow to models.ts
  RELEASE.md
Due: format-other, spell-check-other

fix(release): restore create-package.sh and set the core package version
  packages/react-native-executorch/package.json
  packages/react-native-executorch/scripts/create-package.sh
Due: format-other

feat(release): add a dry run to the core publish, bump webrtc to 0.10.0
  .github/workflows/npm-publish.yml
  packages/react-native-executorch-webrtc/package.json
Due: format-other

docs(release): cover all four packages, the libs release, and dry runs
  RELEASE.md
Due: format-other, spell-check-other

chore: drop the stale tokenizers-cpp submodule entry
  .gitmodules
Due: none

build(deps): bump vulnerable transitives in the root lockfile
  yarn.lock
Due: none

docs: add a security policy
  SECURITY.md
Due: format-other, spell-check-other

docs(release): match the release flow to models.ts (#1428)
  RELEASE.md
Due: format-other, spell-check-other

fix(release): restore create-package.sh and set the core package version (#1429)
  .github/workflows/npm-publish.yml
  packages/react-native-executorch-webrtc/package.json
  packages/react-native-executorch/package.json
  packages/react-native-executorch/scripts/create-package.sh
Due: format-other

chore: drop the stale tokenizers-cpp submodule entry (#1430)
  .gitmodules
Due: none

build(deps): bump vulnerable transitives in the root lockfile (#1431)
  yarn.lock
Due: none

docs: add a security policy (#1432)
  SECURITY.md
Due: format-other, spell-check-other
