Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

ci: make npm publish dist-tag an explicit choice (0.9) (#1350)
  .github/workflows/npm-publish.yml
Due: format-other

[RNE Rewrite] fix(fetcher): dedupe in-flight downloads, plus review cleanups
  packages/react-native-executorch/cpp/core/utils.cpp
  packages/react-native-executorch/src/fetcher/fetcher.ts
  packages/react-native-executorch/src/fetcher/index.ts
  packages/react-native-executorch/src/fetcher/telemetry.ts
  packages/react-native-executorch/src/hooks/useClassifier.ts
  packages/react-native-executorch/src/hooks/useImageEmbedder.ts
  packages/react-native-executorch/src/hooks/useInstanceSegmenter.ts
  packages/react-native-executorch/src/hooks/useKeypointDetector.ts
  packages/react-native-executorch/src/hooks/useObjectDetector.ts
  packages/react-native-executorch/src/hooks/useSemanticSegmenter.ts
  packages/react-native-executorch/src/hooks/useSpeechToText.ts
  packages/react-native-executorch/src/hooks/useStyleTransfer.ts
  packages/react-native-executorch/src/hooks/useTextEmbedder.ts
  packages/react-native-executorch/src/hooks/useTokenizer.ts
  packages/react-native-executorch/src/hooks/useVoiceActivityDetector.ts
Due: lint, types, format-js, format-objc

[RNE Rewrite] refactor(fetcher): replace the abortError factory with an AbortError class
  packages/react-native-executorch/src/fetcher/fetcher.ts
  packages/react-native-executorch/src/hooks/useResourceDownload.ts
Due: lint, types, format-js

[RNE Rewrite] fix(hooks): key resource resolution on config value, not URL set
  packages/react-native-executorch/src/fetcher/fetcher.ts
  packages/react-native-executorch/src/hooks/useClassifier.ts
  packages/react-native-executorch/src/hooks/useImageEmbedder.ts
  packages/react-native-executorch/src/hooks/useInstanceSegmenter.ts
  packages/react-native-executorch/src/hooks/useKeypointDetector.ts
  packages/react-native-executorch/src/hooks/useModel.ts
  packages/react-native-executorch/src/hooks/useObjectDetector.ts
  packages/react-native-executorch/src/hooks/useResourceDownload.ts
  packages/react-native-executorch/src/hooks/useSemanticSegmenter.ts
  packages/react-native-executorch/src/hooks/useSpeechToText.ts
  packages/react-native-executorch/src/hooks/useStyleTransfer.ts
  packages/react-native-executorch/src/hooks/useTextEmbedder.ts
  packages/react-native-executorch/src/hooks/useTextToImage.ts
  packages/react-native-executorch/src/hooks/useTokenizer.ts
  packages/react-native-executorch/src/hooks/useVoiceActivityDetector.ts
Due: lint, types, format-js

[RNE Rewrite] fix(telemetry): only report a country code the locale actually has
  .cspell-wordlist.txt
  packages/react-native-executorch/src/fetcher/telemetry.ts
Due: lint, types, format-js

[RNE Rewrite] fix(hooks): expose resource and forceDownload consistently
  packages/react-native-executorch/src/hooks/useClassifier.ts
  packages/react-native-executorch/src/hooks/useImageEmbedder.ts
  packages/react-native-executorch/src/hooks/useInstanceSegmenter.ts
  packages/react-native-executorch/src/hooks/useKeypointDetector.ts
  packages/react-native-executorch/src/hooks/useModel.ts
  packages/react-native-executorch/src/hooks/useObjectDetector.ts
  packages/react-native-executorch/src/hooks/useResourceDownload.ts
  packages/react-native-executorch/src/hooks/useSemanticSegmenter.ts
  packages/react-native-executorch/src/hooks/useSpeechToText.ts
  packages/react-native-executorch/src/hooks/useStyleTransfer.ts
  packages/react-native-executorch/src/hooks/useTextEmbedder.ts
  packages/react-native-executorch/src/hooks/useTextToImage.ts
  packages/react-native-executorch/src/hooks/useTokenizer.ts
  packages/react-native-executorch/src/hooks/useVoiceActivityDetector.ts
Due: lint, types, format-js

[RNE Rewrite] Integrate resource fetcher (react-native-blob-util) (#1328)
  .cspell-wordlist.txt
  apps/computer-vision/package.json
  apps/nlp/package.json
  apps/speech/package.json
  packages/react-native-executorch/cpp/core/install.cpp
  packages/react-native-executorch/cpp/core/utils.cpp
  packages/react-native-executorch/cpp/core/utils.h
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/fetcher/fetcher.ts
  packages/react-native-executorch/src/fetcher/index.ts
  packages/react-native-executorch/src/fetcher/telemetry.ts
  packages/react-native-executorch/src/hooks/useClassifier.ts
  packages/react-native-executorch/src/hooks/useImageEmbedder.ts
  packages/react-native-executorch/src/hooks/useInstanceSegmenter.ts
  packages/react-native-executorch/src/hooks/useKeypointDetector.ts
  packages/react-native-executorch/src/hooks/useModel.ts
  packages/react-native-executorch/src/hooks/useObjectDetector.ts
  packages/react-native-executorch/src/hooks/useResourceDownload.ts
  packages/react-native-executorch/src/hooks/useSemanticSegmenter.ts
  packages/react-native-executorch/src/hooks/useSpeechToText.ts
  packages/react-native-executorch/src/hooks/useStyleTransfer.ts
  packages/react-native-executorch/src/hooks/useTextEmbedder.ts
  packages/react-native-executorch/src/hooks/useTextToImage.ts
  packages/react-native-executorch/src/hooks/useTokenizer.ts
  packages/react-native-executorch/src/hooks/useVoiceActivityDetector.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils.ts
  yarn.lock
Due: lint, types, format-js, format-objc, format-other

Remove redundant gaussian noise generator, fix cspell warnings, and prettify DP comment
  .cspell-wordlist.txt
  packages/react-native-executorch/src/extensions/speech/utils/supertonicUtils.ts
  packages/react-native-executorch/src/extensions/speech/utils/textPartitioner.ts
Due: lint, types, format-js

Enforce limit in all partition() code paths
  packages/react-native-executorch/src/extensions/speech/utils/textPartitioner.ts
Due: lint, types, format-js

feat: add supertonic helpers
  packages/react-native-executorch/src/extensions/speech/utils/supertonicUtils.ts
  packages/react-native-executorch/src/extensions/speech/utils/textPartitioner.ts
Due: lint, types, format-js

feat(speech): implement Supertonic text-to-speech pipeline and hook
  .cspell-wordlist.txt
  packages/react-native-executorch/src/constants.ts
  packages/react-native-executorch/src/extensions/speech/index.ts
  packages/react-native-executorch/src/extensions/speech/tasks/supertonicTextToSpeech.ts
  packages/react-native-executorch/src/extensions/speech/utils/supertonicUtils.ts
  packages/react-native-executorch/src/extensions/speech/utils/textPartitioner.ts
  packages/react-native-executorch/src/hooks/useSupertonicTextToSpeech.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

fix cspell warnings, rename useSupertonicTextToSpeech to useTextToSpeech
  .cspell-wordlist.txt
  apps/speech/app/text-to-speech/index.tsx
  packages/react-native-executorch/src/hooks/useTextToSpeech.ts
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js

fix(speech): add terminal breakpoint in textPartitioner and two-phase text preprocessing
  packages/react-native-executorch/src/extensions/speech/tasks/supertonicTextToSpeech.ts
  packages/react-native-executorch/src/extensions/speech/utils/supertonicUtils.ts
  packages/react-native-executorch/src/extensions/speech/utils/textPartitioner.ts
Due: lint, types, format-js

fix(speech): use exact PCM buffer duration in Supertonic TTS chunk output
  packages/react-native-executorch/src/extensions/speech/tasks/supertonicTextToSpeech.ts
Due: lint, types, format-js

fix(speech): resolve audio playback failure on model change and cleanup AudioContext
  apps/speech/app/text-to-speech/index.tsx
  packages/react-native-executorch/src/hooks/useSupertonicTextToSpeech.ts
Due: lint, types, format-js

feat: update model paths
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

fix: add japanese custom chunk length rule
  packages/react-native-executorch/src/extensions/speech/tasks/supertonicTextToSpeech.ts
Due: lint, types, format-js

refactor(speech): replace createSynchronizable with isSynthesizing state in Supertonic TTS
  packages/react-native-executorch/src/extensions/speech/tasks/supertonicTextToSpeech.ts
Due: lint, types, format-js

feat(apps/speech): add Supertonic TTS example screen
  apps/speech/app/_layout.tsx
  apps/speech/app/index.tsx
  apps/speech/app/text-to-speech/index.tsx
Due: lint, types, format-js

add TODOs
  packages/react-native-executorch/src/extensions/speech/tasks/supertonicTextToSpeech.ts
  packages/react-native-executorch/src/hooks/useTextToSpeech.ts
Due: lint, types, format-js

fix: update comment
  packages/react-native-executorch/src/extensions/speech/tasks/supertonicTextToSpeech.ts
Due: lint, types, format-js

fix(speech): add validation guard for totalSteps in Supertonic TTS
  packages/react-native-executorch/src/extensions/speech/tasks/supertonicTextToSpeech.ts
Due: lint, types, format-js

fix(speech): align breakpoint index calculation with UTF-16 code units in textPartitioner
  packages/react-native-executorch/src/extensions/speech/utils/textPartitioner.ts
Due: lint, types, format-js

narrow TTS speed range to [0.8, 1.2]
  apps/speech/app/text-to-speech/index.tsx
  packages/react-native-executorch/src/extensions/speech/tasks/supertonicTextToSpeech.ts
Due: lint, types, format-js

fix: disable MLX model option on Android in TTS screen
  apps/speech/app/text-to-speech/index.tsx
Due: lint, types, format-js

feat(speech): add configurable TTFA initial segment prioritization to text partitioner
  packages/react-native-executorch/src/extensions/speech/utils/textPartitioner.ts
Due: lint, types, format-js

fix(speech): update TTS pipeline to use react-native-blob-util
  packages/react-native-executorch/src/extensions/speech/tasks/supertonicTextToSpeech.ts
  packages/react-native-executorch/src/hooks/useTextToSpeech.ts
Due: lint, types, format-js

fix docs
  packages/react-native-executorch/src/extensions/speech/tasks/supertonicTextToSpeech.ts
Due: lint, types, format-js

[RNE Rewrite] feat: add supertonic TTS pipeline (#1317)
  .cspell-wordlist.txt
  apps/speech/app/_layout.tsx
  apps/speech/app/index.tsx
  apps/speech/app/text-to-speech/index.tsx
  packages/react-native-executorch/src/constants.ts
  packages/react-native-executorch/src/extensions/speech/index.ts
  packages/react-native-executorch/src/extensions/speech/tasks/supertonicTextToSpeech.ts
  packages/react-native-executorch/src/extensions/speech/utils/supertonicUtils.ts
  packages/react-native-executorch/src/extensions/speech/utils/textPartitioner.ts
  packages/react-native-executorch/src/hooks/useTextToSpeech.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

refactor: remove resource fetcher packages and references
  .github/workflows/ci.yml
  .github/workflows/npm-publish-bare-resource-fetcher.yml
  .github/workflows/npm-publish-expo-resource-fetcher.yml
  apps/computer-vision/tsconfig.json
  apps/nlp/tsconfig.json
  package.json
  packages/bare-resource-fetcher/README.md
  packages/bare-resource-fetcher/package.json
  packages/bare-resource-fetcher/src/ResourceFetcher.ts
  packages/bare-resource-fetcher/src/ResourceFetcherUtils.ts
  packages/bare-resource-fetcher/src/constants/directories.ts
  packages/bare-resource-fetcher/src/declarations.d.ts
  packages/bare-resource-fetcher/src/handlers.ts
  packages/bare-resource-fetcher/src/index.ts
  packages/bare-resource-fetcher/tsconfig.json
  packages/expo-resource-fetcher/README.md
  packages/expo-resource-fetcher/package.json
  packages/expo-resource-fetcher/src/ResourceFetcher.ts
  packages/expo-resource-fetcher/src/ResourceFetcherUtils.ts
  packages/expo-resource-fetcher/src/constants/directories.ts
  packages/expo-resource-fetcher/src/handlers.ts
  packages/expo-resource-fetcher/src/index.ts
  packages/expo-resource-fetcher/src/legacy/ResourceFetcher.ts
  packages/expo-resource-fetcher/src/legacy/ResourceFetcherUtils.ts
  packages/expo-resource-fetcher/src/legacy/constants/directories.ts
  packages/expo-resource-fetcher/src/legacy/handlers.ts
  packages/expo-resource-fetcher/src/legacy/index.ts
  packages/expo-resource-fetcher/src/sharedUtils.ts
  packages/expo-resource-fetcher/tsconfig.json
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

chore: upgrade react-native-worklets to 0.10.3 and remove patch
  apps/computer-vision/package.json
  apps/nlp/package.json
  apps/speech/package.json
  package.json
  packages/react-native-executorch/package.json
  patches/react-native-worklets+0.9.1.patch
  yarn.lock
Due: format-other

refactor: rename function options parameters from opts to options
  .agents/skills/add-task-pipeline/SKILL.md
  .agents/skills/core-guidelines/SKILL.md
  packages/react-native-executorch/src/extensions/cv/ops/boxes.ts
  packages/react-native-executorch/src/extensions/cv/ops/image.ts
  packages/react-native-executorch/src/extensions/cv/tasks/keypointDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
  packages/react-native-executorch/src/extensions/speech/tasks/fsmnVoiceActivityDetection.ts
Due: lint, types, format-js, format-other, spell-check-other

refactor: rename opts parameter to options in points.ts
  packages/react-native-executorch/src/extensions/cv/ops/points.ts
Due: lint, types, format-js

feat: code every native throw site and adopt the convention in demo apps
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/app/detection/index.tsx
  apps/computer-vision/app/imageEmbeddings/index.tsx
  apps/computer-vision/app/inspect/index.tsx
  apps/computer-vision/app/instanceSegmentation/index.tsx
  apps/computer-vision/app/keypoint/index.tsx
  apps/computer-vision/app/segmentation/index.tsx
  apps/computer-vision/app/styleTransfer/index.tsx
  apps/computer-vision/app/textToImage/index.tsx
  apps/computer-vision/errors.ts
  apps/nlp/app/text-embeddings/index.tsx
  apps/nlp/app/tokenizer/index.tsx
  apps/nlp/errors.ts
  apps/speech/app/audio-file-transcription/index.tsx
  apps/speech/app/microphone-transcription/index.tsx
  apps/speech/app/vad/index.tsx
  apps/speech/errors.ts
  packages/react-native-executorch/cpp/core/conversions.cpp
  packages/react-native-executorch/cpp/core/conversions.h
  packages/react-native-executorch/cpp/core/dtype.cpp
  packages/react-native-executorch/cpp/core/error_codes.h
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/schema.cpp
  packages/react-native-executorch/cpp/core/tensor.cpp
  packages/react-native-executorch/cpp/core/tensor_helpers.cpp
  packages/react-native-executorch/cpp/core/utils.cpp
  packages/react-native-executorch/cpp/extensions/cv/box_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/utils.h
  packages/react-native-executorch/cpp/extensions/math/operations.cpp
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.cpp
  packages/react-native-executorch/cpp/extensions/speech/operations.cpp
  packages/react-native-executorch/src/errors/codes.ts
  scripts/errors.config.ts
Due: lint, types, format-js, format-objc

fix: clang-tidy findings on the error plumbing
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/tensor.cpp
  packages/react-native-executorch/cpp/core/utils.cpp
Due: format-objc

docs(skills): document the error-handling convention for agents
  .agents/skills/README.md
  .agents/skills/add-native-extension/SKILL.md
  .agents/skills/add-task-pipeline/SKILL.md
  .agents/skills/core-guidelines/SKILL.md
  .agents/skills/error-handling/SKILL.md
  .agents/skills/model-schema-validation/SKILL.md
  .agents/skills/verify-and-build/SKILL.md
Due: format-other, spell-check-other

feat: coded, worklet-safe error handling
  .eslintrc.js
  .github/workflows/ci.yml
  package.json
  packages/react-native-executorch/cpp/core/error.cpp
  packages/react-native-executorch/cpp/core/error.h
  packages/react-native-executorch/cpp/core/error_codes.h
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/src/core/runtime.ts
  packages/react-native-executorch/src/core/schema.ts
  packages/react-native-executorch/src/errors/codes.ts
  packages/react-native-executorch/src/errors/error.ts
  packages/react-native-executorch/src/errors/index.ts
  packages/react-native-executorch/src/extensions/cv/tasks/classification.ts
  packages/react-native-executorch/src/extensions/cv/tasks/instanceSegmentation.ts
  packages/react-native-executorch/src/extensions/cv/tasks/objectDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
  packages/react-native-executorch/src/extensions/cv/tasks/semanticSegmentation.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/textEmbedding.ts
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
  packages/react-native-executorch/src/fetcher/fetcher.ts
  packages/react-native-executorch/src/hooks/useModel.ts
  packages/react-native-executorch/src/hooks/useResourceDownload.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/native/bridge.ts
  scripts/generate-errors.ts
Due: lint, types, format-js, format-objc, format-other

refactor: address review comments on the error plumbing
  packages/react-native-executorch/cpp/core/conversions.h
  packages/react-native-executorch/cpp/core/error.h
Due: format-objc

[RNE Rewrite] chore!: remove resource fetcher directories and references (#1356)
  .github/workflows/ci.yml
  .github/workflows/npm-publish-bare-resource-fetcher.yml
  .github/workflows/npm-publish-expo-resource-fetcher.yml
  apps/computer-vision/tsconfig.json
  apps/nlp/tsconfig.json
  package.json
  packages/bare-resource-fetcher/README.md
  packages/bare-resource-fetcher/package.json
  packages/bare-resource-fetcher/src/ResourceFetcher.ts
  packages/bare-resource-fetcher/src/ResourceFetcherUtils.ts
  packages/bare-resource-fetcher/src/constants/directories.ts
  packages/bare-resource-fetcher/src/declarations.d.ts
  packages/bare-resource-fetcher/src/handlers.ts
  packages/bare-resource-fetcher/src/index.ts
  packages/bare-resource-fetcher/tsconfig.json
  packages/expo-resource-fetcher/README.md
  packages/expo-resource-fetcher/package.json
  packages/expo-resource-fetcher/src/ResourceFetcher.ts
  packages/expo-resource-fetcher/src/ResourceFetcherUtils.ts
  packages/expo-resource-fetcher/src/constants/directories.ts
  packages/expo-resource-fetcher/src/handlers.ts
  packages/expo-resource-fetcher/src/index.ts
  packages/expo-resource-fetcher/src/legacy/ResourceFetcher.ts
  packages/expo-resource-fetcher/src/legacy/ResourceFetcherUtils.ts
  packages/expo-resource-fetcher/src/legacy/constants/directories.ts
  packages/expo-resource-fetcher/src/legacy/handlers.ts
  packages/expo-resource-fetcher/src/legacy/index.ts
  packages/expo-resource-fetcher/src/sharedUtils.ts
  packages/expo-resource-fetcher/tsconfig.json
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other
