Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

fix: add a null-check for nativemodule in controllers
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/controllers/OCRController.ts
  packages/react-native-executorch/src/controllers/VerticalOCRController.ts
  packages/react-native-executorch/src/hooks/computer_vision/useOCR.ts
  packages/react-native-executorch/src/hooks/computer_vision/useVerticalOCR.ts
Due: lint, types, format-js

fix: non-null check before calling nativeModule in OCR controllers (#755)
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/controllers/OCRController.ts
  packages/react-native-executorch/src/controllers/VerticalOCRController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
Due: lint, types, format-js

Update README with logo and remove banner
  README.md
Due: format-other, spell-check-other

Update logo image to include width attribute
  README.md
Due: format-other, spell-check-other

Replace language links with badge images in README
  README.md
Due: format-other, spell-check-other

chore: update readme and the run tests script
  packages/react-native-executorch/common/rnexecutorch/tests/README.md
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
Due: format-other, spell-check-other

fix: ensure controller is ready before calling delete
  packages/react-native-executorch/src/hooks/computer_vision/useOCR.ts
  packages/react-native-executorch/src/hooks/computer_vision/useVerticalOCR.ts
Due: lint, types, format-js

refactor: add a base class for ocr controllers
  packages/react-native-executorch/src/controllers/BaseOCRController.ts
  packages/react-native-executorch/src/controllers/OCRController.ts
  packages/react-native-executorch/src/controllers/VerticalOCRController.ts
Due: lint, types, format-js

fix: add a null-check for nativemodule in controllers
  packages/react-native-executorch/src/hooks/computer_vision/useOCR.ts
  packages/react-native-executorch/src/hooks/computer_vision/useVerticalOCR.ts
Due: lint, types, format-js

Add new files for better type control
  packages/react-native-executorch/src/hooks/computer_vision/useClassification.ts
  packages/react-native-executorch/src/hooks/computer_vision/useImageEmbeddings.ts
  packages/react-native-executorch/src/hooks/computer_vision/useImageSegmentation.ts
  packages/react-native-executorch/src/hooks/computer_vision/useObjectDetection.ts
  packages/react-native-executorch/src/hooks/general/useExecutorchModule.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/types/classification.ts
  packages/react-native-executorch/src/types/executorchModule.ts
  packages/react-native-executorch/src/types/imageEmbeddings.ts
  packages/react-native-executorch/src/types/imageSegmentation.ts
  packages/react-native-executorch/src/types/objectDetection.ts
  packages/react-native-executorch/src/types/ocr.ts
  packages/react-native-executorch/src/types/textEmbeddings.ts
  packages/react-native-executorch/src/types/tts.ts
  packages/react-native-executorch/src/types/vad.ts
Due: lint, types, format-js

Enhance README_cn with badges and logo
  readmes/README_cn.md
Due: format-other, spell-check-other

Update README_es.md
  readmes/README_es.md
Due: format-other, spell-check-other

Add language badge links to French README
  readmes/README_fr.md
Due: format-other, spell-check-other

Add language badge links to README_in.md
  readmes/README_in.md
Due: format-other, spell-check-other

Revise README_pt.md with badge updates
  readmes/README_pt.md
Due: format-other, spell-check-other

chore: add missing assets
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/test_audio_float.raw
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/we_are_software_mansion.jpg
Due: none

fix: use proper image name in vertical ocr test
  packages/react-native-executorch/common/rnexecutorch/tests/integration/VerticalOCRTest.cpp
Due: format-objc

refactor: add a shared base class for OCR controllers (#756)
  packages/react-native-executorch/src/controllers/BaseOCRController.ts
  packages/react-native-executorch/src/controllers/OCRController.ts
  packages/react-native-executorch/src/controllers/VerticalOCRController.ts
Due: lint, types, format-js

feat: bump doc-llms-txt plugin, add copy page button & add breadcrumbs
  docs/docusaurus.config.js
  docs/package.json
  docs/yarn.lock
Due: lint, types, format-js, format-other

feat: unify dropdown styling
  docs/src/theme/CopyPageContent/index.js
  docs/src/theme/CopyPageContent/styles.module.css
Due: lint, types, format-js, format-other, spell-check-other

feat: enhance resource fetcher with error handling and new methods for better control
  packages/bare-adapter/src/ResourceFetcher.ts
  packages/bare-adapter/src/constants/directories.ts
  packages/expo-adapter/src/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js

chore: exclude llm_bare app from workspace
  apps/llm_bare/.gitignore
  apps/llm_bare/App.tsx
  apps/llm_bare/ios/Podfile.lock
  apps/llm_bare/metro.config.js
  apps/llm_bare/package.json
  apps/llm_bare/yarn.lock
  package.json
  yarn.lock
Due: lint, types, format-js, format-other

feat: integrate MMKV for persistent state storage in background downloads
  apps/llm_bare/android/app/build.gradle
Due: none

chore: revert formatting in inference time and memory usage documentation
  docs/versioned_docs/version-0.5.x/04-benchmarks/inference-time.md
  docs/versioned_docs/version-0.5.x/04-benchmarks/memory-usage.md
Due: format-other, spell-check-other

chore: remove bare app directories from .gitignore
  .gitignore
Due: none

chore: update react-native-executorch dependency to allow any version
  packages/bare-adapter/package.json
  packages/expo-adapter/package.json
  yarn.lock
Due: format-other

docs: add bare and expo adapters with installation and usage instructions
  packages/bare-adapter/README.md
  packages/expo-adapter/README.md
Due: format-other, spell-check-other

chore: bump version to 0.8.0 in package.json
  packages/react-native-executorch/package.json
Due: format-other

chore: remove unused import
  docs/src/theme/CopyPageContent/index.js
Due: lint, types, format-js

chore: add explicit category position
  docs/docusaurus.config.js
Due: lint, types, format-js

chore: add react-native-executorch as a dependency to adapters
  packages/bare-adapter/package.json
  packages/expo-adapter/package.json
  yarn.lock
Due: format-other

chore: add RNFS to the spell check wordlist
  .cspell-wordlist.txt
Due: none

feat(docs): add copy button & breadcrumbs (#761)
  docs/docusaurus.config.js
  docs/package.json
  docs/src/theme/CopyPageContent/index.js
  docs/src/theme/CopyPageContent/styles.module.css
  docs/yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

chore: review suggestions
  packages/react-native-executorch/common/rnexecutorch/models/ocr/utils/RecognizerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/BaseModelTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/BaseModelTests.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ClassificationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ImageEmbeddingsTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ImageSegmentationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/OCRTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ObjectDetectionTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SpeechToTextTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/StyleTransferTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextEmbeddingsTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextToImageTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TokenizerModuleTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/VerticalOCRTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/VoiceActivityDetectionTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/utils/TestUtils.h
Due: format-objc

Add changed *.ts files
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TokenizerModule.ts
Due: lint, types, format-js

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
