Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

feat: add JSI conversion for js callbacks
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
Due: format-objc

feat: add llm to modelhostobject
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
Due: format-objc

feat: add LLM runner
  packages/react-native-executorch/common/rnexecutorch/models/llm/Runner.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/Runner.h
Due: format-objc

feat: adjust controller to match the new native impl
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js

fix: check if native llm is installed
  packages/react-native-executorch/src/index.tsx
Due: lint, types, format-js

remove a bunch of code 💅🏻
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/LLM.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/RnExecutorchPackage.kt
  packages/react-native-executorch/ios/RnExecutorch/LLM.h
  packages/react-native-executorch/ios/RnExecutorch/LLM.mm
  packages/react-native-executorch/src/native/NativeLLM.ts
  packages/react-native-executorch/src/native/RnExecutorchModules.ts
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/runner/irunner.h
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/runner/runner.cpp
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/runner/runner.h
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/runner/stats.h
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/runner/text_decoder_runner.cpp
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/runner/text_decoder_runner.h
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/runner/text_prefiller.cpp
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/runner/text_prefiller.h
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/runner/text_token_generator.h
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/runner/util.h
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/sampler/sampler.cpp
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/sampler/sampler.h
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/tokenizer/base64.h
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/tokenizer/bpe_tokenizer.cpp
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/tokenizer/bpe_tokenizer.h
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/tokenizer/llama_tiktoken.cpp
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/tokenizer/llama_tiktoken.h
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/tokenizer/tiktoken.cpp
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/tokenizer/tiktoken.h
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/tokenizer/tokenizer.h
Due: lint, types, format-js, format-objc

remove a bunch of code 💅🏻
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib.xcodeproj/project.pbxproj
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/Exported/HuggingFaceTokenizer.h
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/Exported/HuggingFaceTokenizer.mm
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/Exported/LLaMARunner.h
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib/Exported/LLaMARunner.mm
Due: format-objc

feat: Progress Bar in multiple resource fetching is now more meaningfull
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

docs: update docs for ResourceFetcher
  docs/docs/utilities/resource-fetcher.md
Due: format-other, spell-check-other

Add complex logging
  packages/react-native-executorch/common/rnexecutorch/Log.cpp
  packages/react-native-executorch/common/rnexecutorch/Log.h
  packages/react-native-executorch/common/rnexecutorch/LogTest.cpp
Due: format-objc

Add complex logging
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
Due: format-objc

chore: move runner to common/
  packages/react-native-executorch/common/runner/irunner.h
  packages/react-native-executorch/common/runner/runner.cpp
  packages/react-native-executorch/common/runner/runner.h
  packages/react-native-executorch/common/runner/sampler.cpp
  packages/react-native-executorch/common/runner/sampler.h
  packages/react-native-executorch/common/runner/stats.h
  packages/react-native-executorch/common/runner/text_decoder_runner.cpp
  packages/react-native-executorch/common/runner/text_decoder_runner.h
  packages/react-native-executorch/common/runner/text_prefiller.cpp
  packages/react-native-executorch/common/runner/text_prefiller.h
  packages/react-native-executorch/common/runner/text_token_generator.h
  packages/react-native-executorch/common/runner/util.h
Due: format-objc

chore: update runner.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/Runner.h
Due: format-objc

chore: get rid of tokenizers_c.h
  packages/react-native-executorch/third-party/include/tokenizers-cpp/tokenizers_c.h
Due: format-objc

chore: update executorchlib xcodeproj
  packages/react-native-executorch/third-party/ios/ExecutorchLib/ExecutorchLib.xcodeproj/project.pbxproj
Due: none

chore: rename runner.{h,cpp} to LLM.{h,cpp}
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
Due: format-objc

fix: define moduleInfos
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/RnExecutorchPackage.kt
Due: none

fix: fix includes after renaming runner
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
Due: format-objc

fix: update podspec to match the new ios libs structure
  packages/react-native-executorch/react-native-executorch.podspec
Due: none

wip: android cmake
  packages/react-native-executorch/android/CMakeLists.txt
Due: none

chore: unify memory lower bound member naming with BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
Due: format-objc

chore: remove --force_load flag from tokenizers-cpp static libs
  packages/react-native-executorch/react-native-executorch.podspec
Due: none

fix: Ensure corectness of podspec libs path, add typing to llm controller
  packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js

chore: remove outdated comment
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
Due: format-objc

Add structured output utils functions to LLMs
  apps/llm/app/_layout.tsx
  apps/llm/app/index.tsx
  apps/llm/app/llm_structured_output/index.tsx
  apps/llm/app/voice_chat/index.tsx
  apps/llm/ios/Podfile.lock
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/constants/llmDefaults.ts
  packages/react-native-executorch/src/index.tsx
  packages/react-native-executorch/src/utils/llm.ts
  yarn.lock
Due: lint, types, format-js, format-other

feat: add generic synchronous host function wraper
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
Due: format-objc

chore: remove accidental export of getMemoryLowerBound
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
Due: format-objc

fix: handle void returns in synchronous host function wrapper
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
Due: format-objc

Handle improvements
  packages/react-native-executorch/common/rnexecutorch/Log.h
  packages/react-native-executorch/common/rnexecutorch/LogTest.cpp
Due: format-objc

Apply suggestions from code review
  packages/react-native-executorch/common/rnexecutorch/Log.h
  packages/react-native-executorch/common/rnexecutorch/LogTest.cpp
Due: format-objc

refactor: ResourceFetcher structure changed to more readable
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

feat: ResourceFetcher single .fetch() pause/resume/cancel functions
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

feat: ResourceFetcher multiple resources pausing/resuming/canceling logic
  packages/react-native-executorch/src/controllers/OCRController.ts
  packages/react-native-executorch/src/controllers/SpeechToTextController.ts
  packages/react-native-executorch/src/controllers/VerticalOCRController.ts
  packages/react-native-executorch/src/modules/BaseModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/general/ExecutorchModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TokenizerModule.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

fix: types issue small fix
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
Due: lint, types, format-js

fix: typos in docs
  docs/docs/utilities/resource-fetcher.md
Due: format-other, spell-check-other
