Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

delete claude.md
  CLAUDE.md
Due: format-other, spell-check-other

fix: unify types to work on android
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/runner/runner.cpp
  packages/react-native-executorch/common/runner/runner.h
Due: format-objc

Update packages/react-native-executorch/src/constants/commonVision.ts
  packages/react-native-executorch/src/constants/commonVision.ts
Due: lint, types, format-js

chore: add support for lfm-2.5 instruct model
  docs/docs/06-api-reference/index.md
  docs/docs/06-api-reference/variables/LFM2_5_1_2B_INSTRUCT.md
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-other, spell-check-other

chore: review suggextions
  packages/react-native-executorch/common/rnexecutorch/Log.h
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/BaseImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/BaseImageSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/src/hooks/computer_vision/useImageSegmentation.ts
  packages/react-native-executorch/src/hooks/useModule.ts
Due: lint, types, format-js, format-objc

Fix punctation comparision issue
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/Word.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
Due: format-objc

wip
  apps/computer-vision/app/image_segmentation/index.tsx
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/src/hooks/useModule.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/GenericImageSegmentation.ts
  packages/react-native-executorch/src/modules/computer_vision/NewImageSegmentation.ts
  packages/react-native-executorch/src/types/genericImageSegmentation.ts
Due: lint, types, format-js, format-objc

wip
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/BaseImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/BaseImageSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.h
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/NewImageSegmentation.ts
  packages/react-native-executorch/src/types/imageSegmentation.ts
Due: lint, types, format-js, format-objc

delete stuff
  packages/react-native-executorch/src/modules/computer_vision/GenericImageSegmentation.ts
Due: lint, types, format-js

a bunch of cleanups, add wip for a hook
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/BaseImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/BaseImageSegmentation.h
  packages/react-native-executorch/src/constants/commonVision.ts
  packages/react-native-executorch/src/hooks/computer_vision/useImageSegmentation.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/NewImageSegmentation.ts
  packages/react-native-executorch/src/types/common.ts
  packages/react-native-executorch/src/types/imageSegmentation.ts
Due: lint, types, format-js, format-objc

remove useless stuff
  packages/react-native-executorch/src/hooks/useModule.ts
Due: lint, types, format-js

hehe
  apps/computer-vision/app/image_segmentation/index.tsx
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
Due: lint, types, format-js

type fix
  apps/computer-vision/app/image_segmentation/index.tsx
  packages/react-native-executorch/src/hooks/computer_vision/useImageSegmentation.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
Due: lint, types, format-js

type fix
  packages/react-native-executorch/src/hooks/computer_vision/useImageSegmentation.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
  packages/react-native-executorch/src/types/imageSegmentation.ts
Due: lint, types, format-js

rename
  apps/computer-vision/app/image_segmentation/index.tsx
  packages/react-native-executorch/src/hooks/computer_vision/useImageSegmentation.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
  packages/react-native-executorch/src/types/imageSegmentation.ts
Due: lint, types, format-js

add new mdoel constants, fix native stuff
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/BaseImageSegmentation.cpp
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-objc

return typed arrays instead of numberp[
  packages/react-native-executorch/src/hooks/computer_vision/useImageSegmentation.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
Due: lint, types, format-js

fix
  packages/react-native-executorch/src/hooks/computer_vision/useImageSegmentation.ts
Due: lint, types, format-js

use hook in example app
  apps/computer-vision/app/image_segmentation/index.tsx
Due: lint, types, format-js

chore: review suggestions
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/BaseImageSegmentation.cpp
Due: format-objc

add type for hook return
  apps/computer-vision/app/image_segmentation/index.tsx
  packages/react-native-executorch/src/hooks/computer_vision/useImageSegmentation.ts
  packages/react-native-executorch/src/types/imageSegmentation.ts
Due: lint, types, format-js

chore: review changes
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/BaseImageSegmentation.cpp
Due: format-objc

docs: add docs
  .cspell-wordlist.txt
  apps/computer-vision/app/image_segmentation/index.tsx
  docs/docs/03-hooks/02-computer-vision/useImageSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/ImageSegmentationModule.md
  docs/docs/06-api-reference/enumerations/SelfieSegmentationLabel.md
  docs/docs/06-api-reference/type-aliases/LabelEnum.md
  docs/docs/06-api-reference/type-aliases/ModelNameOf.md
  docs/docs/06-api-reference/type-aliases/ModelSources.md
  docs/docs/06-api-reference/type-aliases/SegmentationConfig.md
  docs/docs/06-api-reference/type-aliases/SegmentationLabels.md
  docs/docs/06-api-reference/type-aliases/SegmentationModelName.md
  docs/docs/06-api-reference/type-aliases/Triple.md
  docs/docs/06-api-reference/variables/SELFIE_SEGMENTATION.md
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
  packages/react-native-executorch/src/types/imageSegmentation.ts
Due: lint, types, format-js, format-other, spell-check-other

docs: add missing links
  docs/docs/03-hooks/02-computer-vision/useImageSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/ImageSegmentationModule.md
Due: format-other, spell-check-other

fix: types and revert bg, fg in selfie segmentation
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/BaseImageSegmentation.cpp
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
Due: lint, types, format-js, format-objc

lint: add words to cspell
  .cspell-wordlist.txt
Due: none

docs: review suggestion
  docs/docs/03-hooks/02-computer-vision/useImageSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/ImageSegmentationModule.md
Due: format-other, spell-check-other

docs: fix example
  docs/docs/03-hooks/02-computer-vision/useImageSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/ImageSegmentationModule.md
Due: format-other, spell-check-other

chore: remove unused header
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
Due: format-objc

post-rebase fi
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
Due: lint, types, format-js

chore: Change version tag to next
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

chore: configure gitRevision to main and add script to handle versioned docs
  docs/package.json
  docs/scripts/build-version-docs.sh
  docs/typedoc.json
Due: format-other

ci: add workflow to check if api-reference is up-to-date
  .github/workflows/docs-build-check.yml
Due: format-other

fix
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/BaseImageSegmentation.h
Due: format-objc

fix: docs-build-check workflow (prettier step)
  .github/workflows/docs-build-check.yml
Due: format-other

test: should break ts-api-reference ci check
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
Due: lint, types, format-js
