Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

fix: reorder conditional import
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

feat: replace all expo fs imports with a conditional import
  packages/react-native-executorch/src/constants/directories.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js

fix: set openCV threads to 0
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/threads/GlobalThreadPool.h
Due: format-objc

chore: add a comment
  packages/react-native-executorch/common/rnexecutorch/threads/GlobalThreadPool.h
Due: format-objc

Update packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

feat: Remove stft calculation within the encoder (#658)
  packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-objc

fix: Import Expo FS conditionally to work with Expo 54 (#699)
  packages/react-native-executorch/src/constants/directories.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js

fix: prevent OpenCV from overriding our threading configuration (#700)
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/threads/GlobalThreadPool.h
Due: format-objc

implement Kokoro components
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/TextToSpeech.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/TextToSpeech.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/F0NPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/F0NPredictor.h
Due: format-objc

chore: update model urls for 0.6 release
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

chore: replace next version tags with version tags
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

chore: update HuggingFace model URL tags to v0.6 (#701)
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

restructurize kokoro submodules
  packages/react-native-executorch/common/rnexecutorch/data_processing/Sequential.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/F0NPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/F0NPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Types.h
Due: format-objc

deps: bump Expo to 54, specify Expo peer deps verisons
  apps/computer-vision/package.json
  apps/llm/package.json
  apps/speech-to-text/package.json
  apps/text-embeddings/package.json
  package.json
  yarn.lock
Due: format-other

fix: revert legacy imports
  apps/speech-to-text/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/package.json
  packages/react-native-executorch/scripts/create-package.sh
  packages/react-native-executorch/src/constants/directories.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js, format-other

main model logic
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Types.h
Due: format-objc

deps: fix example app deps
  apps/computer-vision/package.json
  apps/llm/package.json
  apps/speech-to-text/package.json
  apps/text-embeddings/package.json
  yarn.lock
Due: format-other

fix: remove ios cache
  .github/workflows/build-ios-llm-example.yml
Due: format-other

fix: bring back expo prebuild cache
  .github/workflows/build-ios-llm-example.yml
Due: format-other

chore: remove create-package.sh
  packages/react-native-executorch/scripts/create-package.sh
Due: none

more progress...
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
Due: format-objc

remove unnecessary file
  docs/versioned_docs/version-0.5.x/02-hooks/02-computer-vision/useTextToImage.md
Due: format-other, spell-check-other

chore: Update non-LLM benchmarks post C++ port (#678)
  docs/docs/02-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/02-hooks/01-natural-language-processing/useTextEmbeddings.md
  docs/docs/02-hooks/02-computer-vision/useClassification.md
  docs/docs/02-hooks/02-computer-vision/useImageEmbeddings.md
  docs/docs/02-hooks/02-computer-vision/useOCR.md
  docs/docs/02-hooks/02-computer-vision/useObjectDetection.md
  docs/docs/02-hooks/02-computer-vision/useStyleTransfer.md
  docs/docs/02-hooks/02-computer-vision/useTextToImage.md
  docs/docs/02-hooks/02-computer-vision/useVerticalOCR.md
  docs/docs/04-benchmarks/inference-time.md
  docs/docs/04-benchmarks/memory-usage.md
  docs/docs/04-benchmarks/model-size.md
  docs/versioned_docs/version-0.4.x/benchmarks/inference-time.md
  docs/versioned_docs/version-0.4.x/benchmarks/memory-usage.md
  docs/versioned_docs/version-0.4.x/benchmarks/model-size.md
  docs/versioned_docs/version-0.4.x/computer-vision/useClassification.md
  docs/versioned_docs/version-0.4.x/computer-vision/useOCR.md
  docs/versioned_docs/version-0.4.x/computer-vision/useObjectDetection.md
  docs/versioned_docs/version-0.4.x/computer-vision/useStyleTransfer.md
  docs/versioned_docs/version-0.4.x/computer-vision/useVerticalOCR.md
  docs/versioned_docs/version-0.4.x/natural-language-processing/useTextEmbeddings.md
  docs/versioned_docs/version-0.5.x/02-hooks/01-natural-language-processing/useSpeechToText.md
  docs/versioned_docs/version-0.5.x/02-hooks/01-natural-language-processing/useTextEmbeddings.md
  docs/versioned_docs/version-0.5.x/02-hooks/02-computer-vision/useClassification.md
  docs/versioned_docs/version-0.5.x/02-hooks/02-computer-vision/useImageEmbeddings.md
  docs/versioned_docs/version-0.5.x/02-hooks/02-computer-vision/useOCR.md
  docs/versioned_docs/version-0.5.x/02-hooks/02-computer-vision/useObjectDetection.md
  docs/versioned_docs/version-0.5.x/02-hooks/02-computer-vision/useStyleTransfer.md
  docs/versioned_docs/version-0.5.x/02-hooks/02-computer-vision/useVerticalOCR.md
  docs/versioned_docs/version-0.5.x/04-benchmarks/inference-time.md
  docs/versioned_docs/version-0.5.x/04-benchmarks/memory-usage.md
  docs/versioned_docs/version-0.5.x/04-benchmarks/model-size.md
Due: format-other, spell-check-other

kokoro main inference implemented
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
Due: format-objc

chore: update docs link to properly link to main page
  docs/docusaurus.config.js
Due: lint, types, format-js

text to speech prototype
  apps/text-to-speech/.gitignore
  apps/text-to-speech/App.tsx
  apps/text-to-speech/app.json
  apps/text-to-speech/assets/adaptive-icon.png
  apps/text-to-speech/assets/favicon.png
  apps/text-to-speech/assets/icon.png
  apps/text-to-speech/assets/splash-icon.png
  apps/text-to-speech/assets/swm_icon.svg
  apps/text-to-speech/declarations.d.ts
  apps/text-to-speech/index.ts
  apps/text-to-speech/metro.config.js
  apps/text-to-speech/package.json
  apps/text-to-speech/screens/TextToSpeechScreen.tsx
  apps/text-to-speech/tsconfig.json
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/TextToSpeech.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/TextToSpeech.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/F0NPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/types/tts.ts
  yarn.lock
Due: lint, types, format-js, format-objc, format-other

various fixes & improvements
  apps/text-to-speech/.gitignore
  apps/text-to-speech/App.tsx
  apps/text-to-speech/app.json
  apps/text-to-speech/assets/adaptive-icon.png
  apps/text-to-speech/assets/favicon.png
  apps/text-to-speech/assets/icon.png
  apps/text-to-speech/assets/splash-icon.png
  apps/text-to-speech/assets/swm_icon.svg
  apps/text-to-speech/declarations.d.ts
  apps/text-to-speech/index.ts
  apps/text-to-speech/metro.config.js
  apps/text-to-speech/package.json
  apps/text-to-speech/screens/TextToSpeechScreen.tsx
  apps/text-to-speech/tsconfig.json
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/data_processing/Sequential.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/F0NPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
Due: lint, types, format-js, format-objc, format-other

Temporary testing screen
  apps/speech-to-text/App.tsx
  apps/speech-to-text/app.json
  apps/speech-to-text/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
Due: lint, types, format-js, format-objc, format-other

ci: add workflow publishing with nightly releases
  .github/workflows/npm-publish.yml
  packages/react-native-executorch/scripts/create-package.sh
Due: format-other

ci: add publishing workflow (#705)
  .github/workflows/npm-publish.yml
  packages/react-native-executorch/scripts/create-package.sh
Due: format-other

deps: upgrade Expo to 54, specify Expo dependencies in peerDependencies (#703)
  .github/workflows/build-ios-llm-example.yml
  apps/computer-vision/package.json
  apps/llm/package.json
  apps/speech-to-text/package.json
  apps/speech-to-text/screens/SpeechToTextScreen.tsx
  apps/text-embeddings/package.json
  package.json
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/constants/directories.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
  yarn.lock
Due: lint, types, format-js, format-other

v0.6.0, minor README changes
  README.md
  RELEASE.md
  packages/react-native-executorch/package.json
Due: format-other, spell-check-other

release: v0.6.0 (#706)
  README.md
  RELEASE.md
  packages/react-native-executorch/package.json
Due: format-other, spell-check-other

fix: mention quantized whisper in docs
  docs/versioned_docs/version-0.6.0/02-hooks/01-natural-language-processing/useSpeechToText.md
Due: format-other, spell-check-other
