Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

chore: remove redundant permissions
  apps/computer-vision/app.json
Due: format-other

chore: remove redundant entries from infoplist
  apps/computer-vision/app.json
Due: format-other

feat: add PARAPHRASE_MULTILINGUAL_MINILM_L12_V2 text embeddings model (#1115)
  apps/text-embeddings/app/text-embeddings/index.tsx
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/memory-usage.md
  docs/docs/02-benchmarks/model-size.md
  docs/docs/03-hooks/01-natural-language-processing/useTextEmbeddings.md
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/types/textEmbeddings.ts
Due: lint, types, format-js, format-other, spell-check-other

refactor: unify existing codebase to use Point and BBox sruct across the vision stack
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/utils/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/utils/RecognitionHandlerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/utils/RecognizerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/utils/RecognizerUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/pose_estimation/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Processing.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Types.h
Due: format-objc

chore: update lockfile once again
  yarn.lock
Due: none

chore: use scoped lock
  packages/react-native-executorch-webrtc/ios/ExecutorchFrameProcessor.mm
Due: format-objc

fix: use react-native-device-info for simulator detection
  apps/computer-vision/components/BottomBar.tsx
  apps/computer-vision/package.json
  yarn.lock
Due: lint, types, format-js, format-other

Add CoreML whisper models
  apps/llm/app/index.tsx
  apps/llm/app/voice_chat/index.tsx
  apps/speech/package.json
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.cpp
  packages/react-native-executorch/src/constants/modelUrls.ts
  yarn.lock
Due: lint, types, format-js, format-objc, format-other

fix: read text-to-image scheduler config via ResourceFetcher adapter
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
Due: lint, types, format-js

fix: correct BareResourceFetcher import in documentation
  docs/docs/01-fundamentals/02-loading-models.md
  docs/versioned_docs/version-0.8.x/01-fundamentals/02-loading-models.md
Due: format-other, spell-check-other

chore: remove unused expo-constants from llm and text embeddings app
  apps/llm/package.json
  apps/text-embeddings/package.json
  yarn.lock
Due: format-other

chore: remove redundant useref
  apps/computer-vision/components/BottomBar.tsx
Due: lint, types, format-js

Update model urls
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

Change default model for iOS devices
  apps/speech/screens/SpeechToTextScreen.tsx
Due: lint, types, format-js

chore: fix peer deps of demo apps
  apps/computer-vision/package.json
  apps/llm/package.json
  apps/speech/package.json
  apps/text-embeddings/package.json
  yarn.lock
Due: format-other

refactor(ocr): reduce OCR bounding boxes from 4 vertices to 2-point AABB
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/OCRTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/VerticalOCRTest.cpp
  packages/react-native-executorch/src/types/ocr.ts
Due: lint, types, format-js, format-objc

fix: small fixes in segment anything example app
  apps/computer-vision/app/segment_anything/index.tsx
Due: lint, types, format-js

feat: add CoreML models
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

feat: implement initial FastSAM instance segmentation screen and model integration
  .cspell-wordlist.txt
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/fast_sam/index.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/instance_segmentation/index.tsx
  packages/react-native-executorch/src/constants/commonVision.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
  packages/react-native-executorch/src/utils/fastSAMPrompts.ts
Due: lint, types, format-js

Update packages/react-native-executorch/src/utils/segmentAnythingPrompts.ts
  packages/react-native-executorch/src/utils/segmentAnythingPrompts.ts
Due: lint, types, format-js

feat: rename FastSAM screen and update documentation links to Segment Anything
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/segment_anything/index.tsx
  docs/docs/03-hooks/02-computer-vision/segment-anything.md
Due: lint, types, format-js, format-other, spell-check-other

feat: optimize FastSAM selection algorithms and improve performance logging
  apps/computer-vision/app/fast_sam/index.tsx
  packages/react-native-executorch/src/utils/fastSAMPrompts.ts
Due: lint, types, format-js

docs: add initial docs generated
  .cspell-wordlist.txt
  docs/docs/03-hooks/02-computer-vision/segment-anything.md
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
Due: format-other, spell-check-other

refactor: simplify active model selection in InstanceSegmentationTask
  apps/computer-vision/components/vision_camera/tasks/InstanceSegmentationTask.tsx
Due: lint, types, format-js

feat: add FastSAM to vision camera
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/vision_camera/tasks/InstanceSegmentationTask.tsx
Due: lint, types, format-js

feat: add text prompts and modify the example app
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/fast_sam/index.tsx
  apps/computer-vision/app/index.tsx
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils/segmentAnythingPrompts.ts
Due: lint, types, format-js

refactor: move FastSAMLabel enum definition to a more appropriate location
  packages/react-native-executorch/src/constants/commonVision.ts
Due: lint, types, format-js

fix: fix keyboard handling and layout for SegmentAnythingScreen
  apps/computer-vision/app/segment_anything/index.tsx
Due: lint, types, format-js

chore: change TS types
  apps/computer-vision/components/ImageWithOCRBboxes.tsx
  apps/computer-vision/components/vision_camera/tasks/OCRTask.tsx
  docs/docs/03-hooks/02-computer-vision/useOCR.md
  docs/docs/03-hooks/02-computer-vision/useVerticalOCR.md
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Types.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/OCRTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/VerticalOCRTest.cpp
  packages/react-native-executorch/src/types/ocr.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

fix: fix cropping logic in SegmentAnythingScreen for text prompts
  apps/computer-vision/app/segment_anything/index.tsx
  packages/react-native-executorch/src/utils/segmentAnythingPrompts.ts
Due: lint, types, format-js

feat: add common vision utilities
  packages/react-native-executorch/src/utils/commonVision.ts
  packages/react-native-executorch/src/utils/segmentAnythingPrompts.ts
Due: lint, types, format-js

docs(pipeline): bump fork SHA pin to bd24ac7681 + expand iOS build steps
  .cspell-wordlist.txt
  packages/react-native-executorch/NATIVE_LIBS_PIPELINE.md
Due: format-other, spell-check-other

Add explicit timeout parameter
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/types/stt.ts
Due: lint, types, format-js, format-objc

Concurrency fixes & automatic cleaunp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
Due: format-objc

fix: BareResourceFetcher import path in documentation (#1129)
  docs/docs/01-fundamentals/02-loading-models.md
  docs/versioned_docs/version-0.8.x/01-fundamentals/02-loading-models.md
Due: format-other, spell-check-other
