Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

docs(schema): document SpecMatch.dims and add dynamic dimension accessor
  packages/react-native-executorch/src/core/schema.ts
Due: lint, types, format-js

small fix
  packages/react-native-executorch/src/core/model.ts
  packages/react-native-executorch/src/core/schema.ts
  packages/react-native-executorch/src/extensions/cv/tasks/classification.ts
  packages/react-native-executorch/src/extensions/cv/tasks/imageEmbedding.ts
  packages/react-native-executorch/src/extensions/cv/tasks/instanceSegmentation.ts
  packages/react-native-executorch/src/extensions/cv/tasks/keypointDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/objectDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/sdxsTextToImage.ts
  packages/react-native-executorch/src/extensions/cv/tasks/semanticSegmentation.ts
  packages/react-native-executorch/src/extensions/cv/tasks/styleTransfer.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/textEmbedding.ts
  packages/react-native-executorch/src/extensions/speech/tasks/fsmnVoiceActivityDetection.ts
Due: lint, types, format-js

docs(skills): update model-schema-validation skill to reflect constr helper and inline DimRef objects
  .agents/skills/model-schema-validation/SKILL.md
Due: format-other, spell-check-other

small fix
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/schema.h
Due: format-objc

refactor schema validation to use validateSpec across all tasks
  apps/computer-vision/app/inspect/index.tsx
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/model.h
  packages/react-native-executorch/cpp/core/schema.cpp
  packages/react-native-executorch/cpp/core/schema.h
  packages/react-native-executorch/src/core/modelSchema.ts
  packages/react-native-executorch/src/core/schema.ts
  packages/react-native-executorch/src/extensions/cv/tasks/classification.ts
  packages/react-native-executorch/src/extensions/cv/tasks/imageEmbedding.ts
  packages/react-native-executorch/src/extensions/cv/tasks/instanceSegmentation.ts
  packages/react-native-executorch/src/extensions/cv/tasks/keypointDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/objectDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
  packages/react-native-executorch/src/extensions/cv/tasks/sdxsTextToImage.ts
  packages/react-native-executorch/src/extensions/cv/tasks/semanticSegmentation.ts
  packages/react-native-executorch/src/extensions/cv/tasks/styleTransfer.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/textEmbedding.ts
  packages/react-native-executorch/src/extensions/speech/tasks/fsmnVoiceActivityDetection.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils.ts
Due: lint, types, format-js, format-objc

rebase
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
Due: lint, types, format-js

docs(schema): expand JSDoc comments and clarify validation phases
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/model.h
  packages/react-native-executorch/cpp/core/schema.h
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
Due: lint, types, format-js, format-objc

fix attribute name
  packages/react-native-executorch/cpp/core/schema.cpp
  packages/react-native-executorch/cpp/core/schema.h
Due: format-objc

fix
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/schema.cpp
Due: format-objc

fix
  packages/react-native-executorch/src/extensions/speech/tasks/fsmnVoiceActivityDetection.ts
Due: lint, types, format-js

fix(schema): throw on step === 0 in RangeDim builder
  packages/react-native-executorch/src/core/schema.ts
Due: lint, types, format-js

refactor: use std::visit pattern for variant matching in tensor_helpers and schema.cpp
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/schema.cpp
  packages/react-native-executorch/cpp/core/schema.h
  packages/react-native-executorch/cpp/core/tensor_helpers.cpp
Due: format-objc

docs: clarify audio padding comment in whisperSpeechToText
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
Due: lint, types, format-js

docs(schema): document get_model_schema companion method and spec source merge behavior
  packages/react-native-executorch/src/core/schema.ts
Due: lint, types, format-js

fix(model): add bad model export cause to execution error message
  packages/react-native-executorch/cpp/core/model.cpp
Due: format-objc

fix(model): fix error string
  packages/react-native-executorch/cpp/core/model.cpp
Due: format-objc

docs: update model-schema-validation skill example and accessors
  .agents/skills/model-schema-validation/SKILL.md
Due: format-other, spell-check-other

fix(schema): restore bind terminology in schema matching and document get_model_schema
  packages/react-native-executorch/src/core/schema.ts
Due: lint, types, format-js

fix: error message
  packages/react-native-executorch/cpp/core/model.cpp
Due: format-objc

fix(core): improve error messages for model, schema, and tensor_helpers
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/schema.cpp
  packages/react-native-executorch/cpp/core/tensor_helpers.cpp
Due: format-objc

[RNE Rewrite] refactor!: add better model schema contract and validation logic (#1327)
  .agents/skills/README.md
  .agents/skills/add-task-pipeline/SKILL.md
  .agents/skills/core-guidelines/SKILL.md
  .agents/skills/model-schema-validation/SKILL.md
  apps/computer-vision/app/inspect/index.tsx
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/model.h
  packages/react-native-executorch/cpp/core/schema.cpp
  packages/react-native-executorch/cpp/core/schema.h
  packages/react-native-executorch/cpp/core/tensor_helpers.cpp
  packages/react-native-executorch/cpp/core/tensor_helpers.h
  packages/react-native-executorch/src/core/model.ts
  packages/react-native-executorch/src/core/modelSchema.ts
  packages/react-native-executorch/src/core/schema.ts
  packages/react-native-executorch/src/extensions/cv/tasks/classification.ts
  packages/react-native-executorch/src/extensions/cv/tasks/imageEmbedding.ts
  packages/react-native-executorch/src/extensions/cv/tasks/instanceSegmentation.ts
  packages/react-native-executorch/src/extensions/cv/tasks/keypointDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/objectDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
  packages/react-native-executorch/src/extensions/cv/tasks/sdxsTextToImage.ts
  packages/react-native-executorch/src/extensions/cv/tasks/semanticSegmentation.ts
  packages/react-native-executorch/src/extensions/cv/tasks/styleTransfer.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/textEmbedding.ts
  packages/react-native-executorch/src/extensions/speech/tasks/fsmnVoiceActivityDetection.ts
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

docs(cpp): add missing C++ documentation in header files
  packages/react-native-executorch/cpp/core/conversions.h
  packages/react-native-executorch/cpp/core/dtype.h
  packages/react-native-executorch/cpp/core/tensor.h
  packages/react-native-executorch/cpp/extensions/cv/utils.h
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.h
Due: format-objc

refactor(cpp): rename dtype conversion functions to explicit xToY names
  packages/react-native-executorch/cpp/core/conversions.h
  packages/react-native-executorch/cpp/core/dtype.cpp
  packages/react-native-executorch/cpp/core/dtype.h
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/schema.cpp
  packages/react-native-executorch/cpp/core/tensor.cpp
  packages/react-native-executorch/cpp/core/tensor_helpers.cpp
Due: format-objc

[RNE Rewrite] docs(cpp): add missing C++ documentation in header files (#1337)
  packages/react-native-executorch/cpp/core/conversions.h
  packages/react-native-executorch/cpp/core/dtype.cpp
  packages/react-native-executorch/cpp/core/dtype.h
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/schema.cpp
  packages/react-native-executorch/cpp/core/tensor.cpp
  packages/react-native-executorch/cpp/core/tensor.h
  packages/react-native-executorch/cpp/core/tensor_helpers.cpp
  packages/react-native-executorch/cpp/extensions/cv/utils.h
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.h
Due: format-objc

[RNE Rewrite] feat: integrate resource fetcher on react-native-blob-util
  apps/computer-vision/package.json
  apps/nlp/package.json
  apps/speech/package.json
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/fetcher/ResourceFetcher.ts
  packages/react-native-executorch/src/fetcher/index.ts
  packages/react-native-executorch/src/fetcher/telemetry.ts
  packages/react-native-executorch/src/hooks/useResourceDownload.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils.ts
  yarn.lock
Due: lint, types, format-js, format-other

chore(fetcher): satisfy jsdoc lint (internal helpers, @category)
  packages/react-native-executorch/src/fetcher/ResourceFetcher.ts
  packages/react-native-executorch/src/fetcher/telemetry.ts
Due: lint, types, format-js

feat(fetcher): add setTelemetryEnabled opt-out for download analytics
  packages/react-native-executorch/src/fetcher/index.ts
  packages/react-native-executorch/src/fetcher/telemetry.ts
Due: lint, types, format-js

[RNE Rewrite] fix(fetcher): use Android DownloadManager for reliable large downloads
  packages/react-native-executorch/src/fetcher/ResourceFetcher.ts
Due: lint, types, format-js

[RNE Rewrite] refactor(fetcher): make download() resolve URLs anywhere in a config
  packages/react-native-executorch/src/fetcher/fetcher.ts
  packages/react-native-executorch/src/fetcher/index.ts
  packages/react-native-executorch/src/hooks/useClassifier.ts
  packages/react-native-executorch/src/hooks/useImageEmbedder.ts
  packages/react-native-executorch/src/hooks/useInstanceSegmenter.ts
  packages/react-native-executorch/src/hooks/useKeypointDetector.ts
  packages/react-native-executorch/src/hooks/useObjectDetector.ts
  packages/react-native-executorch/src/hooks/useResourceDownload.ts
  packages/react-native-executorch/src/hooks/useSemanticSegmenter.ts
  packages/react-native-executorch/src/hooks/useSpeechToText.ts
  packages/react-native-executorch/src/hooks/useStyleTransfer.ts
  packages/react-native-executorch/src/hooks/useTextEmbedder.ts
  packages/react-native-executorch/src/hooks/useTextToImage.ts
  packages/react-native-executorch/src/hooks/useTokenizer.ts
  packages/react-native-executorch/src/hooks/useVoiceActivityDetector.ts
Due: lint, types, format-js

[RNE Rewrite] docs(utils): explain inspectModel's throwaway download
  packages/react-native-executorch/src/utils.ts
Due: lint, types, format-js

[RNE Rewrite] fix(telemetry): report isEmulator from the native layer
  packages/react-native-executorch/cpp/core/install.cpp
  packages/react-native-executorch/cpp/core/utils.cpp
  packages/react-native-executorch/cpp/core/utils.h
  packages/react-native-executorch/src/fetcher/telemetry.ts
Due: lint, types, format-js, format-objc

fix(schema): require positive integer min bound for RangeDim
  packages/react-native-executorch/cpp/core/schema.cpp
  packages/react-native-executorch/src/core/schema.ts
Due: lint, types, format-js, format-objc

[RNE Rewrite] fix(schema): require positive integer min bound for RangeDim (#1346)
  packages/react-native-executorch/cpp/core/schema.cpp
  packages/react-native-executorch/src/core/schema.ts
Due: lint, types, format-js, format-objc

ci: make npm publish dist-tag an explicit choice
  .github/workflows/npm-publish.yml
Due: format-other

ci: allow an explicit dist-tag override
  .github/workflows/npm-publish.yml
Due: format-other

ci: make npm publish dist-tag an explicit choice (#1348)
  .github/workflows/npm-publish.yml
Due: format-other

ci: make npm publish dist-tag an explicit choice (0.8) (#1349)
  .github/workflows/npm-publish.yml
Due: format-other
