Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

Apply suggestions from code review
  packages/react-native-executorch/common/rnexecutorch/Log.h
Due: format-objc

chore: remove redundant member from base encoder-decoder
  packages/react-native-executorch/common/rnexecutorch/models/EncoderDecoderBase.h
Due: format-objc

feat: add execute() to basemodel
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
Due: format-objc

feat: export Moonshine to JS
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
Due: format-objc

fix: remove audioapi include from pffft
  packages/react-native-executorch/common/pfft/pfft.c
Due: format-objc

feat: add JSI conversion for int64_t
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
Due: format-objc

fix: export decode method to JS
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
Due: format-objc

wip: whisper impl
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/Whisper.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/Whisper.h
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/Log.h
  packages/react-native-executorch/common/rnexecutorch/Log.h
Due: format-objc

Apply suggestions from code review
  packages/react-native-executorch/android/src/main/cpp/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/Log.h
  packages/react-native-executorch/common/rnexecutorch/tests/LogTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/README.md
  packages/react-native-executorch/common/rnexecutorch/tests/run_all_tests.sh
  packages/react-native-executorch/common/rnexecutorch/tests/run_test.sh
  packages/react-native-executorch/react-native-executorch.podspec
Due: format-objc, format-other, spell-check-other

Apply suggestions from code review
  packages/react-native-executorch/common/rnexecutorch/tests/run_all_tests.sh
  packages/react-native-executorch/common/rnexecutorch/tests/run_test.sh
  packages/react-native-executorch/react-native-executorch.podspec
Due: none

Update packages/react-native-executorch/common/rnexecutorch/tests/run_all_tests.sh
  packages/react-native-executorch/common/rnexecutorch/tests/run_all_tests.sh
Due: none

Update README.md
  README.md
Due: format-other, spell-check-other

Fix interpunction
  README.md
Due: format-other, spell-check-other

Make emojis consistent where possible
  README.md
Due: format-other, spell-check-other

wip
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
Due: format-objc

wip
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/Moonshine.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/Moonshine.h
Due: format-objc

Add clang-format and pre-commit check for it
  .clang-format
  .clang-format-ignore
  .pre-commit-config.yaml
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
Due: format-objc

Update .clang-format-ignore
  .clang-format-ignore
Due: none

moonshine work whisper doesnt
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
Due: format-objc

chore: remove unused incldue
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
Due: format-objc

chore: add execute wrapper to BaseModel
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
Due: format-objc

chore: remove testing stuff
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
Due: format-objc

Delete .clang-format
  .clang-format
Due: none

Delete .clang-format-ignore
  .clang-format-ignore
Due: none

Delete .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Add complex logging (#422)
  packages/react-native-executorch/android/src/main/cpp/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/Log.cpp
  packages/react-native-executorch/common/rnexecutorch/Log.h
  packages/react-native-executorch/common/rnexecutorch/tests/LogTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/README.md
  packages/react-native-executorch/common/rnexecutorch/tests/run_all_tests.sh
  packages/react-native-executorch/common/rnexecutorch/tests/run_test.sh
  packages/react-native-executorch/react-native-executorch.podspec
Due: format-objc, format-other, spell-check-other

fix: resource fetcher bug when directory didnt exist
  apps/computer-vision/ios/Podfile.lock
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

fix: resource fetcher check if directory exists (#436)
  apps/computer-vision/ios/Podfile.lock
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

Improve numerical utils
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.h
Due: format-objc

Add newlines
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.h
  packages/react-native-executorch/common/rnexecutorch/tests/NumericalTest.cpp
Due: format-objc

Improve testing using CMakeLists.txt
  .cspell-wordlist.txt
  .gitmodules
  packages/react-native-executorch/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.h
  packages/react-native-executorch/common/rnexecutorch/tests/NumericalTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/README.md
  packages/react-native-executorch/common/rnexecutorch/tests/run_all_tests.sh
  packages/react-native-executorch/common/rnexecutorch/tests/run_test.sh
Due: format-objc, format-other, spell-check-other

Small fixes
  .gitmodules
  packages/react-native-executorch/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/CMakeLists.txt
Due: none

chore: delete Whisper implementation
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/Whisper.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/Whisper.h
Due: format-objc

chore: delete whisper preprocessors
  packages/react-native-executorch/common/rnexecutorch/preprocessors/WhisperPreprocessor.cpp
  packages/react-native-executorch/common/rnexecutorch/preprocessors/WhisperPreprocessor.h
Due: format-objc

chore: remove whisper impl
  packages/react-native-executorch/common/rnexecutorch/models/stt/Whisper.h
Due: format-objc

Format all files with `clang-format` (#435)
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
Due: format-objc
