Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

Update docs & API reference
  docs/docs/03-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/04-typescript-api/01-natural-language-processing/SpeechToTextModule.md
  docs/docs/06-api-reference/interfaces/TextToSpeechPhonemeInput.md
  docs/docs/06-api-reference/interfaces/TextToSpeechStreamingCallbacks.md
  docs/docs/06-api-reference/interfaces/TextToSpeechStreamingPhonemeInput.md
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-other, spell-check-other

Fix S2T tests
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SpeechToTextTest.cpp
Due: format-objc

fix(kokoro): register streamStop on JSI host object (#951)
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
Due: format-objc

Add quantized .en models & fix test URLs
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

fix: use RNFS.downloadFile on Android to avoid background downloader tasksMap bug
  packages/bare-resource-fetcher/src/ResourceFetcher.ts
Due: lint, types, format-js

Fix command for versioning documentation
  docs/README.md
Due: format-other, spell-check-other

docs: add bare_rn app to Demo Apps section in README
  README.md
Due: format-other, spell-check-other

chore: exclude llm_bare app from workspace
  apps/llm_bare/.gitignore
  apps/llm_bare/App.tsx
  apps/llm_bare/ios/Podfile.lock
  apps/llm_bare/metro.config.js
  apps/llm_bare/package.json
  apps/llm_bare/yarn.lock
  apps/speech-to-text/App.tsx
  packages/bare-adapter/package.json
  packages/bare-adapter/src/ResourceFetcher.ts
  packages/bare-adapter/src/ResourceFetcherUtils.ts
  packages/bare-adapter/src/constants/directories.ts
  packages/bare-adapter/src/index.ts
  packages/bare-adapter/tsconfig.json
  packages/expo-adapter/package.json
  packages/expo-adapter/src/ResourceFetcher.ts
  packages/expo-adapter/src/ResourceFetcherUtils.ts
  packages/expo-adapter/src/constants/directories.ts
  packages/expo-adapter/src/index.ts
  packages/expo-adapter/tsconfig.json
  yarn.lock
Due: lint, types, format-js, format-other

fix: regenerate lockfile entries for @react-native/metro-config@0.81.5
  yarn.lock
Due: none

chore: update Node version in .nvmrc and adjust typecheck scripts in package.json for bare and expo adapters
  packages/bare-resource-fetcher/package.json
Due: format-other

fix: reset yarn.lock to main and regenerate cleanly for bare_rn workspace
  yarn.lock
Due: none

feat: integrate MMKV for persistent state storage in background downloads
  apps/llm_bare/android/app/build.gradle
Due: none

feat: enhance resource fetcher with error handling and new methods for better control
  packages/bare-adapter/src/ResourceFetcher.ts
  packages/bare-adapter/src/constants/directories.ts
  packages/expo-adapter/src/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js

chore: add react-native-executorch as a dependency to adapters
  yarn.lock
Due: none

feat: add resource fetcher adapters for Expo and bare React Native
  apps/speech-to-text/App.tsx
  packages/bare-adapter/package.json
  packages/bare-adapter/src/ResourceFetcher.ts
  packages/bare-adapter/src/ResourceFetcherUtils.ts
  packages/bare-adapter/src/constants/directories.ts
  packages/bare-adapter/src/index.ts
  packages/bare-adapter/tsconfig.json
  packages/expo-adapter/package.json
  packages/expo-adapter/src/ResourceFetcher.ts
  packages/expo-adapter/src/ResourceFetcherUtils.ts
  packages/expo-adapter/src/constants/directories.ts
  packages/expo-adapter/src/index.ts
  packages/expo-adapter/tsconfig.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/smollm_tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/t2i_tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/test_image.jpg
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/whisper_tokenizer.json
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
  yarn.lock
Due: lint, types, format-js, format-other

feat: add bare React Native LLM chat example app
  apps/bare_rn/.eslintrc.js
  apps/bare_rn/.gitignore
  apps/bare_rn/App.tsx
  apps/bare_rn/android/app/build.gradle
  apps/bare_rn/android/gradle.properties
  apps/bare_rn/babel.config.js
  apps/bare_rn/ios/Podfile.lock
  apps/bare_rn/ios/bare_rn-Bridging-Header.h
  apps/bare_rn/ios/bare_rn.xcodeproj/project.pbxproj
  apps/bare_rn/ios/bare_rn/AppDelegate.swift
  apps/bare_rn/ios/bare_rn/PrivacyInfo.xcprivacy
  apps/bare_rn/metro.config.js
  apps/bare_rn/package.json
  apps/bare_rn/yarn.lock
Due: lint, types, format-js, format-objc, format-other

fix: correct corrupted jest@29.7.0 lockfile entry with wrong dependencies
  yarn.lock
Due: none

chore: move yarn prepare from adapter typecheck scripts to CI workflow
  .github/workflows/ci.yml
Due: format-other

chore: remove bare app directories from .gitignore
  .gitignore
Due: none

chore: replace generic error with RnExecutorchError in ResourceFetcher for better error handling
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

chore: update react-native-executorch dependency to allow any version
  yarn.lock
Due: none

fix: revert bare-resource-fetcher typecheck script to avoid CI race condition
  packages/bare-resource-fetcher/package.json
Due: format-other

fix: add kconv gem for Ruby 3.4 compatibility in bare_rn
  apps/bare_rn/Gemfile
Due: none

fix: upgrade to CocoaPods >= 1.16.2 for Ruby 3.4 compatibility
  apps/bare_rn/Gemfile
Due: none

fix: fix Android Gradle paths for yarn workspace monorepo
  apps/bare_rn/android/app/build.gradle
  apps/bare_rn/android/settings.gradle
Due: none

fix: add Gemfile.lock and Podfile.lock for bare_rn iOS
  apps/bare_rn/Gemfile.lock
  apps/bare_rn/ios/Podfile.lock
  apps/bare_rn/ios/bare_rn.xcodeproj/project.pbxproj
  apps/bare_rn/ios/bare_rn.xcworkspace/contents.xcworkspacedata
  apps/bare_rn/ios/bare_rn/Info.plist
  apps/bare_rn/ios/bare_rn/PrivacyInfo.xcprivacy
Due: none

feat: add ios/ and android/ native project files for bare_rn app
  .gitignore
  apps/bare_rn/android/app/build.gradle
  apps/bare_rn/android/app/debug.keystore
  apps/bare_rn/android/app/proguard-rules.pro
  apps/bare_rn/android/app/src/main/AndroidManifest.xml
  apps/bare_rn/android/app/src/main/java/com/barern/MainActivity.kt
  apps/bare_rn/android/app/src/main/java/com/barern/MainApplication.kt
  apps/bare_rn/android/app/src/main/res/drawable/rn_edit_text_material.xml
  apps/bare_rn/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  apps/bare_rn/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  apps/bare_rn/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  apps/bare_rn/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  apps/bare_rn/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  apps/bare_rn/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  apps/bare_rn/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  apps/bare_rn/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  apps/bare_rn/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  apps/bare_rn/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  apps/bare_rn/android/app/src/main/res/values/strings.xml
  apps/bare_rn/android/app/src/main/res/values/styles.xml
  apps/bare_rn/android/build.gradle
  apps/bare_rn/android/gradle.properties
  apps/bare_rn/android/gradle/wrapper/gradle-wrapper.jar
  apps/bare_rn/android/gradle/wrapper/gradle-wrapper.properties
  apps/bare_rn/android/gradlew
  apps/bare_rn/android/gradlew.bat
  apps/bare_rn/android/settings.gradle
  apps/bare_rn/ios/.xcode.env
  apps/bare_rn/ios/Podfile
  apps/bare_rn/ios/bare_rn.xcodeproj/project.pbxproj
  apps/bare_rn/ios/bare_rn.xcodeproj/xcshareddata/xcschemes/bare_rn.xcscheme
  apps/bare_rn/ios/bare_rn/AppDelegate.swift
  apps/bare_rn/ios/bare_rn/Images.xcassets/AppIcon.appiconset/Contents.json
  apps/bare_rn/ios/bare_rn/Images.xcassets/Contents.json
  apps/bare_rn/ios/bare_rn/Info.plist
  apps/bare_rn/ios/bare_rn/LaunchScreen.storyboard
  apps/bare_rn/ios/bare_rn/PrivacyInfo.xcprivacy
Due: format-other

fix: pin CFPropertyList >= 3.0.9 to fix Ruby 3.4 kconv removal
  apps/bare_rn/Gemfile
Due: none

docs: Fix command for versioning documentation (#952)
  docs/README.md
Due: format-other, spell-check-other

test: fix one test case in STT
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SpeechToTextTest.cpp
Due: format-objc

feat: update EfficientNet V2 S model paths and add quantized model support
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

feat: update models in example apps to use quantized versions by default
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/app/semantic_segmentation/index.tsx
  apps/computer-vision/app/style_transfer/index.tsx
  apps/text-embeddings/app/clip-embeddings/index.tsx
Due: lint, types, format-js

docs: update inference time and model size
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/model-size.md
Due: format-other, spell-check-other

feat: add modelName property for changed models
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
