Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

fix: read text-to-image scheduler config via ResourceFetcher adapter (#1128)
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
Due: lint, types, format-js

feat: add PARAPHRASE_MULTILINGUAL_MINILM_L12_V2 text embeddings model (#1115)
  apps/text-embeddings/app/text-embeddings/index.tsx
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/memory-usage.md
  docs/docs/02-benchmarks/model-size.md
  docs/docs/03-hooks/01-natural-language-processing/useTextEmbeddings.md
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/types/textEmbeddings.ts
Due: lint, types, format-js, format-other, spell-check-other

fix: simulator detection in demo apps (#1125)
  apps/computer-vision/components/BottomBar.tsx
  apps/computer-vision/package.json
  apps/llm/package.json
  apps/speech/package.json
  apps/text-embeddings/package.json
  yarn.lock
Due: lint, types, format-js, format-other

Implement VAD streaming
  apps/speech/App.tsx
  apps/speech/screens/VoiceActivityDetectionScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useVAD.ts
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
  packages/react-native-executorch/src/types/vad.ts
Due: lint, types, format-js, format-objc

feat: add Fishjam background blur integration (#1080)
  .cspell-wordlist.txt
  docs/docs/05-utilities/01-webrtc-integration.md
  packages/react-native-executorch-webrtc/README.md
  packages/react-native-executorch-webrtc/android/CMakeLists.txt
  packages/react-native-executorch-webrtc/android/build.gradle
  packages/react-native-executorch-webrtc/android/gradle/wrapper/gradle-wrapper.jar
  packages/react-native-executorch-webrtc/android/gradle/wrapper/gradle-wrapper.properties
  packages/react-native-executorch-webrtc/android/gradlew
  packages/react-native-executorch-webrtc/android/gradlew.bat
  packages/react-native-executorch-webrtc/android/src/main/AndroidManifest.xml
  packages/react-native-executorch-webrtc/android/src/main/cpp/FrameProcessorBridge.cpp
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchFrameProcessor.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchFrameProcessorFactory.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchWebRTC.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchWebRTCModule.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/ExecutorchWebRTCPackage.kt
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/gl/FullscreenQuad.java
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/gl/GlBlurRenderer.java
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/gl/GlFramebuffer.java
  packages/react-native-executorch-webrtc/android/src/main/java/com/executorch/webrtc/gl/GlProgram.java
  packages/react-native-executorch-webrtc/ios/ExecutorchFrameProcessor.h
  packages/react-native-executorch-webrtc/ios/ExecutorchFrameProcessor.mm
  packages/react-native-executorch-webrtc/ios/ExecutorchWebRTC.h
  packages/react-native-executorch-webrtc/ios/ExecutorchWebRTC.mm
  packages/react-native-executorch-webrtc/package.json
  packages/react-native-executorch-webrtc/react-native-executorch-webrtc.podspec
  packages/react-native-executorch-webrtc/react-native.config.js
  packages/react-native-executorch-webrtc/src/BackgroundBlur.ts
  packages/react-native-executorch-webrtc/src/NativeBackgroundBlur.ts
  packages/react-native-executorch-webrtc/src/index.ts
  packages/react-native-executorch-webrtc/src/useBackgroundBlur.ts
  packages/react-native-executorch-webrtc/tsconfig.json
  yarn.lock
Due: lint, types, format-js, format-objc, format-other, spell-check-other

Integrate VAD with STT
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/schema/ASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/schema/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/DecodingOptions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/Options.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/types/stt.ts
  packages/react-native-executorch/src/types/vad.ts
Due: lint, types, format-js, format-objc

docs: update docs
  docs/docs/03-hooks/02-computer-vision/segment-anything.md
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
Due: format-other, spell-check-other

feat: enhance selectByText function to support multiple top matches
  .cspell-wordlist.txt
  apps/computer-vision/app/segment_anything/index.tsx
  packages/react-native-executorch/src/utils/segmentAnythingPrompts.ts
Due: lint, types, format-js

fix: add pointerEvents="none" to overlay view in ImageWithMasks component
  apps/computer-vision/components/ImageWithMasks.tsx
Due: lint, types, format-js

docs: update inference time and model size documentation; add FastSAM usage tips
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/model-size.md
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
Due: format-other, spell-check-other

docs(pipeline): bump fork SHA to 3ce953dbde + reproducible iOS build steps
  .cspell-wordlist.txt
  packages/react-native-executorch/NATIVE_LIBS_PIPELINE.md
Due: format-other, spell-check-other

fix: check if y is >= 0.0f
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Types.h
Due: format-objc

chore: sort results in OCR example app
  apps/computer-vision/app/ocr/index.tsx
  apps/computer-vision/app/ocr_vertical/index.tsx
Due: lint, types, format-js

fix(constants): define LIB_VERSION in versions.ts and share with resourceFetcher
  packages/react-native-executorch/src/constants/resourceFetcher.ts
  packages/react-native-executorch/src/constants/versions.ts
Due: lint, types, format-js

docs: add MODEL_SPEC.md for HF naming + MODEL_REGISTRY rewrite
  .cspell-wordlist.txt
  MODEL_SPEC.md
Due: format-other, spell-check-other

Update 01-getting-started.md
  docs/versioned_docs/version-0.8.x/01-fundamentals/01-getting-started.md
Due: format-other, spell-check-other

chore: add macro for forward error, make comments more descriptive
  packages/react-native-executorch/common/rnexecutorch/Error.h
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/privacy_filter/PrivacyFilter.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  scripts/errors.config.ts
Due: lint, types, format-js, format-objc

refactor: streamline TS error handling
  packages/react-native-executorch/src/controllers/BaseOCRController.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/errors/errorUtils.ts
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
  packages/react-native-executorch/src/modules/general/ExecutorchModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/PrivacyFilterModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TokenizerModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
  packages/react-native-executorch/src/utils/labelUtils.ts
Due: lint, types, format-js

refactor: add default messages to errors instead of importing
  packages/react-native-executorch/src/controllers/BaseOCRController.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/errors/errorUtils.ts
  packages/react-native-executorch/src/hooks/computer_vision/useTextToImage.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTokenizer.ts
  packages/react-native-executorch/src/hooks/useModule.ts
  packages/react-native-executorch/src/hooks/useModuleFactory.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
  packages/react-native-executorch/src/modules/general/ExecutorchModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/PrivacyFilterModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TokenizerModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
Due: lint, types, format-js

chore: cleanup tokenizermodule error handling
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.cpp
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.h
Due: format-objc

docs: add more context on invalid model input / output ererors
  docs/docs/05-utilities/04-error-handling.md
Due: format-other, spell-check-other

docs: clarify resource fetcher install steps and peer deps
  docs/docs/01-fundamentals/01-getting-started.md
  docs/versioned_docs/version-0.8.x/01-fundamentals/01-getting-started.md
Due: format-other, spell-check-other

refactor(constants): rename VERSION_TAG to PREVIOUS_VERSION_TAG, promote NEXT_VERSION_TAG to VERSION_TAG
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/constants/ocr/models.ts
  packages/react-native-executorch/src/constants/tts/models.ts
  packages/react-native-executorch/src/constants/tts/voices.ts
  packages/react-native-executorch/src/constants/versions.ts
Due: lint, types, format-js

refactor(constants): apply rename to FastSAM URLs from main merge
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

feat(hf-migration): tooling for HF naming convention rollout
  .cspell-wordlist.txt
  MODEL_SPEC.md
  scripts/hf-migration/.gitignore
  scripts/hf-migration/README.md
  scripts/hf-migration/gen_config.py
  scripts/hf-migration/generate_mapping.py
  scripts/hf-migration/inventory.py
  scripts/hf-migration/migrate.py
  scripts/hf-migration/parse_modelurls.py
Due: format-other, spell-check-other

chore(hf-migration): add cleanup_orphans.py for post-migration tree clean
  scripts/hf-migration/cleanup_orphans.py
Due: none

feat(hf-migration): extend parser + mapping for OCR + Kokoro
  scripts/hf-migration/generate_mapping.py
  scripts/hf-migration/parse_modelurls.py
Due: none

feat(hf-migration): upload_configs.py + license map + drop methods
  MODEL_SPEC.md
  scripts/hf-migration/gen_config.py
  scripts/hf-migration/upload_configs.py
Due: format-other, spell-check-other

chore: review changes
  docs/docs/05-utilities/04-error-handling.md
  packages/react-native-executorch/common/rnexecutorch/Error.h
  packages/react-native-executorch/common/rnexecutorch/ErrorCodes.h
  packages/react-native-executorch/src/errors/ErrorCodes.ts
  packages/react-native-executorch/src/errors/errorUtils.ts
  scripts/errors.config.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

Bump audio-api version
  apps/speech/package.json
  yarn.lock
Due: format-other

Added NPM and PNPM installation in README.md
  README.md
Due: format-other, spell-check-other

Added npm and pnpm installation in README.md
  README.md
Due: format-other, spell-check-other

Implement demo apps
  app.json
  apps/speech/App.tsx
  apps/speech/app.json
  apps/speech/assets/crossword-data.ts
  apps/speech/assets/semantle-data.ts
  apps/speech/components/ClueBar.tsx
  apps/speech/components/CrosswordGrid.tsx
  apps/speech/components/LevelSelector.tsx
  apps/speech/components/QuestionsModal.tsx
  apps/speech/screens/Crossword.tsx
  apps/speech/screens/Semantle.tsx
  apps/speech/utils/guessExtractor.ts
  package.json
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.h
  packages/react-native-executorch/src/constants/modelUrls.ts
  tsconfig.json
  yarn.lock
Due: lint, types, format-js, format-objc, format-other

docs: add npm/pnpm guidance to README and split installation steps
  README.md
  docs/docs/01-fundamentals/01-getting-started.md
  docs/docs/01-fundamentals/02-loading-models.md
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other
