Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

review: address msluszniak second-pass feedback
  apps/llm/app/privacy_filter/index.tsx
  apps/llm/utils/piiMatching.ts
  docs/docs/03-hooks/01-natural-language-processing/usePrivacyFilter.md
  docs/docs/04-typescript-api/01-natural-language-processing/PrivacyFilterModule.md
  packages/react-native-executorch/common/rnexecutorch/models/privacy_filter/PrivacyFilter.cpp
  packages/react-native-executorch/common/rnexecutorch/models/privacy_filter/Viterbi.cpp
  packages/react-native-executorch/src/types/privacyFilter.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

feat(llm): add repetition penalty to generation configuration for Qwen 3.5 VL 0.8B and 2B models
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

feat: add support openai/privacy-filter model (#1104)
  .cspell-wordlist.txt
  .eslintrc.js
  .gitignore
  apps/llm/app/_layout.tsx
  apps/llm/app/index.tsx
  apps/llm/app/privacy_filter/index.tsx
  apps/llm/utils/piiMatching.ts
  docs/docs/03-hooks/01-natural-language-processing/usePrivacyFilter.md
  docs/docs/04-typescript-api/01-natural-language-processing/PrivacyFilterModule.md
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/privacy_filter/PrivacyFilter.cpp
  packages/react-native-executorch/common/rnexecutorch/models/privacy_filter/PrivacyFilter.h
  packages/react-native-executorch/common/rnexecutorch/models/privacy_filter/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/privacy_filter/Viterbi.cpp
  packages/react-native-executorch/common/rnexecutorch/models/privacy_filter/Viterbi.h
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/constants/privacyFilterLabels.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/usePrivacyFilter.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/PrivacyFilterModule.ts
  packages/react-native-executorch/src/types/privacyFilter.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

feat: add native impl of pose estimation
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/pose_estimation/PoseEstimation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/pose_estimation/PoseEstimation.h
Due: format-objc

chore: add cspell words and eslint rules
  .cspell-wordlist.txt
  .eslintrc.js
Due: lint, types, format-js

docs: add docs
  docs/docs/03-hooks/02-computer-vision/usePoseEstimation.md
  docs/docs/04-typescript-api/02-computer-vision/PoseEstimationModule.md
  packages/react-native-executorch/src/modules/computer_vision/PoseEstimationModule.ts
Due: lint, types, format-js, format-other, spell-check-other

feat: add TS api
  packages/react-native-executorch/src/constants/poseEstimation.ts
  packages/react-native-executorch/src/hooks/computer_vision/usePoseEstimation.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/PoseEstimationModule.ts
  packages/react-native-executorch/src/types/poseEstimation.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js

chore: type adjustment
  packages/react-native-executorch/src/modules/computer_vision/PoseEstimationModule.ts
  packages/react-native-executorch/src/types/computerVision.ts
Due: lint, types, format-js

chore: another refactor
  packages/react-native-executorch/common/rnexecutorch/models/pose_estimation/PoseEstimation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/pose_estimation/PoseEstimation.h
  packages/react-native-executorch/src/constants/poseEstimation.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/PoseEstimationModule.ts
  packages/react-native-executorch/src/types/poseEstimation.ts
Due: lint, types, format-js, format-objc

chore: move CocoKeypoints to Types category
  packages/react-native-executorch/src/constants/poseEstimation.ts
Due: lint, types, format-js

docs: add usePoseEstimation to vc integration docs
  docs/docs/03-hooks/02-computer-vision/visioncamera-integration.md
Due: format-other, spell-check-other

docs: custom model clarificaiton
  docs/docs/04-typescript-api/02-computer-vision/PoseEstimationModule.md
Due: format-other, spell-check-other

chore: add example app screen
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/pose_estimation/index.tsx
  apps/computer-vision/app/vision_camera/index.tsx
Due: lint, types, format-js

fix: handle orientation
  apps/computer-vision/app/pose_estimation/index.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/pose_estimation/PoseEstimation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/pose_estimation/PoseEstimation.h
  packages/react-native-executorch/common/rnexecutorch/models/pose_estimation/Types.h
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.h
Due: lint, types, format-js, format-objc

chore: add model url
  docs/docs/03-hooks/02-computer-vision/usePoseEstimation.md
  docs/docs/04-typescript-api/02-computer-vision/PoseEstimationModule.md
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-other, spell-check-other

chore: don't static cast numDetections
  packages/react-native-executorch/common/rnexecutorch/models/pose_estimation/PoseEstimation.cpp
Due: format-objc

chore: review suggestions
  apps/computer-vision/app/pose_estimation/index.tsx
  apps/computer-vision/components/vision_camera/tasks/PoseEstimationTask.tsx
  packages/react-native-executorch/common/rnexecutorch/models/pose_estimation/PoseEstimation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/pose_estimation/PoseEstimation.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/PoseEstimationTest.cpp
  packages/react-native-executorch/src/modules/computer_vision/PoseEstimationModule.ts
  packages/react-native-executorch/src/types/poseEstimation.ts
Due: lint, types, format-js, format-objc

chore: remove model from config~
  packages/react-native-executorch/src/modules/computer_vision/PoseEstimationModule.ts
  packages/react-native-executorch/src/types/poseEstimation.ts
Due: lint, types, format-js

tests: vibe tests
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/PoseEstimationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
Due: format-objc

fix: add pose estimation task
  apps/computer-vision/components/vision_camera/tasks/PoseEstimationTask.tsx
Due: lint, types, format-js

chore: review suggestions
  apps/computer-vision/app/pose_estimation/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/pose_estimation/PoseEstimation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/pose_estimation/PoseEstimation.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/PoseEstimationTest.cpp
  packages/react-native-executorch/src/modules/computer_vision/PoseEstimationModule.ts
Due: lint, types, format-js, format-objc

chore: type fix, review changes
  docs/docs/04-typescript-api/02-computer-vision/PoseEstimationModule.md
  packages/react-native-executorch/common/rnexecutorch/tests/README.md
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/src/constants/poseEstimation.ts
  packages/react-native-executorch/src/modules/computer_vision/PoseEstimationModule.ts
  packages/react-native-executorch/src/types/poseEstimation.ts
Due: lint, types, format-js, format-other, spell-check-other

docs: update docs
  docs/docs/03-hooks/02-computer-vision/usePoseEstimation.md
  docs/docs/04-typescript-api/02-computer-vision/PoseEstimationModule.md
Due: format-other, spell-check-other

fix(tests): update a new image for test_img
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
Due: none

Introduce finetuned Kokoro
  apps/speech/screens/Quiz.tsx
  apps/speech/screens/TextToSpeechLLMScreen.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/bare-resource-fetcher/tsconfig.json
  packages/expo-resource-fetcher/tsconfig.json
  packages/react-native-executorch/src/constants/tts/models.ts
  packages/react-native-executorch/src/constants/tts/voices.ts
  packages/react-native-executorch/tsconfig.json
Due: lint, types, format-js, format-other

chore: review changes
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/pose_estimation/index.tsx
  apps/computer-vision/components/utils/cocoSkeleton.ts
  apps/computer-vision/components/vision_camera/tasks/PoseEstimationTask.tsx
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.h
Due: lint, types, format-js, format-objc

Add audio volume up
  apps/speech/screens/TextToSpeechScreen.tsx
Due: lint, types, format-js

chore: add cspell word
  .cspell-wordlist.txt
Due: none

feat: pose estimation (#1100)
  .cspell-wordlist.txt
  .eslintrc.js
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/pose_estimation/index.tsx
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/utils/cocoSkeleton.ts
  apps/computer-vision/components/vision_camera/tasks/PoseEstimationTask.tsx
  docs/docs/03-hooks/02-computer-vision/usePoseEstimation.md
  docs/docs/03-hooks/02-computer-vision/visioncamera-integration.md
  docs/docs/04-typescript-api/02-computer-vision/PoseEstimationModule.md
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/pose_estimation/PoseEstimation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/pose_estimation/PoseEstimation.h
  packages/react-native-executorch/common/rnexecutorch/models/pose_estimation/Types.h
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/README.md
  packages/react-native-executorch/common/rnexecutorch/tests/integration/PoseEstimationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.h
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/constants/poseEstimation.ts
  packages/react-native-executorch/src/hooks/computer_vision/usePoseEstimation.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/PoseEstimationModule.ts
  packages/react-native-executorch/src/types/computerVision.ts
  packages/react-native-executorch/src/types/poseEstimation.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

feat: implement initial FastSAM instance segmentation screen and model integration
  .cspell-wordlist.txt
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/fast_sam/index.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/instance_segmentation/index.tsx
  packages/react-native-executorch/src/constants/commonVision.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
  packages/react-native-executorch/src/utils/fastSAMPrompts.ts
Due: lint, types, format-js

feat: optimize FastSAM selection algorithms and improve performance logging
  apps/computer-vision/app/fast_sam/index.tsx
  packages/react-native-executorch/src/utils/fastSAMPrompts.ts
Due: lint, types, format-js

refactor: move FastSAMLabel enum definition to a more appropriate location
  packages/react-native-executorch/src/constants/commonVision.ts
Due: lint, types, format-js

Improve audio trimming algorithm
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Types.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
Due: lint, types, format-js, format-objc

feat: add PARAPHRASE_MULTILINGUAL_MINILM_L12_V2 text embeddings model
  apps/text-embeddings/app/text-embeddings/index.tsx
  docs/docs/03-hooks/01-natural-language-processing/useTextEmbeddings.md
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/types/textEmbeddings.ts
Due: lint, types, format-js, format-other, spell-check-other

chore: trim to single XNNPACK 8da4w variant + add benchmark rows
  apps/text-embeddings/app/text-embeddings/index.tsx
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/memory-usage.md
  docs/docs/02-benchmarks/model-size.md
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/types/textEmbeddings.ts
Due: lint, types, format-js, format-other, spell-check-other
