Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

docs: update docs after introduced changes
  docs/docs/03-typescript-api/01-natural-language-processing/LLMModule.md
  docs/docs/03-typescript-api/01-natural-language-processing/SpeechToTextModule.md
Due: format-other, spell-check-other

Update docs/docs/03-typescript-api/01-natural-language-processing/LLMModule.md
  docs/docs/03-typescript-api/01-natural-language-processing/LLMModule.md
Due: format-other, spell-check-other

Update docs/docs/03-typescript-api/01-natural-language-processing/SpeechToTextModule.md
  docs/docs/03-typescript-api/01-natural-language-processing/SpeechToTextModule.md
Due: format-other, spell-check-other

Apply suggestion from @mkopcins
  docs/docs/03-typescript-api/01-natural-language-processing/LLMModule.md
Due: format-other, spell-check-other

docs: cosmetic changes
  docs/docs/03-typescript-api/01-natural-language-processing/LLMModule.md
Due: format-other, spell-check-other

docs: cosmetics
  docs/docs/03-typescript-api/01-natural-language-processing/LLMModule.md
Due: format-other, spell-check-other

Apply suggestions from code review
  packages/react-native-executorch/common/rnexecutorch/tests/NumericalTest.cpp
Due: format-objc

fix: make LLMModule and SpeechToTextModule non-static post C++ port (#479)
  docs/docs/03-typescript-api/01-natural-language-processing/LLMModule.md
  docs/docs/03-typescript-api/01-natural-language-processing/SpeechToTextModule.md
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/controllers/SpeechToTextController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
Due: lint, types, format-js, format-other, spell-check-other

Update links in the documentation
  docs/docs/02-hooks/01-natural-language-processing/useLLM.md
  docs/docs/02-hooks/02-computer-vision/useClassification.md
  docs/docs/02-hooks/02-computer-vision/useImageSegmentation.md
  docs/docs/02-hooks/02-computer-vision/useObjectDetection.md
  docs/docs/02-hooks/03-executorch-bindings/useExecutorchModule.md
  docs/versioned_docs/version-0.1.x/guides/running-llms.md
  docs/versioned_docs/version-0.2.x/computer-vision/useClassification.mdx
  docs/versioned_docs/version-0.2.x/computer-vision/useObjectDetection.mdx
  docs/versioned_docs/version-0.2.x/llms/running-llms.md
  docs/versioned_docs/version-0.2.x/module-api/executorch-bindings.md
  docs/versioned_docs/version-0.3.x/computer-vision/useClassification.md
  docs/versioned_docs/version-0.3.x/computer-vision/useOCR.md
  docs/versioned_docs/version-0.3.x/computer-vision/useObjectDetection.md
  docs/versioned_docs/version-0.3.x/computer-vision/useStyleTransfer.md
  docs/versioned_docs/version-0.3.x/computer-vision/useVerticalOCR.md
  docs/versioned_docs/version-0.3.x/llms/useLLM.md
  docs/versioned_docs/version-0.3.x/module-api/executorch-bindings.md
  docs/versioned_docs/version-0.3.x/speech-to-text/useSpeechToText.md
  docs/versioned_docs/version-0.4.x/computer-vision/useClassification.md
  docs/versioned_docs/version-0.4.x/computer-vision/useImageSegmentation.md
  docs/versioned_docs/version-0.4.x/computer-vision/useOCR.md
  docs/versioned_docs/version-0.4.x/computer-vision/useObjectDetection.md
  docs/versioned_docs/version-0.4.x/computer-vision/useStyleTransfer.md
  docs/versioned_docs/version-0.4.x/computer-vision/useVerticalOCR.md
  docs/versioned_docs/version-0.4.x/natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.4.x/natural-language-processing/useSpeechToText.md
  docs/versioned_docs/version-0.4.x/natural-language-processing/useTextEmbeddings.md
Due: format-other, spell-check-other

Remove [[unlikely]] attributes
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
Due: format-objc

docs: Update benchmarks for embeddings (#459)
  docs/docs/02-hooks/01-natural-language-processing/useTextEmbeddings.md
  docs/docs/02-hooks/02-computer-vision/useImageEmbeddings.md
  docs/docs/04-benchmarks/inference-time.md
  docs/docs/04-benchmarks/memory-usage.md
  docs/docs/04-benchmarks/model-size.md
Due: format-other, spell-check-other

refactor: Change model constants to preset objects v2
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/app/image_segmentation/index.tsx
  apps/computer-vision/app/object_detection/index.tsx
  apps/computer-vision/app/ocr/index.tsx
  apps/computer-vision/app/ocr_vertical/index.tsx
  apps/computer-vision/app/style_transfer/index.tsx
  apps/llm/app/llm/index.tsx
  apps/llm/app/llm_structured_output/index.tsx
  apps/llm/app/llm_tool_calling/index.tsx
  apps/llm/app/voice_chat/index.tsx
  apps/speech-to-text/screens/SpeechToTextScreen.tsx
  apps/text-embeddings/app/clip-embeddings/index.tsx
  apps/text-embeddings/app/text-embeddings/index.tsx
  packages/react-native-executorch/src/constants/ocr/models.ts
  packages/react-native-executorch/src/controllers/SpeechToTextController.ts
  packages/react-native-executorch/src/hooks/computer_vision/useClassification.ts
  packages/react-native-executorch/src/hooks/computer_vision/useImageEmbeddings.ts
  packages/react-native-executorch/src/hooks/computer_vision/useImageSegmentation.ts
  packages/react-native-executorch/src/hooks/computer_vision/useOCR.ts
  packages/react-native-executorch/src/hooks/computer_vision/useObjectDetection.ts
  packages/react-native-executorch/src/hooks/computer_vision/useStyleTransfer.ts
  packages/react-native-executorch/src/hooks/computer_vision/useVerticalOCR.ts
  packages/react-native-executorch/src/hooks/general/useExecutorchModule.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextEmbeddings.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTokenizer.ts
  packages/react-native-executorch/src/hooks/useNonStaticModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/OCRModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VerticalOCRModule.ts
  packages/react-native-executorch/src/modules/general/ExecutorchModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TokenizerModule.ts
Due: lint, types, format-js

refactor: remove nesting in ExecutorchModule and its hook, extract independentCharacters from model in VerticalOCRModule
  packages/react-native-executorch/src/hooks/general/useExecutorchModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VerticalOCRModule.ts
  packages/react-native-executorch/src/modules/general/ExecutorchModule.ts
Due: lint, types, format-js

refactor: requested changes in cpp code refactored
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.h
Due: format-objc

add final specifier to class definitions
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.h
Due: format-objc

remove include Log.h file
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
Due: format-objc

refactor: update parameter type for onDownloadProgressCallback in TokenizerModule
  packages/react-native-executorch/src/modules/natural_language_processing/TokenizerModule.ts
Due: lint, types, format-js

requested changes added
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandlerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognizerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.h
Due: format-objc

remove include Log.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
Due: format-objc

docs: update model loading syntax to use object parameters
  docs/docs/02-hooks/01-natural-language-processing/useLLM.md
  docs/docs/02-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/02-hooks/01-natural-language-processing/useTextEmbeddings.md
  docs/docs/02-hooks/01-natural-language-processing/useTokenizer.md
  docs/docs/02-hooks/02-computer-vision/useClassification.md
  docs/docs/02-hooks/02-computer-vision/useImageEmbeddings.md
  docs/docs/02-hooks/02-computer-vision/useImageSegmentation.md
  docs/docs/02-hooks/02-computer-vision/useOCR.md
  docs/docs/02-hooks/02-computer-vision/useObjectDetection.md
  docs/docs/02-hooks/02-computer-vision/useStyleTransfer.md
  docs/docs/02-hooks/02-computer-vision/useVerticalOCR.md
  docs/docs/03-typescript-api/01-natural-language-processing/LLMModule.md
  docs/docs/03-typescript-api/01-natural-language-processing/SpeechToTextModule.md
  docs/docs/03-typescript-api/01-natural-language-processing/TextEmbeddingsModule.md
  docs/docs/03-typescript-api/01-natural-language-processing/TokenizerModule.md
  docs/docs/03-typescript-api/02-computer-vision/ClassificationModule.md
  docs/docs/03-typescript-api/02-computer-vision/ImageEmbeddingsModule.md
  docs/docs/03-typescript-api/02-computer-vision/ImageSegmentationModule.md
  docs/docs/03-typescript-api/02-computer-vision/OCRModule.md
  docs/docs/03-typescript-api/02-computer-vision/ObjectDetectionModule.md
  docs/docs/03-typescript-api/02-computer-vision/StyleTransferModule.md
  docs/docs/03-typescript-api/02-computer-vision/VerticalOCRModule.md
  docs/docs/03-typescript-api/03-executorch-bindings/ExecutorchModule.md
Due: format-other, spell-check-other

docs: add onDownloadProgressCallback parameter
  docs/docs/03-typescript-api/01-natural-language-processing/TextEmbeddingsModule.md
  docs/docs/03-typescript-api/02-computer-vision/ClassificationModule.md
  docs/docs/03-typescript-api/02-computer-vision/ImageEmbeddingsModule.md
  docs/docs/03-typescript-api/02-computer-vision/ImageSegmentationModule.md
  docs/docs/03-typescript-api/02-computer-vision/OCRModule.md
  docs/docs/03-typescript-api/02-computer-vision/ObjectDetectionModule.md
  docs/docs/03-typescript-api/02-computer-vision/StyleTransferModule.md
  docs/docs/03-typescript-api/02-computer-vision/VerticalOCRModule.md
  docs/docs/03-typescript-api/03-executorch-bindings/ExecutorchModule.md
Due: format-other, spell-check-other

refactor: update dependency array in useNonStaticModule hook
  packages/react-native-executorch/src/hooks/useNonStaticModule.ts
Due: lint, types, format-js

docs: move references to loading models and remove export keyword
  docs/docs/02-hooks/01-natural-language-processing/useLLM.md
  docs/docs/02-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/02-hooks/01-natural-language-processing/useTextEmbeddings.md
  docs/docs/02-hooks/01-natural-language-processing/useTokenizer.md
  docs/docs/03-typescript-api/03-executorch-bindings/ExecutorchModule.md
Due: format-other, spell-check-other

feat: add AvailableModels export to sttDefaults and update index file
  packages/react-native-executorch/src/constants/sttDefaults.ts
  packages/react-native-executorch/src/index.tsx
Due: lint, types, format-js

docs: update references to loading models to specify loading resources
  docs/docs/02-hooks/01-natural-language-processing/useLLM.md
  docs/docs/02-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/02-hooks/01-natural-language-processing/useTextEmbeddings.md
  docs/docs/02-hooks/01-natural-language-processing/useTokenizer.md
  docs/docs/02-hooks/02-computer-vision/useClassification.md
  docs/docs/02-hooks/02-computer-vision/useImageEmbeddings.md
  docs/docs/02-hooks/02-computer-vision/useImageSegmentation.md
  docs/docs/02-hooks/02-computer-vision/useOCR.md
  docs/docs/02-hooks/02-computer-vision/useObjectDetection.md
  docs/docs/02-hooks/02-computer-vision/useStyleTransfer.md
  docs/docs/02-hooks/02-computer-vision/useVerticalOCR.md
  docs/docs/02-hooks/03-executorch-bindings/useExecutorchModule.md
  docs/docs/03-typescript-api/01-natural-language-processing/LLMModule.md
  docs/docs/03-typescript-api/01-natural-language-processing/SpeechToTextModule.md
  docs/docs/03-typescript-api/01-natural-language-processing/TextEmbeddingsModule.md
  docs/docs/03-typescript-api/02-computer-vision/ClassificationModule.md
  docs/docs/03-typescript-api/02-computer-vision/ImageEmbeddingsModule.md
  docs/docs/03-typescript-api/02-computer-vision/ImageSegmentationModule.md
  docs/docs/03-typescript-api/02-computer-vision/OCRModule.md
  docs/docs/03-typescript-api/02-computer-vision/ObjectDetectionModule.md
  docs/docs/03-typescript-api/02-computer-vision/StyleTransferModule.md
  docs/docs/03-typescript-api/02-computer-vision/VerticalOCRModule.md
  docs/docs/03-typescript-api/03-executorch-bindings/ExecutorchModule.md
Due: format-other, spell-check-other

docs: clarify model object structure
  docs/docs/02-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/02-hooks/02-computer-vision/useOCR.md
  docs/docs/02-hooks/02-computer-vision/useVerticalOCR.md
  docs/docs/03-typescript-api/01-natural-language-processing/LLMModule.md
  docs/docs/03-typescript-api/01-natural-language-processing/SpeechToTextModule.md
  docs/docs/03-typescript-api/01-natural-language-processing/TextEmbeddingsModule.md
  docs/docs/03-typescript-api/02-computer-vision/OCRModule.md
  docs/docs/03-typescript-api/02-computer-vision/VerticalOCRModule.md
Due: format-other, spell-check-other

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
