Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

[RNE Rewrite] style(ts): rename opts to options (#1358)
  .agents/skills/add-task-pipeline/SKILL.md
  .agents/skills/core-guidelines/SKILL.md
  packages/react-native-executorch/src/extensions/cv/ops/boxes.ts
  packages/react-native-executorch/src/extensions/cv/ops/image.ts
  packages/react-native-executorch/src/extensions/cv/ops/points.ts
  packages/react-native-executorch/src/extensions/cv/tasks/keypointDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
  packages/react-native-executorch/src/extensions/speech/tasks/fsmnVoiceActivityDetection.ts
Due: lint, types, format-js, format-other, spell-check-other

[RNE Rewrite] build(rewrite): decouple native lib artifacts from core versioning (#1336)
  .github/workflows/clang-tidy.yml
  packages/react-native-executorch/package.json
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/scripts/package-release-artifacts.sh
Due: lint, types, format-js, format-other

[RNE Rewrite] chore: upgrade react-native-worklets to 0.10.3 and remove patch (#1357)
  apps/computer-vision/package.json
  apps/nlp/package.json
  apps/speech/package.json
  package.json
  packages/react-native-executorch/package.json
  patches/react-native-worklets+0.9.1.patch
  yarn.lock
Due: format-other

test: add error handling propagation test screen to computer-vision app
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/errorTest/index.tsx
  apps/computer-vision/app/index.tsx
Due: lint, types, format-js

fix: clang-tidy findings on the error plumbing
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/tensor.cpp
  packages/react-native-executorch/cpp/core/utils.cpp
Due: format-objc

feat: coded, worklet-safe error handling
  .eslintrc.js
  .github/workflows/ci.yml
  package.json
  packages/react-native-executorch/cpp/core/error.cpp
  packages/react-native-executorch/cpp/core/error.h
  packages/react-native-executorch/cpp/core/error_codes.h
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/src/core/runtime.ts
  packages/react-native-executorch/src/core/schema.ts
  packages/react-native-executorch/src/errors/codes.ts
  packages/react-native-executorch/src/errors/error.ts
  packages/react-native-executorch/src/errors/index.ts
  packages/react-native-executorch/src/extensions/cv/tasks/classification.ts
  packages/react-native-executorch/src/extensions/cv/tasks/instanceSegmentation.ts
  packages/react-native-executorch/src/extensions/cv/tasks/objectDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
  packages/react-native-executorch/src/extensions/cv/tasks/semanticSegmentation.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/textEmbedding.ts
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
  packages/react-native-executorch/src/fetcher/fetcher.ts
  packages/react-native-executorch/src/hooks/useModel.ts
  packages/react-native-executorch/src/hooks/useResourceDownload.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/native/bridge.ts
  scripts/generate-errors.ts
Due: lint, types, format-js, format-objc, format-other

feat: code every native throw site and adopt the convention in demo apps
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/app/detection/index.tsx
  apps/computer-vision/app/imageEmbeddings/index.tsx
  apps/computer-vision/app/inspect/index.tsx
  apps/computer-vision/app/instanceSegmentation/index.tsx
  apps/computer-vision/app/keypoint/index.tsx
  apps/computer-vision/app/segmentation/index.tsx
  apps/computer-vision/app/styleTransfer/index.tsx
  apps/computer-vision/app/textToImage/index.tsx
  apps/computer-vision/errors.ts
  apps/nlp/app/text-embeddings/index.tsx
  apps/nlp/app/tokenizer/index.tsx
  apps/nlp/errors.ts
  apps/speech/app/audio-file-transcription/index.tsx
  apps/speech/app/microphone-transcription/index.tsx
  apps/speech/app/vad/index.tsx
  apps/speech/errors.ts
  packages/react-native-executorch/cpp/core/conversions.cpp
  packages/react-native-executorch/cpp/core/conversions.h
  packages/react-native-executorch/cpp/core/dtype.cpp
  packages/react-native-executorch/cpp/core/error_codes.h
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/schema.cpp
  packages/react-native-executorch/cpp/core/tensor.cpp
  packages/react-native-executorch/cpp/core/tensor_helpers.cpp
  packages/react-native-executorch/cpp/core/utils.cpp
  packages/react-native-executorch/cpp/extensions/cv/box_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/utils.h
  packages/react-native-executorch/cpp/extensions/math/operations.cpp
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.cpp
  packages/react-native-executorch/cpp/extensions/speech/operations.cpp
  packages/react-native-executorch/src/errors/codes.ts
  scripts/errors.config.ts
Due: lint, types, format-js, format-objc

docs(skills): document the error-handling convention for agents
  .agents/skills/README.md
  .agents/skills/add-native-extension/SKILL.md
  .agents/skills/add-task-pipeline/SKILL.md
  .agents/skills/core-guidelines/SKILL.md
  .agents/skills/error-handling/SKILL.md
  .agents/skills/model-schema-validation/SKILL.md
  .agents/skills/verify-and-build/SKILL.md
Due: format-other, spell-check-other

refactor: address review comments on the error plumbing
  packages/react-native-executorch/cpp/core/conversions.h
  packages/react-native-executorch/cpp/core/error.h
Due: format-objc

docs(errors): correct stale @throws docs across headers and schema.ts
  .agents/skills/error-handling/SKILL.md
  packages/react-native-executorch/cpp/core/conversions.h
  packages/react-native-executorch/cpp/core/dtype.h
  packages/react-native-executorch/cpp/core/schema.h
  packages/react-native-executorch/cpp/core/tensor_helpers.h
  packages/react-native-executorch/cpp/extensions/cv/box_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/utils.h
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.h
  packages/react-native-executorch/src/core/schema.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

refactor(errors): drive the C++ error codes from one X-macro list
  .agents/skills/add-native-extension/SKILL.md
  .agents/skills/core-guidelines/SKILL.md
  .agents/skills/error-handling/SKILL.md
  packages/react-native-executorch/cpp/core/conversions.cpp
  packages/react-native-executorch/cpp/core/conversions.h
  packages/react-native-executorch/cpp/core/dtype.cpp
  packages/react-native-executorch/cpp/core/error.h
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/schema.cpp
  packages/react-native-executorch/cpp/core/tensor.cpp
  packages/react-native-executorch/cpp/core/tensor_helpers.cpp
  packages/react-native-executorch/cpp/core/utils.cpp
  packages/react-native-executorch/cpp/extensions/cv/box_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/utils.h
  packages/react-native-executorch/cpp/extensions/math/operations.cpp
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.cpp
  packages/react-native-executorch/cpp/extensions/speech/operations.cpp
Due: format-objc, format-other, spell-check-other

refactor(errors): recategorise seven throw sites per review
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.cpp
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.h
  packages/react-native-executorch/src/core/schema.ts
Due: lint, types, format-js, format-objc

fix(privacy-filter): split adjacent spans and constrain final-window terminal
  packages/react-native-executorch/src/extensions/nlp/tasks/privacyFilter.ts
  packages/react-native-executorch/src/extensions/nlp/utils/privacyFilterUtils.ts
Due: lint, types, format-js

perf(privacy-filter): make Viterbi decode O(N+E) instead of O(N^2)
  apps/nlp/package.json
  packages/react-native-executorch/src/extensions/nlp/utils/privacyFilterUtils.ts
Due: lint, types, format-js, format-other

refactor(privacy-filter): drop redundant comments per review
  apps/nlp/app/privacy-filter/index.tsx
  packages/react-native-executorch/src/extensions/nlp/tasks/privacyFilter.ts
Due: lint, types, format-js

refactor(privacy-filter): address review feedback
  apps/nlp/app/privacy-filter/index.tsx
  packages/react-native-executorch/src/extensions/nlp/tasks/privacyFilter.ts
  packages/react-native-executorch/src/extensions/nlp/utils/privacyFilterUtils.ts
  packages/react-native-executorch/src/hooks/usePrivacyFilter.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(privacy-filter): ship char offsets + piiSegments helper
  apps/nlp/app/privacy-filter/index.tsx
  packages/react-native-executorch/src/extensions/nlp/tasks/privacyFilter.ts
  packages/react-native-executorch/src/extensions/nlp/utils/privacyFilterUtils.ts
Due: lint, types, format-js

feat(privacy-filter): dynamic sequence length for xnnpack models
  packages/react-native-executorch/src/extensions/nlp/tasks/privacyFilter.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

docs(privacy-filter): name the backends behind the dynamic/static split
  packages/react-native-executorch/src/extensions/nlp/tasks/privacyFilter.ts
Due: lint, types, format-js

refactor(privacy-filter): migrate to the validateSpec schema contract
  packages/react-native-executorch/src/extensions/nlp/tasks/privacyFilter.ts
Due: lint, types, format-js

refactor(privacy-filter): address second review round
  packages/react-native-executorch/src/constants.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/privacyFilter.ts
  packages/react-native-executorch/src/extensions/nlp/utils/privacyFilterUtils.ts
  packages/react-native-executorch/src/hooks/usePrivacyFilter.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

fix(privacy-filter): declare mlx backend for on-demand download
  packages/react-native-executorch/scripts/download-libs.js
Due: lint, types, format-js

[RNE Rewrite] feat: add privacy filter pipeline
  apps/nlp/app/_layout.tsx
  apps/nlp/app/index.tsx
  apps/nlp/app/privacy-filter/index.tsx
  packages/react-native-executorch/src/constants.ts
  packages/react-native-executorch/src/extensions/nlp/index.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/privacyFilter.ts
  packages/react-native-executorch/src/extensions/nlp/utils/privacyFilterUtils.ts
  packages/react-native-executorch/src/hooks/usePrivacyFilter.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

refactor(privacy-filter): adopt coded RnExecuTorchError contract
  packages/react-native-executorch/src/extensions/nlp/tasks/privacyFilter.ts
Due: lint, types, format-js

[RNE Rewrite] refactor(ocr): port the OCR pipeline to the get_model_schema contract
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/detectors.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/documentModels.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/engine.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
  packages/react-native-executorch/src/hooks/useOcr.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

[RNE Rewrite] style(ocr): apply prettier and add NHWC/SVTR to the wordlist
  .cspell-wordlist.txt
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/detectors.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/documentModels.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/engine.ts
Due: lint, types, format-js

Update packages/react-native-executorch/src/constants.ts
  packages/react-native-executorch/src/constants.ts
Due: lint, types, format-js

[RNE Rewrite] feat: add privacy filter pipeline (#1321)
  apps/nlp/app/_layout.tsx
  apps/nlp/app/index.tsx
  apps/nlp/app/privacy-filter/index.tsx
  apps/nlp/package.json
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/src/constants.ts
  packages/react-native-executorch/src/extensions/nlp/index.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/privacyFilter.ts
  packages/react-native-executorch/src/extensions/nlp/utils/privacyFilterUtils.ts
  packages/react-native-executorch/src/hooks/usePrivacyFilter.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-other

[RNE Rewrite] fix(models): point the OCR presets at the restructured HF repos
  .cspell-wordlist.txt
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

[RNE Rewrite] fix(ocr): drop layout regions contained in a larger one
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/ocr.ts
Due: lint, types, format-js

[RNE Rewrite] fix(cv-app): respect the Android navigation bar, list every OCR backend
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/inspect/index.tsx
  apps/computer-vision/app/ocr/index.tsx
Due: lint, types, format-js

[RNE Rewrite] refactor(ocr): align with the .agents skill conventions
  .cspell-wordlist.txt
  packages/react-native-executorch/src/extensions/cv/index.ts
  packages/react-native-executorch/src/extensions/cv/ops/image.ts
  packages/react-native-executorch/src/extensions/cv/ops/quad.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/detectors.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/documentModels.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/engine.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/geometry.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/ocr.ts
  packages/react-native-executorch/src/extensions/cv/utils/ocrUtils.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

[RNE Rewrite] fix(cv): raise coded errors from the OCR native ops
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/ocr_ops.cpp
Due: format-objc

[RNE Rewrite] refactor(ocr)!: scope the pipeline to detect + recognize
  apps/computer-vision/app/ocr/index.tsx
  packages/react-native-executorch/src/constants.ts
  packages/react-native-executorch/src/extensions/cv/ops/quad.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/detectors.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/documentModels.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/engine.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/geometry.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/ocr.ts
  packages/react-native-executorch/src/hooks/useOcr.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

[RNE Rewrite] refactor(cv): apply OCR review feedback
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/ocr_ops.cpp
  packages/react-native-executorch/src/extensions/cv/ops/points.ts
  packages/react-native-executorch/src/extensions/cv/ops/quad.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/detectors.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/geometry.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/ocr.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-objc

[RNE Rewrite] refactor(cv): drop unexercised OCR code paths
  .cspell-wordlist.txt
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/image_ops.h
  packages/react-native-executorch/cpp/extensions/cv/install.cpp
  packages/react-native-executorch/cpp/extensions/cv/ocr_ops.cpp
  packages/react-native-executorch/src/constants.ts
  packages/react-native-executorch/src/extensions/cv/ops/image.ts
  packages/react-native-executorch/src/extensions/cv/ops/quad.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/detectors.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/engine.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/geometry.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/ocr.ts
  packages/react-native-executorch/src/extensions/cv/utils/ocrUtils.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-objc

[RNE Rewrite] refactor(ocr)!: fetch the charset beside the model
  packages/react-native-executorch/src/constants.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/charsets.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/engine.ts
  packages/react-native-executorch/src/extensions/cv/tasks/ocr/ocr.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

[RNE Rewrite] docs(ocr): say which EasyOCR backend is for speed and which for quality
  apps/computer-vision/app/ocr/index.tsx
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js
