Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

Update docs/docs/01-fundamentals/04-glossary-of-terms.md
  docs/docs/01-fundamentals/04-glossary-of-terms.md
Due: format-other, spell-check-other

Update docs/docs/01-fundamentals/01-getting-started.md
  docs/docs/01-fundamentals/01-getting-started.md
Due: format-other, spell-check-other

Add glossary of terms (#780)
  .cspell-wordlist.txt
  docs/docs/01-fundamentals/04-glossary-of-terms.md
Due: format-other, spell-check-other

Add subsection about adding new models to RNE ecosystem (#779)
  docs/docs/01-fundamentals/01-getting-started.md
Due: format-other, spell-check-other

chore: Fix creating error out of object
  packages/react-native-executorch/src/errors/errorUtils.ts
Due: lint, types, format-js

Fix handling error in more graceful way
  packages/react-native-executorch/src/errors/errorUtils.ts
Due: lint, types, format-js

fix: Remove placeholder on focus
  apps/llm/app/llm/index.tsx
  apps/llm/app/llm_structured_output/index.tsx
  apps/llm/app/llm_tool_calling/index.tsx
Due: lint, types, format-js

fix: Make code more elegant
  packages/react-native-executorch/src/errors/errorUtils.ts
Due: lint, types, format-js

fix: Fix creating error out of object (#784)
  packages/react-native-executorch/src/errors/errorUtils.ts
Due: lint, types, format-js

Update apps/llm/app/llm_structured_output/index.tsx
  apps/llm/app/llm_structured_output/index.tsx
Due: lint, types, format-js

Fix tests CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js, format-objc

fix: Remove placeholder on focus (#786)
  apps/llm/app/llm/index.tsx
  apps/llm/app/llm_structured_output/index.tsx
  apps/llm/app/llm_tool_calling/index.tsx
Due: lint, types, format-js

[BUMP] Bump version tags before new realese
  packages/react-native-executorch/src/constants/ocr/models.ts
  packages/react-native-executorch/src/constants/tts/models.ts
  packages/react-native-executorch/src/constants/tts/voices.ts
  packages/react-native-executorch/src/constants/versions.ts
Due: lint, types, format-js

feat: add getTotalTokenCount, getPromptTokenCount
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-objc

fix: add docs, expose method from cpp
  apps/llm/app/llm/index.tsx
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/docs/04-typescript-api/01-natural-language-processing/LLMModule.md
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

chore: remove console.logs
  apps/llm/app/llm/index.tsx
Due: lint, types, format-js

chore: remove ai slop
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/docs/04-typescript-api/01-natural-language-processing/LLMModule.md
Due: format-other, spell-check-other

lint: make linter happy
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js

chore: simplify rnexecutorch error type guard logic
  packages/react-native-executorch/src/errors/errorUtils.ts
Due: lint, types, format-js

docs: add methods section to docs
  docs/docs/04-typescript-api/01-natural-language-processing/LLMModule.md
Due: format-other, spell-check-other

docs: add TokenizerError to error-handling section
  docs/docs/05-utilities/04-error-handling.md
Due: format-other, spell-check-other

Bump version tags before new realese (#787)
  packages/react-native-executorch/src/constants/ocr/models.ts
  packages/react-native-executorch/src/constants/tts/models.ts
  packages/react-native-executorch/src/constants/tts/voices.ts
  packages/react-native-executorch/src/constants/versions.ts
Due: lint, types, format-js

docs: add TokenizerError to error handling section (#788)
  docs/docs/05-utilities/04-error-handling.md
Due: format-other, spell-check-other

feat: add getters for prompt token count and total tokens count in LLMs (#777)
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/docs/04-typescript-api/01-natural-language-processing/LLMModule.md
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/errors/errorUtils.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

docs: update API reference
  docs/docs/06-api-reference/classes/LLMModule.md
  docs/docs/06-api-reference/interfaces/LLMType.md
Due: format-other, spell-check-other

docs: update API reference with `getPromptTokenCount` and `getTotalTokenCount` (#789)
  docs/docs/06-api-reference/classes/LLMModule.md
  docs/docs/06-api-reference/interfaces/LLMType.md
Due: format-other, spell-check-other

Bump version from 0.7.0 to 0.8.0
  packages/react-native-executorch/package.json
Due: format-other
