Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

Tidy concepts implementation
  packages/react-native-executorch/common/rnexecutorch/Log.h
Due: format-objc

docs: change file::// to file:// in all versioned docs. (Loading models)
  docs/docs/fundamentals/loading-models.md
  docs/versioned_docs/version-0.2.x/fundamentals/loading-models.md
  docs/versioned_docs/version-0.3.x/fundamentals/loading-models.md
  docs/versioned_docs/version-0.4.x/fundamentals/loading-models.md
Due: format-other, spell-check-other

Add overload for string literal and remove one header
  packages/react-native-executorch/common/rnexecutorch/Log.h
  packages/react-native-executorch/common/rnexecutorch/LogTest.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
Due: format-objc

Remove \0 from string literals will logging
  packages/react-native-executorch/common/rnexecutorch/Log.h
Due: format-objc

Refactor model URL constants
  .cspell-wordlist.txt
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

Reformat file
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

Split code between header and source using so-called include source stategy
  packages/react-native-executorch/common/rnexecutorch/Log.cpp
  packages/react-native-executorch/common/rnexecutorch/Log.h
Due: format-objc

Revert "Split code between header and source using so-called include source stategy"
  packages/react-native-executorch/common/rnexecutorch/Log.cpp
  packages/react-native-executorch/common/rnexecutorch/Log.h
Due: format-objc

Remove std::endl and replace with newline and add consistent newlines in namespaces
  packages/react-native-executorch/common/rnexecutorch/Log.h
Due: format-objc

chore: remove unused includes
  packages/react-native-executorch/common/rnexecutorch/data_processing/FFT.h
Due: format-objc

feat: add a generic jsi conversion for std span
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
Due: format-objc

chore: wip
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
Due: format-objc

Add spaces between consecutive objects logged
  packages/react-native-executorch/common/rnexecutorch/Log.h
  packages/react-native-executorch/common/rnexecutorch/LogTest.cpp
Due: format-objc

Add brackets in if
  packages/react-native-executorch/common/rnexecutorch/Log.h
Due: format-objc

added RELEASE.md and CONTRIBUTING.md files (#420)
  .cspell-wordlist.txt
  CONTRIBUTING.md
  RELEASE.md
Due: format-other, spell-check-other

Add structured output utils functions to LLMs
  apps/llm/app/_layout.tsx
  apps/llm/app/index.tsx
  apps/llm/app/llm/index.tsx
  apps/llm/app/llm_structured_output/index.tsx
  apps/llm/app/voice_chat/index.tsx
  apps/llm/ios/Podfile.lock
  docs/docs/natural-language-processing/useLLM.md
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/constants/llmDefaults.ts
  packages/react-native-executorch/src/index.tsx
  packages/react-native-executorch/src/utils/llm.ts
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

Fixed emoji display in LLM output decoding
  apps/llm/app/llm/index.tsx
  apps/llm/app/llm_tool_calling/index.tsx
  packages/react-native-executorch/common/runner/runner.cpp
  packages/react-native-executorch/common/runner/text_token_generator.h
Due: lint, types, format-js, format-objc

feat: Add structured output utils functions to LLMs (#424)
  apps/llm/app/_layout.tsx
  apps/llm/app/index.tsx
  apps/llm/app/llm/index.tsx
  apps/llm/app/llm_structured_output/index.tsx
  apps/llm/app/voice_chat/index.tsx
  apps/llm/ios/Podfile.lock
  docs/docs/natural-language-processing/useLLM.md
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/constants/llmDefaults.ts
  packages/react-native-executorch/src/index.tsx
  packages/react-native-executorch/src/utils/llm.ts
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

fix: Fixed emoji display in LLM output decoding (#432)
  apps/llm/app/llm/index.tsx
  packages/react-native-executorch/common/runner/runner.cpp
  packages/react-native-executorch/common/runner/text_token_generator.h
Due: lint, types, format-js, format-objc

fix: add length check after paths null check
  packages/react-native-executorch/src/controllers/OCRController.ts
  packages/react-native-executorch/src/controllers/SpeechToTextController.ts
  packages/react-native-executorch/src/controllers/VerticalOCRController.ts
  packages/react-native-executorch/src/modules/BaseModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/general/ExecutorchModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TokenizerModule.ts
Due: lint, types, format-js

Podfile lock rn executorch change
  apps/computer-vision/ios/Podfile.lock
Due: none

feat: Resource Fetcher Improvement - pause/resume/cancel (#421)
  apps/computer-vision/ios/Podfile.lock
  docs/docs/fundamentals/loading-models.md
  docs/docs/utilities/resource-fetcher.md
  docs/versioned_docs/version-0.2.x/fundamentals/loading-models.md
  docs/versioned_docs/version-0.3.x/fundamentals/loading-models.md
  docs/versioned_docs/version-0.4.x/fundamentals/loading-models.md
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/controllers/OCRController.ts
  packages/react-native-executorch/src/controllers/SpeechToTextController.ts
  packages/react-native-executorch/src/controllers/VerticalOCRController.ts
  packages/react-native-executorch/src/modules/BaseModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/general/ExecutorchModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TokenizerModule.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js, format-other, spell-check-other

Exclude file with tests from android build
  packages/react-native-executorch/android/src/main/cpp/CMakeLists.txt
Due: none

Exclude test file for iOS
  packages/react-native-executorch/react-native-executorch.podspec
Due: none

Update packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/react-native-executorch.podspec
Due: none

fix: remove vendored frameworks from podspec
  packages/react-native-executorch/react-native-executorch.podspec
Due: none

Update modelUrls.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

Fix lint and usage of URLs
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/constants/sttDefaults.ts
Due: lint, types, format-js

Add all corrections to demo apps
  apps/llm/app/llm/index.tsx
  apps/llm/app/llm_structured_output/index.tsx
  apps/llm/app/llm_tool_calling/index.tsx
  apps/llm/app/voice_chat/index.tsx
  apps/text-embeddings/app/text-embeddings/index.tsx
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

Update apps/llm/app/llm_structured_output/index.tsx
  apps/llm/app/llm_structured_output/index.tsx
Due: lint, types, format-js

wip: moonshine
  packages/react-native-executorch/common/rnexecutorch/models/EncoderDecoderBase.cpp
  packages/react-native-executorch/common/rnexecutorch/models/EncoderDecoderBase.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/Moonshine.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/Moonshine.h
Due: format-objc

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
