Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

fix CPP code + add JSI bridge to TS
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useVAD.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
  packages/react-native-executorch/src/types/vad.ts
Due: lint, types, format-js, format-objc

docs: add VAD documentation
  docs/docs/02-hooks/01-natural-language-processing/useVAD.md
  docs/docs/03-typescript-api/01-natural-language-processing/VADModule.md
  docs/docs/04-benchmarks/inference-time.md
  docs/docs/04-benchmarks/memory-usage.md
  docs/docs/04-benchmarks/model-size.md
Due: format-other, spell-check-other

add requested changes
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
Due: lint, types, format-js, format-objc

Update packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.cpp
Due: format-objc

add fsmn/FSMN to cspell
  .cspell-wordlist.txt
Due: none

docs: clarify returned type in docs
  docs/docs/02-hooks/01-natural-language-processing/useVAD.md
Due: format-other, spell-check-other

Voice activity detection model (#625)
  .cspell-wordlist.txt
  docs/docs/02-hooks/01-natural-language-processing/useVAD.md
  docs/docs/03-typescript-api/01-natural-language-processing/VADModule.md
  docs/docs/04-benchmarks/inference-time.md
  docs/docs/04-benchmarks/memory-usage.md
  docs/docs/04-benchmarks/model-size.md
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useVAD.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
  packages/react-native-executorch/src/types/vad.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

deps: remove opencv from Kotlin dependences as its statically linked via CMake
  packages/react-native-executorch/android/build.gradle
Due: none

fix: add support for Android 16kB page size
  packages/react-native-executorch/android/build.gradle
Due: none

fix LLM runner
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/runner/runner.cpp
  packages/react-native-executorch/common/runner/runner.h
  packages/react-native-executorch/common/runner/text_token_generator.h
Due: format-objc

fix: add support for Android 16kB page size (#688)
  packages/react-native-executorch/android/build.gradle
Due: none

deps: remove opencv from Kotlin dependences (#687)
  packages/react-native-executorch/android/build.gradle
Due: none

feat: add temperature param to llm native module
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
Due: format-objc

feat: add native topp parameter
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/runner/runner.cpp
  packages/react-native-executorch/common/runner/runner.h
  packages/react-native-executorch/common/runner/text_decoder_runner.cpp
  packages/react-native-executorch/common/runner/text_decoder_runner.h
Due: format-objc

feat: make temperature and topp configurable via a call to configure()
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/runner/runner.cpp
  packages/react-native-executorch/common/runner/runner.h
  packages/react-native-executorch/common/runner/sampler.cpp
  packages/react-native-executorch/common/runner/sampler.h
  packages/react-native-executorch/common/runner/stats.h
  packages/react-native-executorch/common/runner/text_decoder_runner.h
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-objc

chore: update docs and throw error when topp value is invalid
  .cspell-wordlist.txt
  docs/docs/02-hooks/01-natural-language-processing/useLLM.md
  docs/docs/03-typescript-api/01-natural-language-processing/LLMModule.md
  packages/react-native-executorch/src/Error.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js, format-other, spell-check-other

chore: mark native setters noexcept
  packages/react-native-executorch/common/runner/sampler.cpp
  packages/react-native-executorch/common/runner/sampler.h
  packages/react-native-executorch/common/runner/text_decoder_runner.h
Due: format-objc

chore: fix type definitions
  docs/docs/02-hooks/01-natural-language-processing/useLLM.md
  docs/docs/03-typescript-api/01-natural-language-processing/LLMModule.md
Due: format-other, spell-check-other

fix: rename zhSim alphabet to zh_sim to match HF urls
  packages/react-native-executorch/src/constants/ocr/models.ts
  packages/react-native-executorch/src/constants/ocr/symbols.ts
Due: lint, types, format-js

fix: rename zhSim alphabet to zh_sim to match HF urls (#690)
  packages/react-native-executorch/src/constants/ocr/models.ts
  packages/react-native-executorch/src/constants/ocr/symbols.ts
Due: lint, types, format-js

chore: minor change in inv_temp calculation
  packages/react-native-executorch/common/runner/sampler.cpp
Due: format-objc

feat: allow configuration of temperature and topp sampler parameters for LLMs (#689)
  .cspell-wordlist.txt
  docs/docs/02-hooks/01-natural-language-processing/useLLM.md
  docs/docs/03-typescript-api/01-natural-language-processing/LLMModule.md
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/runner/runner.cpp
  packages/react-native-executorch/common/runner/runner.h
  packages/react-native-executorch/common/runner/sampler.cpp
  packages/react-native-executorch/common/runner/sampler.h
  packages/react-native-executorch/common/runner/stats.h
  packages/react-native-executorch/common/runner/text_decoder_runner.cpp
  packages/react-native-executorch/common/runner/text_decoder_runner.h
  packages/react-native-executorch/src/Error.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

Fix index conversions on Android
  packages/react-native-executorch/common/runner/text_token_generator.h
Due: format-objc

Improve model generation config setup
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/runner/irunner.h
  packages/react-native-executorch/common/runner/runner.cpp
  packages/react-native-executorch/common/runner/runner.h
Due: format-objc

docs: mention disabling reasoning for LLMs
  docs/docs/02-hooks/01-natural-language-processing/useLLM.md
Due: format-other, spell-check-other

wip
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

Remove warnings
  packages/react-native-executorch/common/runner/io_manager.h
  packages/react-native-executorch/common/runner/irunner.h
  packages/react-native-executorch/common/runner/runner.cpp
  packages/react-native-executorch/common/runner/sampler.h
  packages/react-native-executorch/common/runner/stats.h
  packages/react-native-executorch/common/runner/text_decoder_runner.h
  packages/react-native-executorch/common/runner/text_prefiller.h
  packages/react-native-executorch/common/runner/text_token_generator.h
  packages/react-native-executorch/common/runner/util.h
  packages/react-native-executorch/third-party/include/executorch/extension/threadpool/threadpool.h
  packages/react-native-executorch/third-party/include/executorch/runtime/executor/method.h
  packages/react-native-executorch/third-party/include/executorch/runtime/executor/method_meta.h
Due: format-objc

docs: mention disabling reasoning for LLMs (#691)
  docs/docs/02-hooks/01-natural-language-processing/useLLM.md
Due: format-other, spell-check-other

fix: mark some methods const in the BaseModel
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
Due: format-objc

chore: remove logs
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
Due: format-objc

feat: remove stft calculation within the encoder
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.h
Due: format-objc

chore: bring back DSP, remove stftFromWaveform
  packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
Due: format-objc

feat: add quantized whisper to model urls
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

chore: update all the whisper versions to use new version tag
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js
