Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

feat: add native RnExecutorchError
  packages/react-native-executorch/common/rnexecutorch/Error.h
  packages/react-native-executorch/common/rnexecutorch/ErrorCodes.h
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
Due: format-objc

feat: add codegen for native / ts error generation
  scripts/errors.config.ts
  scripts/generate-errors.ts
Due: lint, types, format-js

feat: catch RnExecutorch error in ModelHostObject and return an object to JS
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
Due: format-objc

feat: add JSI promise rejection with jsi Value
  packages/react-native-executorch/common/rnexecutorch/jsi/Promise.cpp
  packages/react-native-executorch/common/rnexecutorch/jsi/Promise.h
Due: format-objc

chore: add TS auto-generated error codes
  packages/react-native-executorch/src/errors/ErrorCodes.ts
Due: lint, types, format-js

feat: throw RnExecutorchError instead of std
  packages/react-native-executorch/common/rnexecutorch/ErrorCodes.h
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/FileUtils.h
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/gzip.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/utils/RecognizerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/threads/HighPerformanceThreadPool.h
Due: format-objc

feat: update llm runner to use new errros
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
Due: format-objc

feat: add ExecutorchError on TS side
  package.json
  packages/react-native-executorch/src/Error.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/controllers/OCRController.ts
  packages/react-native-executorch/src/controllers/VerticalOCRController.ts
  packages/react-native-executorch/src/errors/ErrorCodes.ts
  packages/react-native-executorch/src/errors/errorUtils.ts
  packages/react-native-executorch/src/hooks/computer_vision/useTextToImage.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTokenizer.ts
  packages/react-native-executorch/src/hooks/useModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
  packages/react-native-executorch/src/modules/general/ExecutorchModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TokenizerModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
  scripts/errors.config.ts
Due: lint, types, format-js, format-other

chore: add resourcefetcher errors, ignore ET runtime errors for cpp generation
  packages/react-native-executorch/common/rnexecutorch/ErrorCodes.h
  packages/react-native-executorch/common/rnexecutorch/data_processing/gzip.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/utils/RecognizerUtils.cpp
  packages/react-native-executorch/src/controllers/OCRController.ts
  packages/react-native-executorch/src/errors/ErrorCodes.ts
  packages/react-native-executorch/src/errors/errorUtils.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
  scripts/errors.config.ts
  scripts/generate-errors.ts
Due: lint, types, format-js, format-objc

chore: update cspell wordlist
  .cspell-wordlist.txt
Due: none

chore: export ExecutorchError and ETErrorCode
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js

feat: use ExecutorchError in hooks instead of strings
  packages/react-native-executorch/src/controllers/OCRController.ts
  packages/react-native-executorch/src/controllers/VerticalOCRController.ts
  packages/react-native-executorch/src/hooks/computer_vision/useOCR.ts
  packages/react-native-executorch/src/hooks/computer_vision/useTextToImage.ts
  packages/react-native-executorch/src/hooks/computer_vision/useVerticalOCR.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTokenizer.ts
  packages/react-native-executorch/src/hooks/useModule.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js

chore: fix type in ocrcontroller
  packages/react-native-executorch/src/controllers/OCRController.ts
Due: lint, types, format-js

docs: add docs for error handling
  docs/docs/03-typescript-api/04-error-handling.md
Due: format-other, spell-check-other

Update packages/react-native-executorch/src/errors/ErrorCodes.ts
  packages/react-native-executorch/src/errors/ErrorCodes.ts
Due: lint, types, format-js

Change configuration in LLMModule so it can be set before loading model
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
Due: lint, types, format-js

Update packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
Due: format-objc

fix: post-rebase fixes
  apps/text-embeddings/utils/math.ts
  packages/react-native-executorch/src/controllers/OCRController.ts
  packages/react-native-executorch/src/controllers/VerticalOCRController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
Due: lint, types, format-js

feat: fix tts errors
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/F0NPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.cpp
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.cpp
Due: format-objc

Apply suggestions from code review
  packages/react-native-executorch/common/rnexecutorch/tests/FileUtilsTest.cpp
Due: format-objc

NITs to DSP and FileUtils.h (#662)
  packages/react-native-executorch/common/rnexecutorch/data_processing/FileUtils.h
  packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/FileUtilsTest.cpp
  packages/react-native-executorch/common/runner/runner.cpp
Due: format-objc

update docs for version 0.6.x
  docs/versioned_docs/version-0.6.0/01-fundamentals/01-getting-started.md
  docs/versioned_docs/version-0.6.0/02-hooks/01-natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.6.0/02-hooks/01-natural-language-processing/useSpeechToText.md
  docs/versioned_docs/version-0.6.0/02-hooks/01-natural-language-processing/useTextEmbeddings.md
  docs/versioned_docs/version-0.6.0/02-hooks/01-natural-language-processing/useVAD.md
  docs/versioned_docs/version-0.6.0/02-hooks/02-computer-vision/useClassification.md
  docs/versioned_docs/version-0.6.0/02-hooks/02-computer-vision/useImageEmbeddings.md
  docs/versioned_docs/version-0.6.0/02-hooks/02-computer-vision/useImageSegmentation.md
  docs/versioned_docs/version-0.6.0/02-hooks/02-computer-vision/useOCR.md
  docs/versioned_docs/version-0.6.0/02-hooks/02-computer-vision/useObjectDetection.md
  docs/versioned_docs/version-0.6.0/02-hooks/02-computer-vision/useStyleTransfer.md
  docs/versioned_docs/version-0.6.0/02-hooks/02-computer-vision/useVerticalOCR.md
  docs/versioned_docs/version-0.6.0/02-hooks/03-executorch-bindings/useExecutorchModule.md
  docs/versioned_docs/version-0.6.0/03-typescript-api/02-computer-vision/ImageSegmentationModule.md
  docs/versioned_docs/version-0.6.0/04-benchmarks/inference-time.md
  docs/versioned_docs/version-0.6.0/04-benchmarks/memory-usage.md
  docs/versioned_docs/version-0.6.0/04-benchmarks/model-size.md
Due: format-other, spell-check-other

Fix documentation of UseExecutorchModule for version 0.4.x
  docs/versioned_docs/version-0.4.x/executorch-bindings/useExecutorchModule.md
  docs/versioned_docs/version-0.4.x/typescript-api/ExecutorchModule.md
Due: format-other, spell-check-other

Fix documentation of UseExecutorchModule for version 0.4.x (#737)
  docs/versioned_docs/version-0.4.x/executorch-bindings/useExecutorchModule.md
  docs/versioned_docs/version-0.4.x/typescript-api/ExecutorchModule.md
Due: format-other, spell-check-other

restructurize t2s for dynamic Kokoro
  apps/speech/screens/Quiz.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/F0NPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/F0NPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Synthesizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Synthesizer.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.cpp
  packages/react-native-executorch/src/constants/tts/models.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js, format-objc

Draft of changes introducing timestamping
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
Due: lint, types, format-js, format-objc

Add missing headers
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
Due: format-objc

Remove out of date benchmark for version 0.6.x
  docs/versioned_docs/version-0.6.0/04-benchmarks/inference-time.md
Due: format-other, spell-check-other

Add draft of working version for timestamps only
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/ProcessResult.h
Due: lint, types, format-js, format-objc

Working version of both timestamping and regular version
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/types/stt.ts
Due: lint, types, format-js, format-objc

Clear files
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
Due: lint, types, format-js, format-objc

Apply suggestions from code review
  apps/speech/screens/SpeechToTextScreen.tsx
Due: lint, types, format-js

Apply further clearing
  apps/speech/screens/SpeechToTextScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/ProcessResult.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
Due: lint, types, format-js, format-objc

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
