Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

ci: test
  .github/workflows/build-android-llm-example.yml
  .github/workflows/build-ios-llm-example.yml
Due: format-other

ci: test 2
  .github/workflows/build-android-llm-example.yml
  .github/workflows/build-ios-llm-example.yml
Due: format-other

feat: Add text to image pipeline (#586)
  .cspell-wordlist.txt
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/components/BottomBarWithTextInput.tsx
  apps/computer-vision/components/ProgressBar.tsx
  apps/computer-vision/package.json
  docs/docs/02-hooks/02-computer-vision/useImageEmbeddings.md
  docs/docs/02-hooks/02-computer-vision/useTextToImage.md
  docs/docs/03-typescript-api/02-computer-vision/TextToImageModule.md
  docs/docs/04-benchmarks/inference-time.md
  docs/docs/04-benchmarks/memory-usage.md
  docs/docs/04-benchmarks/model-size.md
  docs/static/img/castle256.png
  docs/static/img/castle512.png
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Encoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Encoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/UNet.h
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/hooks/computer_vision/useTextToImage.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
  yarn.lock
Due: lint, types, format-js, format-objc, format-other, spell-check-other

minor fix
  packages/react-native-executorch/android/CMakeLists.txt
Due: none

rename project
  packages/react-native-executorch/android/CMakeLists.txt
Due: none

ci: test 3
  .github/workflows/build-android-llm-example.yml
  .github/workflows/build-ios-llm-example.yml
Due: format-other

Update t2i app
  apps/computer-vision/app/text_to_image/index.tsx
Due: lint, types, format-js

Adding custom spinner component
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/app/image_segmentation/index.tsx
  apps/computer-vision/app/object_detection/index.tsx
  apps/computer-vision/app/ocr/index.tsx
  apps/computer-vision/app/ocr_vertical/index.tsx
  apps/computer-vision/app/style_transfer/index.tsx
  apps/computer-vision/components/Spinner.tsx
  apps/llm/app/llm/index.tsx
  apps/llm/app/llm_structured_output/index.tsx
  apps/llm/app/llm_tool_calling/index.tsx
  apps/llm/app/voice_chat/index.tsx
  apps/llm/components/Spinner.tsx
Due: lint, types, format-js

ci: add optimizations
  .github/workflows/build-android-llm-example.yml
  .github/workflows/build-ios-llm-example.yml
Due: format-other

Adding custom spinner component (#614)
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/app/image_segmentation/index.tsx
  apps/computer-vision/app/object_detection/index.tsx
  apps/computer-vision/app/ocr/index.tsx
  apps/computer-vision/app/ocr_vertical/index.tsx
  apps/computer-vision/app/style_transfer/index.tsx
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/components/Spinner.tsx
  apps/llm/app/llm/index.tsx
  apps/llm/app/llm_structured_output/index.tsx
  apps/llm/app/llm_tool_calling/index.tsx
  apps/llm/app/voice_chat/index.tsx
  apps/llm/components/Spinner.tsx
Due: lint, types, format-js

chore: bump version to v0.5.6
  packages/react-native-executorch/package.json
Due: format-other

chore: bump version to v0.5.6 (#618)
  packages/react-native-executorch/package.json
Due: format-other

chore: add increased memory limit capability to ios llm example
  apps/llm/app.json
Due: format-other

Initial work for global thread pool
  apps/llm/app/llm/index.tsx
  packages/react-native-executorch/common/rnexecutorch/GlobalThreadPool.h
  packages/react-native-executorch/common/rnexecutorch/HighPerformanceThreadPool.h
  packages/react-native-executorch/common/rnexecutorch/Log.h
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/ThreadPoolModule.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/src/ThreadPool.ts
Due: lint, types, format-js, format-objc

added threadpool extension, partially fixed perf problems
  apps/llm/android/.kotlin/errors/errors-1754380687676.log
  apps/llm/app/llm/index.tsx
  packages/react-native-executorch/android/src/main/cpp/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/third-party/include/executorch/extension/threadpool/cpuinfo_utils.h
  packages/react-native-executorch/third-party/include/executorch/extension/threadpool/threadpool.h
Due: lint, types, format-js, format-objc

Initial changes for iOS compliance
  apps/llm/app.json
  apps/llm/ios/llm.xcodeproj/project.pbxproj
  apps/llm/ios/llm.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/react-native-executorch/android/src/main/cpp/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/GlobalThreadPool.h
  packages/react-native-executorch/common/rnexecutorch/HighPerformanceThreadPool.h
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/react-native-executorch.podspec
Due: format-objc, format-other

Implemented GlobalThreadPool and added setting xnnpack threadpool for iOS
  .cspell-wordlist.txt
  apps/llm/android/.kotlin/errors/errors-1754380687676.log
  apps/llm/app/llm/index.tsx
  apps/llm/ios/llm.xcodeproj/project.pbxproj
  apps/llm/ios/llm.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/react-native-executorch/android/src/main/cpp/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/Log.h
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/ThreadPoolModule.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/threads/GlobalThreadPool.h
  packages/react-native-executorch/common/rnexecutorch/threads/HighPerformanceThreadPool.h
  packages/react-native-executorch/common/rnexecutorch/threads/ThreadUtils.h
  packages/react-native-executorch/ios/libs/cpuinfo/libcpuinfo.a
  packages/react-native-executorch/ios/libs/pthreadpool/physical-arm64-release/libpthreadpool.a
  packages/react-native-executorch/ios/libs/pthreadpool/simulator-arm64-debug/libpthreadpool.a
  packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/src/ThreadPool.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/third-party/include/executorch/extension/threadpool/cpuinfo_utils.h
  packages/react-native-executorch/third-party/include/executorch/extension/threadpool/threadpool.h
Due: lint, types, format-js, format-objc

small review changes
  packages/react-native-executorch/common/rnexecutorch/threads/HighPerformanceThreadPool.h
Due: format-objc

adressed review comments
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/threads/GlobalThreadPool.h
  packages/react-native-executorch/common/rnexecutorch/threads/HighPerformanceThreadPool.h
  packages/react-native-executorch/common/rnexecutorch/threads/ThreadUtils.h
  packages/react-native-executorch/common/rnexecutorch/threads/utils/ThreadUtils.h
  packages/react-native-executorch/react-native-executorch.podspec
Due: format-objc

removed unnecessary include directory
  packages/react-native-executorch/react-native-executorch.podspec
Due: none

feat: Implemented GlobalThreadPool for async functions (#603)
  .cspell-wordlist.txt
  apps/llm/app.json
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/threads/GlobalThreadPool.h
  packages/react-native-executorch/common/rnexecutorch/threads/HighPerformanceThreadPool.h
  packages/react-native-executorch/common/rnexecutorch/threads/utils/ThreadUtils.h
  packages/react-native-executorch/ios/libs/cpuinfo/libcpuinfo.a
  packages/react-native-executorch/ios/libs/pthreadpool/physical-arm64-release/libpthreadpool.a
  packages/react-native-executorch/ios/libs/pthreadpool/simulator-arm64-debug/libpthreadpool.a
  packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/third-party/include/executorch/extension/threadpool/cpuinfo_utils.h
  packages/react-native-executorch/third-party/include/executorch/extension/threadpool/threadpool.h
Due: format-objc, format-other

small refactor of CMakeLists.txt
  packages/react-native-executorch/android/src/main/cpp/CMakeLists.txt
Due: none

chore: small refactor of CMakeLists.txt (#620)
  packages/react-native-executorch/android/src/main/cpp/CMakeLists.txt
Due: none

chore: review suggestions
  packages/react-native-executorch/android/CMakeLists.txt
Due: none

Remove unused variables and ET_EXPERIMENTAL from runner
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/runner/irunner.h
  packages/react-native-executorch/common/runner/runner.cpp
  packages/react-native-executorch/common/runner/runner.h
  packages/react-native-executorch/common/runner/sampler.h
  packages/react-native-executorch/common/runner/stats.h
  packages/react-native-executorch/common/runner/text_decoder_runner.h
  packages/react-native-executorch/common/runner/text_prefiller.h
  packages/react-native-executorch/common/runner/text_token_generator.h
  packages/react-native-executorch/common/runner/util.h
Due: format-objc

Init order warning
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.h
Due: format-objc

Fix pragma unroll warnings
  packages/react-native-executorch/common/rnexecutorch/models/ocr/utils/RecognitionHandlerUtils.cpp
Due: format-objc

chore: Get rid of compiler warnings (#619)
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/CTCLabelConverter.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/utils/RecognitionHandlerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Scheduler.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/runner/irunner.h
  packages/react-native-executorch/common/runner/runner.cpp
  packages/react-native-executorch/common/runner/runner.h
  packages/react-native-executorch/common/runner/sampler.h
  packages/react-native-executorch/common/runner/stats.h
  packages/react-native-executorch/common/runner/text_decoder_runner.h
  packages/react-native-executorch/common/runner/text_prefiller.h
  packages/react-native-executorch/common/runner/text_token_generator.h
  packages/react-native-executorch/common/runner/util.h
Due: format-objc

Update links, use warnings
  docs/docs/01-fundamentals/01-getting-started.md
  docs/docs/02-hooks/01-natural-language-processing/useLLM.md
  docs/docs/02-hooks/01-natural-language-processing/useSpeechToText.md
  docs/docs/02-hooks/01-natural-language-processing/useTextEmbeddings.md
  docs/docs/02-hooks/02-computer-vision/useClassification.md
  docs/docs/02-hooks/02-computer-vision/useImageEmbeddings.md
  docs/docs/02-hooks/02-computer-vision/useImageSegmentation.md
  docs/docs/02-hooks/02-computer-vision/useOCR.md
  docs/docs/02-hooks/02-computer-vision/useObjectDetection.md
  docs/docs/02-hooks/02-computer-vision/useStyleTransfer.md
  docs/docs/02-hooks/02-computer-vision/useTextToImage.md
  docs/docs/02-hooks/02-computer-vision/useVerticalOCR.md
  docs/docs/02-hooks/03-executorch-bindings/useExecutorchModule.md
  docs/docs/03-typescript-api/02-computer-vision/ImageSegmentationModule.md
  docs/docs/04-benchmarks/inference-time.md
  docs/docs/04-benchmarks/memory-usage.md
  docs/docs/04-benchmarks/model-size.md
  docs/versioned_docs/version-0.3.x/benchmarks/inference-time.md
  docs/versioned_docs/version-0.4.x/benchmarks/inference-time.md
  docs/versioned_docs/version-0.5.x/01-fundamentals/01-getting-started.md
  docs/versioned_docs/version-0.5.x/02-hooks/01-natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.5.x/02-hooks/01-natural-language-processing/useSpeechToText.md
  docs/versioned_docs/version-0.5.x/02-hooks/01-natural-language-processing/useTextEmbeddings.md
  docs/versioned_docs/version-0.5.x/02-hooks/02-computer-vision/useClassification.md
  docs/versioned_docs/version-0.5.x/02-hooks/02-computer-vision/useImageEmbeddings.md
  docs/versioned_docs/version-0.5.x/02-hooks/02-computer-vision/useImageSegmentation.md
  docs/versioned_docs/version-0.5.x/02-hooks/02-computer-vision/useOCR.md
  docs/versioned_docs/version-0.5.x/02-hooks/02-computer-vision/useObjectDetection.md
  docs/versioned_docs/version-0.5.x/02-hooks/02-computer-vision/useStyleTransfer.md
  docs/versioned_docs/version-0.5.x/02-hooks/02-computer-vision/useVerticalOCR.md
  docs/versioned_docs/version-0.5.x/02-hooks/03-executorch-bindings/useExecutorchModule.md
  docs/versioned_docs/version-0.5.x/03-typescript-api/02-computer-vision/ImageSegmentationModule.md
  docs/versioned_docs/version-0.5.x/04-benchmarks/inference-time.md
  docs/versioned_docs/version-0.5.x/04-benchmarks/memory-usage.md
  docs/versioned_docs/version-0.5.x/04-benchmarks/model-size.md
Due: format-other, spell-check-other

fixed private mind logo not displaying properly on iphones and safari
  docs/src/components/ReactNativeExecuTorchIntroduction/styles.module.css
  docs/src/components/ReactNativeExecutorchAction/index.tsx
  docs/src/components/ReactNativeExecutorchAction/styles.module.css
  docs/src/pages/styles.module.css
Due: lint, types, format-js, format-other, spell-check-other

fix CPP code + add JSI bridge to TS
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/Utils.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useVAD.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
  packages/react-native-executorch/src/types/vad.ts
Due: lint, types, format-js, format-objc

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
