Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, format-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx tsc --noEmit
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}

fix: ensure audioLanguage is passed to decodeChunk (#402)
  src/controllers/SpeechToTextController.ts
Due: lint, types, format-js

v0.4.4
  package.json
Due: format-other

fix: move try/catch inside async function, delete model when preventLoad==false
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
Due: lint, types, format-js

fix: replace old tokenizermodule with the new one, make changes in stt controller
  packages/react-native-executorch/src/controllers/SpeechToTextController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTokenizer.ts
  packages/react-native-executorch/src/index.tsx
  packages/react-native-executorch/src/modules/natural_language_processing/NewTokenizerModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TokenizerModule.ts
Due: lint, types, format-js

fix: small styling layout fixes
  apps/computer-vision/app/_layout.tsx
  apps/llm/app/_layout.tsx
Due: lint, types, format-js

chore: make tokenizer private
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.h
Due: format-objc

chore: fix return types in native code, add const / const noexcept
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.cpp
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.h
Due: format-objc

fix: model loading and deleting logic inside useLLM hook (#404)
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
Due: lint, types, format-js

refactor: move repeated code to a function
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.cpp
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.h
Due: format-objc

refactor: make it possible to pass methodname to ensureTokenizerLoaded
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.cpp
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.h
Due: format-objc

Added custom drawer content and forced reloads on Screen components w… (#401)
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/app/image_segmentation/index.tsx
  apps/computer-vision/app/object_detection/index.tsx
  apps/computer-vision/app/ocr/index.tsx
  apps/computer-vision/app/ocr_vertical/index.tsx
  apps/computer-vision/app/style_transfer/index.tsx
  apps/computer-vision/context.ts
  apps/computer-vision/screenWrapper.tsx
  apps/llm/app/_layout.tsx
  apps/llm/app/llm/index.tsx
  apps/llm/app/llm_tool_calling/index.tsx
  apps/llm/app/voice_chat/index.tsx
  apps/llm/context.ts
  apps/llm/ios/Podfile.lock
Due: lint, types, format-js

fix: truly disable camera in computer-vision on emulator
  apps/computer-vision/components/BottomBar.tsx
Due: lint, types, format-js

fix: export all the TokenizerModule methods to JS & add a specific concept for Tokenizer
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/FunctionHelpers.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/TypeConcepts.h
Due: format-objc

Added tokenCallback. Depracated responseCallback. Added filtering out pad and eos tokens so they never get to end user.
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js

Add setter in LLMModule and docs
  docs/docs/natural-language-processing/useLLM.md
  docs/docs/typescript-api/LLMModule.md
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
Due: lint, types, format-js, format-other

Micro-fix
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js

ANother micor fix
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js

chore: use list initialization in TokenizerModule constructor
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.cpp
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.h
Due: format-objc

refactor: 🧹
  packages/react-native-executorch/src/hooks/natural_language_processing/useTokenizer.ts
Due: lint, types, format-js

Another micro fix
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js

chore: make TokenizerModule constructor explicit
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.h
Due: format-objc

Fixes
  docs/docs/natural-language-processing/useLLM.md
  docs/docs/typescript-api/LLMModule.md
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
Due: lint, types, format-js, format-other

fixes
  docs/docs/natural-language-processing/useLLM.md
  docs/docs/typescript-api/LLMModule.md
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
Due: lint, types, format-js, format-other

Fixes
  docs/docs/natural-language-processing/useLLM.md
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js, format-other

refactor: rename ScreenWrapper to Pascal Case
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/app/image_segmentation/index.tsx
  apps/computer-vision/app/object_detection/index.tsx
  apps/computer-vision/app/ocr/index.tsx
  apps/computer-vision/app/ocr_vertical/index.tsx
  apps/computer-vision/app/style_transfer/index.tsx
Due: lint, types, format-js

fix: case sensitivity issues with renaming ScreenWrapper
  apps/computer-vision/ScreenWrapper.tsx
Due: lint, types, format-js

Create enum for special tokens
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js

fix
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
Due: lint, types, format-js

feat: Improvements in LLMs (#406)
  docs/docs/natural-language-processing/useLLM.md
  docs/docs/typescript-api/LLMModule.md
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-other

feat: Improvements in LLMs (#406)
  docs/docs/natural-language-processing/useLLM.md
  docs/docs/typescript-api/LLMModule.md
  src/controllers/LLMController.ts
  src/hooks/natural_language_processing/useLLM.ts
  src/modules/natural_language_processing/LLMModule.ts
  src/types/llm.ts
Due: lint, types, format-js, format-other
