Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, format-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx tsc --noEmit
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}

Added conversion from BGR to RGB in vision model. Images laoded with OpenCV are in BGR and we ignored it until now.
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
Due: format-objc

wip: working ish brute force
  packages/react-native-executorch/common/rnexecutorch/bindings/ExecutorchModule.cpp
  packages/react-native-executorch/common/rnexecutorch/bindings/ExecutorchModule.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/src/index.tsx
  packages/react-native-executorch/src/modules/general/NewExecutorchModule.ts
Due: lint, types, format-js, format-objc

fix: Remove unnecessary files after adding C++ classification (#369)
  packages/react-native-executorch/src/native/NativeClassification.ts
  packages/react-native-executorch/src/native/RnExecutorchModules.ts
Due: lint, types, format-js

fix: Podspec typo for ios device (#370)
  packages/react-native-executorch/react-native-executorch.podspec
Due: none

fix: Rename unload cpp function (#372)
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
Due: format-objc

fix: Added conversion from BGR to RGB in vision model. Images loaded with … (#375)
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
Due: format-objc

feat: port object detection to C++
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/ObjectDetection.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/RnExecutorchPackage.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/models/objectDetection/SSDLiteLargeModel.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/utils/ObjectDetectionUtils.kt
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/jsi/OwningArrayBuffer.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/Utils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/Utils.h
  packages/react-native-executorch/ios/RnExecutorch/ObjectDetection.h
  packages/react-native-executorch/ios/RnExecutorch/ObjectDetection.mm
  packages/react-native-executorch/ios/RnExecutorch/models/image_segmentation/Constants.mm
  packages/react-native-executorch/ios/RnExecutorch/models/object_detection/SSDLiteLargeModel.hpp
  packages/react-native-executorch/ios/RnExecutorch/models/object_detection/SSDLiteLargeModel.mm
  packages/react-native-executorch/ios/RnExecutorch/utils/Constants.h
  packages/react-native-executorch/ios/RnExecutorch/utils/ObjectDetectionUtils.hpp
  packages/react-native-executorch/src/hooks/computer_vision/useObjectDetection.ts
  packages/react-native-executorch/src/index.tsx
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/native/NativeObjectDetection.ts
  packages/react-native-executorch/src/native/RnExecutorchModules.ts
Due: lint, types, format-js, format-objc

fix: fixes after rebase
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
Due: lint, types, format-js, format-objc

fix: add BGR to RGB conversion
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
  packages/react-native-executorch/src/modules/BaseNonStaticModule.ts
Due: lint, types, format-js, format-objc

wip
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/bindings/ExecutorchModule.cpp
  packages/react-native-executorch/common/rnexecutorch/bindings/ExecutorchModule.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/JsiTensorView.h
  packages/react-native-executorch/common/rnexecutorch/utils/TypeConstraints.h
  packages/react-native-executorch/src/index.tsx
  packages/react-native-executorch/src/modules/general/NewExecutorchModule.ts
Due: lint, types, format-js, format-objc

feat: finish forward of ExecutorchModule
  packages/react-native-executorch/common/rnexecutorch/bindings/ExecutorchModule.cpp
Due: format-objc

feat: add a JSI conversion from OwningArrayBuffers to JS types
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
Due: format-objc

fix: update ExecutorchModule header
  packages/react-native-executorch/common/rnexecutorch/bindings/ExecutorchModule.h
Due: format-objc

fix: change the concept to check for external memory pressure properties
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/TypeConstraints.h
  packages/react-native-executorch/common/rnexecutorch/utils/TypeConstraints.h
Due: format-objc

fix: post-rebase concept fixes
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/bindings/ExecutorchModule.cpp
  packages/react-native-executorch/common/rnexecutorch/bindings/ExecutorchModule.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
Due: format-objc

chore: 🧹
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
Due: format-objc

fix: abstract loading images to tensors
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.h
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.h
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.h
Due: format-objc

fix: update exception info
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
Due: format-objc

fix: complete scalartype enum & move types to common.ts
  packages/react-native-executorch/src/modules/general/NewExecutorchModule.ts
  packages/react-native-executorch/src/types/common.ts
Due: lint, types, format-js

fix: convert BGR to RGB after resizing
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.h
Due: format-objc

chore: get rid of numel within JsiTensorView ✨
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/utils/JsiTensorView.h
Due: format-objc

Remove warnings while using yarn in example apps & refactor config file
  apps/computer-vision/package.json
  apps/llm/ios/Podfile.lock
  apps/llm/package.json
  apps/speech-to-text/package.json
  package.json
  yarn.lock
Due: format-other

Remove Podfile.lock
  apps/llm/ios/Podfile.lock
Due: none

Refactor Executorch bindings
  docs/docs/executorch-bindings/useExecutorchModule.md
  docs/docs/typescript-api/ExecutorchModule.md
  packages/react-native-executorch/src/modules/general/ExecutorchModule.ts
  packages/react-native-executorch/src/types/common.ts
Due: lint, types, format-js, format-other

Update example in docs
  docs/docs/typescript-api/ExecutorchModule.md
Due: format-other

Update docs/docs/typescript-api/ExecutorchModule.md
  docs/docs/typescript-api/ExecutorchModule.md
Due: format-other

Fix types
  docs/docs/typescript-api/ExecutorchModule.md
  packages/react-native-executorch/src/modules/general/ExecutorchModule.ts
  packages/react-native-executorch/src/types/common.ts
Due: lint, types, format-js, format-other

Remove setting typescript
  apps/computer-vision/package.json
  apps/llm/package.json
  apps/speech-to-text/package.json
  yarn.lock
Due: format-other
