Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

docs: align model backend tables with the registry
  docs/docs/02-extensions/computer-vision/04-pose-and-keypoints.md
  docs/docs/02-extensions/natural-language/02-llm-chat-and-generation.md
  docs/docs/02-extensions/natural-language/03-text-embeddings.md
Due: format-other, spell-check-other

chore: fix the cspell ignore paths
  .agents/skills/add-api-tests/SKILL.md
  .cspell-wordlist.txt
  .cspell.json
  packages/react-native-executorch/cpp/tests/README.md
Due: format-other, spell-check-other

fix(license): restore the MIT disclaimer, credit third-party components, ship the file
  .gitignore
  LICENSE
  packages/bare-resource-fetcher/LICENSE
  packages/expo-resource-fetcher/LICENSE
  packages/react-native-executorch-webrtc/LICENSE
  packages/react-native-executorch/scripts/create-package.sh
Due: none

fix(webrtc): point the header search paths at legacy/cpp
  packages/react-native-executorch-webrtc/android/CMakeLists.txt
  packages/react-native-executorch-webrtc/react-native-executorch-webrtc.podspec
Due: none

ci: run each job only when its inputs changed
  .github/workflows/ci.yml
  .github/workflows/docs-build-check.yml
  .github/workflows/publish_docs.yml
Due: format-other

ci(publish): install only the package being published
  .github/workflows/npm-publish.yml
  packages/react-native-executorch/scripts/create-package.sh
Due: format-other

ci(publish): focus the satellite installs too
  .github/workflows/npm-publish-satellites.yml
Due: format-other

fix(satellites): keep the tsc build-info out of the published tarball
  packages/bare-resource-fetcher/tsconfig.json
  packages/expo-resource-fetcher/tsconfig.json
  packages/react-native-executorch-webrtc/tsconfig.json
Due: format-other

fix(ci): resolve the satellite version from package.json
  .github/workflows/npm-publish-satellites.yml
Due: format-other

docs: align model backend tables with the registry (#1435)
  docs/docs/02-extensions/computer-vision/04-pose-and-keypoints.md
  docs/docs/02-extensions/natural-language/02-llm-chat-and-generation.md
  docs/docs/02-extensions/natural-language/03-text-embeddings.md
Due: format-other, spell-check-other

chore: fix the cspell ignore paths (#1436)
  .agents/skills/add-api-tests/SKILL.md
  .cspell-wordlist.txt
  .cspell.json
  packages/react-native-executorch/cpp/tests/README.md
Due: format-other, spell-check-other

fix(license): restore the MIT disclaimer, credit third-party components, ship the file (#1437)
  .gitignore
  LICENSE
  packages/bare-resource-fetcher/LICENSE
  packages/expo-resource-fetcher/LICENSE
  packages/react-native-executorch-webrtc/LICENSE
  packages/react-native-executorch/scripts/create-package.sh
Due: none

ci: run each job only when its inputs changed (#1439)
  .github/workflows/ci.yml
  .github/workflows/docs-build-check.yml
  .github/workflows/publish_docs.yml
Due: format-other

fix(ci): resolve the satellite version from package.json (#1441)
  .github/workflows/npm-publish-satellites.yml
Due: format-other

fix(webrtc): point the header search paths at legacy/cpp (#1438)
  packages/react-native-executorch-webrtc/android/CMakeLists.txt
  packages/react-native-executorch-webrtc/react-native-executorch-webrtc.podspec
Due: none

fix(release): point the last model at v0.10.0 and stamp the real telemetry version
  RELEASE.md
  packages/react-native-executorch/__tests__/fetcher/telemetry.test.ts
  packages/react-native-executorch/src/fetcher/telemetry.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-other, spell-check-other

fix(release): point the last model at v0.10.0 and stamp the real telemetry version (#1442)
  RELEASE.md
  packages/react-native-executorch/__tests__/fetcher/telemetry.test.ts
  packages/react-native-executorch/src/fetcher/telemetry.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-other, spell-check-other

fix(publish): reject a dist-tag npm will reject, not one that merely looks like a version
  .github/workflows/npm-publish.yml
Due: format-other

docs(release): record the legacy dist-tag move and satellite dispatch
  RELEASE.md
Due: format-other, spell-check-other

docs(release): drop the satellite dispatch note
  RELEASE.md
Due: format-other, spell-check-other

Bump version to v0.11.0
  RELEASE.md
  packages/bare-resource-fetcher/package.json
  packages/expo-resource-fetcher/package.json
  packages/react-native-executorch-webrtc/package.json
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/fetcher/telemetry.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-other, spell-check-other

Move the RELEASE.md step 10 fix to #1443
  RELEASE.md
Due: format-other, spell-check-other

docs(release): correct the post-release bump step
  RELEASE.md
Due: format-other, spell-check-other

[MERGE AFTER 0.10 RELEASE] ci(publish): install only the package being published (#1440)
  .github/workflows/npm-publish-satellites.yml
  .github/workflows/npm-publish.yml
  packages/bare-resource-fetcher/tsconfig.json
  packages/expo-resource-fetcher/tsconfig.json
  packages/react-native-executorch-webrtc/tsconfig.json
  packages/react-native-executorch/scripts/create-package.sh
Due: format-other

Bump version to v0.11.0 (#1444)
  packages/bare-resource-fetcher/package.json
  packages/expo-resource-fetcher/package.json
  packages/react-native-executorch-webrtc/package.json
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/fetcher/telemetry.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-other

docs(release): document the legacy dist-tag move and fix the post-release bump step (#1443)
  RELEASE.md
Due: format-other, spell-check-other

docs: fix gallery app source links in 0.10 versioned docs
  docs/versioned_docs/version-0.10.0/02-extensions/computer-vision/02-image-classification.md
  docs/versioned_docs/version-0.10.0/02-extensions/computer-vision/03-object-detection.md
  docs/versioned_docs/version-0.10.0/02-extensions/computer-vision/04-pose-and-keypoints.md
  docs/versioned_docs/version-0.10.0/02-extensions/computer-vision/05-optical-character-recognition.md
  docs/versioned_docs/version-0.10.0/02-extensions/computer-vision/06-semantic-segmentation.md
  docs/versioned_docs/version-0.10.0/02-extensions/computer-vision/07-instance-segmentation.md
  docs/versioned_docs/version-0.10.0/02-extensions/computer-vision/08-style-transfer.md
  docs/versioned_docs/version-0.10.0/02-extensions/computer-vision/09-image-embeddings.md
  docs/versioned_docs/version-0.10.0/02-extensions/computer-vision/10-text-to-image.md
  docs/versioned_docs/version-0.10.0/02-extensions/computer-vision/11-camera-integration.md
  docs/versioned_docs/version-0.10.0/02-extensions/natural-language/02-llm-chat-and-generation.md
  docs/versioned_docs/version-0.10.0/02-extensions/natural-language/03-text-embeddings.md
  docs/versioned_docs/version-0.10.0/02-extensions/natural-language/04-privacy-filter.md
  docs/versioned_docs/version-0.10.0/02-extensions/speech/02-text-to-speech.md
  docs/versioned_docs/version-0.10.0/02-extensions/speech/03-speech-to-text.md
  docs/versioned_docs/version-0.10.0/02-extensions/speech/04-voice-activity-detection.md
Due: format-other, spell-check-other

docs: fix gallery app source links in 0.10 versioned docs (#1447)
  docs/versioned_docs/version-0.10.0/02-extensions/computer-vision/02-image-classification.md
  docs/versioned_docs/version-0.10.0/02-extensions/computer-vision/03-object-detection.md
  docs/versioned_docs/version-0.10.0/02-extensions/computer-vision/04-pose-and-keypoints.md
  docs/versioned_docs/version-0.10.0/02-extensions/computer-vision/05-optical-character-recognition.md
  docs/versioned_docs/version-0.10.0/02-extensions/computer-vision/06-semantic-segmentation.md
  docs/versioned_docs/version-0.10.0/02-extensions/computer-vision/07-instance-segmentation.md
  docs/versioned_docs/version-0.10.0/02-extensions/computer-vision/08-style-transfer.md
  docs/versioned_docs/version-0.10.0/02-extensions/computer-vision/09-image-embeddings.md
  docs/versioned_docs/version-0.10.0/02-extensions/computer-vision/10-text-to-image.md
  docs/versioned_docs/version-0.10.0/02-extensions/computer-vision/11-camera-integration.md
  docs/versioned_docs/version-0.10.0/02-extensions/natural-language/02-llm-chat-and-generation.md
  docs/versioned_docs/version-0.10.0/02-extensions/natural-language/03-text-embeddings.md
  docs/versioned_docs/version-0.10.0/02-extensions/natural-language/04-privacy-filter.md
  docs/versioned_docs/version-0.10.0/02-extensions/speech/02-text-to-speech.md
  docs/versioned_docs/version-0.10.0/02-extensions/speech/03-speech-to-text.md
  docs/versioned_docs/version-0.10.0/02-extensions/speech/04-voice-activity-detection.md
Due: format-other, spell-check-other

fix(ios): narrow the podspec's public headers
  .cspell-wordlist.txt
  packages/react-native-executorch/__tests__/README.md
  packages/react-native-executorch/__tests__/api/podspecPublicHeaders.test.ts
  packages/react-native-executorch/react-native-executorch.podspec
Due: lint, types, format-js, format-other, spell-check-other

feat(core): support react-native-worklets 0.8 and 0.9
  docs/docs/01-fundamentals/01-getting-started.md
  docs/docs/05-other/01-compatibility.mdx
  docs/src/components/CompatibilityTable/styles.module.css
  packages/react-native-executorch/__tests__/core/runtime.test.ts
  packages/react-native-executorch/__tests__/core/serialization.test.ts
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/core/runtime.ts
  packages/react-native-executorch/src/core/serialization.ts
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

fix(build): fail with the cause when the native artifacts are missing
  docs/docs/01-fundamentals/01-getting-started.md
  docs/docs/03-core-and-advanced/08-native-libraries.md
  docs/docs/05-other/02-troubleshooting.md
  packages/react-native-executorch/android/build.gradle.kts
  packages/react-native-executorch/react-native-executorch.podspec
Due: format-other, spell-check-other

fix(ios): declare the pod a static framework
  packages/react-native-executorch/react-native-executorch.podspec
Due: none
