Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

chore: add legacy RF to /legacy
  packages/expo-resource-fetcher/package.json
  packages/expo-resource-fetcher/src/legacy/ResourceFetcher.ts
  packages/expo-resource-fetcher/src/legacy/ResourceFetcherUtils.ts
  packages/expo-resource-fetcher/src/legacy/constants/directories.ts
  packages/expo-resource-fetcher/src/legacy/handlers.ts
  packages/expo-resource-fetcher/src/legacy/index.ts
Due: lint, types, format-js, format-other

chore(deps): fix navigation issues & text-embeddings demo app problems
  apps/text-embeddings/app/clip-embeddings/index.tsx
  apps/text-embeddings/app/text-embeddings/index.tsx
  apps/text-embeddings/package.json
  yarn.lock
Due: lint, types, format-js, format-other

chore: reject with typed error
  packages/expo-resource-fetcher/src/handlers.ts
Due: lint, types, format-js

chore: early return when paused
  packages/expo-resource-fetcher/src/handlers.ts
Due: lint, types, format-js

chore: move import check
  packages/expo-resource-fetcher/src/ResourceFetcher.ts
Due: lint, types, format-js

chore: mark legacy RF as deprecated
  packages/expo-resource-fetcher/src/legacy/ResourceFetcher.ts
Due: lint, types, format-js

docs: add /legacy import note to docs, add new errror
  docs/docs/01-fundamentals/01-getting-started.md
  docs/docs/01-fundamentals/02-loading-models.md
  docs/docs/05-utilities/04-error-handling.md
  packages/expo-resource-fetcher/src/ResourceFetcher.ts
  packages/react-native-executorch/common/rnexecutorch/ErrorCodes.h
  packages/react-native-executorch/src/errors/ErrorCodes.ts
  scripts/errors.config.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

chore: regenerate ErrorCodes.h
  packages/react-native-executorch/common/rnexecutorch/ErrorCodes.h
Due: format-objc

chore: dedup shared logic with legacy path
  packages/expo-resource-fetcher/src/ResourceFetcherUtils.ts
  packages/expo-resource-fetcher/src/legacy/ResourceFetcherUtils.ts
  packages/expo-resource-fetcher/src/sharedUtils.ts
Due: lint, types, format-js

chore: remove unused function
  packages/expo-resource-fetcher/src/ResourceFetcherUtils.ts
Due: lint, types, format-js

chore: update errors
  packages/expo-resource-fetcher/src/ResourceFetcher.ts
  packages/react-native-executorch/common/rnexecutorch/ErrorCodes.h
  packages/react-native-executorch/src/errors/ErrorCodes.ts
  scripts/errors.config.ts
Due: lint, types, format-js, format-objc

fix(podspec): resolve iOS link errors after backend split
  packages/react-native-executorch/react-native-executorch.podspec
Due: none

refactor: rename phonemizer feature/flag to phonemis
  docs/docs/01-fundamentals/01-getting-started.md
  packages/react-native-executorch/NATIVE_LIBS_PIPELINE.md
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/android/build.gradle
  packages/react-native-executorch/android/src/main/cpp/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/scripts/package-release-artifacts.sh
Due: lint, types, format-js, format-objc, format-other, spell-check-other

perf: speed up top-p sampling for large vocabularies
  packages/react-native-executorch/common/runner/sampler.cpp
Due: format-objc

lint: fix lint warning
  packages/expo-resource-fetcher/src/legacy/ResourceFetcher.ts
Due: lint, types, format-js

chore(deps)!: use non-legacy Expo FS in Resource Fetcher, bump SDK version to 56 in demo apps (#1222)
  apps/computer-vision/ScreenWrapper.tsx
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/babel.config.js
  apps/computer-vision/components/ImageWithMasks.tsx
  apps/computer-vision/components/vision_camera/tasks/ClassificationTask.tsx
  apps/computer-vision/package.json
  apps/llm/app/_layout.tsx
  apps/llm/app/llm/index.tsx
  apps/llm/app/llm_structured_output/index.tsx
  apps/llm/app/llm_tool_calling/index.tsx
  apps/llm/app/multimodal_llm/index.tsx
  apps/llm/app/privacy_filter/index.tsx
  apps/llm/package.json
  apps/llm/utils/tools.ts
  apps/speech/package.json
  apps/text-embeddings/app/_layout.tsx
  apps/text-embeddings/app/clip-embeddings/index.tsx
  apps/text-embeddings/app/text-embeddings/index.tsx
  apps/text-embeddings/package.json
  docs/docs/01-fundamentals/01-getting-started.md
  docs/docs/01-fundamentals/02-loading-models.md
  docs/docs/05-utilities/04-error-handling.md
  packages/expo-resource-fetcher/package.json
  packages/expo-resource-fetcher/src/constants/directories.ts
  packages/expo-resource-fetcher/src/legacy/ResourceFetcher.ts
  packages/expo-resource-fetcher/src/legacy/ResourceFetcherUtils.ts
  packages/expo-resource-fetcher/src/legacy/constants/directories.ts
  packages/expo-resource-fetcher/src/legacy/handlers.ts
  packages/expo-resource-fetcher/src/legacy/index.ts
  packages/expo-resource-fetcher/src/sharedUtils.ts
  packages/react-native-executorch/common/rnexecutorch/ErrorCodes.h
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/errors/ErrorCodes.ts
  scripts/errors.config.ts
  yarn.lock
Due: lint, types, format-js, format-objc, format-other, spell-check-other

refactor: address review feedback in top-p sampler
  packages/react-native-executorch/common/runner/sampler.cpp
Due: format-objc

refactor: accumulate top-p sums in float, not double
  packages/react-native-executorch/common/runner/sampler.cpp
Due: format-objc

refactor: compute top-p in an upcast-only accumulator type
  packages/react-native-executorch/common/runner/sampler.cpp
Due: format-objc

perf: speed up top-p sampling for large vocabularies (#1232)
  packages/react-native-executorch/common/runner/sampler.cpp
Due: format-objc

Bind with phonemis release tag
  .gitmodules
Due: none

refactor: single chokepoint + per-platform backend preference
  packages/react-native-executorch/src/constants/modelRegistry.ts
Due: lint, types, format-js

chore: fix clanker errors
  apps/computer-vision/app/pose_estimation/index.tsx
  docs/docs/03-hooks/02-computer-vision/usePoseEstimation.md
Due: lint, types, format-js, format-other, spell-check-other

feat(pose): add RF-DETR keypoint preview (beta) model
  apps/computer-vision/app/pose_estimation/index.tsx
  docs/docs/03-hooks/02-computer-vision/usePoseEstimation.md
  docs/docs/05-utilities/model-registry.md
  packages/react-native-executorch/src/constants/modelRegistry.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/modules/computer_vision/PoseEstimationModule.ts
  packages/react-native-executorch/src/types/poseEstimation.ts
Due: lint, types, format-js, format-other, spell-check-other

chore: use proper version tag instead of main
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

feat: add model picker to pose estimation screen
  apps/computer-vision/app/pose_estimation/index.tsx
Due: lint, types, format-js

chore: streamline model access
  apps/computer-vision/app/pose_estimation/index.tsx
Due: lint, types, format-js

feat: release react-native-executorch-webrtc
  .github/workflows/npm-publish-react-native-executorch-webrtc.yml
  docs/docs/05-utilities/01-webrtc-integration.md
Due: format-other, spell-check-other

chore: set webrtc version to 0.9.0 and use model registry in docs
  docs/docs/05-utilities/01-webrtc-integration.md
  packages/react-native-executorch-webrtc/package.json
Due: format-other, spell-check-other

fix: replace broken link
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

feat: add RF-DETR keypoint preview model (#1257)
  apps/computer-vision/app/pose_estimation/index.tsx
  docs/docs/03-hooks/02-computer-vision/usePoseEstimation.md
  docs/docs/05-utilities/model-registry.md
  packages/react-native-executorch/src/constants/modelRegistry.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/modules/computer_vision/PoseEstimationModule.ts
  packages/react-native-executorch/src/types/poseEstimation.ts
Due: lint, types, format-js, format-other, spell-check-other

chore: bump version in package.json
  packages/react-native-executorch/package.json
Due: format-other
