Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

refactor(cv): de-duplicate normalize options parsing, use std::ranges::fill, and clean up loop/dimension types
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
Due: format-objc

docs: add comments clarifying numpy-style negative axis handling in operations.cpp
  packages/react-native-executorch/cpp/extensions/math/operations.cpp
Due: format-objc

perf(math): optimize argmax memory access pattern for cache locality
  packages/react-native-executorch/cpp/extensions/math/operations.cpp
Due: format-objc

Apply suggestion from @msluszniak
  packages/react-native-executorch/src/extensions/cv/ops/image.ts
Due: lint, types, format-js

Apply suggestion from @msluszniak
  packages/react-native-executorch/src/extensions/cv/tasks/classification.ts
Due: lint, types, format-js

fix: type
  packages/react-native-executorch/src/extensions/cv/tasks/classification.ts
Due: lint, types, format-js

Assert label vocab length at construction, validate topk, and add prettier-ignore
  packages/react-native-executorch/src/extensions/cv/tasks/classification.ts
Due: lint, types, format-js

Apply suggestion from @msluszniak
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
Due: lint, types, format-js

refact(cv): use constant for RGB channels and format expected shapes in error message
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
Due: lint, types, format-js

Apply suggestion from @msluszniak
  packages/react-native-executorch/src/extensions/math.ts
Due: lint, types, format-js

fix: dispose loaded model in finally block in inspectModel
  packages/react-native-executorch/src/utils.ts
Due: lint, types, format-js

fix(hooks): use unique temp file per download and handle move race
  packages/react-native-executorch/src/hooks/useResourceDownload.ts
Due: lint, types, format-js

refactor(cv): use computeFit helper in resize operation
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
Due: format-objc

refactor(math): use size_t in loops for axis operations
  packages/react-native-executorch/cpp/extensions/math/operations.cpp
Due: format-objc

feat(computer-vision): conditionally disable CoreML option on non-iOS platforms
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/components/ModelPicker.tsx
Due: lint, types, format-js

Apply suggestions from code review
  apps/computer-vision/components/ModelPicker.tsx
  packages/react-native-executorch/src/utils.ts
Due: lint, types, format-js

refactor(cpp): use std::cmp_less for signed/unsigned loop comparisons
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/cpp/extensions/math/operations.cpp
Due: format-objc

docs(jsdoc): streamline and align typescript API comments with native C++ constraints
  packages/react-native-executorch/src/core/tensor.ts
  packages/react-native-executorch/src/extensions/cv/ops/image.ts
  packages/react-native-executorch/src/extensions/cv/tasks/classification.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
  packages/react-native-executorch/src/extensions/math.ts
  packages/react-native-executorch/src/hooks/useClassifier.ts
  packages/react-native-executorch/src/hooks/useModel.ts
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js

[RNE Rewrite] docs(jsdoc): streamline and align typescript API comments with native code (#1272)
  packages/react-native-executorch/src/core/tensor.ts
  packages/react-native-executorch/src/extensions/cv/ops/image.ts
  packages/react-native-executorch/src/extensions/cv/tasks/classification.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
  packages/react-native-executorch/src/extensions/math.ts
  packages/react-native-executorch/src/hooks/useClassifier.ts
  packages/react-native-executorch/src/hooks/useModel.ts
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js

chore: remove semantic segmentation references
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/index.tsx
Due: lint, types, format-js

chore: clean up and unify example app layout, styling, and dependencies
  .cspell-wordlist.txt
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/inspect/index.tsx
  apps/computer-vision/commonStyles.ts
  apps/computer-vision/components/Button.tsx
  apps/computer-vision/components/ImageViewport.tsx
  apps/computer-vision/components/LatencyIndicator.tsx
  apps/computer-vision/components/ModelStatus.tsx
  apps/computer-vision/components/ScreenWrapper.tsx
  apps/computer-vision/package.json
  apps/computer-vision/theme.ts
  apps/computer-vision/utils.ts
  package.json
  packages/react-native-executorch/package.json
  patches/react-native-worklets+0.9.1.patch
  yarn.lock
Due: lint, types, format-js, format-other

chore: consolidate colors, theme, and commonStyles into theme.ts
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/inspect/index.tsx
  apps/computer-vision/colors.ts
  apps/computer-vision/commonStyles.ts
  apps/computer-vision/theme.ts
Due: lint, types, format-js

chore: remove isMountedRef from Model Inspector screen
  apps/computer-vision/app/inspect/index.tsx
Due: lint, types, format-js

fix: fix comments
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/theme.ts
Due: lint, types, format-js

feat: add MLX builds for LFM2.5 and privacy-filter models (#1266)
  packages/react-native-executorch/common/runner/encoders/vision_encoder.cpp
  packages/react-native-executorch/common/runner/encoders/vision_encoder.h
  packages/react-native-executorch/common/runner/multimodal_prefiller.cpp
  packages/react-native-executorch/common/runner/util.h
  packages/react-native-executorch/src/constants/modelRegistry.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-objc

feat: LFM2.5 text-embedding + ColBERT (MLX/XNNPACK) with prompts & MaxSim
  apps/text-embeddings/app/_layout.tsx
  apps/text-embeddings/app/clip-embeddings/index.tsx
  apps/text-embeddings/app/colbert/index.tsx
  apps/text-embeddings/app/text-embeddings/index.tsx
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.cpp
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Encoder.cpp
  packages/react-native-executorch/src/constants/modelRegistry.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextEmbeddings.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/types/textEmbeddings.ts
  packages/react-native-executorch/src/utils/textEmbeddings.ts
Due: lint, types, format-js, format-objc

fix: address review on text-embeddings/ColBERT
  apps/computer-vision/app/segment_anything/index.tsx
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.cpp
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/BaseEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/BaseEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextEmbeddingsTest.cpp
  packages/react-native-executorch/src/constants/modelRegistry.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/utils/textEmbeddings.ts
Due: lint, types, format-js, format-objc

refactor: make useTextEmbeddings.forward non-breaking
  apps/computer-vision/app/segment_anything/index.tsx
  apps/text-embeddings/app/clip-embeddings/index.tsx
  apps/text-embeddings/app/text-embeddings/index.tsx
  packages/react-native-executorch/src/constants/modelRegistry.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextEmbeddings.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/types/textEmbeddings.ts
Due: lint, types, format-js

fix(cv): clamp image resizing width to source width and avoid passing ImageRef to manipulate to prevent iOS JSI crash
  apps/computer-vision/utils.ts
Due: lint, types, format-js

refactor: move skiplist to model config, MaxSim scoring to app
  apps/text-embeddings/app/colbert/index.tsx
  apps/text-embeddings/utils/math.ts
  packages/react-native-executorch/src/constants/modelRegistry.ts
  packages/react-native-executorch/src/types/textEmbeddings.ts
  packages/react-native-executorch/src/utils/textEmbeddings.ts
Due: lint, types, format-js

Refactor Skia image loading to use useImage hook and fix Expo JSI crash on resize
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/utils.ts
Due: lint, types, format-js

Update react-native-worklets patch to match rnet-poc version
  patches/react-native-worklets+0.9.1.patch
Due: none

Refactor getImage to prepare and return the image URI directly
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/utils.ts
Due: lint, types, format-js

[RNE Rewrite] chore: clean up and unify example app layout, styling, and fix dependencies (#1273)
  .cspell-wordlist.txt
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/inspect/index.tsx
  apps/computer-vision/colors.ts
  apps/computer-vision/components/Button.tsx
  apps/computer-vision/components/ImageViewport.tsx
  apps/computer-vision/components/LatencyIndicator.tsx
  apps/computer-vision/components/ModelStatus.tsx
  apps/computer-vision/components/ScreenWrapper.tsx
  apps/computer-vision/package.json
  apps/computer-vision/theme.ts
  apps/computer-vision/utils.ts
  package.json
  packages/react-native-executorch/package.json
  patches/react-native-worklets+0.9.1.patch
  yarn.lock
Due: lint, types, format-js, format-other

refactor(example): merge ColBERT search into text embeddings screen
  apps/text-embeddings/app/_layout.tsx
  apps/text-embeddings/app/colbert/index.tsx
  apps/text-embeddings/app/text-embeddings/index.tsx
Due: lint, types, format-js

refactor: drop empty BaseEmbeddings layer, rename skipList, trim comments
  apps/text-embeddings/app/text-embeddings/index.tsx
  apps/text-embeddings/utils/math.ts
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/BaseEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/BaseEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/Encoder.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/src/constants/modelRegistry.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/types/textEmbeddings.ts
Due: lint, types, format-js, format-objc

refactor: extract TextEmbeddings::buildResult, validate output rank
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.h
Due: format-objc

feat(nlp): add tokenizer pipeline (worklet host object) [#1248]
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/cpp/RnExecutorch.cpp
  packages/react-native-executorch/cpp/extensions/nlp/install.cpp
  packages/react-native-executorch/cpp/extensions/nlp/install.h
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.cpp
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.h
  packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/src/extensions/nlp/index.ts
  packages/react-native-executorch/src/extensions/nlp/ops/tokenizer.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/tokenizer.ts
  packages/react-native-executorch/src/hooks/useTokenizer.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/models.ts
  packages/react-native-executorch/third-party/README.md
Due: lint, types, format-js, format-objc, format-other, spell-check-other

feat(nlp): add tokenizer demo to a dedicated nlp example app
  apps/nlp/app.json
  apps/nlp/app/_layout.tsx
  apps/nlp/app/index.tsx
  apps/nlp/app/tokenizer/index.tsx
  apps/nlp/assets/icons/adaptive-icon.png
  apps/nlp/assets/icons/executorch.svg
  apps/nlp/assets/icons/favicon.png
  apps/nlp/assets/icons/icon.png
  apps/nlp/assets/icons/splash.png
  apps/nlp/babel.config.js
  apps/nlp/components/Button.tsx
  apps/nlp/components/ModelStatus.tsx
  apps/nlp/components/ScreenWrapper.tsx
  apps/nlp/declarations.d.ts
  apps/nlp/index.ts
  apps/nlp/metro.config.js
  apps/nlp/package.json
  apps/nlp/theme.ts
  apps/nlp/tsconfig.json
  yarn.lock
Due: lint, types, format-js, format-other
