Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

[RNE Rewrite] perf(nlp): return tokenizer ids as Int32Array instead of number[] (#1332)
  apps/nlp/app/tokenizer/index.tsx
  packages/react-native-executorch/cpp/core/conversions.h
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.cpp
  packages/react-native-executorch/src/extensions/nlp/tokenizer.ts
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
Due: lint, types, format-js, format-objc

refactor: extract tokenizer try-lock helper
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.cpp
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.h
Due: format-objc

Apply suggestion from @msluszniak
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.h
Due: format-objc

[RNE Rewrite] Extract tokenizer try-lock helper (#1331)
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.cpp
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.h
Due: format-objc

fix(cpp): remove redundant C10_USING_CUSTOM_GENERATED_MACROS flag to fix macro redefinition warning
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/compile_flags.txt
  packages/react-native-executorch/react-native-executorch.podspec
Due: none

[RNE Rewrite] fix(build): remove redundant flag to fix macro redefinition warning (#1338)
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/compile_flags.txt
  packages/react-native-executorch/react-native-executorch.podspec
Due: none

fix(cpp): improve error messages in core and extensions using std::format
  packages/react-native-executorch/cpp/core/conversions.h
  packages/react-native-executorch/cpp/core/tensor.cpp
  packages/react-native-executorch/cpp/extensions/cv/box_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/cpp/extensions/math/operations.cpp
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.cpp
  packages/react-native-executorch/cpp/extensions/speech/operations.cpp
Due: format-objc

[RNE Rewrite] style(cpp): improve error messages in core and extensions (#1339)
  packages/react-native-executorch/cpp/core/conversions.h
  packages/react-native-executorch/cpp/core/tensor.cpp
  packages/react-native-executorch/cpp/extensions/cv/box_ops.cpp
  packages/react-native-executorch/cpp/extensions/cv/image_ops.cpp
  packages/react-native-executorch/cpp/extensions/math/operations.cpp
  packages/react-native-executorch/cpp/extensions/nlp/tokenizer.cpp
  packages/react-native-executorch/cpp/extensions/speech/operations.cpp
Due: format-objc

docs(ts): format inline type member comments and function options JSDoc
  packages/react-native-executorch/src/extensions/cv/ops/boxes.ts
  packages/react-native-executorch/src/extensions/cv/ops/image.ts
  packages/react-native-executorch/src/extensions/cv/tasks/classification.ts
  packages/react-native-executorch/src/extensions/cv/tasks/imageEmbedding.ts
  packages/react-native-executorch/src/extensions/cv/tasks/instanceSegmentation.ts
  packages/react-native-executorch/src/extensions/cv/tasks/keypointDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/objectDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
  packages/react-native-executorch/src/extensions/cv/tasks/semanticSegmentation.ts
  packages/react-native-executorch/src/extensions/cv/tasks/styleTransfer.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/textEmbedding.ts
  packages/react-native-executorch/src/extensions/speech/tasks/fsmnVoiceActivityDetection.ts
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
  packages/react-native-executorch/src/extensions/speech/utils/vadUtils.ts
Due: lint, types, format-js

refactor(cv): require normalizeOpts in ImagePreprocessorOptions and StyleTransferOptions
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
  packages/react-native-executorch/src/extensions/cv/tasks/styleTransfer.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

refactor(ts): enforce readonly immutability on SemanticSegmentationResult and BoxMap
  packages/react-native-executorch/src/extensions/cv/ops/boxes.ts
  packages/react-native-executorch/src/extensions/cv/tasks/semanticSegmentation.ts
Due: lint, types, format-js

refactor(ts): fix naming inconsistencies for classifierOpts and SemanticSegmenterModel
  packages/react-native-executorch/src/extensions/cv/tasks/classification.ts
  packages/react-native-executorch/src/extensions/cv/tasks/semanticSegmentation.ts
  packages/react-native-executorch/src/hooks/useClassifier.ts
  packages/react-native-executorch/src/hooks/useSemanticSegmenter.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

docs(models): add JSDoc documentation to model registry presets
  .cspell-wordlist.txt
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

chore: update logo to new brand design
  README.md
  docs/static/img/logo-horizontal-dark.svg
  docs/static/img/logo-horizontal.svg
  docs/static/img/og-image.png
  docs/static/img/title-dark.svg
  docs/static/img/title.svg
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

chore: use vertical lockup and relative paths in READMEs
  README.md
  docs/static/img/logo-vertical-dark.svg
  docs/static/img/logo-vertical.svg
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

fix: centre the wordmark lines in the vertical lockup, separate logo from badges
  README.md
  docs/static/img/logo-vertical-dark.svg
  docs/static/img/logo-vertical.svg
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

chore: tune README logo size and spacing
  README.md
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

chore: update the logo in the Private Mind promo art
  README.md
  docs/static/img/private-mind-promo.png
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

fix: match the promo patch to the surrounding artwork
  docs/static/img/private-mind-promo.png
Due: none

[RNE Rewrite] docs(models): add JSDoc documentation to model registry presets (#1342)
  .cspell-wordlist.txt
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

chore: update logo to new brand design (#1344)
  README.md
  docs/static/img/logo-horizontal-dark.svg
  docs/static/img/logo-horizontal.svg
  docs/static/img/logo-vertical-dark.svg
  docs/static/img/logo-vertical.svg
  docs/static/img/og-image.png
  docs/static/img/private-mind-promo.png
  docs/static/img/title-dark.svg
  docs/static/img/title.svg
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

refactor: rename model config to in CV pipelines
  packages/react-native-executorch/src/extensions/cv/tasks/classification.ts
  packages/react-native-executorch/src/extensions/cv/tasks/imageEmbedding.ts
  packages/react-native-executorch/src/extensions/cv/tasks/instanceSegmentation.ts
  packages/react-native-executorch/src/extensions/cv/tasks/keypointDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/objectDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/semanticSegmentation.ts
  packages/react-native-executorch/src/extensions/cv/tasks/styleTransfer.ts
  packages/react-native-executorch/src/hooks/useClassifier.ts
  packages/react-native-executorch/src/hooks/useInstanceSegmenter.ts
  packages/react-native-executorch/src/hooks/useKeypointDetector.ts
  packages/react-native-executorch/src/hooks/useObjectDetector.ts
  packages/react-native-executorch/src/hooks/useSemanticSegmenter.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

docs: use {@link} type references instead of inline value lists in JSDoc
  packages/react-native-executorch/src/extensions/cv/ops/boxes.ts
  packages/react-native-executorch/src/extensions/cv/ops/image.ts
  packages/react-native-executorch/src/extensions/cv/ops/points.ts
  packages/react-native-executorch/src/extensions/cv/tasks/instanceSegmentation.ts
  packages/react-native-executorch/src/extensions/cv/tasks/keypointDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/objectDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
  packages/react-native-executorch/src/extensions/cv/tasks/semanticSegmentation.ts
  packages/react-native-executorch/src/extensions/speech/utils/vadUtils.ts
Due: lint, types, format-js

docs: mention 'stretch' as only resizeMode value in StyleTransferOptions
  packages/react-native-executorch/src/extensions/cv/tasks/styleTransfer.ts
Due: lint, types, format-js

docs: improve JSDoc descriptions and formatting
  packages/react-native-executorch/src/extensions/cv/ops/boxes.ts
  packages/react-native-executorch/src/extensions/cv/ops/image.ts
  packages/react-native-executorch/src/extensions/cv/tasks/classification.ts
  packages/react-native-executorch/src/extensions/cv/tasks/imageEmbedding.ts
  packages/react-native-executorch/src/extensions/cv/tasks/instanceSegmentation.ts
  packages/react-native-executorch/src/extensions/cv/tasks/keypointDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/objectDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
  packages/react-native-executorch/src/extensions/cv/tasks/semanticSegmentation.ts
  packages/react-native-executorch/src/extensions/cv/tasks/styleTransfer.ts
Due: lint, types, format-js

chore: Release v0.9.3 (#1335)
  packages/react-native-executorch/android/build.gradle
  packages/react-native-executorch/android/consumer-proguard-rules.pro
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js, format-other

chore: Release v0.8.5 (#1334)
  packages/react-native-executorch/package.json
Due: format-other

[RNE Rewrite] style(ts): standardize task naming, preprocessor options, and TSDoc conventions (#1340)
  packages/react-native-executorch/src/extensions/cv/ops/boxes.ts
  packages/react-native-executorch/src/extensions/cv/ops/image.ts
  packages/react-native-executorch/src/extensions/cv/ops/points.ts
  packages/react-native-executorch/src/extensions/cv/tasks/classification.ts
  packages/react-native-executorch/src/extensions/cv/tasks/imageEmbedding.ts
  packages/react-native-executorch/src/extensions/cv/tasks/instanceSegmentation.ts
  packages/react-native-executorch/src/extensions/cv/tasks/keypointDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/objectDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/preprocessing.ts
  packages/react-native-executorch/src/extensions/cv/tasks/semanticSegmentation.ts
  packages/react-native-executorch/src/extensions/cv/tasks/styleTransfer.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/textEmbedding.ts
  packages/react-native-executorch/src/extensions/speech/tasks/fsmnVoiceActivityDetection.ts
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
  packages/react-native-executorch/src/extensions/speech/utils/vadUtils.ts
  packages/react-native-executorch/src/hooks/useClassifier.ts
  packages/react-native-executorch/src/hooks/useInstanceSegmenter.ts
  packages/react-native-executorch/src/hooks/useKeypointDetector.ts
  packages/react-native-executorch/src/hooks/useObjectDetector.ts
  packages/react-native-executorch/src/hooks/useSemanticSegmenter.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

update
  packages/react-native-executorch/cpp/core/model.cpp
Due: format-objc

update
  packages/react-native-executorch/cpp/core/model.cpp
  packages/react-native-executorch/cpp/core/model.h
  packages/react-native-executorch/cpp/core/schema.cpp
  packages/react-native-executorch/cpp/core/schema.h
  packages/react-native-executorch/cpp/core/tensor_helpers.cpp
  packages/react-native-executorch/cpp/core/tensor_helpers.h
  packages/react-native-executorch/src/core/model.ts
  packages/react-native-executorch/src/core/schema.ts
Due: lint, types, format-js, format-objc

small fix
  packages/react-native-executorch/src/core/schema.ts
Due: lint, types, format-js

wip
  packages/react-native-executorch/src/core/schema.ts
Due: lint, types, format-js

refactor ts side
  packages/react-native-executorch/src/core/model.ts
  packages/react-native-executorch/src/core/schema.ts
Due: lint, types, format-js

ts side kinda finished
  packages/react-native-executorch/src/core/schema.ts
Due: lint, types, format-js

update
  packages/react-native-executorch/src/core/model.ts
  packages/react-native-executorch/src/core/schema.ts
Due: lint, types, format-js

initial new schema implementation
  packages/react-native-executorch/src/core/schema.ts
Due: lint, types, format-js

small fix
  packages/react-native-executorch/cpp/core/model.cpp
Due: format-objc

feat(schema): add helper methods for runtime constraints and update task specifications
  .agents/skills/README.md
  .agents/skills/add-task-pipeline/SKILL.md
  .agents/skills/core-guidelines/SKILL.md
  .agents/skills/model-schema-validation/SKILL.md
  packages/react-native-executorch/cpp/core/tensor_helpers.cpp
  packages/react-native-executorch/src/core/schema.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/textEmbedding.ts
  packages/react-native-executorch/src/extensions/speech/tasks/fsmnVoiceActivityDetection.ts
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

refactor(schema): namespace schema exports and cleanup constraint helpers
  packages/react-native-executorch/src/core/schema.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/textEmbedding.ts
  packages/react-native-executorch/src/extensions/speech/tasks/fsmnVoiceActivityDetection.ts
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
