Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

chore: work in progress
  apps/speech/app.json
  apps/speech/screens/SpeechToTextScreen.tsx
Due: lint, types, format-js, format-other

chore: working version of whisper for CoreML
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
Due: format-objc

docs: Add resolution info for rf-detr (#1025)
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
  docs/docs/03-hooks/02-computer-vision/useObjectDetection.md
  docs/versioned_docs/version-0.8.x/02-benchmarks/inference-time.md
  docs/versioned_docs/version-0.8.x/03-hooks/02-computer-vision/useInstanceSegmentation.md
  docs/versioned_docs/version-0.8.x/03-hooks/02-computer-vision/useObjectDetection.md
Due: format-other, spell-check-other

feat: Added tracking downloads on our infrastructure (#1019)
  packages/react-native-executorch/src/constants/resourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js

chore: small change
  apps/speech/screens/SpeechToTextScreen.tsx
Due: lint, types, format-js

chore(docs): update @swmansion/t-rex-ui
  docs/package.json
  docs/yarn.lock
Due: format-other

feat: added emulator detection (#1021)
  packages/react-native-executorch/android/src/main/cpp/ETInstallerModule.cpp
  packages/react-native-executorch/android/src/main/cpp/EmulatorDetection.h
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/ios/RnExecutorch/ETInstaller.mm
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js, format-objc

chore(docs): update @swmansion/t-rex-ui (#1026)
  docs/package.json
  docs/yarn.lock
Due: format-other

feat: added emulator detection (#1021) (#1022)
  packages/react-native-executorch/android/src/main/cpp/ETInstallerModule.cpp
  packages/react-native-executorch/android/src/main/cpp/EmulatorDetection.h
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/ios/RnExecutorch/ETInstaller.mm
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js, format-objc

v0.7.3
  packages/react-native-executorch/package.json
Due: format-other

chore: v0.7.3 (#1027)
  packages/react-native-executorch/package.json
Due: format-other

chore(docs): change color palette in code snippets for darmode in documentation
  docs/src/theme/CodeBlock/highlighting-dark.js
Due: lint, types, format-js

chore: add NDK download to Android CI
  .github/workflows/build-android-llm-example.yml
Due: format-other

feat: vlm + vision camera integration
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/vlm_camera/index.tsx
  apps/computer-vision/assets/tokenizers/chat_template.jinja
  apps/computer-vision/assets/tokenizers/tokenizer.json
  apps/computer-vision/assets/tokenizers/tokenizer_config.json
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/runner/encoders/iencoder.h
  packages/react-native-executorch/common/runner/encoders/vision_encoder.cpp
  packages/react-native-executorch/common/runner/encoders/vision_encoder.h
  packages/react-native-executorch/common/runner/multimodal_input.h
  packages/react-native-executorch/common/runner/multimodal_prefiller.cpp
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-objc, format-other

chore(docs): change color palette in code snippets for darmode in documentation (#1029)
  docs/src/theme/CodeBlock/highlighting-dark.js
Due: lint, types, format-js

wip
  packages/expo-resource-fetcher/src/ResourceFetcherUtils.ts
  packages/expo-resource-fetcher/src/index.ts
Due: lint, types, format-js

wip
  packages/expo-resource-fetcher/src/ResourceFetcherV2.ts
  packages/expo-resource-fetcher/src/handlers.ts
Due: lint, types, format-js

wip
  packages/expo-resource-fetcher/src/ResourceFetcherV2.ts
Due: lint, types, format-js

minor changes
  packages/expo-resource-fetcher/src/handlers.ts
Due: lint, types, format-js

refactor: add bare workflow, throw instead of returning null
  packages/bare-resource-fetcher/src/ResourceFetcher.ts
  packages/bare-resource-fetcher/src/ResourceFetcherUtils.ts
  packages/bare-resource-fetcher/src/handlers.ts
  packages/expo-resource-fetcher/src/ResourceFetcher.ts
  packages/expo-resource-fetcher/src/ResourceFetcherUtils.ts
  packages/expo-resource-fetcher/src/ResourceFetcherV2.ts
  packages/expo-resource-fetcher/src/handlers.ts
  packages/expo-resource-fetcher/src/index.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils/BaseResourceFetcherClass.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js

refactor: remove legacy fetcher
  packages/expo-resource-fetcher/src/ResourceFetcher.ts
Due: lint, types, format-js

chore: add to etinstaller
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/ETInstaller.kt
Due: none

chore: use coreml version of rf detr on iOS
  docs/docs/03-hooks/02-computer-vision/useObjectDetection.md
  docs/versioned_docs/version-0.8.x/03-hooks/02-computer-vision/useObjectDetection.md
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-other, spell-check-other

chore: use coreml version of rf detr on iOS (#1034)
  docs/docs/03-hooks/02-computer-vision/useObjectDetection.md
  docs/versioned_docs/version-0.8.x/03-hooks/02-computer-vision/useObjectDetection.md
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-other, spell-check-other

fix: light theme in docs/play logo in loop
  docs/src/components/Hero/StartScreen/Logo.tsx
  docs/src/components/Hero/StartScreen/styles.module.css
Due: lint, types, format-js, format-other, spell-check-other

fix: light theme in docs/play logo in loop (#1041)
  docs/src/components/Hero/StartScreen/Logo.tsx
  docs/src/components/Hero/StartScreen/styles.module.css
Due: lint, types, format-js, format-other, spell-check-other
