Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

feat: make necessary methods and classes public
  .cspell-wordlist.txt
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/runner/runner.cpp
  packages/react-native-executorch/common/runner/runner.h
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils/llms/context_strategy/index.ts
Due: lint, types, format-js, format-objc

fix: method name
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js

chore: update llms example app with strategy configuration
  apps/llm/app/llm/index.tsx
Due: lint, types, format-js

chore: dont default do empty string in load method
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
Due: lint, types, format-js

wip
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
Due: lint, types, format-js

chore: change rest of the files to pass only real path
  packages/react-native-executorch/src/modules/general/ExecutorchModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
Due: lint, types, format-js

chore: Create a custom error for resource fetcher adapter initialization
  packages/react-native-executorch/common/rnexecutorch/ErrorCodes.h
  packages/react-native-executorch/src/controllers/BaseOCRController.ts
  packages/react-native-executorch/src/errors/ErrorCodes.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
  scripts/errors.config.ts
Due: lint, types, format-js, format-objc

fix: types and revert bg, fg in selfie segmentation
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/BaseImageSegmentation.cpp
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
Due: lint, types, format-js, format-objc

chore: Refactor ts code
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/general/ExecutorchModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
Due: lint, types, format-js

Update README with installation instructions
  README.md
Due: format-other, spell-check-other

Various STT streaming fixes
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Utils.h
Due: format-objc

docs: update READMEs
  .cspell.json
  README.md
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

chore: add counting of downloads in resource fetcher
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

docs: add analytics (gtm)
  docs/docusaurus.config.js
  docs/package.json
  docs/yarn.lock
Due: lint, types, format-js, format-other

feat: initial implementation of multimodal runner with lfm vlm
  apps/llm/app.json
  apps/llm/app/_layout.tsx
  apps/llm/app/index.tsx
  apps/llm/app/multimodal_llm/index.tsx
  apps/llm/package.json
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/multimodal_llm/MultimodalLLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/multimodal_llm/MultimodalLLM.h
  packages/react-native-executorch/common/runner/image.h
  packages/react-native-executorch/common/runner/multimodal_decoder_runner.h
  packages/react-native-executorch/common/runner/multimodal_input.h
  packages/react-native-executorch/common/runner/multimodal_prefiller.cpp
  packages/react-native-executorch/common/runner/multimodal_prefiller.h
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useMultimodalLLM.ts
  packages/react-native-executorch/src/index.ts
  yarn.lock
Due: lint, types, format-js, format-objc, format-other

docs: add analytics (gtm) (#821)
  docs/docusaurus.config.js
  docs/package.json
  docs/yarn.lock
Due: lint, types, format-js, format-other

fix: correct frame data extraction
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
Due: format-objc

feat: frame extractor for zero-copy approach
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.h
  packages/react-native-executorch/src/types/common.ts
  yarn.lock
Due: lint, types, format-js, format-objc

chore: num minSdkVersion to 26
  packages/react-native-executorch/android/gradle.properties
Due: none

feat: unify frame extraction and preprocessing
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.h
  packages/react-native-executorch/src/modules/BaseModule.ts
  yarn.lock
Due: lint, types, format-js, format-objc

feat: remove unused bindJSIMethods
  packages/react-native-executorch/src/modules/BaseModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
Due: lint, types, format-js

feat: initial version of vision model API
  .cspell-wordlist.txt
  apps/computer-vision/app/object_detection/index.tsx
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/TypeConcepts.h
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.h
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ObjectDetectionTest.cpp
  packages/react-native-executorch/src/hooks/computer_vision/useObjectDetection.ts
  packages/react-native-executorch/src/hooks/useModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
  packages/react-native-executorch/src/types/objectDetection.ts
Due: lint, types, format-js, format-objc

refactor: errors, logs, unnecessary comments, use existing TensorPtr
  apps/computer-vision/app/object_detection/index.tsx
  apps/computer-vision/package.json
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.h
  packages/react-native-executorch/src/hooks/useModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
  packages/react-native-executorch/src/types/common.ts
  packages/react-native-executorch/src/types/objectDetection.ts
Due: lint, types, format-js, format-objc, format-other

fix: change Frame import in BaseModule
  packages/react-native-executorch/src/modules/BaseModule.ts
Due: lint, types, format-js

feat: use TensorPtrish type for Pixel data input
  apps/computer-vision/app/object_detection/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/utils/FrameExtractor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.cpp
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
  packages/react-native-executorch/src/types/common.ts
  packages/react-native-executorch/src/types/objectDetection.ts
Due: lint, types, format-js, format-objc

refactor: add or remove empty lines
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.h
Due: format-objc

fix: errors after rebase
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/FunctionHelpers.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/TypeConcepts.h
  yarn.lock
Due: format-objc

fix: remove redundant preprocessing step
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
Due: format-objc

wip
  CLAUDE.md
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/Utils.cpp
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/hooks/computer_vision/useObjectDetection.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/types/objectDetection.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

rework context strategies maContextLength
  apps/llm/app/llm/index.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/runner/runner.cpp
  packages/react-native-executorch/common/runner/runner.h
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/types/llm.ts
  packages/react-native-executorch/src/utils/llms/context_strategy/MessageCountContextStrategy.ts
  packages/react-native-executorch/src/utils/llms/context_strategy/NaiveContextStrategy.ts
  packages/react-native-executorch/src/utils/llms/context_strategy/SlidingWindowContextStrategy.ts
Due: lint, types, format-js, format-objc

chore: update default context strategy
  apps/llm/app/llm/index.tsx
  packages/react-native-executorch/src/constants/llmDefaults.ts
  packages/react-native-executorch/src/utils/llms/context_strategy/MessageCountContextStrategy.ts
Due: lint, types, format-js

chore: unify types
  packages/react-native-executorch/common/runner/runner.cpp
  packages/react-native-executorch/common/runner/runner.h
Due: format-objc

chore: update config example in skill
  skills/react-native-executorch/references/reference-llms.md
Due: format-other, spell-check-other

Add timestamp fix algorithm & other
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/schema/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
Due: format-objc

wip
  packages/react-native-executorch/src/constants/commonVision.ts
  packages/react-native-executorch/src/hooks/computer_vision/useImageSegmentation.ts
  packages/react-native-executorch/src/hooks/computer_vision/useObjectDetection.ts
  packages/react-native-executorch/src/hooks/useModuleFactory.ts
  packages/react-native-executorch/src/modules/BaseLabeledModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/types/objectDetection.ts
Due: lint, types, format-js
