Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

Split instance segmentation postprocessing, introduce CV utils
  apps/computer-vision/app/instance_segmentation/index.tsx
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/Types.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/InstanceSegmentationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Processing.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Processing.h
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Types.h
Due: lint, types, format-js, format-objc

Migrate ObjectDetection to common CV utils
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/Utils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/Utils.h
Due: format-objc

chore: remove Readme from bare rn app
  README.md
  apps/bare_rn/README.md
Due: format-other, spell-check-other

refactor!: make ClassificationModule a factory
  docs/docs/04-typescript-api/02-computer-vision/ClassificationModule.md
  packages/react-native-executorch/src/hooks/computer_vision/useClassification.ts
  packages/react-native-executorch/src/hooks/computer_vision/useObjectDetection.ts
  packages/react-native-executorch/src/hooks/computer_vision/useSemanticSegmentation.ts
  packages/react-native-executorch/src/hooks/useModuleFactory.ts
  packages/react-native-executorch/src/modules/BaseLabeledModule.ts
  packages/react-native-executorch/src/modules/BaseModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionLabeledModule.ts
Due: lint, types, format-js, format-other, spell-check-other

refactor!: make ImageEmbeddingsModule a factory
  docs/docs/04-typescript-api/02-computer-vision/ImageEmbeddingsModule.md
  packages/react-native-executorch/src/hooks/computer_vision/useImageEmbeddings.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
Due: lint, types, format-js, format-other, spell-check-other

refactor!: make StyleTransferModule a factory
  docs/docs/04-typescript-api/02-computer-vision/StyleTransferModule.md
  packages/react-native-executorch/src/hooks/computer_vision/useStyleTransfer.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
Due: lint, types, format-js, format-other, spell-check-other

docs: remove emojis from README headings and table of contents
  README.md
Due: format-other, spell-check-other

refactor!: make VADModule a factory
  docs/docs/04-typescript-api/01-natural-language-processing/VADModule.md
  lefthook.yml
  packages/react-native-executorch/src/hooks/natural_language_processing/useVAD.ts
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
Due: lint, types, format-js, format-other, spell-check-other

docs: remove emojis from headings in all translated READMEs
  lefthook.yml
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

feat: add modelName to all model constants for union discrimination and telemetry
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/constants/ocr/models.ts
  packages/react-native-executorch/src/constants/tts/models.ts
  packages/react-native-executorch/src/hooks/computer_vision/useClassification.ts
  packages/react-native-executorch/src/hooks/computer_vision/useImageEmbeddings.ts
  packages/react-native-executorch/src/hooks/computer_vision/useStyleTransfer.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextEmbeddings.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useVAD.ts
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
  packages/react-native-executorch/src/types/classification.ts
  packages/react-native-executorch/src/types/imageEmbeddings.ts
  packages/react-native-executorch/src/types/stt.ts
  packages/react-native-executorch/src/types/styleTransfer.ts
  packages/react-native-executorch/src/types/textEmbeddings.ts
  packages/react-native-executorch/src/types/vad.ts
Due: lint, types, format-js

docs: update JSDoc to document modelName field
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
  packages/react-native-executorch/src/types/classification.ts
  packages/react-native-executorch/src/types/imageEmbeddings.ts
  packages/react-native-executorch/src/types/styleTransfer.ts
  packages/react-native-executorch/src/types/textEmbeddings.ts
  packages/react-native-executorch/src/types/vad.ts
Due: lint, types, format-js

type fixes
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
  packages/react-native-executorch/src/types/classification.ts
  packages/react-native-executorch/src/types/imageEmbeddings.ts
  packages/react-native-executorch/src/types/styleTransfer.ts
  packages/react-native-executorch/src/types/textEmbeddings.ts
  packages/react-native-executorch/src/types/vad.ts
Due: lint, types, format-js

chore: migrate VerticalOCR to factory pattern, rewrite OCR hooks with controllers
  packages/react-native-executorch/src/hooks/computer_vision/useOCR.ts
  packages/react-native-executorch/src/hooks/computer_vision/useVerticalOCR.ts
  packages/react-native-executorch/src/modules/computer_vision/VerticalOCRModule.ts
Due: lint, types, format-js

feat(ObjectDetection, SemanticSegmentation): rename fromCustomConfig to fromCustomModel
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/SemanticSegmentationModule.ts
Due: lint, types, format-js

feat(OCR): migrate to factory pattern, add fromCustomModel, update useOCR hook
  packages/react-native-executorch/src/hooks/computer_vision/useOCR.ts
  packages/react-native-executorch/src/modules/computer_vision/OCRModule.ts
  packages/react-native-executorch/src/types/ocr.ts
Due: lint, types, format-js

feat: add fromCustomModel to Classification, StyleTransfer, ImageEmbeddings, VAD, TextEmbeddings
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
Due: lint, types, format-js

chore: migrate LLMModule to factory pattern, add LLMModelName type
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js

chore: migrate SpeechToTextModule to factory pattern, add SpeechToTextModelName type
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/types/stt.ts
Due: lint, types, format-js

chore: migrate TextToImageModule to factory pattern, add TextToImageModelName type
  packages/react-native-executorch/src/hooks/computer_vision/useTextToImage.ts
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
  packages/react-native-executorch/src/types/tti.ts
Due: lint, types, format-js

lint & fix model names
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
  packages/react-native-executorch/src/types/classification.ts
  packages/react-native-executorch/src/types/imageEmbeddings.ts
  packages/react-native-executorch/src/types/styleTransfer.ts
Due: lint, types, format-js

fix: fix unload in LLM and ModelHostObject to properly free LLM memory (#954)
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js, format-objc

docs: update docs, jsdocs
  .cspell-wordlist.txt
  docs/docs/04-typescript-api/01-natural-language-processing/LLMModule.md
  docs/docs/04-typescript-api/01-natural-language-processing/SpeechToTextModule.md
  docs/docs/04-typescript-api/01-natural-language-processing/TextEmbeddingsModule.md
  docs/docs/04-typescript-api/02-computer-vision/OCRModule.md
  docs/docs/04-typescript-api/02-computer-vision/ObjectDetectionModule.md
  docs/docs/04-typescript-api/02-computer-vision/SemanticSegmentationModule.md
  docs/docs/04-typescript-api/02-computer-vision/TextToImageModule.md
  docs/docs/04-typescript-api/02-computer-vision/VerticalOCRModule.md
  docs/docs/05-utilities/04-error-handling.md
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/computer_vision/OCRModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/SemanticSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VerticalOCRModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
Due: lint, types, format-js, format-other, spell-check-other

refactor: refactor TTS
  .cspell-wordlist.txt
  docs/docs/04-typescript-api/01-natural-language-processing/TextToSpeechModule.md
  packages/react-native-executorch/src/constants/tts/models.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js, format-other, spell-check-other

Some initial attempts
  apps/speech/App.tsx
  apps/speech/components/AudioVisualizer.tsx
  apps/speech/package.json
  apps/speech/screens/SpeechToSpeech.tsx
  yarn.lock
Due: lint, types, format-js, format-other

final chores & docs
  docs/docs/04-typescript-api/01-natural-language-processing/LLMModule.md
  docs/docs/04-typescript-api/01-natural-language-processing/TextToSpeechModule.md
  docs/docs/04-typescript-api/01-natural-language-processing/VADModule.md
  docs/docs/04-typescript-api/02-computer-vision/ClassificationModule.md
  docs/docs/04-typescript-api/02-computer-vision/ImageEmbeddingsModule.md
  docs/docs/04-typescript-api/02-computer-vision/OCRModule.md
  docs/docs/04-typescript-api/02-computer-vision/StyleTransferModule.md
  docs/docs/04-typescript-api/02-computer-vision/VerticalOCRModule.md
  packages/react-native-executorch/src/modules/computer_vision/OCRModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VerticalOCRModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
Due: lint, types, format-js, format-other, spell-check-other

bring back parallel lefthook
  lefthook.yml
Due: format-other

Streamline postprocessing
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
Due: format-objc

Break up postprocessing helpers in Instance Segmentation
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Types.h
Due: format-objc

Fix links
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/InstanceSegmentationModule.md
Due: format-other, spell-check-other

fix useModuleFactory
  packages/react-native-executorch/src/hooks/useModuleFactory.ts
Due: lint, types, format-js

Update docs/docs/04-typescript-api/01-natural-language-processing/LLMModule.md
  docs/docs/04-typescript-api/01-natural-language-processing/LLMModule.md
Due: format-other, spell-check-other

chore: update READMEs
  README.md
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

chore: align readmes
  README.md
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

fix: await loading the native module
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
Due: lint, types, format-js

docs: fix docs
  docs/docs/04-typescript-api/02-computer-vision/SemanticSegmentationModule.md
  packages/react-native-executorch/src/modules/computer_vision/SemanticSegmentationModule.ts
Due: lint, types, format-js, format-other, spell-check-other

feat: unify frame extraction and preprocessing
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/src/modules/BaseModule.ts
Due: lint, types, format-js, format-objc

refactor: errors, logs, unnecessary comments, use existing TensorPtr
  apps/computer-vision/app/object_detection/index.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/src/hooks/useModule.ts
Due: lint, types, format-js, format-objc

fix: correct frame data extraction
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
Due: format-objc

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
