Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

chore: Add missing bare rn demo app handling
  apps/bare_rn/App.tsx
Due: lint, types, format-js

chore: remove dead code
  apps/computer-vision/app/text_to_image/index.tsx
Due: lint, types, format-js

chore: add suggestions from code review
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/app/ocr_vertical/index.tsx
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/vision_camera/tasks/ClassificationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/InstanceSegmentationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/OCRTask.tsx
  apps/computer-vision/components/vision_camera/tasks/ObjectDetectionTask.tsx
  apps/computer-vision/components/vision_camera/tasks/SegmentationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/StyleTransferTask.tsx
  apps/computer-vision/components/vision_camera/tasks/types.ts
  apps/llm/app/multimodal_llm/index.tsx
Due: lint, types, format-js

chore: add an error log when adapter is missing
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

fix: move the error log
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

docs: fix typo 'LMM' → 'LLM' in model category comments (fixes #995)
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

Fix typo in ESLint configuration for LLM
  .eslintrc.js
Due: lint, types, format-js

chore: add an error log when adapter is missing (#994)
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

docs: fix "LMM" typo to "LLM" in modelUrls.ts comments
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

docs: fix typo 'LMM' → 'LLM' in model category comments (fixes #995) (#996)
  .eslintrc.js
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

feat: pass `capabilities` to `LLMController.load` in `fromModelName`
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
Due: lint, types, format-js

chore: Add unified error handling banner in all demo apps (#981)
  apps/bare_rn/App.tsx
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/app/object_detection/index.tsx
  apps/computer-vision/app/ocr/index.tsx
  apps/computer-vision/app/ocr_vertical/index.tsx
  apps/computer-vision/app/semantic_segmentation/index.tsx
  apps/computer-vision/app/style_transfer/index.tsx
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/ErrorBanner.tsx
  apps/computer-vision/components/vision_camera/tasks/ClassificationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/InstanceSegmentationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/OCRTask.tsx
  apps/computer-vision/components/vision_camera/tasks/ObjectDetectionTask.tsx
  apps/computer-vision/components/vision_camera/tasks/SegmentationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/StyleTransferTask.tsx
  apps/computer-vision/components/vision_camera/tasks/types.ts
  apps/llm/app/llm/index.tsx
  apps/llm/app/llm_structured_output/index.tsx
  apps/llm/app/llm_tool_calling/index.tsx
  apps/llm/app/multimodal_llm/index.tsx
  apps/llm/app/voice_chat/index.tsx
  apps/llm/components/ErrorBanner.tsx
  apps/speech/components/ErrorBanner.tsx
  apps/speech/screens/SpeechToTextScreen.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
  apps/text-embeddings/app/text-embeddings/index.tsx
  apps/text-embeddings/components/ErrorBanner.tsx
Due: lint, types, format-js

docs: fix broken anchors & typos
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/docs/04-typescript-api/01-natural-language-processing/LLMModule.md
  docs/versioned_docs/version-0.7.x/03-hooks/01-natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.7.x/04-typescript-api/01-natural-language-processing/LLMModule.md
  docs/versioned_docs/version-0.7.x/06-api-reference/index.md
  skills/canary/react-native-executorch/references/reference-llms.md
  skills/react-native-executorch/references/reference-llms.md
Due: format-other, spell-check-other

fix: pass `capabilities` to `LLMController.load` in `LLMModule.fromModelName` (#999)
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
Due: lint, types, format-js

chore: Fix bounding box annotation
  apps/computer-vision/components/ImageWithBboxes.tsx
  apps/computer-vision/components/vision_camera/tasks/ObjectDetectionTask.tsx
Due: lint, types, format-js

chore: abstract logic of bounding box in to shared component
  apps/computer-vision/components/BoundingBoxes.tsx
  apps/computer-vision/components/ImageWithBboxes.tsx
  apps/computer-vision/components/utils/colors.ts
  apps/computer-vision/components/vision_camera/tasks/ObjectDetectionTask.tsx
  apps/computer-vision/components/vision_camera/utils/colors.ts
Due: lint, types, format-js

chore: address comments from code review
  apps/computer-vision/components/BoundingBoxes.tsx
  apps/computer-vision/components/ImageWithBboxes.tsx
  apps/computer-vision/components/vision_camera/tasks/InstanceSegmentationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/ObjectDetectionTask.tsx
  apps/computer-vision/components/vision_camera/tasks/SegmentationTask.tsx
  apps/computer-vision/components/vision_camera/utils/colors.ts
Due: lint, types, format-js

docs: add a warning on getting started page, fix the link in resource fetcher error message
  docs/docs/01-fundamentals/01-getting-started.md
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js, format-other, spell-check-other

docs: fix versioned docs
  docs/versioned_docs/version-0.7.x/06-api-reference/typedoc-sidebar.cjs
Due: none

docs: Fix broken anchors & typos (#1000)
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/docs/04-typescript-api/01-natural-language-processing/LLMModule.md
  docs/versioned_docs/version-0.7.x/03-hooks/01-natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.7.x/04-typescript-api/01-natural-language-processing/LLMModule.md
  docs/versioned_docs/version-0.7.x/06-api-reference/index.md
  docs/versioned_docs/version-0.7.x/06-api-reference/typedoc-sidebar.cjs
  skills/canary/react-native-executorch/references/reference-llms.md
  skills/react-native-executorch/references/reference-llms.md
Due: format-other, spell-check-other

chore: Fix bounding box annotation (#982)
  apps/computer-vision/components/BoundingBoxes.tsx
  apps/computer-vision/components/ImageWithBboxes.tsx
  apps/computer-vision/components/utils/colors.ts
  apps/computer-vision/components/vision_camera/tasks/InstanceSegmentationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/ObjectDetectionTask.tsx
  apps/computer-vision/components/vision_camera/tasks/SegmentationTask.tsx
Due: lint, types, format-js

docs: add compatibility table to docs
  docs/docs/07-other/01-compatibility.mdx
Due: none

fix: remove CxxModuleWrapper include
  packages/react-native-executorch/android/src/main/cpp/ETInstallerModule.h
Due: format-objc

fix object detection and vision camera docs
  docs/docs/03-hooks/02-computer-vision/useObjectDetection.md
  docs/docs/03-hooks/02-computer-vision/visioncamera-integration.md
Due: format-other, spell-check-other

apply comment suggestions
  docs/docs/03-hooks/02-computer-vision/visioncamera-integration.md
Due: format-other, spell-check-other

docs: fix object detection and vision camera docs (#1005)
  docs/docs/03-hooks/02-computer-vision/useObjectDetection.md
  docs/docs/03-hooks/02-computer-vision/visioncamera-integration.md
Due: format-other, spell-check-other

added downloads tracking separate from huggingface
  packages/bare-resource-fetcher/src/ResourceFetcher.ts
  packages/bare-resource-fetcher/src/ResourceFetcherUtils.ts
  packages/expo-resource-fetcher/src/ResourceFetcher.ts
  packages/expo-resource-fetcher/src/ResourceFetcherUtils.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/constants/resourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js

improve model registry
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js

lint
  packages/react-native-executorch/src/constants/resourceFetcher.ts
Due: lint, types, format-js

feat: Add multimethod handling to ObjectDetection
  apps/computer-vision/app/object_detection/index.tsx
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/vision_camera/tasks/ObjectDetectionTask.tsx
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.h
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/hooks/computer_vision/useObjectDetection.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/types/objectDetection.ts
Due: lint, types, format-js, format-objc

docs: Add benchmark results for android
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/memory-usage.md
Due: format-other, spell-check-other

chore close brakets
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
Due: format-objc

Fix type signatures after rebase
  apps/computer-vision/components/vision_camera/tasks/ObjectDetectionTask.tsx
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/types/objectDetection.ts
Due: lint, types, format-js

Fix inproper rebase merge
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
Due: format-objc

docs: add missing benchmarks
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/memory-usage.md
Due: format-other, spell-check-other

Update packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
Due: format-objc
