Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

Add yolo specific coco labels
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
Due: lint, types, format-js

Return class index, tweak mask drawing performance
  apps/computer-vision/app/instance_segmentation/index.tsx
  apps/computer-vision/components/ImageWithMasks.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/Types.h
  packages/react-native-executorch/src/constants/commonVision.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js, format-objc

Fix yarn stuff
  package.json
  yarn.lock
Due: format-other

Remove API reference files
  docs/docs/06-api-reference/interfaces/TextToSpeechPhonemeInput.md
  docs/docs/06-api-reference/interfaces/TextToSpeechStreamingCallbacks.md
  docs/docs/06-api-reference/interfaces/TextToSpeechStreamingPhonemeInput.md
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js, format-other, spell-check-other

Merge with main
  apps/speech/App.tsx
  apps/speech/screens/TextToSpeechLLMScreen.tsx
  docs/docs/03-hooks/01-natural-language-processing/useTextToSpeech.md
  docs/docs/04-typescript-api/01-natural-language-processing/TextToSpeechModule.md
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Params.h
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextToSpeechTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/test_speech.raw
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

Update phonemis package & improve streaming in demo app
  apps/speech/screens/TextToSpeechLLMScreen.tsx
  packages/react-native-executorch/third-party/android/libs/phonemis/arm64-v8a/libphonemis.a
  packages/react-native-executorch/third-party/android/libs/phonemis/x86_64/libphonemis.a
  packages/react-native-executorch/third-party/ios/libs/phonemis/physical-arm64-release/libphonemis.a
  packages/react-native-executorch/third-party/ios/libs/phonemis/simulator-arm64-debug/libphonemis.a
Due: lint, types, format-js

fix: use literal paths in Android CI expo prebuild cache key
  .github/workflows/build-android-llm-example.yml
Due: format-other

fix: scope lint to src/**/*.{ts,tsx} to avoid linting compiled JS artifacts
  packages/bare-resource-fetcher/package.json
  packages/expo-resource-fetcher/package.json
  packages/react-native-executorch/.eslintignore
  packages/react-native-executorch/package.json
Due: format-other

fix: pin react-native to 0.83.2 for Expo SDK 55 compatibility
  apps/computer-vision/package.json
  apps/llm/package.json
  apps/speech/package.json
  apps/text-embeddings/package.json
  packages/bare-resource-fetcher/package.json
  packages/expo-resource-fetcher/package.json
  packages/react-native-executorch/package.json
  yarn.lock
Due: format-other

fix: use cache-hit output to guard expo prebuild, not directory existence
  .github/workflows/build-android-llm-example.yml
  .github/workflows/build-ios-llm-example.yml
Due: format-other

fix: resolve yarn peer dependency warnings
  .yarnrc.yml
  apps/computer-vision/package.json
  apps/llm/package.json
  apps/text-embeddings/package.json
  package.json
  yarn.lock
Due: format-other

fix: revert eslint to ^8.57.0 to avoid flat config migration requirement
  package.json
  yarn.lock
Due: format-other

fix: download react-native-audio-api prebuilt binaries before pod install
  .github/workflows/build-ios-llm-example.yml
Due: format-other

fix: add react-dom@19.2.4 to expo-router apps
  apps/computer-vision/package.json
  apps/llm/package.json
  apps/text-embeddings/package.json
  yarn.lock
Due: format-other

fix: remove restore-keys from Android expo prebuild cache
  .github/workflows/build-android-llm-example.yml
Due: format-other

fix: update react-native-audio-api usage for v0.11.6 API changes
  apps/llm/app/voice_chat/index.tsx
Due: lint, types, format-js

fix: remove wrapWithAudioAPIMetroConfig removed in react-native-audio-api v0.11
  apps/llm/metro.config.js
Due: lint, types, format-js

fix: make AudioRecorder a module-level singleton, use local eslint/prettier in lefthook
  apps/llm/app/voice_chat/index.tsx
  lefthook.yml
Due: lint, types, format-js, format-other

fix: fix unload in LLM and ModelHostObject to properly free memory
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js, format-objc

fix: add config plugin to set REACT_NATIVE_NODE_MODULES_DIR for react-native-image-picker
  apps/llm/app.json
  apps/llm/plugins/withReactNativeImagePickerFix.js
Due: lint, types, format-js, format-other

fix: upgrade expo-document-picker to SDK 55 compatible version (~55.0.8)
  apps/llm/package.json
  yarn.lock
Due: format-other

fix: revert withReactNativeImagePickerFix to use withProjectBuildGradle
  apps/llm/plugins/withReactNativeImagePickerFix.js
Due: lint, types, format-js

docs: update inference time documentation
  docs/docs/02-benchmarks/inference-time.md
Due: format-other, spell-check-other

docs: update memory usage documentation
  docs/docs/02-benchmarks/memory-usage.md
Due: format-other, spell-check-other

fix: remove unnecessary blank line in LLMController
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js

Update packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
Due: format-objc

Delete packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/.gitignore
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/.gitignore
Due: none

chore: add support for quantized versions of CV models CLIP, Style Transfer, EfficientNetV2, SSDLite (#940)
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/app/semantic_segmentation/index.tsx
  apps/computer-vision/app/style_transfer/index.tsx
  apps/text-embeddings/app/clip-embeddings/index.tsx
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/memory-usage.md
  docs/docs/02-benchmarks/model-size.md
  docs/docs/03-hooks/02-computer-vision/useClassification.md
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-other, spell-check-other

Add RFDetr-segmentation model, change preprocessorConfig types
  apps/computer-vision/app/instance_segmentation/index.tsx
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/hooks/computer_vision/useInstanceSegmentation.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js

Update docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/inference-time.md
Due: format-other, spell-check-other

Update docs/docs/02-benchmarks/memory-usage.md
  docs/docs/02-benchmarks/memory-usage.md
Due: format-other, spell-check-other

Restore docs
  docs/docs/03-hooks/02-computer-vision/useSemanticSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/SemanticSegmentationModule.md
Due: format-other, spell-check-other

Review fixes for InstanceSegmentationModule
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
Due: lint, types, format-js

Change typing in useInstanceSegmentation
  packages/react-native-executorch/src/hooks/computer_vision/useInstanceSegmentation.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
Due: lint, types, format-js

Fix Phonemis linking in T2S tests
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextToSpeechTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
Due: format-objc

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
