Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

refactor: fixes after rebase + requested changes
  apps/computer-vision/components/vision_camera/tasks/InstanceSegmentationTask.tsx
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/unit/FrameTransformTest.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.h
  packages/react-native-executorch/src/controllers/BaseOCRController.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
  packages/react-native-executorch/src/types/common.ts
Due: lint, types, format-js, format-objc

feat: apply orientation handling to instance segmentation
  apps/computer-vision/components/vision_camera/tasks/InstanceSegmentationTask.tsx
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js, format-objc

feat: make classification module a vision labeled module
  .cspell-wordlist.txt
  docs/docs/03-hooks/02-computer-vision/useClassification.md
  docs/docs/04-typescript-api/02-computer-vision/ClassificationModule.md
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ClassificationTest.cpp
  packages/react-native-executorch/src/constants/classification.ts
  packages/react-native-executorch/src/hooks/computer_vision/useClassification.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/types/classification.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

chore: Document isMirrored property logic in VisionModule
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
Due: lint, types, format-js

fix: don't use normalization for efficient net model
  docs/docs/03-hooks/02-computer-vision/useClassification.md
  packages/react-native-executorch/common/rnexecutorch/models/classification/Constants.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ClassificationTest.cpp
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

Update packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
Due: lint, types, format-js

chore: warning on wrong shape of normMean/normStd
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
Due: format-objc

feat: handle all orientations when using vision camera (#980)
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/vision_camera/tasks/ClassificationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/InstanceSegmentationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/OCRTask.tsx
  apps/computer-vision/components/vision_camera/tasks/ObjectDetectionTask.tsx
  apps/computer-vision/components/vision_camera/tasks/SegmentationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/StyleTransferTask.tsx
  apps/computer-vision/components/vision_camera/tasks/types.ts
  apps/computer-vision/package.json
  docs/docs/03-hooks/02-computer-vision/visioncamera-integration.md
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/common/rnexecutorch/tests/unit/FrameTransformTest.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.h
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.h
  packages/react-native-executorch/src/controllers/BaseOCRController.ts
  packages/react-native-executorch/src/hooks/computer_vision/useOCR.ts
  packages/react-native-executorch/src/hooks/computer_vision/useVerticalOCR.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
  packages/react-native-executorch/src/types/common.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
  packages/react-native-executorch/src/types/objectDetection.ts
  packages/react-native-executorch/src/types/ocr.ts
  packages/react-native-executorch/src/types/semanticSegmentation.ts
  packages/react-native-executorch/src/types/styleTransfer.ts
  yarn.lock
Due: lint, types, format-js, format-objc, format-other, spell-check-other

feat!: make classification module a vision labeled module (#986)
  .cspell-wordlist.txt
  docs/docs/03-hooks/02-computer-vision/useClassification.md
  docs/docs/04-typescript-api/02-computer-vision/ClassificationModule.md
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.h
  packages/react-native-executorch/common/rnexecutorch/models/classification/Constants.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ClassificationTest.cpp
  packages/react-native-executorch/src/constants/classification.ts
  packages/react-native-executorch/src/hooks/computer_vision/useClassification.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/types/classification.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

configure jsdoc eslint plugin
  .eslintrc.js
  package.json
  yarn.lock
Due: lint, types, format-js, format-other

chore: eslint config & manual fixes
  .eslintrc.js
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/utils/llms/context_strategy/MessageCountContextStrategy.ts
  packages/react-native-executorch/src/utils/llms/context_strategy/NoopContextStrategy.ts
  packages/react-native-executorch/src/utils/llms/context_strategy/SlidingWindowContextStrategy.ts
Due: lint, types, format-js

chore: define supported categories
  .eslintrc.js
Due: lint, types, format-js

fix: apply manual fixes to jsdocs
  apps/speech/screens/TextToSpeechLLMScreen.tsx
  packages/react-native-executorch/src/hooks/useModuleFactory.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionLabeledModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/LLMModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
Due: lint, types, format-js

chore: throw error on broken anchor
  docs/docusaurus.config.js
Due: lint, types, format-js

chore: handle rest of the warnings / errors
  packages/react-native-executorch/src/hooks/computer_vision/useInstanceSegmentation.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js

chore: handle errors in lint after rebase
  .eslintrc.js
  apps/computer-vision/components/ImageWithMasks.tsx
  packages/react-native-executorch/src/constants/commonVision.ts
Due: lint, types, format-js

handle rebase
  .cspell-wordlist.txt
  docs/docs/03-hooks/02-computer-vision/visioncamera-integration.md
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/src/constants/classification.ts
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
  packages/react-native-executorch/src/types/classification.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

chore: add missing file from rebase
  packages/react-native-executorch/src/constants/commonVision.ts
Due: lint, types, format-js

chore: fix lints on two files
  packages/react-native-executorch/src/constants/commonVision.ts
  packages/react-native-executorch/src/hooks/computer_vision/useClassification.ts
Due: lint, types, format-js

Update packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
Due: lint, types, format-js

chore: Add basic statistics to demo apps
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/app/object_detection/index.tsx
  apps/computer-vision/app/ocr/index.tsx
  apps/computer-vision/app/ocr_vertical/index.tsx
  apps/computer-vision/app/semantic_segmentation/index.tsx
  apps/computer-vision/app/style_transfer/index.tsx
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/components/StatsBar.tsx
  apps/llm/app/llm/index.tsx
  apps/llm/app/llm_structured_output/index.tsx
  apps/llm/app/llm_tool_calling/index.tsx
  apps/llm/app/multimodal_llm/index.tsx
  apps/llm/components/StatsBar.tsx
  apps/llm/hooks/useLLMStats.ts
  apps/speech/screens/SpeechToTextScreen.tsx
  apps/text-embeddings/app/clip-embeddings/index.tsx
  apps/text-embeddings/app/text-embeddings/index.tsx
Due: lint, types, format-js

chore: handle rebased, magled code of app in text to image
  apps/computer-vision/app/text_to_image/index.tsx
Due: lint, types, format-js

Fix T2S streaming on unfinished sentences
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
Due: lint, types, format-js

Fix tests after class rename
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SemanticSegmentationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
Due: format-objc

Apply suggestions from code review
  apps/computer-vision/app/text_to_image/index.tsx
  apps/text-embeddings/app/clip-embeddings/index.tsx
Due: lint, types, format-js

chore: add model selection and basic statistics to instance segmentation
  apps/computer-vision/app/instance_segmentation/index.tsx
Due: lint, types, format-js

chore: split inference time in image embeddings example
  apps/text-embeddings/app/clip-embeddings/index.tsx
Due: lint, types, format-js

chore: simplyfy test case
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SemanticSegmentationTest.cpp
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/tests/integration/SemanticSegmentationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SemanticSegmentationTest.cpp
Due: format-objc

test: Semantic Segmentation tests (#989)
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SemanticSegmentationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
Due: format-objc

chore: add suggestions from code review
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/app/object_detection/index.tsx
  apps/computer-vision/app/ocr/index.tsx
  apps/computer-vision/app/ocr_vertical/index.tsx
  apps/computer-vision/app/semantic_segmentation/index.tsx
  apps/computer-vision/app/style_transfer/index.tsx
  apps/llm/app/llm/index.tsx
  apps/llm/app/llm_structured_output/index.tsx
  apps/llm/app/llm_tool_calling/index.tsx
  apps/llm/app/multimodal_llm/index.tsx
  apps/llm/components/StatsBar.tsx
  apps/llm/hooks/useLLMStats.ts
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
Due: lint, types, format-js, format-objc

fix: disable model picker when generating
  apps/computer-vision/components/ModelPicker.tsx
Due: lint, types, format-js

chore: Add basic statistics to demo apps (#985)
  apps/computer-vision/app/classification/index.tsx
  apps/computer-vision/app/instance_segmentation/index.tsx
  apps/computer-vision/app/object_detection/index.tsx
  apps/computer-vision/app/ocr/index.tsx
  apps/computer-vision/app/ocr_vertical/index.tsx
  apps/computer-vision/app/semantic_segmentation/index.tsx
  apps/computer-vision/app/style_transfer/index.tsx
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/components/ModelPicker.tsx
  apps/computer-vision/components/StatsBar.tsx
  apps/llm/app/llm/index.tsx
  apps/llm/app/llm_structured_output/index.tsx
  apps/llm/app/llm_tool_calling/index.tsx
  apps/llm/app/multimodal_llm/index.tsx
  apps/llm/components/StatsBar.tsx
  apps/llm/hooks/useLLMStats.ts
  apps/speech/screens/SpeechToTextScreen.tsx
  apps/text-embeddings/app/clip-embeddings/index.tsx
  apps/text-embeddings/app/text-embeddings/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
Due: lint, types, format-js, format-objc

chore: add unified error handling banner in all demo apps
  apps/computer-vision/app/object_detection/index.tsx
  apps/computer-vision/app/ocr/index.tsx
  apps/computer-vision/app/semantic_segmentation/index.tsx
  apps/computer-vision/app/style_transfer/index.tsx
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/components/ErrorBanner.tsx
  apps/llm/app/llm/index.tsx
  apps/llm/app/llm_structured_output/index.tsx
  apps/llm/app/llm_tool_calling/index.tsx
  apps/llm/app/voice_chat/index.tsx
  apps/llm/components/ErrorBanner.tsx
  apps/speech/components/ErrorBanner.tsx
  apps/speech/screens/SpeechToTextScreen.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
  apps/text-embeddings/app/text-embeddings/index.tsx
  apps/text-embeddings/components/ErrorBanner.tsx
Due: lint, types, format-js
