Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

feat: add lfm 2.5 350M as consts
  apps/llm/components/llmModels.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js

feat: added emulator detection (#1021)
  packages/react-native-executorch/android/src/main/cpp/ETInstallerModule.cpp
  packages/react-native-executorch/android/src/main/cpp/EmulatorDetection.h
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/ios/RnExecutorch/ETInstaller.mm
  packages/react-native-executorch/src/constants/resourceFetcher.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js, format-objc

Apply suggestions from code review
  docs/docs/01-fundamentals/01-getting-started.md
  docs/docs/01-fundamentals/02-loading-models.md
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/memory-usage.md
Due: format-other, spell-check-other

docs: apply same changes to 0.8 version
  docs/versioned_docs/version-0.8.x/01-fundamentals/01-getting-started.md
  docs/versioned_docs/version-0.8.x/01-fundamentals/02-loading-models.md
  docs/versioned_docs/version-0.8.x/02-benchmarks/inference-time.md
  docs/versioned_docs/version-0.8.x/02-benchmarks/memory-usage.md
Due: format-other, spell-check-other

feat: added emulator detection (#1021) (#1043)
  packages/react-native-executorch/android/src/main/cpp/ETInstallerModule.cpp
  packages/react-native-executorch/android/src/main/cpp/EmulatorDetection.h
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/ios/RnExecutorch/ETInstaller.mm
  packages/react-native-executorch/src/constants/resourceFetcher.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js, format-objc

update docs
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.8.x/03-hooks/01-natural-language-processing/useLLM.md
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-other, spell-check-other

feat: add lfm 2.5 350M as consts (#1042)
  apps/llm/components/llmModels.ts
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.8.x/03-hooks/01-natural-language-processing/useLLM.md
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-other, spell-check-other

feat: add lfm 2.5 350M as consts (#1042) (#1045)
  apps/llm/components/llmModels.ts
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.8.x/03-hooks/01-natural-language-processing/useLLM.md
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-other, spell-check-other

v0.8.1
  packages/react-native-executorch/package.json
Due: format-other

chore: v0.8.1 (#1046)
  packages/react-native-executorch/package.json
Due: format-other

docs: fix styles for missing cards
  docs/src/components/ReactNativeExecuTorchFeatures/ReactNativeExecuTorchFeatureItem/styles.module.css
  docs/src/components/ReactNativeExecuTorchFeatures/styles.module.css
Due: format-other, spell-check-other

docs: fix styles for missing cards (#1048)
  docs/src/components/ReactNativeExecuTorchFeatures/ReactNativeExecuTorchFeatureItem/styles.module.css
  docs/src/components/ReactNativeExecuTorchFeatures/styles.module.css
Due: format-other, spell-check-other

fix: pin Node to 22.22.1
  .github/workflows/npm-publish-bare-resource-fetcher.yml
  .github/workflows/npm-publish-expo-resource-fetcher.yml
  .github/workflows/npm-publish.yml
Due: format-other

fix: pin Node to 22.22.1 (#1052)
  .github/workflows/npm-publish-bare-resource-fetcher.yml
  .github/workflows/npm-publish-expo-resource-fetcher.yml
  .github/workflows/npm-publish.yml
Due: format-other

chore: Change links in readme
  README.md
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

chore: Change links in readme (#1054)
  README.md
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

fix: add mutex to VoiceActivityDetection to prevent race between generate() and unload()
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
Due: format-objc

wip
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
Due: format-objc

partial review changes
  packages/bare-resource-fetcher/src/ResourceFetcher.ts
  packages/bare-resource-fetcher/src/handlers.ts
  packages/expo-resource-fetcher/src/ResourceFetcher.ts
  packages/expo-resource-fetcher/src/handlers.ts
  packages/react-native-executorch/src/utils/BaseResourceFetcherClass.ts
Due: lint, types, format-js

chore: bump Node.js to 24 and upgrade setup-node action to v4
  .github/actions/setup/action.yml
  .github/workflows/build-android-llm-example.yml
  .github/workflows/build-ios-llm-example.yml
  .github/workflows/docs-build-check.yml
  .github/workflows/npm-publish-bare-resource-fetcher.yml
  .github/workflows/npm-publish-expo-resource-fetcher.yml
  .github/workflows/npm-publish.yml
  .nvmrc
Due: format-other

fix invalid downloads
  packages/bare-resource-fetcher/src/ResourceFetcher.ts
  packages/bare-resource-fetcher/src/handlers.ts
  packages/expo-resource-fetcher/src/ResourceFetcher.ts
  packages/expo-resource-fetcher/src/handlers.ts
  packages/react-native-executorch/src/utils/BaseResourceFetcherClass.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

lint
  packages/bare-resource-fetcher/src/ResourceFetcher.ts
  packages/expo-resource-fetcher/src/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/BaseResourceFetcherClass.ts
Due: lint, types, format-js

chore: try to run ios job with no cache
  .github/workflows/build-ios-llm-example.yml
Due: format-other

Update packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
Due: format-objc

chore: bump actions/checkout -> v6 actions/setup-node -> v6 actions/cache -> v5
  .github/actions/setup/action.yml
  .github/workflows/build-android-llm-example.yml
  .github/workflows/build-ios-llm-example.yml
  .github/workflows/ci.yml
  .github/workflows/docs-build-check.yml
  .github/workflows/npm-publish-bare-resource-fetcher.yml
  .github/workflows/npm-publish-expo-resource-fetcher.yml
  .github/workflows/npm-publish.yml
  .github/workflows/publish_docs.yml
Due: format-other

chore: remove ios prebuild cache and regenerate project each run
  .github/workflows/build-ios-llm-example.yml
Due: format-other

chore: Update GitHub Actions and bump Node to 24 across all workflows (#1059)
  .github/actions/setup/action.yml
  .github/workflows/build-android-llm-example.yml
  .github/workflows/build-ios-llm-example.yml
  .github/workflows/ci.yml
  .github/workflows/docs-build-check.yml
  .github/workflows/npm-publish-bare-resource-fetcher.yml
  .github/workflows/npm-publish-expo-resource-fetcher.yml
  .github/workflows/npm-publish.yml
  .github/workflows/publish_docs.yml
  .nvmrc
Due: format-other

fix: add mutex to VoiceActivityDetection to prevent race between generate() and unload() (#1056)
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
Due: format-objc

feat: add inference mutex for thread safety in VAD, Text Embeddings and Text-to-Image
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_image/TextToImage.h
  packages/react-native-executorch/common/rnexecutorch/models/voice_activity_detection/VoiceActivityDetection.h
Due: format-objc

fix: capture model and callInvoker by value in GlobalThreadPool detach
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
Due: format-objc

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
