Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

Revert formatting in run_test.sh
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/src/modules/computer_vision/SemanticSegmentationModule.ts
Due: lint, types, format-js

Update tests
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/InstanceSegmentationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ObjectDetectionTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SemanticSegmentationTest.cpp
Due: format-objc

Remove OD_live button
  apps/computer-vision/app/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
Due: lint, types, format-js, format-objc

docs: Create compatibility table (#976)
  README.md
  docs/docs/01-fundamentals/01-getting-started.md
  docs/docs/07-other/01-compatibility.mdx
  docs/docs/07-other/_category_.json
  docs/sidebars.js
  docs/src/components/CompatibilityTable/styles.module.css
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: lint, types, format-js, format-other, spell-check-other

Add benchmarks for RFDETR
  docs/docs/02-benchmarks/inference-time.md
Due: format-other, spell-check-other

Fix yarn issues
  apps/computer-vision/package.json
Due: format-other

Update apps/speech/screens/TextToSpeechScreen.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
Due: lint, types, format-js

Fix live task bug
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
Due: lint, types, format-js

fix: type declaration order
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/Types.h
Due: format-objc

apply review suggestion
  apps/computer-vision/app/object_detection/index.tsx
  apps/computer-vision/app/ocr/index.tsx
  apps/computer-vision/app/semantic_segmentation/index.tsx
  apps/computer-vision/app/style_transfer/index.tsx
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/components/ModelPicker.tsx
  apps/llm/app/llm/index.tsx
  apps/llm/app/llm_structured_output/index.tsx
  apps/llm/app/llm_tool_calling/index.tsx
  apps/llm/components/ModelPicker.tsx
  apps/llm/components/llmModels.ts
  apps/speech/components/ModelPicker.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
Due: lint, types, format-js

fix: Image embeddings doesn't work
  apps/text-embeddings/app/clip-embeddings/index.tsx
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
Due: lint, types, format-js

chore: Add model selections and small fixes (#977)
  apps/computer-vision/app/object_detection/index.tsx
  apps/computer-vision/app/ocr/index.tsx
  apps/computer-vision/app/semantic_segmentation/index.tsx
  apps/computer-vision/app/style_transfer/index.tsx
  apps/computer-vision/app/text_to_image/index.tsx
  apps/computer-vision/components/ModelPicker.tsx
  apps/llm/app/llm/index.tsx
  apps/llm/app/llm_structured_output/index.tsx
  apps/llm/app/llm_tool_calling/index.tsx
  apps/llm/app/voice_chat/index.tsx
  apps/llm/components/ModelPicker.tsx
  apps/llm/components/llmModels.ts
  apps/speech/components/ModelPicker.tsx
  apps/speech/screens/SpeechToTextScreen.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
  apps/text-embeddings/app/clip-embeddings/index.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/src/hooks/computer_vision/useOCR.ts
  packages/react-native-executorch/src/hooks/computer_vision/useVerticalOCR.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
Due: lint, types, format-js, format-objc

Fix declaration order
  packages/react-native-executorch/common/rnexecutorch/tests/integration/BaseModelTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextToSpeechTest.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Processing.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Processing.h
  packages/react-native-executorch/common/rnexecutorch/utils/computer_vision/Types.h
Due: format-objc

Stylish improvements
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/vision_camera/tasks/InstanceSegmentationTask.tsx
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
Due: lint, types, format-js, format-objc

Fix declaration order
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/Types.h
Due: format-objc

chore: change color of hamburger in llm apps
  apps/llm/app/_layout.tsx
Due: lint, types, format-js

chore: add suggestions to bare rn app
  apps/bare_rn/App.tsx
  apps/bare_rn/ios/Podfile.lock
Due: lint, types, format-js

chore: Suggest prompts in llm apps
  apps/llm/app/llm/index.tsx
  apps/llm/app/llm_structured_output/index.tsx
  apps/llm/app/llm_tool_calling/index.tsx
  apps/llm/app/multimodal_llm/index.tsx
  apps/llm/components/SuggestedPrompts.tsx
Due: lint, types, format-js

chore: Suggest prompts in llm demo apps (#984)
  apps/bare_rn/App.tsx
  apps/bare_rn/ios/Podfile.lock
  apps/llm/app/_layout.tsx
  apps/llm/app/llm/index.tsx
  apps/llm/app/llm_structured_output/index.tsx
  apps/llm/app/llm_tool_calling/index.tsx
  apps/llm/app/multimodal_llm/index.tsx
  apps/llm/components/SuggestedPrompts.tsx
Due: lint, types, format-js

feat: initial version
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/vision_camera/tasks/ObjectDetectionTask.tsx
  apps/computer-vision/components/vision_camera/tasks/SegmentationTask.tsx
  apps/computer-vision/package.json
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.h
Due: lint, types, format-js, format-objc, format-other

fix: correctly transform bounding boxes
  apps/computer-vision/components/vision_camera/tasks/ObjectDetectionTask.tsx
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.h
Due: lint, types, format-js, format-objc

feat: handle most common cases
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/vision_camera/tasks/ObjectDetectionTask.tsx
  apps/computer-vision/components/vision_camera/tasks/SegmentationTask.tsx
  apps/computer-vision/package.json
  docs/superpowers/plans/2026-03-17-frame-orientation-transform.md
  docs/superpowers/specs/2026-03-17-frame-orientation-transform-design.md
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/unit/FrameTransformTest.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.h
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.h
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

feat: working rotations on both ios and android
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/vision_camera/tasks/ClassificationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/ObjectDetectionTask.tsx
  apps/computer-vision/components/vision_camera/tasks/SegmentationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/types.ts
  apps/computer-vision/package.json
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.h
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
  packages/react-native-executorch/src/types/objectDetection.ts
  packages/react-native-executorch/src/types/semanticSegmentation.ts
  yarn.lock
Due: lint, types, format-js, format-objc, format-other

feat: model sees the same thing as user approach
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/vision_camera/tasks/ObjectDetectionTask.tsx
  apps/computer-vision/components/vision_camera/tasks/SegmentationTask.tsx
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.h
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
  packages/react-native-executorch/src/types/objectDetection.ts
Due: lint, types, format-js, format-objc

feat: this is the way
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/vision_camera/tasks/ObjectDetectionTask.tsx
  apps/computer-vision/components/vision_camera/tasks/SegmentationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/types.ts
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.cpp
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
  packages/react-native-executorch/src/types/objectDetection.ts
  packages/react-native-executorch/src/types/semanticSegmentation.ts
Due: lint, types, format-js, format-objc

feat: remove the cameraPosition argument
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/vision_camera/tasks/ClassificationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/ObjectDetectionTask.tsx
  apps/computer-vision/components/vision_camera/tasks/SegmentationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/types.ts
  docs/superpowers/plans/2026-03-17-frame-orientation-transform.md
  docs/superpowers/specs/2026-03-17-frame-orientation-transform-design.md
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.h
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
  packages/react-native-executorch/src/types/objectDetection.ts
  packages/react-native-executorch/src/types/semanticSegmentation.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

docs: update vision camera docs
  docs/docs/03-hooks/02-computer-vision/visioncamera-integration.md
Due: format-other, spell-check-other

refactor: changes suggested by claude
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/vision_camera/tasks/ClassificationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/OCRTask.tsx
  apps/computer-vision/components/vision_camera/tasks/ObjectDetectionTask.tsx
  apps/computer-vision/components/vision_camera/tasks/SegmentationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/StyleTransferTask.tsx
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.h
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
Due: lint, types, format-js, format-objc

feat: support all vision models
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/vision_camera/tasks/ClassificationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/OCRTask.tsx
  apps/computer-vision/components/vision_camera/tasks/SegmentationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/StyleTransferTask.tsx
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/unit/FrameTransformTest.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.h
  packages/react-native-executorch/src/controllers/BaseOCRController.ts
  packages/react-native-executorch/src/hooks/computer_vision/useOCR.ts
  packages/react-native-executorch/src/hooks/computer_vision/useVerticalOCR.ts
  packages/react-native-executorch/src/types/ocr.ts
  packages/react-native-executorch/src/types/styleTransfer.ts
Due: lint, types, format-js, format-objc

tests: add tests for new utils
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/common/rnexecutorch/tests/unit/FrameTransformTest.cpp
Due: format-objc

refactor: remove unused code
  apps/computer-vision/components/vision_camera/tasks/OCRTask.tsx
  packages/react-native-executorch/common/rnexecutorch/models/VisionModel.h
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/unit/FrameTransformTest.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.h
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.h
  packages/react-native-executorch/src/controllers/BaseOCRController.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
Due: lint, types, format-js, format-objc

refactor: rename isMirrored to isFrontCamera
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/vision_camera/tasks/OCRTask.tsx
  apps/computer-vision/components/vision_camera/tasks/ObjectDetectionTask.tsx
  apps/computer-vision/components/vision_camera/tasks/SegmentationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/StyleTransferTask.tsx
  packages/react-native-executorch/src/controllers/BaseOCRController.ts
  packages/react-native-executorch/src/hooks/computer_vision/useOCR.ts
  packages/react-native-executorch/src/hooks/computer_vision/useVerticalOCR.ts
  packages/react-native-executorch/src/modules/computer_vision/VisionModule.ts
  packages/react-native-executorch/src/types/objectDetection.ts
  packages/react-native-executorch/src/types/ocr.ts
  packages/react-native-executorch/src/types/semanticSegmentation.ts
  packages/react-native-executorch/src/types/styleTransfer.ts
Due: lint, types, format-js

refactor: remove outputWidth/Height
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/Types.h
Due: format-objc

refactor: add missing comments
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.h
  packages/react-native-executorch/src/hooks/computer_vision/useOCR.ts
  packages/react-native-executorch/src/hooks/computer_vision/useVerticalOCR.ts
  packages/react-native-executorch/src/types/objectDetection.ts
  packages/react-native-executorch/src/types/ocr.ts
  packages/react-native-executorch/src/types/semanticSegmentation.ts
  packages/react-native-executorch/src/types/styleTransfer.ts
Due: lint, types, format-js, format-objc

refactor: add comments
  apps/computer-vision/components/vision_camera/tasks/OCRTask.tsx
  apps/computer-vision/components/vision_camera/tasks/ObjectDetectionTask.tsx
  apps/computer-vision/components/vision_camera/tasks/SegmentationTask.tsx
  packages/react-native-executorch/common/rnexecutorch/models/semantic_segmentation/BaseSemanticSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/unit/FrameTransformTest.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.cpp
  packages/react-native-executorch/common/rnexecutorch/utils/FrameTransform.h
Due: lint, types, format-js, format-objc
