Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

fix: update whisper model URLs to use the correct version tag (#528)
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

feat: add prepack and postpack scripts to manage README.md (#529)
  packages/react-native-executorch/package.json
Due: format-other

added threadpool extension, partially fixed perf problems
  apps/llm/android/.kotlin/errors/errors-1754380687676.log
  packages/react-native-executorch/android/src/main/cpp/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/third-party/android/libs/cpuinfo/arm64-v8a/libcpuinfo.so
  packages/react-native-executorch/third-party/android/libs/pthreadpool/arm64-v8a/libpthreadpool.so
  packages/react-native-executorch/third-party/include/executorch/extension/threadpool/cpuinfo_utils.h
  packages/react-native-executorch/third-party/include/executorch/extension/threadpool/threadpool.h
Due: format-objc

feat: export additional types for speech-to-text and common utilities
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js

feat: export additional types for speech-to-text and common utilities (#530)
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js

v0.5.1
  packages/react-native-executorch/package.json
Due: format-other

v0.5.1 (#531)
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js, format-other

cleaned up jitpack and build for android, added dynamic threadpool settings
  packages/react-native-executorch/android/build.gradle
  packages/react-native-executorch/android/src/main/cpp/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
Due: format-objc

add utils directory in ocr
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/utils/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/utils/DetectorUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/utils/RecognitionHandlerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/utils/RecognitionHandlerUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/utils/RecognizerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/utils/RecognizerUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.h
Due: format-objc

rename constants to k-prefix hungarian notation
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.cpp
  packages/react-native-executorch/common/rnexecutorch/models/classification/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/RecognitionHandler.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/utils/DetectorUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/utils/RecognitionHandlerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/utils/RecognizerUtils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/ocr/utils/RecognizerUtils.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.cpp
Due: format-objc

minor cleanup, changed the configurable threads to aarch64 only
  apps/llm/android/.kotlin/errors/errors-1754380687676.log
  packages/react-native-executorch/android/build.gradle
  packages/react-native-executorch/android/src/main/cpp/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/package.json
  packages/react-native-executorch/third-party/include/cpuinfo/cpuinfo.h
  packages/react-native-executorch/third-party/include/executorch/extension/cpuinfo/cpuinfo_utils.h
  packages/react-native-executorch/third-party/include/executorch/extension/threadpool/threadpool.h
Due: format-objc, format-other

rename mean/variance constants in ocr
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.cpp
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.cpp
Due: format-objc

changed num_of_threads to num_of_performant_cores/2+1
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/third-party/include/executorch/extension/threadpool/cpuinfo_utils.h
  packages/react-native-executorch/third-party/include/executorch/extension/threadpool/threadpool.h
Due: format-objc

Apply suggestions from code review
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/NumericalTest.cpp
Due: format-objc

Apply suggestions from code review
  packages/react-native-executorch/common/rnexecutorch/tests/NumericalTest.cpp
Due: format-objc

Removed googletest submodule from old location
  .gitmodules
Due: none

Added googletest submodule at new location
  .gitmodules
Due: none

Change structure of CMakeLists.txt
  .cspell-wordlist.txt
  packages/react-native-executorch/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/README.md
Due: format-objc, format-other, spell-check-other

Update packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
Due: none

Improve README.md
  packages/react-native-executorch/common/rnexecutorch/tests/README.md
Due: format-other, spell-check-other

NITs to README.md
  packages/react-native-executorch/common/rnexecutorch/tests/README.md
Due: format-other, spell-check-other

Apply suggestions from code review
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
Due: format-objc

Update packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
Due: format-objc

Add word to cspell and fix naming clash
  packages/react-native-executorch/src/utils/SpeechToTextModule/ASR.ts
Due: lint, types, format-js

Update .cspell-wordlist.txt with `probs` word
  .cspell-wordlist.txt
Due: none

Add Real-World Example section to README
  README.md
Due: format-other, spell-check-other

chore: update image alt text for Private Mind in README
  README.md
Due: format-other, spell-check-other

Update packages/react-native-executorch/common/rnexecutorch/tests/NumericalTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/NumericalTest.cpp
Due: format-objc

rename _tokenizer to tokenizerInstance
  packages/react-native-executorch/src/hooks/natural_language_processing/useTokenizer.ts
Due: lint, types, format-js

refactor: change useMemo to useState in hooks. (#509)
  packages/react-native-executorch/src/hooks/computer_vision/useOCR.ts
  packages/react-native-executorch/src/hooks/computer_vision/useVerticalOCR.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTokenizer.ts
  packages/react-native-executorch/src/hooks/useNonStaticModule.ts
Due: lint, types, format-js

use auto with static_cast
  packages/react-native-executorch/common/rnexecutorch/data_processing/FileUtils.h
Due: format-objc

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
