Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

chore: update yarn.lock after removing dependenciesMeta
  yarn.lock
Due: none

fix(computer-vision): adapt vision_camera screen to 5.0.6 API
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/vision_camera/tasks/ClassificationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/InstanceSegmentationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/OCRTask.tsx
  apps/computer-vision/components/vision_camera/tasks/ObjectDetectionTask.tsx
  apps/computer-vision/components/vision_camera/tasks/SegmentationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/StyleTransferTask.tsx
  apps/computer-vision/components/vision_camera/tasks/types.ts
Due: lint, types, format-js

chore(computer-vision): upgrade vision-camera to 5.0.6 and refresh doc links (#1088)
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/vision_camera/tasks/ClassificationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/InstanceSegmentationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/OCRTask.tsx
  apps/computer-vision/components/vision_camera/tasks/ObjectDetectionTask.tsx
  apps/computer-vision/components/vision_camera/tasks/SegmentationTask.tsx
  apps/computer-vision/components/vision_camera/tasks/StyleTransferTask.tsx
  apps/computer-vision/components/vision_camera/tasks/types.ts
  apps/computer-vision/package.json
  docs/docs/03-hooks/02-computer-vision/visioncamera-integration.md
  docs/versioned_docs/version-0.8.x/03-hooks/02-computer-vision/visioncamera-integration.md
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

docs: switch default LLM in Next docs and READMEs to LFM2.5 1.2B
  README.md
  docs/docs/01-fundamentals/02-loading-models.md
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/docs/04-typescript-api/01-natural-language-processing/LLMModule.md
  docs/docs/05-utilities/04-error-handling.md
  docs/docs/05-utilities/model-registry.md
  docs/docs/08-resource-fetcher/01-usage.md
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

docs: switch default LLM in Next docs and READMEs to LFM2.5 1.2B (#1101)
  README.md
  docs/docs/01-fundamentals/02-loading-models.md
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/docs/04-typescript-api/01-natural-language-processing/LLMModule.md
  docs/docs/05-utilities/04-error-handling.md
  docs/docs/05-utilities/model-registry.md
  docs/docs/08-resource-fetcher/01-usage.md
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

feat: expose distiluse 8da4w + CoreML fp32/fp16 variants
  .cspell-wordlist.txt
  apps/text-embeddings/app/text-embeddings/index.tsx
  docs/docs/03-hooks/01-natural-language-processing/useTextEmbeddings.md
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/types/textEmbeddings.ts
Due: lint, types, format-js, format-other, spell-check-other

docs: move distiluse variant sizes from useTextEmbeddings hook page to benchmarks
  docs/docs/02-benchmarks/model-size.md
  docs/docs/03-hooks/01-natural-language-processing/useTextEmbeddings.md
Due: format-other, spell-check-other

docs: drop file-level ResourceFetcher docstring
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

docs: clarify ResourceFetcher class docstring (#1087)
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

feat(llm): add min_p and repetition_penalty sampling parameters
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/stubs/StubRunner.h
  packages/react-native-executorch/common/rnexecutorch/tests/unit/RunnerTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/unit/SamplerTest.cpp
  packages/react-native-executorch/common/runner/base_llm_runner.cpp
  packages/react-native-executorch/common/runner/base_llm_runner.h
  packages/react-native-executorch/common/runner/irunner.h
  packages/react-native-executorch/common/runner/multimodal_decoder_runner.h
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.h
  packages/react-native-executorch/common/runner/sampler.cpp
  packages/react-native-executorch/common/runner/sampler.h
  packages/react-native-executorch/common/runner/text_decoder_runner.cpp
  packages/react-native-executorch/common/runner/text_decoder_runner.h
  packages/react-native-executorch/common/runner/text_runner.cpp
  packages/react-native-executorch/common/runner/text_runner.h
  packages/react-native-executorch/common/runner/text_token_generator.h
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-objc

feat(llm): letterbox images in VisionEncoder preprocessing
  packages/react-native-executorch/common/runner/encoders/vision_encoder.cpp
Due: format-objc

refactor(llm): rename LFM2-VL constants to LFM2_5_VL_*
  apps/llm/app/multimodal_llm/index.tsx
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/docs/04-typescript-api/01-natural-language-processing/LLMModule.md
  docs/versioned_docs/version-0.8.x/03-hooks/01-natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.8.x/04-typescript-api/01-natural-language-processing/LLMModule.md
  packages/react-native-executorch/common/runner/encoders/vision_encoder.cpp
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

chore: remove useless comments
  packages/react-native-executorch/common/runner/text_decoder_runner.h
Due: format-objc

feat(llm): per-model default generationConfig applied on load
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/docs/04-typescript-api/01-natural-language-processing/LLMModule.md
  docs/versioned_docs/version-0.8.x/03-hooks/01-natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.8.x/04-typescript-api/01-natural-language-processing/LLMModule.md
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-other, spell-check-other

docs: add DISTILUSE benchmarks for OnePlus 12 and iPhone 17 Pro
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/memory-usage.md
Due: format-other, spell-check-other

refactor(llm): unify topp/topP naming and add JSI input-validation tests
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/docs/04-typescript-api/01-natural-language-processing/LLMModule.md
  docs/versioned_docs/version-0.8.x/03-hooks/01-natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.8.x/04-typescript-api/01-natural-language-processing/LLMModule.md
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

chore: add Qwen3.5 and Bielik v3.0 models (#1096)
  .cspell-wordlist.txt
  apps/llm/components/llmModels.ts
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js

Partitioner refactor
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.h
Due: format-objc

Adjust Kokoro API to new Partitioner
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.h
Due: format-objc

docs: revert changes to 0.8 docs
  docs/versioned_docs/version-0.8.x/03-hooks/01-natural-language-processing/useLLM.md
  docs/versioned_docs/version-0.8.x/04-typescript-api/01-natural-language-processing/LLMModule.md
Due: format-other, spell-check-other

Add demo speech-to-speech app with LLM
  apps/speech/App.tsx
  apps/speech/app.json
  apps/speech/package.json
  apps/speech/screens/SpeechToSpeechScreen.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
  yarn.lock
Due: lint, types, format-js, format-other

chore: update package.json tags
  packages/react-native-executorch/package.json
Due: format-other

chore(tests): push and clean test models per-test in run_tests.sh
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
Due: none

chore: update package.json tags for RNET (#1105)
  packages/react-native-executorch/package.json
Due: format-other

Fix ' appearence
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
Due: format-objc

refactor: drop fp32 suffix from CoreML default-precision variant
  apps/text-embeddings/app/text-embeddings/index.tsx
  docs/docs/02-benchmarks/model-size.md
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/types/textEmbeddings.ts
Due: lint, types, format-js, format-other, spell-check-other

refactor: drop XNNPACK fp32 and CoreML fp16 distiluse variants
  apps/text-embeddings/app/text-embeddings/index.tsx
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/memory-usage.md
  docs/docs/02-benchmarks/model-size.md
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/types/textEmbeddings.ts
Due: lint, types, format-js, format-other, spell-check-other

fix: update demo apps for Expo 55 / RN 0.83 compatibility
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/vision_camera/index.tsx
  apps/computer-vision/components/BottomBar.tsx
  apps/computer-vision/package.json
  apps/llm/app/_layout.tsx
  apps/llm/package.json
  apps/speech/metro.config.js
  apps/speech/package.json
  apps/text-embeddings/app/_layout.tsx
  apps/text-embeddings/package.json
  yarn.lock
Due: lint, types, format-js, format-other

feat: add DISTILUSE_BASE_MULTILINGUAL_CASED_V2 text embeddings model (#1098)
  .cspell-wordlist.txt
  apps/text-embeddings/app/text-embeddings/index.tsx
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/memory-usage.md
  docs/docs/02-benchmarks/model-size.md
  docs/docs/03-hooks/01-natural-language-processing/useTextEmbeddings.md
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/types/textEmbeddings.ts
Due: lint, types, format-js, format-other, spell-check-other

feat(llm): min_p and repetition_penalty sampling, per-model defaults, letterbox vision (#1099)
  apps/llm/app/multimodal_llm/index.tsx
  docs/docs/03-hooks/01-natural-language-processing/useLLM.md
  docs/docs/04-typescript-api/01-natural-language-processing/LLMModule.md
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/LLMTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/stubs/StubRunner.h
  packages/react-native-executorch/common/rnexecutorch/tests/unit/RunnerTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/unit/SamplerTest.cpp
  packages/react-native-executorch/common/runner/base_llm_runner.cpp
  packages/react-native-executorch/common/runner/base_llm_runner.h
  packages/react-native-executorch/common/runner/encoders/vision_encoder.cpp
  packages/react-native-executorch/common/runner/irunner.h
  packages/react-native-executorch/common/runner/multimodal_decoder_runner.h
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.h
  packages/react-native-executorch/common/runner/sampler.cpp
  packages/react-native-executorch/common/runner/sampler.h
  packages/react-native-executorch/common/runner/text_decoder_runner.cpp
  packages/react-native-executorch/common/runner/text_decoder_runner.h
  packages/react-native-executorch/common/runner/text_runner.cpp
  packages/react-native-executorch/common/runner/text_runner.h
  packages/react-native-executorch/common/runner/text_token_generator.h
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

ci(llm-android): always re-prebuild instead of caching the android/ dir
  .github/workflows/build-android-llm-example.yml
Due: format-other

Create speech2speech hook
  apps/speech/hooks/useSpeechToSpeech.ts
  apps/speech/screens/SpeechToSpeechScreen.tsx
Due: lint, types, format-js

fix(bare-rn): pin deps to bare-rn-local node_modules and dedupe React in Metro
  apps/bare-rn/android/app/build.gradle
  apps/bare-rn/android/settings.gradle
  apps/bare-rn/metro.config.js
  apps/bare-rn/package.json
Due: lint, types, format-js, format-other

fix(lint): move HamburgerIcon inline marginLeft into StyleSheet
  apps/computer-vision/app/_layout.tsx
  apps/llm/app/_layout.tsx
  apps/text-embeddings/app/_layout.tsx
Due: lint, types, format-js

Adjust native/JS API
  .cspell-wordlist.txt
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js, format-objc

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
