Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

docs: update API reference
  docs/docs/06-api-reference/classes/ResourceFetcher.md
  docs/docs/06-api-reference/classes/TextToSpeechModule.md
  docs/docs/06-api-reference/functions/useTextToSpeech.md
  docs/docs/06-api-reference/index.md
  docs/docs/06-api-reference/interfaces/ResourceFetcherAdapter.md
  docs/docs/06-api-reference/interfaces/TextToSpeechPhonemeInput.md
  docs/docs/06-api-reference/interfaces/TextToSpeechStreamingCallbacks.md
  docs/docs/06-api-reference/interfaces/TextToSpeechStreamingPhonemeInput.md
  docs/docs/06-api-reference/interfaces/TextToSpeechType.md
  docs/docs/06-api-reference/typedoc-sidebar.cjs
Due: format-other, spell-check-other

fix(kokoro): stripAudio underflow, atomic streaming flag, duration floor
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.cpp
Due: format-objc

fix(kokoro): cap token limit to prevent speed-up, preserve phoneme order
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.cpp
Due: format-objc

fix(kokoro): remove indices/dur tensor repadding, guard scaleDurations correction loop
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Synthesizer.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.cpp
Due: format-objc

Address PR review feedback from IgorSwat and msluszniak
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Synthesizer.cpp
Due: format-objc

feat: add ios/ and android/ native project files for bare_rn app
  .gitignore
  apps/bare_rn/android/app/build.gradle
  apps/bare_rn/android/app/debug.keystore
  apps/bare_rn/android/app/proguard-rules.pro
  apps/bare_rn/android/app/src/main/AndroidManifest.xml
  apps/bare_rn/android/app/src/main/java/com/barern/MainActivity.kt
  apps/bare_rn/android/app/src/main/java/com/barern/MainApplication.kt
  apps/bare_rn/android/app/src/main/res/drawable/rn_edit_text_material.xml
  apps/bare_rn/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  apps/bare_rn/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  apps/bare_rn/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  apps/bare_rn/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  apps/bare_rn/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  apps/bare_rn/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  apps/bare_rn/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  apps/bare_rn/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  apps/bare_rn/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  apps/bare_rn/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  apps/bare_rn/android/app/src/main/res/values/strings.xml
  apps/bare_rn/android/app/src/main/res/values/styles.xml
  apps/bare_rn/android/build.gradle
  apps/bare_rn/android/gradle.properties
  apps/bare_rn/android/gradle/wrapper/gradle-wrapper.jar
  apps/bare_rn/android/gradle/wrapper/gradle-wrapper.properties
  apps/bare_rn/android/gradlew
  apps/bare_rn/android/gradlew.bat
  apps/bare_rn/android/settings.gradle
  apps/bare_rn/ios/.xcode.env
  apps/bare_rn/ios/Podfile
  apps/bare_rn/ios/bare_rn.xcodeproj/project.pbxproj
  apps/bare_rn/ios/bare_rn.xcodeproj/xcshareddata/xcschemes/bare_rn.xcscheme
  apps/bare_rn/ios/bare_rn/AppDelegate.swift
  apps/bare_rn/ios/bare_rn/Images.xcassets/AppIcon.appiconset/Contents.json
  apps/bare_rn/ios/bare_rn/Images.xcassets/Contents.json
  apps/bare_rn/ios/bare_rn/Info.plist
  apps/bare_rn/ios/bare_rn/LaunchScreen.storyboard
  apps/bare_rn/ios/bare_rn/PrivacyInfo.xcprivacy
Due: format-other

fix: add kconv gem for Ruby 3.4 compatibility in bare_rn
  apps/bare_rn/Gemfile
Due: none

fix: pin CFPropertyList >= 3.0.9 to fix Ruby 3.4 kconv removal
  apps/bare_rn/Gemfile
Due: none

fix: upgrade to CocoaPods >= 1.16.2 for Ruby 3.4 compatibility
  apps/bare_rn/Gemfile
Due: none

fix: add Gemfile.lock and Podfile.lock for bare_rn iOS
  apps/bare_rn/Gemfile.lock
  apps/bare_rn/ios/Podfile.lock
  apps/bare_rn/ios/bare_rn.xcodeproj/project.pbxproj
  apps/bare_rn/ios/bare_rn.xcworkspace/contents.xcworkspacedata
  apps/bare_rn/ios/bare_rn/Info.plist
  apps/bare_rn/ios/bare_rn/PrivacyInfo.xcprivacy
Due: none

fix: fix Android Gradle paths for yarn workspace monorepo
  apps/bare_rn/android/app/build.gradle
  apps/bare_rn/android/settings.gradle
Due: none

fix: move model construction off the JS thread (#944)
  docs/docs/06-api-reference/classes/TextEmbeddingsModule.md
  docs/docs/06-api-reference/classes/TextToSpeechModule.md
  docs/docs/06-api-reference/functions/useTextToSpeech.md
  docs/docs/06-api-reference/index.md
  docs/docs/06-api-reference/interfaces/TextToSpeechPhonemeInput.md
  docs/docs/06-api-reference/interfaces/TextToSpeechStreamingCallbacks.md
  docs/docs/06-api-reference/interfaces/TextToSpeechStreamingPhonemeInput.md
  docs/docs/06-api-reference/interfaces/TextToSpeechType.md
  docs/docs/06-api-reference/typedoc-sidebar.cjs
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/src/controllers/BaseOCRController.ts
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/controllers/OCRController.ts
  packages/react-native-executorch/src/controllers/VerticalOCRController.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/ClassificationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ImageEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/computer_vision/ObjectDetectionModule.ts
  packages/react-native-executorch/src/modules/computer_vision/SemanticSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/StyleTransferModule.ts
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
  packages/react-native-executorch/src/modules/general/ExecutorchModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TokenizerModule.ts
  packages/react-native-executorch/src/modules/natural_language_processing/VADModule.ts
Due: lint, types, format-js, format-objc, format-other, spell-check-other

fix(kokoro): voice loading, method selection, padding, and audio safety fixes (#943)
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Synthesizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Synthesizer.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.cpp
Due: format-objc

chore: add api reference to .gitignore along with model assets for tests
  .github/workflows/api-reference-up-to-date-check.yml
  .gitignore
Due: format-other

fix(kokoro): register streamStop on JSI host object
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
Due: format-objc

Add whisper kv-cache & fix demo app permissions
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.h
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-objc

Refactor STT native implementation
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/schema/ASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/schema/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/DecodingOptions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/GenerationResult.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/ProcessResult.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/Segment.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/Token.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/TranscriptionResult.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/Word.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/HypothesisBuffer.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/GenerationResult.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/ProcessResult.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/Word.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/types/stt.ts
Due: lint, types, format-js, format-objc

Remove special tokens
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
Due: format-objc

Add timestamp fix algorithm & other
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/schema/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
Due: format-objc

Apply review suggestions
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/schema/ASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/GenerationResult.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/ProcessResult.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Constants.h
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/types/stt.ts
Due: lint, types, format-js, format-objc

Set up url's
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

Fix infinite streaming in demo app
  apps/speech/screens/SpeechToTextScreen.tsx
Due: lint, types, format-js

Enable multilingual models
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js

Fix punctation comparision issue
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/Word.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
Due: format-objc

Apply review suggestions
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
Due: format-objc

Final fixes
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Utils.h
Due: format-objc

Final timestamp fix: silence estimation
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
Due: format-objc

Add pause to streaming mode
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
Due: format-objc

Fix demo app crash
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/types/stt.ts
Due: lint, types, format-js

Various STT streaming fixes
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Utils.h
Due: format-objc

Final nits
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
Due: format-objc

Optimize by removing unnecessary copies
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/schema/ASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.h
Due: format-objc

Pretty good heuristic that fixes everything :)
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
Due: format-objc

Apply review suggestions
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/Word.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Utils.h
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
Due: lint, types, format-js, format-objc

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
