Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

Apply review suggestions
  apps/llm/app/voice_chat/index.tsx
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SpeechToTextTest.cpp
  packages/react-native-executorch/common/runner/stats.h
Due: lint, types, format-js, format-objc

Add whisper kv-cache & fix demo app permissions
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.h
  packages/react-native-executorch/src/constants/modelUrls.ts
Due: lint, types, format-js, format-objc

fix: correct base64 data URI segment count validation in readImage
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
Due: format-objc

test: Add tests for image processing section and align documentation with handling raw base64
  docs/docs/03-hooks/02-computer-vision/useClassification.md
  docs/docs/03-hooks/02-computer-vision/useImageEmbeddings.md
  docs/docs/03-hooks/02-computer-vision/useImageSegmentation.md
  docs/docs/03-hooks/02-computer-vision/useOCR.md
  docs/docs/03-hooks/02-computer-vision/useObjectDetection.md
  docs/docs/03-hooks/02-computer-vision/useStyleTransfer.md
  docs/docs/03-hooks/02-computer-vision/useVerticalOCR.md
  docs/docs/04-typescript-api/02-computer-vision/ClassificationModule.md
  docs/docs/04-typescript-api/02-computer-vision/ImageEmbeddingsModule.md
  docs/docs/04-typescript-api/02-computer-vision/ImageSegmentationModule.md
  docs/docs/04-typescript-api/02-computer-vision/OCRModule.md
  docs/docs/04-typescript-api/02-computer-vision/ObjectDetectionModule.md
  docs/docs/04-typescript-api/02-computer-vision/StyleTransferModule.md
  docs/docs/04-typescript-api/02-computer-vision/VerticalOCRModule.md
  packages/react-native-executorch/common/rnexecutorch/data_processing/ImageProcessing.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/common/rnexecutorch/tests/unit/ImageProcessingTest.cpp
Due: format-objc, format-other, spell-check-other

add .canary (internal) version of claude skill
  skills/.canary/react-native-executorch/SKILL.md
  skills/.canary/react-native-executorch/references/core-utilities.md
  skills/.canary/react-native-executorch/references/reference-audio.md
  skills/.canary/react-native-executorch/references/reference-cv-2.md
  skills/.canary/react-native-executorch/references/reference-cv.md
  skills/.canary/react-native-executorch/references/reference-llms.md
  skills/.canary/react-native-executorch/references/reference-models.md
  skills/.canary/react-native-executorch/references/reference-nlp.md
  skills/.canary/react-native-executorch/references/reference-ocr.md
Due: format-other, spell-check-other

chore: add reference files for all functionalities
  skills/react-native-executorch/references/core-utilities.md
  skills/react-native-executorch/references/reference-audio.md
  skills/react-native-executorch/references/reference-cv-2.md
  skills/react-native-executorch/references/reference-cv.md
  skills/react-native-executorch/references/reference-llms.md
  skills/react-native-executorch/references/reference-models.md
  skills/react-native-executorch/references/reference-nlp.md
  skills/react-native-executorch/references/reference-ocr.md
Due: format-other, spell-check-other

chore: move canary version
  skills/canary/react-native-executorch/SKILL.md
  skills/canary/react-native-executorch/references/core-utilities.md
  skills/canary/react-native-executorch/references/reference-audio.md
  skills/canary/react-native-executorch/references/reference-cv-2.md
  skills/canary/react-native-executorch/references/reference-cv.md
  skills/canary/react-native-executorch/references/reference-llms.md
  skills/canary/react-native-executorch/references/reference-models.md
  skills/canary/react-native-executorch/references/reference-nlp.md
  skills/canary/react-native-executorch/references/reference-ocr.md
Due: format-other, spell-check-other

chore: add main SKILL.md file
  .cspell-wordlist.txt
  skills/react-native-executorch/SKILL.md
Due: format-other, spell-check-other

chore: add language to code block
  skills/react-native-executorch/references/reference-llms.md
Due: format-other, spell-check-other

chore: apply review suggestions
  skills/react-native-executorch/SKILL.md
Due: format-other, spell-check-other

docs: Update docs about image segmentation
  docs/docs/03-hooks/02-computer-vision/useImageSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/ImageSegmentationModule.md
  docs/docs/06-api-reference/functions/useImageSegmentation.md
Due: format-other, spell-check-other

chore: add dedicated claude skill for RNE (#800)
  .cspell-wordlist.txt
  docs/docs/03-hooks/02-computer-vision/useImageSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/ImageSegmentationModule.md
  docs/docs/06-api-reference/functions/useImageSegmentation.md
  skills/canary/react-native-executorch/SKILL.md
  skills/canary/react-native-executorch/references/core-utilities.md
  skills/canary/react-native-executorch/references/reference-audio.md
  skills/canary/react-native-executorch/references/reference-cv-2.md
  skills/canary/react-native-executorch/references/reference-cv.md
  skills/canary/react-native-executorch/references/reference-llms.md
  skills/canary/react-native-executorch/references/reference-models.md
  skills/canary/react-native-executorch/references/reference-nlp.md
  skills/canary/react-native-executorch/references/reference-ocr.md
  skills/react-native-executorch/SKILL.md
  skills/react-native-executorch/references/core-utilities.md
  skills/react-native-executorch/references/reference-audio.md
  skills/react-native-executorch/references/reference-cv-2.md
  skills/react-native-executorch/references/reference-cv.md
  skills/react-native-executorch/references/reference-llms.md
  skills/react-native-executorch/references/reference-models.md
  skills/react-native-executorch/references/reference-nlp.md
  skills/react-native-executorch/references/reference-ocr.md
Due: format-other, spell-check-other

Refactor STT native implementation
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/schema/ASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/schema/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/DecodingOptions.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/GenerationResult.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/ProcessResult.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/Segment.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/Token.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/TranscriptionResult.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/common/types/Word.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/HypothesisBuffer.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/stream/OnlineASRProcessor.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/GenerationResult.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/ProcessResult.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/types/Word.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useSpeechToText.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/SpeechToTextModule.ts
  packages/react-native-executorch/src/types/stt.ts
Due: lint, types, format-js, format-objc

Fix infinite streaming in demo app
  apps/speech/screens/SpeechToTextScreen.tsx
Due: lint, types, format-js

feat: add resource fetcher adapters for Expo and bare React Native
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/package.json
  apps/computer-vision/tsconfig.json
  apps/llm/app/_layout.tsx
  apps/llm/package.json
  apps/llm/tsconfig.json
  apps/speech/package.json
  apps/speech/tsconfig.json
  apps/text-embeddings/app/_layout.tsx
  apps/text-embeddings/package.json
  apps/text-embeddings/tsconfig.json
  package.json
  packages/bare-adapter/package.json
  packages/bare-adapter/src/ResourceFetcher.ts
  packages/bare-adapter/src/ResourceFetcherUtils.ts
  packages/bare-adapter/src/constants/directories.ts
  packages/bare-adapter/src/index.ts
  packages/bare-adapter/tsconfig.json
  packages/expo-adapter/package.json
  packages/expo-adapter/src/ResourceFetcher.ts
  packages/expo-adapter/src/ResourceFetcherUtils.ts
  packages/expo-adapter/src/constants/directories.ts
  packages/expo-adapter/src/index.ts
  packages/expo-adapter/tsconfig.json
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
  yarn.lock
Due: lint, types, format-js, format-other

chore: exclude llm_bare app from workspace
  apps/llm_bare/.gitignore
  apps/llm_bare/App.tsx
  apps/llm_bare/ios/Podfile.lock
  apps/llm_bare/metro.config.js
  apps/llm_bare/package.json
  apps/llm_bare/yarn.lock
  package.json
  yarn.lock
Due: lint, types, format-js, format-other

feat: enhance resource fetcher with error handling and new methods for better control
  packages/bare-adapter/src/ResourceFetcher.ts
  packages/bare-adapter/src/constants/directories.ts
  packages/expo-adapter/src/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcherUtils.ts
Due: lint, types, format-js

chore: update react-native-executorch dependency to allow any version
  packages/bare-adapter/package.json
  packages/expo-adapter/package.json
  yarn.lock
Due: format-other

docs: add bare and expo adapters with installation and usage instructions
  packages/bare-adapter/README.md
  packages/expo-adapter/README.md
Due: format-other, spell-check-other

chore: remove bare app directories from .gitignore
  .gitignore
Due: none

feat: integrate MMKV for persistent state storage in background downloads
  apps/llm_bare/android/app/build.gradle
Due: none

chore: add react-native-executorch as a dependency to adapters
  packages/bare-adapter/package.json
  packages/expo-adapter/package.json
  yarn.lock
Due: format-other

chore: add RNFS to the spell check wordlist
  .cspell-wordlist.txt
Due: none

chore: update Node version in .nvmrc and adjust typecheck scripts in package.json for bare and expo adapters
  .nvmrc
  packages/bare-adapter/package.json
  packages/expo-adapter/package.json
Due: format-other

chore: replace generic error with RnExecutorchError in ResourceFetcher for better error handling
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

fix: handle directory creation errors in ResourceFetcherUtils
  packages/bare-adapter/src/ResourceFetcherUtils.ts
  packages/expo-adapter/src/ResourceFetcherUtils.ts
Due: lint, types, format-js

chore: move yarn prepare from adapter typecheck scripts to CI workflow
  .github/workflows/ci.yml
  packages/bare-adapter/package.json
  packages/expo-adapter/package.json
Due: format-other

chore: update workspaces to use wildcard patterns for packages and apps
  package.json
Due: format-other

refactor: rename adapters to resource-fetcher packages
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/package.json
  apps/computer-vision/tsconfig.json
  apps/llm/app/_layout.tsx
  apps/llm/package.json
  apps/llm/tsconfig.json
  apps/speech/App.tsx
  apps/speech/package.json
  apps/speech/tsconfig.json
  apps/text-embeddings/app/_layout.tsx
  apps/text-embeddings/package.json
  apps/text-embeddings/tsconfig.json
  packages/bare-adapter/README.md
  packages/bare-resource-fetcher/README.md
  packages/bare-resource-fetcher/package.json
  packages/bare-resource-fetcher/src/ResourceFetcher.ts
  packages/bare-resource-fetcher/src/ResourceFetcherUtils.ts
  packages/bare-resource-fetcher/src/constants/directories.ts
  packages/bare-resource-fetcher/src/index.ts
  packages/bare-resource-fetcher/tsconfig.json
  packages/expo-resource-fetcher/README.md
  packages/expo-resource-fetcher/package.json
  packages/expo-resource-fetcher/src/ResourceFetcher.ts
  packages/expo-resource-fetcher/src/ResourceFetcherUtils.ts
  packages/expo-resource-fetcher/src/constants/directories.ts
  packages/expo-resource-fetcher/src/index.ts
  packages/expo-resource-fetcher/tsconfig.json
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

refactor: add resetAdapter method to ResourceFetcher
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

refactor: simplify ResourceFetcherAdapter interface
  packages/bare-resource-fetcher/src/ResourceFetcher.ts
  packages/expo-resource-fetcher/src/ResourceFetcher.ts
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

refactor: streamline Typecheck step in CI workflow
  .github/workflows/ci.yml
Due: format-other

refactor: extract download completion logic and improve type safety
  packages/bare-resource-fetcher/src/ResourceFetcher.ts
Due: lint, types, format-js

build: configure TypeScript compilation for resource-fetcher packages
  .github/workflows/ci.yml
  packages/bare-resource-fetcher/package.json
  packages/bare-resource-fetcher/tsconfig.json
  packages/expo-resource-fetcher/package.json
  packages/expo-resource-fetcher/tsconfig.json
Due: format-other
