Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

chore: make Module within BaseModel protected for debuggability
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
Due: format-objc

fix: make tokens int64 instead of int32
  packages/react-native-executorch/common/rnexecutorch/models/text_embeddings/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_embeddings/TextEmbeddings.h
Due: format-objc

feat: add a JSI conversion for array buffers
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
Due: format-objc

feat: update TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_embeddings/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_embeddings/TextEmbeddings.h
Due: format-objc

feat: add l2 norm for std san
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.h
Due: format-objc

feat: make textembeddingsmodule nonstatic
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextEmbeddings.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
Due: lint, types, format-js

chore: remove default param in native text embeddings header
  packages/react-native-executorch/common/rnexecutorch/models/text_embeddings/TextEmbeddings.h
Due: format-objc

feat: update index.tsx, apply new changes in App.tsx
  apps/text-embeddings/app/text-embeddings/index.tsx
  packages/react-native-executorch/src/index.tsx
Due: lint, types, format-js

fix: remove accidental changes
  packages/react-native-executorch/ios/RnExecutorch/utils/Numerical.h
Due: format-objc

chore: remove unused includes
  packages/react-native-executorch/common/rnexecutorch/models/text_embeddings/TextEmbeddings.cpp
Due: format-objc

chore: remove a bunch of code ✨
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/ETModule.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/RnExecutorchPackage.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/TextEmbeddings.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/models/TextEmbeddings/TextEmbeddingsModel.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/models/TextEmbeddings/TextEmbeddingsUtils.kt
  packages/react-native-executorch/common/rnexecutorch/models/text_embeddings/TextEmbeddings.h
  packages/react-native-executorch/ios/RnExecutorch/ETModule.h
  packages/react-native-executorch/ios/RnExecutorch/ETModule.mm
  packages/react-native-executorch/ios/RnExecutorch/TextEmbeddings.h
  packages/react-native-executorch/ios/RnExecutorch/TextEmbeddings.mm
  packages/react-native-executorch/ios/RnExecutorch/models/text_embeddings/TextEmbeddingsModel.h
  packages/react-native-executorch/ios/RnExecutorch/models/text_embeddings/TextEmbeddingsModel.mm
  packages/react-native-executorch/ios/RnExecutorch/models/text_embeddings/TextEmbeddingsUtils.h
  packages/react-native-executorch/ios/RnExecutorch/models/text_embeddings/TextEmbeddingsUtils.mm
  packages/react-native-executorch/src/native/NativeETModule.ts
  packages/react-native-executorch/src/native/NativeTextEmbeddings.ts
  packages/react-native-executorch/src/native/RnExecutorchModules.ts
Due: lint, types, format-js, format-objc

chore: remove a bunch of code ✨
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/RnExecutorchPackage.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/Tokenizer.kt
  packages/react-native-executorch/ios/RnExecutorch/Tokenizer.h
  packages/react-native-executorch/ios/RnExecutorch/Tokenizer.mm
  packages/react-native-executorch/src/native/NativeTokenizer.ts
  packages/react-native-executorch/src/native/RnExecutorchModules.ts
Due: lint, types, format-js, format-objc

chore: remove normalize for std vector
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
Due: format-objc

chore: remove redundant parentheses, add const specifier to for loop
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
Due: format-objc

refactor: make load accept a meanPooling flag
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextEmbeddings.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
Due: lint, types, format-js

refactor: return a struct instead of std::pair
  packages/react-native-executorch/common/rnexecutorch/models/text_embeddings/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_embeddings/TextEmbeddings.h
Due: format-objc

chore: rename the struct
  packages/react-native-executorch/common/rnexecutorch/models/text_embeddings/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_embeddings/TextEmbeddings.h
Due: format-objc

fix: review suggestions
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
Due: lint, types, format-js, format-objc

fix: add pragma once
  packages/react-native-executorch/common/rnexecutorch/models/text_embeddings/TextEmbeddings.h
Due: format-objc

chore: remove redundant coe
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
Due: format-objc

chore: remove dead code 💅🏻
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/RnExecutorchPackage.kt
Due: none

chore: rename module to module_ to avoid potential conflicts
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
Due: format-objc

fix: post-rebase fixes
  apps/text-embeddings/app/clip-embeddings/index.tsx
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
Due: lint, types, format-js, format-objc

fix: check if image embeddings are properly installed
  packages/react-native-executorch/src/index.tsx
Due: lint, types, format-js

fix: pass vec.size() instead of metadata from ET to make_tensor_ptr
  packages/react-native-executorch/common/rnexecutorch/models/text_embeddings/TextEmbeddings.cpp
Due: format-objc

chore: remove log include
  packages/react-native-executorch/common/rnexecutorch/models/text_embeddings/TextEmbeddings.cpp
Due: format-objc

feat: port TextEmbeddings to C++ (#411)
  apps/text-embeddings/app/clip-embeddings/index.tsx
  apps/text-embeddings/app/text-embeddings/index.tsx
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/ETModule.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/RnExecutorchPackage.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/TextEmbeddings.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/Tokenizer.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/models/TextEmbeddings/TextEmbeddingsModel.kt
  packages/react-native-executorch/android/src/main/java/com/swmansion/rnexecutorch/models/TextEmbeddings/TextEmbeddingsUtils.kt
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/Numerical.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
  packages/react-native-executorch/common/rnexecutorch/models/text_embeddings/TextEmbeddings.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_embeddings/TextEmbeddings.h
  packages/react-native-executorch/ios/RnExecutorch/ETModule.h
  packages/react-native-executorch/ios/RnExecutorch/ETModule.mm
  packages/react-native-executorch/ios/RnExecutorch/TextEmbeddings.h
  packages/react-native-executorch/ios/RnExecutorch/TextEmbeddings.mm
  packages/react-native-executorch/ios/RnExecutorch/Tokenizer.h
  packages/react-native-executorch/ios/RnExecutorch/Tokenizer.mm
  packages/react-native-executorch/ios/RnExecutorch/models/text_embeddings/TextEmbeddingsModel.h
  packages/react-native-executorch/ios/RnExecutorch/models/text_embeddings/TextEmbeddingsModel.mm
  packages/react-native-executorch/ios/RnExecutorch/models/text_embeddings/TextEmbeddingsUtils.h
  packages/react-native-executorch/ios/RnExecutorch/models/text_embeddings/TextEmbeddingsUtils.mm
  packages/react-native-executorch/ios/RnExecutorch/utils/Numerical.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextEmbeddings.ts
  packages/react-native-executorch/src/index.tsx
  packages/react-native-executorch/src/modules/natural_language_processing/TextEmbeddingsModule.ts
  packages/react-native-executorch/src/native/NativeETModule.ts
  packages/react-native-executorch/src/native/NativeTextEmbeddings.ts
  packages/react-native-executorch/src/native/NativeTokenizer.ts
  packages/react-native-executorch/src/native/RnExecutorchModules.ts
Due: lint, types, format-js, format-objc

chore: add runner to includes
  packages/react-native-executorch/third-party/include/executorch/runner/irunner.h
  packages/react-native-executorch/third-party/include/executorch/runner/runner.cpp
  packages/react-native-executorch/third-party/include/executorch/runner/runner.h
  packages/react-native-executorch/third-party/include/executorch/runner/sampler.cpp
  packages/react-native-executorch/third-party/include/executorch/runner/sampler.h
  packages/react-native-executorch/third-party/include/executorch/runner/stats.h
  packages/react-native-executorch/third-party/include/executorch/runner/text_decoder_runner.cpp
  packages/react-native-executorch/third-party/include/executorch/runner/text_decoder_runner.h
  packages/react-native-executorch/third-party/include/executorch/runner/text_prefiller.cpp
  packages/react-native-executorch/third-party/include/executorch/runner/text_prefiller.h
  packages/react-native-executorch/third-party/include/executorch/runner/text_token_generator.h
  packages/react-native-executorch/third-party/include/executorch/runner/util.h
Due: format-objc

wip: add an example header
  packages/react-native-executorch/common/rnexecutorch/models/llm/Runner.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/Runner.h
Due: format-objc

Added generic vector log
  packages/react-native-executorch/common/rnexecutorch/Log.h
Due: format-objc

chore: change version of executorch.aar to point to a specific release
  android/build.gradle
  package.json
Due: format-other

chore: change aar path to point to specific version
  android/build.gradle
  examples/computer-vision/package.json
  examples/llama/package.json
  examples/speech-to-text/package.json
  package.json
Due: format-other

Add complex logging
  packages/react-native-executorch/common/rnexecutorch/Log.cpp
  packages/react-native-executorch/common/rnexecutorch/Log.h
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.cpp
Due: format-objc

feat: support void functions in ModelHostObject
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
Due: format-objc

refactor: ResourceFetcher structure changed to more readable
  packages/react-native-executorch/src/utils/ResourceFetcher.ts
Due: lint, types, format-js

added REALESE.md and CONTRIBUTING.md files
  .cspell-wordlist.txt
  CONTRIBUTING.md
  RELEASE.md
Due: format-other, spell-check-other

feat: adjust installer to work with llms
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
Due: format-objc
