Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

main model logic
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Types.h
Due: format-objc

implement Kokoro components
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/TextToSpeech.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/TextToSpeech.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/F0NPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/F0NPredictor.h
Due: format-objc

Temporary testing screen
  apps/speech-to-text/App.tsx
  apps/speech-to-text/app.json
  apps/speech-to-text/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
Due: lint, types, format-js, format-objc, format-other

reorganize DurationPredictor data flow
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
Due: format-objc

demo app finished
  apps/speech-to-text/App.tsx
  apps/speech/.gitignore
  apps/speech/App.tsx
  apps/speech/app.json
  apps/speech/assets/adaptive-icon.png
  apps/speech/assets/executorch.svg
  apps/speech/assets/favicon.png
  apps/speech/assets/icon.png
  apps/speech/assets/splash-icon.png
  apps/speech/assets/swm_icon.svg
  apps/speech/colors.ts
  apps/speech/declarations.d.ts
  apps/speech/index.ts
  apps/speech/metro.config.js
  apps/speech/package.json
  apps/speech/screens/SpeechToTextScreen.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
  apps/speech/tsconfig.json
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.h
  yarn.lock
Due: lint, types, format-js, format-objc, format-other

add cropping audio vector
  apps/speech-to-text/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.h
Due: lint, types, format-js, format-objc

update model input variants
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/F0NPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
Due: format-objc

native side streaming
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
Due: format-objc

fix 'ed' phonemization bug
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
Due: format-objc

small refactor
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/F0NPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Types.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.h
Due: format-objc

audio streaming fixed
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js

add british support
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/src/constants/tts/voices.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js, format-objc

fix reload bug
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.cpp
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
Due: lint, types, format-js, format-objc

enable additional model options
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js, format-objc

small code refactor
  packages/react-native-executorch/common/rnexecutorch/data_processing/Sequential.h
  packages/react-native-executorch/common/rnexecutorch/metaprogramming/ContainerHelpers.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/F0NPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/F0NPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.cpp
Due: format-objc

remove doubled commits
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/F0NPredictor.h
Due: format-objc

apply review suggestions
  .cspell-wordlist.txt
  README.md
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Decoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Encoder.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/F0NPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/F0NPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/scripts/create-package.sh
  packages/react-native-executorch/src/constants/tts/models.ts
  packages/react-native-executorch/src/constants/tts/voices.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/types/tts.ts
  packages/react-native-executorch/third-party/include/phonemis/phonemizer/types.h
Due: lint, types, format-js, format-objc, format-other, spell-check-other

Remove Log.h include from RnExecutorchInstaller.h
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.h
Due: format-objc

fix: revert legacy imports
  packages/react-native-executorch/scripts/create-package.sh
Due: none

chore: remove create-package.sh
  packages/react-native-executorch/scripts/create-package.sh
Due: none

Remove unused iostream include
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.cpp
Due: format-objc

implement a demo quiz app
  apps/speech/App.tsx
  apps/speech/assets/quiz-data.ts
  apps/speech/screens/Quiz.tsx
Due: lint, types, format-js

apply review suggestions
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/constants/ocr/models.ts
  packages/react-native-executorch/src/constants/tts/models.ts
  packages/react-native-executorch/src/constants/tts/voices.ts
  packages/react-native-executorch/src/constants/versions.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js

update phonemis library
  packages/react-native-executorch/third-party/android/libs/phonemis/arm64-v8a/libphonemis.a
  packages/react-native-executorch/third-party/android/libs/phonemis/x86_64/libphonemis.a
  packages/react-native-executorch/third-party/include/phonemis/preprocessor/constants.h
  packages/react-native-executorch/third-party/include/phonemis/preprocessor/tools.h
  packages/react-native-executorch/third-party/ios/libs/phonemis/physical-arm64-release/libphonemis.a
  packages/react-native-executorch/third-party/ios/libs/phonemis/simulator-arm64-debug/libphonemis.a
Due: format-objc

apply review suggestions
  apps/speech/App.tsx
  apps/speech/screens/Quiz.tsx
  apps/speech/screens/SpeechToTextScreen.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.cpp
  packages/react-native-executorch/scripts/create-package.sh
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js, format-objc

improve input partitioning for latency
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.h
Due: format-objc

docs: remove sorn25 banner
  README.md
Due: format-other, spell-check-other

Update packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.cpp
  packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.cpp
Due: format-objc

docs: remove sorn25 banner from readme (#733)
  README.md
Due: format-other, spell-check-other

add TextToSpeechModule & useTextToSpeech docs without benchmarks
  docs/docs/02-hooks/01-natural-language-processing/useTextToSpeech.md
  docs/docs/03-typescript-api/01-natural-language-processing/TextToSpeechModule.md
Due: format-other, spell-check-other

Revert exposition of functionality
  packages/react-native-executorch/common/rnexecutorch/data_processing/dsp.h
Due: format-objc

[FIX] Fix compilation error: Added missing + operator (#732)
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.cpp
Due: format-objc

chore: Add `[[nodiscard]]` attribute to native functions (#660)
  packages/react-native-executorch/common/rnexecutorch/TokenizerModule.h
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/BaseModel.h
  packages/react-native-executorch/common/rnexecutorch/models/classification/Classification.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/image/ImageEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/embeddings/text/TextEmbeddings.h
  packages/react-native-executorch/common/rnexecutorch/models/image_segmentation/ImageSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/object_detection/ObjectDetection.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Detector.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/OCR.h
  packages/react-native-executorch/common/rnexecutorch/models/ocr/Recognizer.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/style_transfer/StyleTransfer.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalDetector.h
  packages/react-native-executorch/common/rnexecutorch/models/vertical_ocr/VerticalOCR.h
Due: format-objc

chore: unify error handling with other hook implementations
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
Due: lint, types, format-js

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
