Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

fix(build): find the config block in a monorepo, and require API 26
  docs/docs/01-fundamentals/01-getting-started.md
  packages/react-native-executorch/__tests__/api/nativeLibsConfig.test.ts
  packages/react-native-executorch/android/build.gradle.kts
  packages/react-native-executorch/scripts/download-libs.js
Due: lint, types, format-js, format-other, spell-check-other

fix(deps): require worklets >=0.10.0 <0.13.0 and document it
  docs/docs/01-fundamentals/01-getting-started.md
  docs/docs/05-other/01-compatibility.mdx
  packages/react-native-executorch/__tests__/api/workletsVersionRange.test.ts
  packages/react-native-executorch/__tests__/core/runtime.test.ts
  packages/react-native-executorch/__tests__/core/serialization.test.ts
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/core/runtime.ts
  packages/react-native-executorch/src/core/serialization.ts
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

fix(ios): narrow the podspec's public headers (#1448)
  .cspell-wordlist.txt
  packages/react-native-executorch/__tests__/README.md
  packages/react-native-executorch/__tests__/api/podspecPublicHeaders.test.ts
  packages/react-native-executorch/react-native-executorch.podspec
Due: lint, types, format-js, format-other, spell-check-other

Update docs/docs/01-fundamentals/01-getting-started.md
  docs/docs/01-fundamentals/01-getting-started.md
Due: format-other, spell-check-other

docs: trim the worklets requirement and generalise the version advice
  docs/docs/01-fundamentals/01-getting-started.md
Due: format-other, spell-check-other

fix(deps): require worklets >=0.10.0 <0.13.0 and document it (#1449)
  docs/docs/01-fundamentals/01-getting-started.md
  docs/docs/05-other/01-compatibility.mdx
  docs/src/components/CompatibilityTable/styles.module.css
  packages/react-native-executorch/__tests__/api/workletsVersionRange.test.ts
  packages/react-native-executorch/package.json
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

fix(ios): use the OpenCV an app already has instead of clashing with it
  docs/docs/05-other/02-troubleshooting.md
  packages/react-native-executorch/.gitignore
  packages/react-native-executorch/__tests__/api/nativeLibsConfig.test.ts
  packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/scripts/download-libs.js
Due: lint, types, format-js, format-other, spell-check-other

docs(scripts): document what findUserConfig returns
  packages/react-native-executorch/scripts/download-libs.js
Due: lint, types, format-js

docs(0.10.0): port the setup fixes to the versioned docs
  docs/docs/03-core-and-advanced/08-native-libraries.md
  docs/versioned_docs/version-0.10.0/01-fundamentals/01-getting-started.md
  docs/versioned_docs/version-0.10.0/03-core-and-advanced/08-native-libraries.md
  docs/versioned_docs/version-0.10.0/05-other/01-compatibility.mdx
  docs/versioned_docs/version-0.10.0/05-other/02-troubleshooting.md
Due: format-other, spell-check-other

fix(build): fail with the cause when the setup is wrong (#1450)
  docs/docs/01-fundamentals/01-getting-started.md
  docs/docs/03-core-and-advanced/08-native-libraries.md
  docs/docs/05-other/02-troubleshooting.md
  docs/versioned_docs/version-0.10.0/01-fundamentals/01-getting-started.md
  docs/versioned_docs/version-0.10.0/03-core-and-advanced/08-native-libraries.md
  docs/versioned_docs/version-0.10.0/05-other/01-compatibility.mdx
  docs/versioned_docs/version-0.10.0/05-other/02-troubleshooting.md
  packages/react-native-executorch/.gitignore
  packages/react-native-executorch/__tests__/api/nativeLibsConfig.test.ts
  packages/react-native-executorch/android/build.gradle.kts
  packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/scripts/download-libs.js
Due: lint, types, format-js, format-other, spell-check-other

fix(build): fail with the cause when the setup is wrong (#1450)
  docs/docs/01-fundamentals/01-getting-started.md
  docs/docs/03-core-and-advanced/08-native-libraries.md
  docs/docs/05-other/02-troubleshooting.md
  packages/react-native-executorch/.gitignore
  packages/react-native-executorch/__tests__/api/nativeLibsConfig.test.ts
  packages/react-native-executorch/android/build.gradle.kts
  packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/scripts/download-libs.js
Due: lint, types, format-js, format-other, spell-check-other

fix(ios): keep the podspec's build attributes out of the OpenCV branch
  .cspell-wordlist.txt
  packages/react-native-executorch/__tests__/api/podspecAttributes.test.ts
  packages/react-native-executorch/react-native-executorch.podspec
Due: lint, types, format-js

fix(ios): keep the podspec's build attributes out of the OpenCV branch (#1452)
  .cspell-wordlist.txt
  packages/react-native-executorch/__tests__/api/podspecAttributes.test.ts
  packages/react-native-executorch/react-native-executorch.podspec
Due: lint, types, format-js

fix: backport the 0.10.0 setup fixes (#1448, #1449, #1450, #1452) (#1451)
  .cspell-wordlist.txt
  docs/docs/01-fundamentals/01-getting-started.md
  docs/docs/03-core-and-advanced/08-native-libraries.md
  docs/docs/05-other/01-compatibility.mdx
  docs/docs/05-other/02-troubleshooting.md
  docs/src/components/CompatibilityTable/styles.module.css
  packages/react-native-executorch/.gitignore
  packages/react-native-executorch/__tests__/README.md
  packages/react-native-executorch/__tests__/api/nativeLibsConfig.test.ts
  packages/react-native-executorch/__tests__/api/podspecAttributes.test.ts
  packages/react-native-executorch/__tests__/api/podspecPublicHeaders.test.ts
  packages/react-native-executorch/__tests__/api/workletsVersionRange.test.ts
  packages/react-native-executorch/android/build.gradle.kts
  packages/react-native-executorch/package.json
  packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/scripts/download-libs.js
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

Release v0.10.1
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/fetcher/telemetry.ts
Due: lint, types, format-js, format-other

chore: Release v0.10.1 (#1453)
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/fetcher/telemetry.ts
Due: lint, types, format-js, format-other

fix(llm): stop a failed turn's rollback from hiding its cause
  packages/react-native-executorch/__tests__/support/fakeJsi.ts
  packages/react-native-executorch/__tests__/tasks/llmChatSession.test.ts
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
Due: lint, types, format-js

feat(llm): split a prefill that exceeds the model's per-call window
  packages/react-native-executorch/__tests__/support/fakeJsi.ts
  packages/react-native-executorch/__tests__/tasks/llmChatSession.test.ts
  packages/react-native-executorch/__tests__/tasks/prefillChunking.test.ts
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.cpp
  packages/react-native-executorch/src/extensions/llm/llmRunner.ts
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
  packages/react-native-executorch/src/extensions/llm/utils/prefillChunking.ts
Due: lint, types, format-js, format-objc

fix(bench): hold every iteration at the gate temperature, not just the case
  apps/benchmarks/scripts/run-benchmarks.mjs
  apps/benchmarks/src/config.ts
  apps/benchmarks/src/registry.ts
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
  apps/benchmarks/src/suite.ts
  apps/benchmarks/src/thermalWatch.ts
  apps/benchmarks/src/time.ts
Due: lint, types, format-js

fix(bench): judge a measurement on where its iterations started
  apps/benchmarks/src/report.ts
  apps/benchmarks/src/runner.ts
  apps/benchmarks/src/thermalWatch.ts
Due: lint, types, format-js

docs: add a benchmarks section
  .cspell-wordlist.txt
  docs/docs/04-benchmarks/01-overview.md
  docs/docs/04-benchmarks/02-android.md
  docs/docs/04-benchmarks/03-ios.md
  docs/docs/04-benchmarks/04-llms.md
  docs/docs/04-benchmarks/_category_.json
  docs/sidebars.js
Due: lint, types, format-js, format-other, spell-check-other

fix(llm): reset to zero when the turn zeroed the cache
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
Due: lint, types, format-js

Update packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
Due: lint, types, format-js

fix(llm): stop a failed turn's rollback from hiding its cause (#1454)
  packages/react-native-executorch/__tests__/support/fakeJsi.ts
  packages/react-native-executorch/__tests__/tasks/llmChatSession.test.ts
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
Due: lint, types, format-js

fix(speech-example): fix audio playback not stopping at end of speech
  apps/speech/app/kokoro-text-to-speech/index.tsx
  apps/speech/app/text-to-speech/index.tsx
  apps/speech/hooks/useAudioPlayer.ts
Due: lint, types, format-js

docs: update requirements in README to match getting started
  README.md
Due: format-other, spell-check-other

docs: update requirements in README to match getting started (#1461)
  README.md
Due: format-other, spell-check-other

feat(segmentation): accept an index-map output from Core ML models
  packages/react-native-executorch/src/extensions/cv/tasks/semanticSegmentation.ts
Due: lint, types, format-js

refactor(segmentation): fold the index-map branch into throughIf
  packages/react-native-executorch/src/extensions/cv/tasks/semanticSegmentation.ts
Due: lint, types, format-js

feat(models): resolve Core ML segmentation models at v0.11.0
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(models): serve the Core ML text embedders as int8
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

style(models): fix indentation of the distiluse COREML_FP16 entry
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
