Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lint:
  run: npx eslint {staged_files}

types:
  run: yarn typecheck

format-js:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-objc:
  run: clang-format -i {staged_files} && git add {staged_files}

format-kotlin:
  run: ktlint -F {staged_files} && git add {staged_files}

lint-docs:
  run: npx eslint {staged_files}

format-other:
  run: npx prettier --write {staged_files} && git add {staged_files}

spell-check-other:
  run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

test(bench): follow the library's schema and constants exports
  apps/benchmarks/src/nativeForward.ts
  apps/benchmarks/src/suite.ts
Due: lint, types, format-js

refactor(ts): drop the sequential-load comments
  packages/react-native-executorch/src/extensions/nlp/tasks/privacyFilter.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/textEmbedding.ts
  packages/react-native-executorch/src/extensions/speech/tasks/kokoroTextToSpeech.ts
  packages/react-native-executorch/src/extensions/speech/tasks/supertonicTextToSpeech.ts
Due: lint, types, format-js

[RNE Rewrite] fix(ts): release native resources when a create<Task> fails (#1386)
  .agents/skills/add-api-tests/SKILL.md
  .agents/skills/add-task-pipeline/SKILL.md
  packages/react-native-executorch/__tests__/README.md
  packages/react-native-executorch/__tests__/api/__snapshots__/apiSurface.test.ts.snap
  packages/react-native-executorch/__tests__/hooks/taskHooks.test.ts
  packages/react-native-executorch/__tests__/support/lifetime.ts
  packages/react-native-executorch/__tests__/tasks/classification.test.ts
  packages/react-native-executorch/__tests__/tasks/constructionFailure.test.ts
  packages/react-native-executorch/__tests__/tasks/embedding.test.ts
  packages/react-native-executorch/__tests__/tasks/kokoroTextToSpeech.test.ts
  packages/react-native-executorch/__tests__/tasks/llmChatSession.test.ts
  packages/react-native-executorch/__tests__/tasks/objectDetection.test.ts
  packages/react-native-executorch/__tests__/tasks/paddleOcr.test.ts
  packages/react-native-executorch/__tests__/tasks/privacyFilter.test.ts
  packages/react-native-executorch/__tests__/tasks/remainingTasks.test.ts
  packages/react-native-executorch/__tests__/tasks/semanticSegmentation.test.ts
  packages/react-native-executorch/__tests__/tasks/styleTransfer.test.ts
  packages/react-native-executorch/src/core/lifetime.ts
  packages/react-native-executorch/src/extensions/cv/tasks/classification.ts
  packages/react-native-executorch/src/extensions/cv/tasks/imageEmbedding.ts
  packages/react-native-executorch/src/extensions/cv/tasks/instanceSegmentation.ts
  packages/react-native-executorch/src/extensions/cv/tasks/keypointDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/objectDetection.ts
  packages/react-native-executorch/src/extensions/cv/tasks/paddleOcr.ts
  packages/react-native-executorch/src/extensions/cv/tasks/sdxsTextToImage.ts
  packages/react-native-executorch/src/extensions/cv/tasks/semanticSegmentation.ts
  packages/react-native-executorch/src/extensions/cv/tasks/styleTransfer.ts
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/privacyFilter.ts
  packages/react-native-executorch/src/extensions/nlp/tasks/textEmbedding.ts
  packages/react-native-executorch/src/extensions/speech/tasks/fsmnVoiceActivityDetection.ts
  packages/react-native-executorch/src/extensions/speech/tasks/kokoroTextToSpeech.ts
  packages/react-native-executorch/src/extensions/speech/tasks/supertonicTextToSpeech.ts
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js, format-other, spell-check-other

fix(ios): keep the host C++ tests out of the pod
  packages/react-native-executorch/react-native-executorch.podspec
Due: none

[RNE Rewrite] fix(ios): keep the host C++ tests out of the pod (#1391)
  packages/react-native-executorch/react-native-executorch.podspec
Due: none

feat(models)!: resolve DEFAULT model variant per platform
  apps/computer-vision/app/detection/index.tsx
  apps/computer-vision/app/keypoint/index.tsx
  apps/computer-vision/package.json
  apps/speech/package.json
  docs/docs/01-fundamentals/01-getting-started.md
  packages/react-native-executorch/__tests__/api/modelVariants.test.ts
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/src/modelVariants.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-other, spell-check-other

feat(models): prefer MLX on iOS and Vulkan on Android
  docs/docs/01-fundamentals/01-getting-started.md
  packages/react-native-executorch/__tests__/api/modelVariants.test.ts
  packages/react-native-executorch/src/modelVariants.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js, format-other, spell-check-other

feat(models): add the fp16 Core ML build of RF-DETR keypoint
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

Revert "feat(models): add the fp16 Core ML build of RF-DETR keypoint"
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

docs(models): record the real reason behind each iOS pin
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

docs(models): fp16 RF-DETR keypoint is blocked on the export env, not precision
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(models): default RF-DETR keypoint to the new fp16 Core ML build on iOS
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

fix(models): point RF-DETR keypoint at v0.10.0, where its files actually are
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(models): drop the RF-DETR keypoint fp32 Core ML build, repoint nano-detector
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

fix(computer-vision): the keypoint demo still offered the removed fp32 build
  apps/computer-vision/app/keypoint/index.tsx
Due: lint, types, format-js

feat(models): wire every published variant the registry was missing
  packages/react-native-executorch/__tests__/api/modelVariants.test.ts
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

[RNE Rewrite] fix(cv): report the peak NMS-group score as keypoint confidence
  packages/react-native-executorch/__tests__/tasks/remainingTasks.test.ts
  packages/react-native-executorch/src/extensions/cv/tasks/keypointDetection.ts
Due: lint, types, format-js

[RNE Rewrite] fix(cv): report the peak NMS-group score as keypoint confidence (#1396)
  packages/react-native-executorch/__tests__/tasks/remainingTasks.test.ts
  packages/react-native-executorch/src/extensions/cv/tasks/keypointDetection.ts
Due: lint, types, format-js

feat(models): wire the all-MiniLM-L6-v2 Vulkan export
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(speech): accept a whisper model exported at a fixed audio length
  packages/react-native-executorch/__tests__/tasks/remainingTasks.test.ts
  packages/react-native-executorch/src/extensions/speech/tasks/whisperSpeechToText.ts
Due: lint, types, format-js

feat(speech): add Vulkan whisper-tiny variants
  apps/speech/app/audio-file-transcription/index.tsx
  apps/speech/app/microphone-transcription/index.tsx
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(models): wire the whisper-tiny Vulkan exports
  apps/speech/app/audio-file-transcription/index.tsx
  apps/speech/app/microphone-transcription/index.tsx
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(models): wire the remaining whisper Vulkan sizes
  apps/speech/app/audio-file-transcription/index.tsx
  apps/speech/app/microphone-transcription/index.tsx
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

[RNE Rewrite] feat(models): point LLM constants at the re-published artifacts (#1385)
  apps/nlp/constants/llm.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(models): default the embedding models to Vulkan fp16 on Android
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

test: allow 8da8w precision tag in model registry URL contract test
  packages/react-native-executorch/__tests__/api/modelRegistry.test.ts
Due: lint, types, format-js

ci: add TypeScript unit tests to lefthook pre-commit hook
  lefthook.yml
Due: format-other

[RNE Rewrite] fix(test): allow 8da8w precision tag in model registry URL contract test (#1399)
  lefthook.yml
  packages/react-native-executorch/__tests__/api/modelRegistry.test.ts
Due: lint, types, format-js, format-other

feat(models): add Vulkan fp16 for the remaining sentence-transformer embedders
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(models): add Vulkan fp16 for distiluse
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(models): add Vulkan fp16 for Supertonic
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(speech): offer the Vulkan Supertonic build in the demo
  apps/speech/app/text-to-speech/index.tsx
Due: lint, types, format-js

feat(tts): accept a padded-token Kokoro contract
  apps/speech/app/kokoro-text-to-speech/index.tsx
  packages/react-native-executorch/src/extensions/speech/tasks/kokoroTextToSpeech.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

fix(tts): pull the Core ML backend libs for text-to-speech
  packages/react-native-executorch/scripts/download-libs.js
Due: lint, types, format-js

feat(tts): add the Polish and German Core ML Kokoro variants
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

refactor(tts): derive the Kokoro token bounds from both sub-models
  packages/react-native-executorch/src/extensions/speech/tasks/kokoroTextToSpeech.ts
Due: lint, types, format-js

chore(tts): drop the stale standard-weights-only Core ML gating
  apps/speech/app/kokoro-text-to-speech/index.tsx
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

refactor(tts): spell out the Core ML Kokoro presets
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

[RNE Rewrite] feat(tts): add a Core ML Kokoro variant (#1384)
  apps/speech/app/kokoro-text-to-speech/index.tsx
  packages/react-native-executorch/scripts/download-libs.js
  packages/react-native-executorch/src/extensions/speech/tasks/kokoroTextToSpeech.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

refactor(fetcher): use the background downloader on both platforms
  .cspell-wordlist.txt
  packages/react-native-executorch/__tests__/README.md
  packages/react-native-executorch/__tests__/fetcher/backgroundDownloader.test.ts
  packages/react-native-executorch/src/fetcher/backgroundDownloader.ts
  packages/react-native-executorch/src/fetcher/fetcher.ts
Due: lint, types, format-js, format-other, spell-check-other

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  format-js: any of: *.{js,ts,jsx,tsx}
  format-objc: any of: *.{h,hpp,m,mm,c,cpp}
  format-kotlin: any of: *.{kt}
  lint-docs: any of: *.{md}
  format-other: any of: *.{json,yml,watchmanconfig,md,css}
  spell-check-other: any of: *.{md,css}
