Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

fix: Make package.json accept newer versions of libs, e.g. Expo (#886)
  docs/docs/06-api-reference/classes/TextToImageModule.md
  packages/expo-resource-fetcher/package.json
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

Add basic setup for testing whisper coreml export
  apps/speech/app.json
  apps/speech/screens/SpeechToTextScreen.tsx
Due: lint, types, format-js, format-other

fix: Make package.json accept newer versions of libs, e.g. Expo (#886)
  docs/docs/06-api-reference/classes/TextToImageModule.md
  packages/expo-resource-fetcher/package.json
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
  yarn.lock
Due: lint, types, format-js, format-other, spell-check-other

Delete packages/expo-resource-fetcher/package.json
  packages/expo-resource-fetcher/package.json
Due: format-other

Delete docs/docs/06-api-reference/classes/TextToImageModule.md
  docs/docs/06-api-reference/classes/TextToImageModule.md
Due: format-other, spell-check-other

revert mistaken deleting of api reference file
  docs/docs/06-api-reference/classes/TextToImageModule.md
Due: format-other, spell-check-other

Bump version from 0.7.1 to 0.7.2
  packages/react-native-executorch/package.json
Due: format-other

Release v0.7.2 (#889)
  packages/react-native-executorch/package.json
  packages/react-native-executorch/src/modules/computer_vision/TextToImageModule.ts
  yarn.lock
Due: lint, types, format-js, format-other

Update RELEASE.md
  RELEASE.md
Due: format-other, spell-check-other

chore: Rename ImageSegmentation to SemanticSegmentation
  packages/react-native-executorch/src/modules/computer_vision/SemanticSegmentationModule.ts
Due: lint, types, format-js

chore: Update docs
  docs/docs/06-api-reference/classes/SemanticSegmentationModule.md
  docs/docs/06-api-reference/enumerations/DeeplabLabel_BACKUP_24210.md
  docs/docs/06-api-reference/enumerations/DeeplabLabel_BASE_24210.md
  docs/docs/06-api-reference/enumerations/DeeplabLabel_LOCAL_24210.md
  docs/docs/06-api-reference/enumerations/DeeplabLabel_REMOTE_24210.md
  docs/docs/06-api-reference/enumerations/SelfieSegmentationLabel.md
  docs/docs/06-api-reference/interfaces/SemanticSegmentationProps.md
  docs/docs/06-api-reference/interfaces/SemanticSegmentationType.md
  docs/docs/06-api-reference/type-aliases/ModelNameOf.md
  docs/docs/06-api-reference/type-aliases/SegmentationLabels.md
  docs/docs/06-api-reference/type-aliases/SemanticSegmentationConfig.md
  docs/docs/06-api-reference/type-aliases/SemanticSegmentationModelName.md
  docs/docs/06-api-reference/type-aliases/SemanticSegmentationModelSources.md
  docs/docs/06-api-reference/typedoc-sidebar.cjs
Due: format-other, spell-check-other

Update docs
  docs/docs/03-hooks/02-computer-vision/useSemanticSegmentation.md
  docs/docs/04-typescript-api/02-computer-vision/SemanticSegmentationModule.md
Due: format-other, spell-check-other

Upadte claude skills
  skills/canary/react-native-executorch/references/reference-cv.md
  skills/react-native-executorch/references/reference-cv.md
Due: format-other, spell-check-other

Initial instance segmetntation
  apps/computer-vision/app/index.tsx
  apps/computer-vision/app/instance_segmentation/index.tsx
  apps/computer-vision/package.json
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/InstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/InstanceSegmentation.h
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/Types.h
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/smollm_tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/t2i_tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/test_image.jpg
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/integration/assets/models/whisper_tokenizer.json
  packages/react-native-executorch/common/rnexecutorch/tests/log.txt
  packages/react-native-executorch/src/hooks/computer_vision/useInstanceSegmentation.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/SemanticSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js, format-objc, format-other

Update instance segmentaiton demo app
  apps/computer-vision/app/_layout.tsx
  apps/computer-vision/app/instance_segmentation/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js, format-objc

Rename to BaseInstanceSegmentation
  apps/computer-vision/app/instance_segmentation/index.tsx
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.cpp
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/BaseInstanceSegmentation.h
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
Due: lint, types, format-js, format-objc

Update api reference docs
  packages/react-native-executorch/common/rnexecutorch/models/instance_segmentation/Types.h
  packages/react-native-executorch/src/hooks/computer_vision/useInstanceSegmentation.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js, format-objc

Final timestamp fix: silence estimation
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/Params.h
Due: format-objc

feat: initial implementation of multimodal runner with lfm vlm
  apps/llm/app.json
  apps/llm/app/_layout.tsx
  apps/llm/app/index.tsx
  apps/llm/app/multimodal_llm/index.tsx
  apps/llm/package.json
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/multimodal_llm/MultimodalLLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/multimodal_llm/MultimodalLLM.h
  packages/react-native-executorch/common/runner/image.h
  packages/react-native-executorch/common/runner/multimodal_decoder_runner.h
  packages/react-native-executorch/common/runner/multimodal_input.h
  packages/react-native-executorch/common/runner/multimodal_prefiller.cpp
  packages/react-native-executorch/common/runner/multimodal_prefiller.h
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useMultimodalLLM.ts
  packages/react-native-executorch/src/index.ts
Due: lint, types, format-js, format-objc, format-other

Remove special tokens
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
Due: format-objc

feat: unified LLM runner for text-only and multimodal PTEs
  apps/llm/app/multimodal_llm/index.tsx
  packages/react-native-executorch/common/rnexecutorch/RnExecutorchInstaller.cpp
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
  packages/react-native-executorch/common/rnexecutorch/models/multimodal_llm/MultimodalLLM.cpp
  packages/react-native-executorch/common/rnexecutorch/models/multimodal_llm/MultimodalLLM.h
  packages/react-native-executorch/common/runner/multimodal_runner.cpp
  packages/react-native-executorch/common/runner/multimodal_runner.h
  packages/react-native-executorch/common/runner/runner.cpp
  packages/react-native-executorch/common/runner/runner.h
  packages/react-native-executorch/common/runner/unified_runner.cpp
  packages/react-native-executorch/common/runner/unified_runner.h
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useMultimodalLLM.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/types/llm.ts
  yarn.lock
Due: lint, types, format-js, format-objc

chore: work in progress
  apps/speech/app.json
  apps/speech/screens/SpeechToTextScreen.tsx
Due: lint, types, format-js, format-other

Add pause to streaming mode
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
Due: format-objc

feat: add conversational VLM demo with multimodal/text-only support and fix token generation bugs
  apps/llm/app/_layout.tsx
  apps/llm/app/index.tsx
  apps/llm/app/multimodal_llm/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
  packages/react-native-executorch/common/runner/unified_runner.cpp
  packages/react-native-executorch/common/runner/unified_runner.h
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js, format-objc

fix: default UnifiedRunner temperature to 0.8 and topp to 0.9
  packages/react-native-executorch/common/runner/unified_runner.h
Due: format-objc

feat: add NativeMessage struct and JSI conversion for message history
  packages/react-native-executorch/common/rnexecutorch/host_objects/JsiConversions.h
Due: format-objc

feat: declare generateMultimodal on LLM and register JSI binding
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
Due: format-objc

fix: remove redundant unordered_map and vector includes from LLM.h
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.h
Due: format-objc

feat: implement generateMultimodal with per-turn chat template and image cache
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
Due: format-objc

feat: add mediaPath to Message, remove sendMessageWithImage from LLMType
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js

feat: replace sendMessageWithImage with sendMessage(msg, mediaPath?) using generateMultimodal
  apps/llm/app/multimodal_llm/index.tsx
  packages/react-native-executorch/src/controllers/LLMController.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useLLM.ts
  packages/react-native-executorch/src/types/llm.ts
Due: lint, types, format-js

Apply review suggestions
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/SpeechToText.h
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/ASR.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/HypothesisBuffer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/whisper/OnlineASR.cpp
Due: format-objc

Add docs and fix some typechecks
  apps/computer-vision/app/instance_segmentation/index.tsx
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/memory-usage.md
  packages/react-native-executorch/src/constants/modelUrls.ts
  packages/react-native-executorch/src/hooks/computer_vision/useInstanceSegmentation.ts
  packages/react-native-executorch/src/modules/computer_vision/InstanceSegmentationModule.ts
  packages/react-native-executorch/src/modules/computer_vision/SemanticSegmentationModule.ts
  packages/react-native-executorch/src/types/instanceSegmentation.ts
Due: lint, types, format-js, format-other, spell-check-other

fix: use updatedHistory for multimodal routing, remove redundant reset before generateMultimodal
  packages/react-native-executorch/src/controllers/LLMController.ts
Due: lint, types, format-js

fix: skip system messages in generateMultimodal, clear imageUri after send
  apps/llm/app/multimodal_llm/index.tsx
  packages/react-native-executorch/common/rnexecutorch/models/llm/LLM.cpp
Due: lint, types, format-js, format-objc

feat: show image thumbnail in user message bubble when mediaPath is set
  apps/llm/components/MessageItem.tsx
Due: lint, types, format-js

chore: working version of whisper for CoreML
  packages/react-native-executorch/common/rnexecutorch/models/speech_to_text/asr/ASR.cpp
Due: format-objc
