Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

Added NPM and PNPM installation in README.md (#1149)
  README.md
  docs/docs/01-fundamentals/01-getting-started.md
  docs/docs/01-fundamentals/02-loading-models.md
  readmes/README_cn.md
  readmes/README_es.md
  readmes/README_fr.md
  readmes/README_in.md
  readmes/README_pt.md
Due: format-other, spell-check-other

ci: replace dorny with custom git-diff step (push-incremental for pull_request)
  .github/workflows/build-apps.yml
  scripts/build-app-filters.yml
  scripts/check-ci-filter-coverage.ts
  scripts/compute-app-hash.ts
  scripts/detect-changed-filters.ts
Due: lint, types, format-js, format-other

docs: add API references for selectByPoint, selectByBox, and selectByText in useInstanceSegmentation.md
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
Due: format-other, spell-check-other

docs: update inference time and memory usage for FastSAM models
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/memory-usage.md
Due: format-other, spell-check-other

docs: update docs and benchmarks for FastSAM model (#1151)
  docs/docs/02-benchmarks/inference-time.md
  docs/docs/02-benchmarks/memory-usage.md
  docs/docs/03-hooks/02-computer-vision/useInstanceSegmentation.md
Due: format-other, spell-check-other

Link phonemis with Android build
  .gitmodules
  packages/react-native-executorch/android/CMakeLists.txt
  packages/react-native-executorch/android/src/main/cpp/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/third-party/android/libs/phonemis/arm64-v8a/libphonemis.a
  packages/react-native-executorch/third-party/android/libs/phonemis/x86_64/libphonemis.a
  packages/react-native-executorch/third-party/include/phonemis/phonemizer/lexicon.h
  packages/react-native-executorch/third-party/include/phonemis/phonemizer/phonemizer.h
  packages/react-native-executorch/third-party/include/phonemis/phonemizer/types.h
  packages/react-native-executorch/third-party/include/phonemis/pipeline.h
  packages/react-native-executorch/third-party/include/phonemis/preprocessor/tools.h
  packages/react-native-executorch/third-party/include/phonemis/tagger/tag.h
  packages/react-native-executorch/third-party/include/phonemis/tagger/tagger.h
  packages/react-native-executorch/third-party/include/phonemis/tokenizer/tokenize.h
  packages/react-native-executorch/third-party/include/phonemis/tokenizer/tokens.h
  packages/react-native-executorch/third-party/include/phonemis/tokenizer/types.h
  packages/react-native-executorch/third-party/include/phonemis/utilities/string_utils.h
Due: format-objc

Link phonemis with iOS build
  apps/speech/app.json
  packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/third-party/ios/libs/phonemis/physical-arm64-release/libphonemis.a
  packages/react-native-executorch/third-party/ios/libs/phonemis/simulator-arm64-debug/libphonemis.a
Due: format-other

build: update ios libs
  packages/react-native-executorch/third-party/ios/ExecutorchLib.xcframework/ios-arm64-simulator/ExecutorchLib.framework/Info.plist
  packages/react-native-executorch/third-party/ios/ExecutorchLib.xcframework/ios-arm64/ExecutorchLib.framework/Info.plist
Due: none

Adjust typescript API to new tts structure
  apps/speech/app.json
  apps/speech/screens/Quiz.tsx
  apps/speech/screens/TextToSpeechLLMScreen.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/host_objects/ModelHostObject.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/src/constants/tts/models.ts
  packages/react-native-executorch/src/constants/tts/voices.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/index.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js, format-objc, format-other

Add italian
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/src/constants/tts/voices.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js

Add basic polish, portugese and hindi
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/src/constants/tts/voices.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js

Add spanish
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/src/constants/tts/voices.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js

Fix model picker & adjust to new Phonemis API
  apps/speech/components/ModelPicker.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
Due: lint, types, format-js, format-objc

Adjust Kokoro API to new Partitioner
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.h
Due: format-objc

Partitioner refactor
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.h
Due: format-objc

Adjust native/JS API
  .cspell-wordlist.txt
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js, format-objc

Silence tsconfig warnings
  packages/bare-resource-fetcher/tsconfig.json
  packages/expo-resource-fetcher/tsconfig.json
  packages/react-native-executorch/tsconfig.json
Due: format-other

Native side refactor
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Synthesizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Synthesizer.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.h
Due: format-objc

Implement dynamic phonemization
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.h
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
Due: lint, types, format-js, format-objc

Introduce finetuned Kokoro
  apps/speech/screens/Quiz.tsx
  apps/speech/screens/TextToSpeechLLMScreen.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/bare-resource-fetcher/tsconfig.json
  packages/expo-resource-fetcher/tsconfig.json
  packages/react-native-executorch/src/constants/tts/models.ts
  packages/react-native-executorch/src/constants/tts/voices.ts
  packages/react-native-executorch/tsconfig.json
Due: lint, types, format-js, format-other

Add audio volume up
  apps/speech/screens/TextToSpeechScreen.tsx
Due: lint, types, format-js

Improve audio trimming algorithm
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Types.h
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
Due: lint, types, format-js, format-objc

Change the typescript API to allow custom model weights bundled with voice
  apps/speech/screens/Quiz.tsx
  apps/speech/screens/TextToSpeechLLMScreen.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/src/constants/tts/voices.ts
  packages/react-native-executorch/src/hooks/natural_language_processing/useTextToSpeech.ts
  packages/react-native-executorch/src/modules/natural_language_processing/TextToSpeechModule.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js

Bump audio-api
  apps/speech/package.json
  yarn.lock
Due: format-other

Fix audio api error
  apps/speech/package.json
  yarn.lock
Due: format-other

Add german voice
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/src/constants/tts/models.ts
  packages/react-native-executorch/src/constants/tts/voices.ts
  packages/react-native-executorch/src/types/tts.ts
Due: lint, types, format-js

Apply review suggestions
  .cspell-wordlist.txt
  apps/speech/components/ModelPicker.tsx
  apps/speech/screens/TextToSpeechScreen.tsx
  packages/react-native-executorch/android/src/main/cpp/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/DurationPredictor.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Synthesizer.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Synthesizer.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Utils.cpp
  packages/react-native-executorch/react-native-executorch.podspec
  packages/react-native-executorch/src/constants/tts/models.ts
Due: lint, types, format-js, format-objc

Fix hindi phonemization
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Constants.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Kokoro.cpp
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Params.h
  packages/react-native-executorch/common/rnexecutorch/models/text_to_speech/kokoro/Partitioner.cpp
Due: format-objc

Update docs
  docs/docs/03-hooks/01-natural-language-processing/useTextToSpeech.md
  docs/docs/03-hooks/01-natural-language-processing/useTokenizer.md
  docs/docs/04-typescript-api/01-natural-language-processing/TextToSpeechModule.md
Due: format-other, spell-check-other

Fix broken docs links: ResourceSource and TextToSpeechModelSources are type aliases
  docs/docs/03-hooks/01-natural-language-processing/useTextToSpeech.md
Due: format-other, spell-check-other

Update t2s tests
  packages/react-native-executorch/common/rnexecutorch/tests/integration/TextToSpeechTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
Due: format-objc

Fix native test suite drift
  packages/react-native-executorch/common/rnexecutorch/tests/CMakeLists.txt
  packages/react-native-executorch/common/rnexecutorch/tests/integration/InstanceSegmentationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/ObjectDetectionTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/PoseEstimationTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/integration/SpeechToTextTest.cpp
  packages/react-native-executorch/common/rnexecutorch/tests/run_tests.sh
  packages/react-native-executorch/common/rnexecutorch/tests/unit/FrameTransformTest.cpp
Due: format-objc

chore: add expo-clipboard to computer-vision app
  apps/computer-vision/package.json
  yarn.lock
Due: format-other

feat: add ScanFrame reticle for live text screen
  apps/computer-vision/components/live_text/ScanFrame.tsx
Due: lint, types, format-js

feat: add CopyToast for live text screen
  apps/computer-vision/components/live_text/CopyToast.tsx
Due: lint, types, format-js

fix: skip CopyToast animation when message is empty
  apps/computer-vision/components/live_text/CopyToast.tsx
Due: lint, types, format-js
