Repository software-mansion/react-native-executorch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, format-js, format-objc, format-kotlin, lint-docs, format-other, spell-check-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn typecheck
    format-js:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-objc:
      glob: '*.{h,hpp,m,mm,c,cpp}'
      run: clang-format -i {staged_files} && git add {staged_files}
    format-kotlin:
      glob: '*.{kt}'
      run: ktlint -F {staged_files} && git add {staged_files}
    lint-docs:
      glob: '*.{md}'
      run: npx eslint {staged_files}
    format-other:
      glob: '*.{json,yml,watchmanconfig,md,css}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    spell-check-other:
      glob: '*.{md,css}'
      run: cspell {staged_files} --config .cspell.json --quiet && git add {staged_files}

update
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
Due: lint, types, format-js

update
  packages/react-native-executorch/src/extensions/llm/chatPreprocessor.ts
Due: lint, types, format-js

fix
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

fix
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.cpp
  packages/react-native-executorch/src/extensions/llm/chatPreprocessor.ts
Due: lint, types, format-js, format-objc

small fix
  packages/react-native-executorch/src/extensions/llm/chatPreprocessor.ts
Due: lint, types, format-js

refactor(llm): derive Modality type directly from MediaInput['kind']
  packages/react-native-executorch/src/extensions/llm/llmRunner.ts
Due: lint, types, format-js

fix
  apps/nlp/app/llm/index.tsx
  packages/react-native-executorch/src/extensions/llm/chatPreprocessor.ts
Due: lint, types, format-js

fix: remove worklet
  packages/react-native-executorch/src/extensions/llm/chatPreprocessor.ts
Due: lint, types, format-js

revert(nlp): simplify ModelPicker component and remove NestedModelPicker
  apps/nlp/components/ModelPicker.tsx
Due: lint, types, format-js

refactor(llm): simplify app UI, refine modality typing with NoInfer and ChatMediaInputMap
  apps/nlp/app/llm/index.tsx
  apps/nlp/utils.ts
  packages/react-native-executorch/src/extensions/llm/chatRenderer.ts
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
  packages/react-native-executorch/src/hooks/useLLMChatSession.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

docs(llm): format method JSDoc blocks with multi-line comments and newlines
  packages/react-native-executorch/src/extensions/llm/chatPreprocessor.ts
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
Due: lint, types, format-js

refactor(llm): simplify LLM types and add modalities validation to ChatRenderer
  packages/react-native-executorch/src/extensions/llm/chatRenderer.ts
  packages/react-native-executorch/src/extensions/llm/llmRunner.ts
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
  packages/react-native-executorch/src/hooks/useLLMChatSession.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

refactor(llm): prune internal type exports and enforce LLM-prefixed preprocessor types
  packages/react-native-executorch/src/extensions/llm/chatRenderer.ts
  packages/react-native-executorch/src/extensions/llm/llmRunner.ts
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

fix
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
Due: lint, types, format-js

refactor(llm): update ChatProcessOptions attribute names and default values
  apps/nlp/app/llm/index.tsx
  packages/react-native-executorch/src/extensions/llm/chatPreprocessor.ts
  packages/react-native-executorch/src/extensions/llm/index.ts
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
Due: lint, types, format-js

docs(llm): add missing @category JSDoc tags to all exported LLM types and APIs
  packages/react-native-executorch/src/extensions/llm/chatPreprocessor.ts
  packages/react-native-executorch/src/extensions/llm/llmRunner.ts
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
Due: lint, types, format-js

simplify
  packages/react-native-executorch/src/extensions/llm/chatPreprocessor.ts
Due: lint, types, format-js

refactor(llm): extract ChatRenderer, flatten LLM model registry and update model JSDocs
  apps/nlp/app/llm/index.tsx
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(llm): add reset method to LLMRunner
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.cpp
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.h
  packages/react-native-executorch/src/extensions/llm/llmRunner.ts
Due: lint, types, format-js, format-objc

feat(llm): mark native and TS LLM runner APIs as experimental and support KV cache tracking
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.cpp
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.h
  packages/react-native-executorch/src/extensions/llm/llmRunner.ts
Due: lint, types, format-js, format-objc

refactor(llm): extract tryLockUnique in LLMRunnerHostObject
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.cpp
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.h
Due: format-objc

update
  packages/react-native-executorch/src/extensions/llm/tokenizerConfig.ts
Due: lint, types, format-js

refactor(llm): require bos/eos tokens, pass eosToken directly, and add prependEos option
  .cspell-wordlist.txt
  apps/nlp/app/llm/index.tsx
  packages/react-native-executorch/src/extensions/llm/chatPreprocessor.ts
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
  packages/react-native-executorch/src/extensions/llm/tokenizerConfig.ts
Due: lint, types, format-js

fix(llm): conditionally attach optional tool properties in prepareStringMessages
  packages/react-native-executorch/src/extensions/llm/utils/chatPreprocessor.ts
Due: lint, types, format-js

feat(llm): generalize media sentinel token resolution in chat preprocessor
  packages/react-native-executorch/src/extensions/llm/utils/chatPreprocessor.ts
Due: lint, types, format-js

refactor(llm): move utils, improve chatPreprocessor and chatSession
  .cspell-wordlist.txt
  apps/nlp/app/llm/index.tsx
  packages/react-native-executorch/src/extensions/llm/chatPreprocessor.ts
  packages/react-native-executorch/src/extensions/llm/index.ts
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
  packages/react-native-executorch/src/extensions/llm/utils/chatPreprocessor.ts
  packages/react-native-executorch/src/extensions/llm/utils/tokenizerConfig.ts
  packages/react-native-executorch/src/extensions/llm/utils/toolCalling.ts
  packages/react-native-executorch/src/hooks/useLLMChatSession.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

feat(llm): add context indicator, model deletion, and update LLM models to v0.10.0
  apps/nlp/app/llm/index.tsx
  apps/nlp/constants/llm.ts
  packages/react-native-executorch/src/models.ts
Due: lint, types, format-js

refactor(llm): rename chatPreprocessor.reset to chatPreprocessor.clear
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
  packages/react-native-executorch/src/extensions/llm/utils/chatPreprocessor.ts
Due: lint, types, format-js

feat(nlp): register LLM screen in drawer navigation layout
  apps/nlp/app/_layout.tsx
Due: lint, types, format-js

style(llm): use type-only import for toolCalling types in llmChatSession
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
Due: lint, types, format-js

docs(llm): clarify friend injection and member-pointer accessor terminology
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.cpp
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.h
  packages/react-native-executorch/src/extensions/llm/llmRunner.ts
Due: lint, types, format-js, format-objc

tiny fix
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.cpp
Due: format-objc

fix(llm): include prefill duration in firstTokenMs TTFT calculation
  packages/react-native-executorch/src/extensions/llm/tasks/llmChatSession.ts
Due: lint, types, format-js

fix(nlp): apply safe area bottom inset to chat input row
  apps/nlp/app/llm/index.tsx
Due: lint, types, format-js

revert(fetcher): restore original fetcher implementation
  packages/react-native-executorch/src/fetcher/fetcher.ts
Due: lint, types, format-js

refactor(llm): extract media sentinel constants in chatPreprocessor
  packages/react-native-executorch/src/extensions/llm/utils/chatPreprocessor.ts
Due: lint, types, format-js

chore(nlp): disable cspell warning on Polish prompt in llm.ts
  apps/nlp/constants/llm.ts
Due: lint, types, format-js

style(llm): mark LLMRunnerHostObject constructor as explicit
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.h
Due: format-objc

refactor(llm): use non-negated isMultimodal condition in runner helpers
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.cpp
Due: format-objc

refactor(llm): rename loadError to loadStatus in LLMRunnerHostObject
  packages/react-native-executorch/cpp/extensions/llm/llm_runner.cpp
Due: format-objc
